[2022-10-17 15:01] #6699 closed

[2022-10-17 16:22] hsubox76 commented on #6373
Does the error you are talking about happen after you return to the tab, or while you were away?

A 503 from what I can tell indicates the server is overloaded. A 503 code causes a retry with an exponential backoff starting at about ~1s and increasing with each retry. Does this happen? You only listed one warning message. Are there any more about further attempts after that? If not, perhaps it suc

[2022-10-17 16:24] hsubox76 commented on #6231
Can you show all of your relevant code, including all Firebase imports and where you call initializeApp and initializeAuth?

[2022-10-17 18:35] cecobask commented on #4256
Also experiencing this issue. Please fix it, Firebase team :)

[2022-10-17 19:14] emmanuel-2u commented on #6231
**Code**

[code]

[2022-10-17 21:20] Toupoc commented on #4256
So..... we're all pretty sure it's firebase's fault, then? This happens to me in chrome as well and I can't find a lot of relative info.

[2022-10-18 00:24] sampajano commented on #1674
@jpreynat @kwyee @bsplosion

Hi! It looks like the server fixes have been rolled out; although we're not seeing any indication in production to prove that the fix has worked.

I wonder if you could experiment with `experimentalAutoDetectLongPolling: true` again and see if your previous issues are no longer happening?

Thanks a lot in advance!! 😃

[2022-10-18 06:51] anisabboud commented on #6373
Q: Does the error happen after you return to the tab, or while you were away?
A: So far encountered the issue personally only 3 times since update to Firebase v9.11/9.12, while I was away from the tab.

Q: Did you see exponential backoff warnings?
A: Saw only `1d` / `1s` warnings:
- In the first instance (8 days ago - Oct 10 - running v9.11), there were a few 403 errors followed by AppCheck thrott

[2022-10-18 08:46] xAmad commented on #6613
I'm having exactly the same issue. on React-Native Expo.

I think it has nothing to do with Expo or react. Its mostly based on Firestore indexing !

When I removed the orderBy it started working. If I remove the where() it also works. But together ! They dont work !.

`export const commentListener = (postId, setCommentList) => {
  const collectionRef = collection(db, 'comments');
  const postID =

[2022-10-18 12:00] b0ot opened #6703 "Uncaught Error: Component analytics has not been registered yet"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10 Pro
  * Browser version: Chrome is up to date Version 106.0.5249.119 (Official Build) (64-bit)
  * Firebase SDK version: _____
  * Firebase Product: _____ (auth, database, storage, etc)
├── firebase-admin@11.2.0 ├── firebase-functions@3.24.1 ├── firebase@9.12.1

### [REQUIRED] Describe the problem
After doing an npm

[2022-10-18 14:50] dwyfrequency commented on #6565
The feature has been released in v9.12.0.

[2022-10-18 14:51] dwyfrequency commented on #6616
The doc string has been update.

[2022-10-18 14:51] #6616 closed

[2022-10-18 14:52] #6565 closed

[2022-10-18 15:11] dwyfrequency commented on #6703
Can you also try clearing the npm cache as well? I'm having difficulty reproducing your issue but previous resolutions involved the deletion of lock files and node modules which you already did so I am thinking the cache could be an issue https://github.com/firebase/firebase-js-sdk/issues/6019#issuecomment-1122783339. Can you also try using an incognito tab?

[2022-10-18 15:15] marcibk opened #6704 "Electron keep user signed in"
Hi there,

I found out that it´s not possible to use persistence with auth for firebase, due to the browser window. Also found a issue where there was a solution to add
[code]
 to webpack. I´am using Typescript and it doesn´t work there somehow...

How can I use persistence with electron and reactjs? Every time I reload the app or relaunch it, the user is signed out again.

[2022-10-18 17:14] hsubox76 commented on #6373
Yes, 403 errors are throttled for 1 day because it is likely there's something wrong with the attestation that won't be fixed with a simple retry, such as a bad API key or an attestation failure due to failing ReCAPTCHA. You can see the code for the throttling here (this also applies to 404):

https://github.com/firebase/firebase-js-sdk/blob/4eb5adfd099da3b8bd7e78bf662deda6943a8e93/packages/app-ch

[2022-10-18 17:14] #6373 closed

[2022-10-18 17:24] hsubox76 commented on #6704
Have you looked at: https://medium.com/firebase-developers/using-firebase-in-electron-tips-and-tricks-24ac5b44bf5a ?

I'm not sure what that solution you pasted is supposed to be for, but if your bundler is grabbing the Node bundle and you're trying to force it to grab the browser bundle, there's a number of ways to do that depending on the bundler. A standard way in webpack for some time has been

[2022-10-18 17:38] b0ot commented on #6703
I tried to delete the node_modules again then cleaned the npm cache, then reinstalled.
`npm cache clean --force`

Still showing the same error

Tried in incognito as well, did not seem to help.

[2022-10-18 19:19] Slapbox commented on #6231
I haven't gotten a chance to try @hsubox76's suggestion because I'm pretty sure we can't use it. Our code is cross-platform, so I don't think we can easily implement the suggestion, but maybe via `babel-module-resolver-plugin`. I'll try to find time to test it in the near future.

[2022-10-18 19:39] emmanuel-2u commented on #6231
I noticed the checks and I've tried it before commenting but it didn't work. I added the `console.log` and noticed it's getting called again.

However, this worked for me
[code]
[https://github.com/firebase/firebase-js-sdk/issues/6050#issuecomment-1119131377](Scooter1337)

[2022-10-18 22:23] nisar-snsw commented on #6670
We are seeing this behaviour on these browsers:
**MacOS**
- Chrome (Version 104.0.5112.101 (Official Build) (arm64))
- Edge (Version 105.0.1343.25 (Official build) (arm64))
- Firefox (Version 105.0.3 (64-bit))

**Windows**
- Chrome (Version 106.0.5249.119 (Official Build) (64-bit))

It is not just my machine, I asked a set of my team members and they all received two notifications.

I'll work on t

[2022-10-19 04:42] b0ot commented on #6703
Apparently I'm not the only one having this issue. From the Firebase discord, another user has just reported having a similar issue where they updated unrelated npm packages. I'm using Qusar Vue3 Firebase v9 Webpack, their app is React Firebase v9 Vite.

Their message:
-------------------------------
Has anyone gotten  `Service firestore is not available ` with js v9 sdk when calling getFirestore(

[2022-10-19 04:54] danielzgtg opened #6707 "FR: Expose DocumentReference.create on Web"
I would like to create a document from the browser using behaviour similar to `O_CREAT | O_EXCL`. [8 other people are also looking for a clean way to do this](https://stackoverflow.com/q/59989973/10477326). This functionality is present in the REST API, it's just not exposed to the JavaScript SDK.

This differs from #1795 in that I'm not using any testing or admin SDK. They found a workaround. I a

[2022-10-19 07:28] b0ot commented on #6703
So, I reverted all of my npm packages using the npm before directive and then started to upgrade packages one at a time. It turns out the firebase package appears to be the problem.

I incrementally upgraded until I found:
LAST WORKING CONFIG: firebase 9.10.X
[code]
FIRST NOT WORKING: (Firebase 9.11.X)
[code]
Upgrading to the latest version 9.12.1 has the same issue.

Note I do get an error on the

[2022-10-19 08:33] b0ot commented on #6703
How would I check this?

As a side note: I often delete the package-lock.json file when testing different packages.

[2022-10-19 08:57] b0ot commented on #6703
I confirmed that I can update all of the other npm packages. The app works with firebase 9.10 but not 9.11.X / 9.12.X
[code]

[2022-10-19 10:00] marcibk commented on #6704
@hsubox76

Using  ../../node_modules/@firebase/auth/dist/esm2017/index.js to import my module in order to get persistence in electron.

Getting - one time where I imported it first it worked.
[code]

Should I use ../../node_modules/@firebase/auth/dist/esm2017/index.js in every location where I use auth related imports?
Which imports I should use for the other components? Bundled firebase/app?
[cod

[2022-10-19 14:07] anisabboud opened #6708 "App Check works at first but fails to reconnect after sleep/background"
### Summary

Using latest Firebase v9.12 (through latest AngularFire 7.4.1) in production, with AppCheck, Firestore, and Auth.

When leaving the webapp tab open and idle, the app often runs into a `403` error in POST request to exchange AppCheck token ("**App attestation failed.**" "PERMISSION DENIED"), followed by a warning: `@firebase/app-check: AppCheck: Requests throttled due to 403 error. Att

[2022-10-19 16:01] hsubox76 commented on #6703
(1) This is a separate issue that should be fixed in 9.12+

(2) Can you do a `npm ls firebase`, `npm ls @firebase/app` and `npm ls @firebase/analytics` inside your project dir while it is broken? The second one is the key usually (`npm ls @firebase/app`). Expect to see a number of entries, but they should all be the same version. If one of the results is a different version from the others, this w

[2022-10-19 16:08] hsubox76 commented on #6704
If your bundler is automatically set to pick up browser bundles, you shouldn't have to specify the exact path to the file, it should go there automatically when you say `firebase/auth`. If it's not doing that, I'd suggest talking to someone who can help you with the webpack setup for how to point to browser imports.

I'm not really sure what the connection is between persistence and having to use

[2022-10-19 16:29] hsubox76 commented on #6708
Ok, this is a lot of information but it seems like the core of it is that you get 403 attestation errors while the tab is in the background or the computer is asleep. I don't think the Firestore "terminate" thing is related.

403 attestation errors indicate that the ReCAPTCHA token sent to the AppCheck endpoint is bad, which could be for various reasons: it wasn't able to get any ReCAPTCHA token,

[2022-10-19 17:45] marcibk commented on #6704
Have a look at #6066 and also probably #6444
It seems like electron is not handled like a real browser environment from firebase. I mean it´s possible to use localstorage and so on in electron, but somehow firebase JS won´t "cache"/persist login after refresh, which is pretty sad. I think I did the setup with `MainFields` in webpack correct, by putting `browser` first. No idea what else I can do..

[2022-10-19 18:26] jdcoldsmith commented on #4124
My team and I are also facing the same issue as @gentksb.

[2022-10-19 19:11] marcibk commented on #6704
[code]

Doesn´t work - don´t know if I added it add the right place to be honest. Didn´t fully understand his "workaround". `nodeIntegration` also doesn´t seem to work because it´s throwing up new errors unfortunately. Is there another option?

[2022-10-19 20:00] hsubox76 commented on #6704
Maybe your issues isn't related to any of those bugs, then. The information you originally provided is a little sparse, so let me make some guesses try to fill in some of the gaps here. Let me know if any of these guesses are incorrect.

You're initializing auth using `getAuth()` and then signing in the user somehow (with what method?) and this sign in works successfully. However, when you reload

[2022-10-19 22:45] mmmulani commented on #6636
we're seeing the same issue with Safari 16.1 beta and we don't use firebaseui, only standard firebase-js-sdk.

[2022-10-20 00:12] koush commented on #6636
I ended up using a workaround by managing the auth redirects myself. This also provides an offramp for firebase, if you're only using the js sdk for auth. https://github.com/firebase/firebaseui-web/issues/977#issuecomment-1272388412

[2022-10-20 03:57] dconeybe commented on #6707
Hi @danielzgtg. Thank you for reporting this feature request. I'll talk with the team about it.

In the meantime, Have you considered using transactions to get this behavior?
https://firebase.google.com/docs/reference/js/firestore_#runtransaction

[2022-10-20 15:50] marcibk commented on #6704
Yes, I´am initializing with
[code]

Registering the user with `createUserWithEmailAndPassword`. With the normal setup I don´t see any errors or warnings. The user is just logged out after fast refresh or relaunch of the app, because firebase is not using localStorage due to node environment. Once I try to open a google popup or redirect I´am told that it´s not supported in this environment (but I

[2022-10-20 16:22] hsubox76 commented on #6704
So it seems like it's definitely a problem with your build config which sounds like it's mostly webpack, but there could be some other build tooling in your project perhaps? I think to get any further you'd probably have to provide a minimal repro. Just a stripped down version of your project with enough to create the issue.

[2022-10-20 17:29] carterbs commented on #6537
Bump. @maneesht have you been able to look at this?

[2022-10-20 17:39] jtestard commented on #6658
@wu-hui there is a reason for the rules-unit testing version to be this. The more recent version of the package requires that the code being run uses the new firebase v9 SDK. Our application (not this repro example) uses v9 compat settings, and migrating the to v9 SDK has been on our TODO list but is a lot of work.

I rewrote the example using where the firestore actions use the v9 SDK (not what w

[2022-10-20 18:02] Maracaipe611 commented on #2652
Same problem here...
My dependencies:
`{
   "firebase": "^9.12.1",
   "next": "12.2.5",
   "react": "18.2.0",
}`

Error message: `Firebase: Error (auth/network-request-failed).`
I already checked all my authorized domains in console.firebase, and the other's requests like login & signing is fine. Just the reset password give me this error

[2022-10-20 19:57] MarwenLabidi opened #6711 "firebase not authorized for OAuth operations"
firebase-js-sdk: "^9.9.4",

i used google auth service in my app but i get this console error :

**The current domain is not authorized for OAuth operations. This will prevent signInWithPopup, signInWithRedirect, linkWithPopup and linkWithRedirect from working. Add your domain (todomarwenlabidi.vercel.app) to the OAuth redirect domains list in the Firebase console -> Auth section -> Sign in method

[2022-10-20 21:05] maneesht commented on #6537
@carterbs - I've tried to reproduce by changing wi-fi networks in the middle of the transaction, but was unsuccessful. I will try and reproduce using wired -> wireless and will get back to you.

[2022-10-20 21:07] carterbs commented on #6537
Thanks a lot! This happened again to me today (it's happened before, but others asked me what was going on), and sure enough the max-retry error happened to me again. Had to restart the app to get it to work again (and establish a new connection and all of that).

[2022-10-20 21:09] maneesht commented on #6537
@carterbs can you also provide some more information on your use-case?
1. When you start the app, you are online, and are you currently running a transaction, and in the middle of that transaction, you remove the wired connection and step away from your router?
2. When you say `step away from your router`, do you mean go completely offline?

[2022-10-20 21:14] carterbs commented on #6537
1. Online, everything's groovy. I connect, which runs a transaction. Transaction is complete. No transactions happening in the background.
2. I pull out my wired connection because I drank 20oz of water and my bladder is full. My computer starts to switch to wireless at this point.
3. Computer is connecting to wireless. I lose the connection to firebase.
4. I connect to wireless and try to connect

[2022-10-20 21:26] maneesht commented on #6537
@carterbs - thank you for the thorough response! Just want to make sure that I follow your exact repo and am not missing anything. Will keep you posted.

[2022-10-21 10:58] DevYuns commented on #6613
`getDocs(q)` makes index link properly. Thank you!

[2022-10-21 11:19] callum-gander commented on #6622
Bumping this, not sure if it was missed

[2022-10-21 13:03] marcibk commented on #6704
I will try to provide a minimal repro. I found that:

[code]
which is supposed to trick firebase to think electron is a browser env. (https://github.com/firebase/firebaseui-web-react/issues/30)
Unfortunately `(firebase as any).INTERNAL.node` is always undefined. I imported `import firebase from 'firebase/compat/app';` in order to access `INTERNAL`. Might this be a solution? I think in order to mak

[2022-10-21 14:08] wheelie33 commented on #5848
I have updates!!!!!

I downgraded firebase 9.12.1 to 9.11.0, 9.10.0..... all the way down to 9.4.0 where the upload of a 909MB video uploaded with ZERO issues 10 times.

I upgraded to 9.5.0 and it crashes.  The bug is somewhere between those major versions.  I'll minor upgrade to see if I can find the specific version

[2022-10-21 15:38] MarwenLabidi commented on #6711
i found a solution here :
https://github.com/firebase/firebase-js-sdk/issues/998#issuecomment-404334296

[2022-10-21 15:39] MarwenLabidi commented on #6711
i found a solution here :
https://github.com/firebase/firebase-js-sdk/issues/998#issuecomment-404334296

[2022-10-21 15:40] hsubox76 commented on #6708
As mentioned above, there is a 1 day backoff when the response is a 403. I will try to look into some kind of solution for your situation that lets us maintain a long backoff for the cases it was intended for.

[2022-10-21 15:42] mdrideout commented on #710
Our Flutter Web app could really use Crashlytics. Web is our primary deployment target, and occasionally Web has exceptions and issues that are not present on mobile, especially with federated plugin packages that have different implementation across platforms. Tracking web OAuth flows for exceptions in production, for example, is virtually impossible right now.

We are currently using Sentry inst

[2022-10-21 15:49] hsubox76 commented on #6704
No, that's a runtime check (also it's for Firebase v8 before the big change to modular in v9). We have separate bundles for browser and Node. If you've already loaded the Node bundle, changing the runtime check isn't going to get you the browser bundle, which is the one that actually has the persistence exports in it (they don't exist at all in Node). By the time Firebase has been loaded, it's too

[2022-10-21 17:57] nelsongoh commented on #3115
+1 Getting the issue here as well

[2022-10-21 20:23] neetcode-gh commented on #6689
Sorry about the delay, I'll add the error messages as soon as I get it from the user.

[2022-10-21 21:22] Pckool commented on #3115
+ 1 Me as well!

[2022-10-22 01:55] newtonharry opened #6715 "using query() function to build queries in seperate variable doesn't work"
### Describe your environment

  * Operating System version: Ubuntu Linux
  * Browser version: Firefox 105.0.3
  * Firebase SDK version: 9
  * Firebase Product: firestore (auth, database, storage, etc)

### Describe the problem

When building a query to retrieve documents, initializing the query to a variable and then using the variable in a getDoc or getDocs function returns nothing. When the que

[2022-10-22 03:35] dconeybe commented on #6715
I tried to reproduce the behavior you described but I was not able to. Namely, running both queries returned the expected documents (none of them returned an empty result set).

I created a test app: https://github.com/dconeybe/JsIssue6715TestApp. Could you take a look and see if you can reproduce your issue with it?

[2022-10-22 03:55] mmmulani opened #6716 "Login to Firebase does not work on Safari 16.1+"
### Describe your environment

  * Operating System version: Mac OS 12.6
  * Browser version: Safari 16.1
  * Firebase SDK version: 9.10.0
  * Firebase Product: auth

### Describe the problem

#### Steps to reproduce:
Try logging in to a site using `signInWithRedirect`. Notably it redirects back to the site without an error, and does not log the user in. Checking `getRedirectResult` returns a null

[2022-10-22 05:22] thanhtutzaw opened #6717 "After signout , this message appear"
### [REQUIRED] Describe your environment

  * Operating System version: Window 10
  * Firebase SDK version: v9.8
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem
`Uncaught Error in snapshot listener: FirebaseError: Missing or insufficient permissions.`
When logout this message appear . Logout means nevigate to login page . Error message is just in console. Not big problem but I

[2022-10-22 05:45] dconeybe commented on #6717
Please check your security rules. It sounds like they are written to only allow access from authenticated users. If you want to allow access to unauthenticated users you may need to relax your security rules. See https://stackoverflow.com/questions/46590155/firestore-permission-denied-missing-or-insufficient-permissions for an example.

[2022-10-22 05:57] thanhtutzaw commented on #6717
Anything wrong with my rules ? I want to give access their own data only .
`rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/todos/{documents=**} {
      allow read,create,update, delete: if request.auth != null;
    }
  }
}`

[2022-10-22 07:30] marcibk commented on #6704
Yes, I did that with alias already in webpack. But once I try to get auth browser build with
[code]
I´am told, that

[code]

I guess it´s giving me that error, because the other packages depend on them and they are still node. Can you give me the browser file indexes I have to import for @firebase/auth and @firebase/app in alias? Using `typescript`...
Thanks a lot @hsubox76

[2022-10-22 08:56] marcibk commented on #6704
For everyone having my problem.

    alias: {
        '@firebase/auth': path.resolve(rootPath, 'node_modules/@firebase/auth/dist/esm2017', 'index.js'),
        '@firebase/app': path.resolve(rootPath, 'node_modules/@firebase/app/dist/esm', 'index.esm2017.js'),
    }

and don´t forget to add '.cjs' to ext.
Thanks

[2022-10-22 08:56] #6704 closed

[2022-10-22 10:24] thanhtutzaw commented on #6717
Solved : I called unsub again  in
`if (user) {
      }
      else {
        unsubscribe()
      }
    })
    return () => unsubscribe;`

[2022-10-22 10:24] #6717 closed

[2022-10-22 20:58] tomgiam opened #6718 "Simple where clause is timing out after moving to eas development build (expo)"
### [REQUIRED] Describe your environment
Windows 10
"firebase": "8.2.3",
    "expo": "^46.0.15",
    "react-native": "0.69.6",

### [REQUIRED] Describe the problem
I have an expo app that works correctly with firebase, but when I convert the build to an eas development client, some firebase code is timing out, but other code is still working. The code that is timing out is below. I tried upgrading

[2022-10-23 02:01] newtonharry commented on #6715
Looks like its no longer an issue for me. There might've been some other issue with my code which I'm still not sure how it occurred. It could have perhaps been due to some undefined behavior in JavaScript as the issue was immediately fixed for me given the solution I arrived at. Apologies for wasting your time.

[2022-10-23 02:19] #6715 closed

[2022-10-23 14:31] hjcdg1 opened #6720 "In Next.js, Realtime Database 'Maximum call stack size exceeded' error when reading nested data"
Although I posted a question on StackOverflow before a few days, It hasn't been answered yet. So I'm writing the same question here, because I think the problem is directly related to `firebase/database` implementation. (I'm not sure.)

https://stackoverflow.com/questions/74134698/firebase-realtime-database-maximum-call-stack-size-exceeded-error-when-reading

---

**When I read some nested data fr

[2022-10-23 15:14] dconeybe commented on #6715
Glad your issue is resolved!

[2022-10-23 16:54] neetcode-gh commented on #6689
Using `signInWithRedirect` just redirects to the auth handler url (`https://my-domain/__/auth/handler?apiKey=...`) and there aren't any errors in the console.

I'm not sure what could be causing this, it happens on any browser for users on Windows 11. There doesn't seem to be an adblocker or pop up blocker affecting anything. And users have the same issue on other sites also using firebase auth.

[2022-10-24 12:18] hjcdg1 commented on #6720
I'm the author of this issue.

I resolved this problem by downgrading Next.js version from 12.3.1 to 12.3.0.

[2022-10-24 14:16] joker7391 commented on #4451
I have the same error

[2022-10-24 16:19] MikaDeVries opened #6721 "Expo firebase app creating & writing documents in production build"
### [REQUIRED] Describe your environment

  * Android 12 ( Galaxy S10e )
  * Firebase SDK : 9.9.1
  * Expo : 46.0.0
  * Eas-cli : 0.55.1
  * React :  18.0.0
  * Sentry-expo: 5.0.0

### [REQUIRED] Describe the problem

#### Steps to reproduce:
I have built an app in development mode which work perfectly fine. I can collect documents and create them. But once I have built the app in production using

[2022-10-24 17:10] lincolnthree commented on #4256
This is currently happening to us during Facebook Login audit review (and nowhere else). We are about to have our Facebook Login access turned off for about 50,000 users because the reviewer cannot complete the sign in workflow. We really need any help we can get!!  Has anyone gotten this fixed?

They appear to be using Chrome, Windows 10.
We are using Firebase JS SDK 9.12.1

[2022-10-24 18:35] dconeybe commented on #6718
Thank you for reporting this bug.

First of all, I'm not very familiar with Expo, and I'm not sure what an "eas development client" is. Could you explain briefly what that means, and if you can think of how that may contribute to this bug?

You also mentioned that you're stuck on v8. Note that even if we find the root cause in v8, we are not implementing fixes in v8 and would only fix it in v9. Is

[2022-10-24 18:40] lincolnthree commented on #4256
@lhermann Thanks, that's interesting. But we are already using `popup`. (And the error occurs in that pop-up). I guess the only other recommended alternative is using the manual authentication flow?

[2022-10-24 18:41] haydarKarkin commented on #6716
Hello, today 16.1 version was released, and this problem still continues. Can you help us with this problem, please?

[2022-10-24 18:49] lhermann commented on #4256
@lincolnthree seems like the only option left to try. I haven't tried it myself as `popup` works for me.

[2022-10-24 19:09] zwu52 commented on #6584
This error could have been thrown for multiple reasons. The most common being an runtime error in the sw script.  Would suggest lookin into and fix any sus error log from console.

[2022-10-24 19:28] rosalyntan commented on #6689
Hi @neetcode-gh, thank you for the additional info! A follow-up question: is this issue affecting all of your users on Windows 11, or just a subset of them?

[2022-10-24 20:37] dconeybe commented on #6721
The behavior you are describing is indeed bizarre. I can't explain why that would be happening.
Could you enable debug logging, reproduce, and post the resulting logs?
You can enable debug logging by calling `setLogLevel('debug')`.
https://firebase.google.com/docs/reference/js/firestore_.md#setloglevel

[2022-10-24 20:47] cherylEnkidu commented on #4451
Hi @joker7391,

We don't have recent updates on solving this problem. Please try out the suggestions in https://github.com/firebase/firebase-js-sdk/issues/4451#issuecomment-1147623949.

[2022-10-24 21:13] milaGGL commented on #6613
Hi @MubashirWaheed. An error handler should be able to help with this problem: https://firebase.google.com/docs/firestore/query-data/listen#handle_listen_errors

Could you please try this code and see if we can get the expected error message with a link to generate the index. Once the composite index is generated, the error should go away.
[code]
Meanwhile, we will be keep looking into default err

[2022-10-24 22:01] tomgiam commented on #6718
@dconeybe Thanks for responding. I will work on providing you more information.

What I can tell you as background is that for over a year, I have been successfully releasing my app using expo and firebase for both Android and iOS. Expo is a great framework for creating and distributing react native apps. A key part of the framework, is the "expo go" client app which runs on android and iOS and pr

[2022-10-24 22:03] sprmke commented on #3115
+1

[2022-10-24 22:36] sam-gc commented on #6716
Hi folks, we're still diagnosing the particular issues at play, but it appears that `signInWithRedirect` still works as expected if you update your `authDomain` parameter in the Firebase app config to match the URL your site is hosted on (this works if you're on Firebase Hosting).

A full write-up of potential mitigations can be found in https://github.com/firebase/firebase-js-sdk/issues/6443#issu

[2022-10-24 22:44] mmmulani commented on #6716
hey thanks for the update.

just to save anyone else reading this some time, while we have the `authDomain` parameter set up correctly, we do not use Firebase Hosting and thus are still running into this issue. (I tried to follow the mitigations linked but we already have all those configs set up correctly and notably, `signInWithRedirect` works for us on Firefox.)

[2022-10-24 23:13] sam-gc commented on #6716
Yes, sorry I should have noted that that comment was for Firefox, but we believe it may be a similar underlying mechanism that's causing the user not to be populated.

Mitigation 3 from that list does not use `signInWithRedirect` or `signInWithPopup` and will get around this issue for you.

[2022-10-25 02:39] Hoppi164 opened #6724 "GRPC errors intermittently cause firebase client to fail"
### [REQUIRED] Describe your environment

  * Operating System version: MAC OS Montery 12.4
  * Browser version: Node 16.16.0
  * Firebase SDK version: 9.12.1
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem
Our application is experiencing problems with firebase `getDocs()` never responding, and random `grpc connection error` messages when writing documents.

At my workplace we

[2022-10-25 03:30] AshleyMedway commented on #4451
If you are running on ionic capacitor we’ve written this plugin to access the native libraries. https://github.com/ProteanSoftware/capacitor-firestore

[2022-10-25 04:49] Hoppi164 commented on #6724
Update: This only seems to throw an error when connected to the emulator suite, not when connected to a production firestore database.

[2022-10-25 05:55] MikaDeVries commented on #6721
Where would I be able to see the debug logs when I have built a production app?

[2022-10-25 06:05] MikaDeVries commented on #6721
This is what i get in a development build and press a button to get 4 documents
[code]

[2022-10-25 06:49] dconeybe commented on #6721
Everything looks normal in that log. I can see a query being issued and 4 documents being returned.

I'm also not sure that I totally understand the problem you reported in the opening comment.

Could you do the following:
1. List steps to reproduce.
2. Specify the expected results that you'd like to see.
3. Specify the actual results that you are seeing.

If you can provide a small app to reprodu

[2022-10-25 06:59] MikaDeVries commented on #6721
(  in development everything works fine)
( Creating and running an production build )
1: running: eas build --platform android
2: downloading the created build
3: submitting the build in de play store ( in a test channel)
4: download the app from the play store
(expected: nothing happens)
(result: in firestore, I can see that documents are created with empty fields, and the counter of read documen

[2022-10-25 11:16] tomgiam commented on #6718
@dconeybe UPDATE. I upgraded my non custom expo client to v9 (9.6.11). Now I will try to create the custom expo client with this version so that we can at least eliminate the v8 supportability issues.

[2022-10-25 13:54] dconeybe commented on #6721
Thanks for the explanation. In all honesty, I can't imagine a bug in Firestore where it spontaneously creates documents. It only creates documents if functions like setDoc() or updateDoc() are invoked. And, unfortunately, we don't have the resources to debug customer applications.

The last thing I can try is to take a look at the debug log when the issue is reproduced. Can you enable debug loggin

[2022-10-25 16:07] ComaBerenices opened #6725 "The getAuth trying call getProvider from a undefined object"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10 Education 21H2
  * Browser version: Microsoft Edge 106.0.1370.52
  * Firebase SDK version: 9.10.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem
When call the getAuth function the firebase return a error:  ***Cannot read properties of undefined (reading 'getProvider')***

As is a internal error I ca

[2022-10-25 16:13] sww314 commented on #6636
This should still be open. We are still seeing the issue.

[2022-10-25 16:23] ComaBerenices commented on #6725
WOUW!  Can be a error of param

[2022-10-25 16:23] #6725 closed

[2022-10-25 16:26] ComaBerenices commented on #6725
Hello devs!

I found the problem, as let the **// @ts-ignore** param above of getAuth function the error of parameter invalid was hidden... :p

[2022-10-25 16:31] MikaDeVries commented on #6721
I would like to do that but I don't know how. ( Could you perhaps tell mee how i would be able to see the debug logs in en development build ?🙈)

[2022-10-25 16:34] dconeybe commented on #6721
I'm afraid I don't know. I'm not familiar with Expo. The logs will be printed wherever `console.log()` prints its output. Can you find how to capture the output from `console.log()`? If you're running on Android, perhaps it gets printed to the logcat?

[2022-10-25 17:31] tomgiam commented on #6718
@dconeybe  Thanks for the quick response.
I tried #1 and it didn't have any effect.
Just to be sure, I'm doing it correctly what I did was:

const firebaseConfig = {
  apiKey: "XXXXXX",
  authDomain: "liquidguides-2ce60.firebaseapp.com",
  databaseURL: "https://liquidguides-2ce60.firebaseio.com",
  projectId: "liquidguides-2ce60",
  storageBucket: "liquidguides-2ce60.appspot.com",
  messagingSende

[2022-10-25 18:00] rorito commented on #2123
+1

[2022-10-25 18:23] omar2205 commented on #2123
Please don't reply with this. You just notified all of us subscribed to this issue, and gave a false impression that there was an update added.

[2022-10-25 19:24] jhuleatt commented on #2497
This has resurfaced recently as an issue in the Firebase Web Codelab repository: https://github.com/firebase/codelab-friendlychat-web/issues/590

The key issue is that the behavior is different in different browsers. Yes, setting the `prompt` custom parameter is a workaround, but I think the default behavior of the Google Sign-in provider should be considered broken if it's unreliable in Firefox.

[2022-10-25 20:14] dconeybe commented on #6724
Thanks for the report. I've reproduce the issue and I'll investigate. I also saw, as you noted, that this only seems to be problematic when using the Firestore Emulator; using production seems to work fine.

[2022-10-25 20:29] dconeybe commented on #6718
For # 1 you did not set `experimentalForceLongPolling` correctly. You have to configure it in the Firestore settings.

In the compat library, you do it like this:
[code]

In the full v9 sdk, you do it like this:
[code]

For # 2, there is no way to use the Lite SDK from the compat library. You'd have to migrate to the native v9 APIs. In v9, you import the full SDK using
[code]

and import the Lite

[2022-10-25 21:09] wheelie33 commented on #5848
Can ANYONE update us on this issue?

[2022-10-25 21:33] maneesht commented on #5848
Hi @wheelie33, I installed 9.4.0 and I am still seeing the Expo crash, so we can't necessarily pinpoint it to that specific commit quite yet.

[2022-10-26 05:58] nisar-snsw commented on #6670
@jbalidiong -
I sent few push notifications one after the other keeping the application minimised to trigger the onBackgroundMessage handler.

Here are `timings` of `shownotification` `block code`:
showNotification: 0.206787109375 ms
showNotification: 0.464111328125 ms
showNotification: 0.309814453125 ms
showNotification: 0.175048828125 ms
showNotification: 0.333984375 ms
showNotification: 0.33691

[2022-10-26 06:52] tomgiam commented on #6718
@dconeybe I quickly tried #1 and #2 and they didn't seem to fix the issue (although I need to double check my work before giving up on them). However, something you said triggered an idea for a third option. You said that "Transactions do not use WebChannel to communicate with the server", and transactions worked, so I changed the first 2 failing document requests (for settings and users) to trans

[2022-10-26 07:47] tomgiam commented on #6718
@dconeybe UPDATE

# 1 does work!!!

I had to make sure that this code:

db.settings({ experimentalForceLongPolling: true });

is only executed once at the very beginning, which is before the settings are read.

It still forgets that I was logged in when I restart the app, but maybe there is another reason for that.

I will go with this approach because it's the simplest, unless I run into other pr

[2022-10-26 12:14] dconeybe commented on #6718
I'm glad to hear that `experimentalForceLongPolling` worked for you! You can see https://github.com/firebase/firebase-js-sdk/issues/1674 for more details about this option. I'll close this issue since it appears that it's been resolved. Feel free to comment if you're issue is not resolved, or open a new issue for other issues you may encounter.

Regarding transactions, there are indeed drawbacks t

[2022-10-26 12:14] #6718 closed

[2022-10-26 13:15] david-wolgemuth commented on #6716
We are also experiencing this error.  Using `signInWithRedirect` vs `signInWithPopup` did not help, we are seeing the same issue

I believe this is related to this [prematurely] closed issue: https://github.com/firebase/firebase-js-sdk/issues/6636

[2022-10-26 13:22] ericmager commented on #5848
Has anyone tried moving to AWS S3 buckets for storing the video/image, and just store the URL in firestore? I'd prefer to keep it all in firebase but this might be worth a shot.

[2022-10-26 14:32] cherylEnkidu commented on #6721
Hi @MikaDeVries ,

You can try comment out all `setDoc()` and `updateDoc()`, then restore them one by one to find out which one goes wrong.

[2022-10-26 22:05] MikaDeVries commented on #6721
Hey @cherylEnkidu

After some more testing, I have found out that the problem is high liking not caused by the firebase SDK. Because it seems that other components are also being called multiple times. Which lets me believe that the entire app is being reloaded infinitely on the background. I don't know what is causing this 'for now hopefully'. But it isn't caused by the firebase SDK.

So sorry fo

[2022-10-26 22:36] cherylEnkidu commented on #6721
Hi,

The link and video has the information you needed for pricing. https://firebase.google.com/docs/firestore/pricing

Also Firestore offers some free quota: https://firebase.google.com/docs/firestore/quotas#free-quota

[2022-10-26 22:43] #6721 closed

[2022-10-26 23:33] jb-thery opened #6730 "It looks like you're using the development build of the Firebase JS SDK"
I have imported the firebase applications as indicated in the documentation but I still have this error :
[code]
I have checked that no other place in my application I do anywhere trucks like: import something from "firebase"

### [REQUIRED] Describe your environment

  * Operating System version: MacOs 13.0 ventura
  * Browser version: Version 106.0.5249.119 (Build officiel) (arm64)
Mettre à jour

[2022-10-27 00:58] #6613 closed

[2022-10-27 02:55] samsargent commented on #6636
Can also confirm we're seeing this with just the firebase-js-sdk (not using firebaseui).

If it helps, switching to`signInWithPopup` works. `signInWithRedirect` doesn't work.

[2022-10-27 09:20] jpreynat commented on #1674
@sampajano Thanks for the update 🎉
We are going to test it again and keep you posted once we have some news.

[2022-10-27 11:20] sundar-rajavelu commented on #4946
Adding AngularFireAnalytics > UserTrackingService  in angular app > providers list loads the iframe immediately.

[2022-10-27 11:44] beriaanirudh commented on #6584
@zwu52  thanks, I finally took the working FlutterFire example project, and kept adding my code to it till it broke and debug it that way . [Details here](https://github.com/firebase/flutterfire/issues/9215#issuecomment-1286519706) for anyone facing this.

[2022-10-27 12:18] jzxhuang commented on #6716
Can confirm this is happening on 16.1 Safari, including iOS 16.1. The suggested solutions all have flaws:
1. `signInWithPopup` does not work on mobile web browsers, you must use `signInWithRedirect`
2. Firebase Hosting obviously isn't a universal soln, we aren't using Firebase Hosting
3. Authenticating with the OAuth provider sounds plausible, but this removes one of the huge benefits of using Fir

[2022-10-27 12:24] bvandersloot-mozilla commented on #6716
This is likely related to #6443.

[2022-10-27 16:00] BigBalli commented on #4219
You will need to chunk your request. I created a script to do so in order to backup the entire node.
You can adapt as needed: https://bigballi.com/blog/how-to-backup-firebase-realtime-database

[2022-10-27 18:57] Hamad-98 opened #6731 "Typescript Error: TS1005"
### [REQUIRED] Describe your environment

  * Operating System version: MacOs 12.6
  * Browser version: Version 106.0.5249.120 (Official Build) (64-bit)
  * Firebase SDK version: 9.12 ( I just upgraded to this version)
  * Firebase Product: All

### [REQUIRED] Describe the problem
-Trying to use Firebase SDK in staging app, but it keeps giving me a TS Issue (please see screenshot attached)
-I am u

[2022-10-27 19:04] dwyfrequency commented on #6731
You'll need to update your `tsconfig.json` to something like the below. This is just an example so research what best fits your situation.

[code]

[2022-10-27 19:04] #6731 closed

[2022-10-27 19:07] dwyfrequency commented on #6730
Interesting, I'm not able to reproduce your issue. If you start a new project with the code you listed, are you still getting this error or is it only occurring once it's incorporated in your larger project?

[2022-10-27 20:55] tomgiam opened #6732 "Login persistence lost after upgrading from v8 to v9"
@dconeybe

### [REQUIRED] Describe your environment

  Windows 10
"firebase": "8.2.3",
"expo": "^46.0.15",
"react-native": "0.69.6",

upgraded firebase to 9.6.11

### [REQUIRED] Describe the problem

#### Steps to reproduce:
I upgraded the firebase version in my expo (react native) app from V8 to V9 (in compatibility mode) and the login persistence feature no longer works.  Now the users need to l

[2022-10-27 22:44] bhparijat commented on #6730
Hello, please share your package.json file

[2022-10-28 05:12] prameshj commented on #6716
We are exploring a few options for a longer-term fix. Cookie-based authentication will run into this same limitation since the oauth helper code is in \<project\>.firebaseapp.com domain (or the firebase hosting domain, if specified in the authDomain parameter). If this domain is different from the domain where the app is running, there is a cross-origin storage access to complete sign in, which ge

[2022-10-28 10:44] jb-thery commented on #6730
hi, it's a fresh project initialized with firebase cli (firebase init)

Here is my package.json

[code]

[2022-10-28 13:09] ishowta opened #6734 "Sometimes old AppCheck tokens continue to be returned."
### [REQUIRED] Describe your environment

  * Operating System version: _____
  * Browser version: _____
  * Firebase SDK version: 9.12.0
  * Firebase Product: appcheck

### [REQUIRED] Describe the problem

If certain conditions are met, even if `getToken` is executed with forceRefresh, `getToken` will only return the same token, and if more than 1 hour, the token's expiration time, elapses, the a

[2022-10-28 15:43] jbalidiong commented on #6670
Hi @nisar-snsw, I still can't replicate the same behavior. Let me consult this to one of our engineers so we can provide more context about it. I’ll update this thread if I have any information to share.

[2022-10-28 16:25] milaGGL commented on #6659
Hi @MarkDuckworth, the bug fix has been merged and will be included in the next release.

[2022-10-28 16:26] milaGGL commented on #6613
FIY, the bug fix has been merged, and will be included in the next release.

[2022-10-28 17:22] maneesht commented on #6595
@poltak, out of curiosity, are you attempting to use Firebase Storage for uploading files in a service worker?

[2022-10-28 17:56] jekh opened #6736 "@firebase/auth includes selenium-webdriver and tslib as dependencies"
### [REQUIRED] Describe your environment
  * Firebase SDK version: 9.13.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem
`@firebase/auth` includes `selenium-webdriver` and `tslib` as runtime `dependencies`. This causes them to get pulled into production dependency bundles unnecessarily. These should probably be `devDependencies` (I'm assuming they're used at build and test time?),

[2022-10-28 23:20] carlospero commented on #6716
Curiously on iOS 16.1, Chrome and Firefox and Brave also suffer the same issue as Safari!

`signInWithPopup` does bypass the problem on all of those browsers too.  So, whatever long-term fix is determined, it hopefully applies across all of iOS.

(Latest versions of Chrome and Firefox and Brave on MacOS still function using `signInWithRedirect`.)

[2022-10-29 00:28] poltak commented on #6595
Yes, via the `uploadBytes` and `uploadString` methods

[2022-10-29 02:12] berkinanik commented on #2242
Hope there are some updates and plans for making remote-config able to work in node.

This month, firebase itself introduced [framework-aware hosting](https://firebase.google.com/docs/hosting/nextjs)  targeting next.js, [react](https://github.com/reactjs/rfcs/pull/229) is almost going server-first together with [next.js](https://nextjs.org/blog/next-13#server-components) with the features and plan

[2022-10-29 03:59] mesqueeb commented on #6703
It's definitely not stale.
I have this issue when upgrading to `"firebase": "9.13.0"`

My app only works up until `"firebase": "9.10.0"`, anything beyond that point breaks my app with this error:

sometimes the library shown here is different if I switch around some lines where i initialise my firebase services.

Nope, still happens on 9.13.0

`firebase` is all the same for me

<img width="400" sr

[2022-10-29 04:06] mesqueeb commented on #6703
@jbalidiong can you remove the `api:analytics` label you added? Since this is not an `analytics` issue, but more a version conflict related to the over-reaching firebase package. It will throw a similar issue for any package you try to initialise after firebase app.

@dwyfrequency can you remove the `needs-info` again which you added?

@looptheloop88 can you add back the `needs-attention` label wh

[2022-10-29 04:07] rapsalands commented on #4256
@lincolnthree I am using `signInWithPopup` from `firebase` and tried app on `Pixel 6 Pro` and I also see this issue. Using `React`, `Capacitor` and `Firebase`.

[2022-10-29 04:40] ishowta commented on #6703
@b0ot  @mesqueeb
`@stripe/firestore-stripe-payments` has some old firebase dependency.
https://github.com/stripe/stripe-firebase-extensions/blob/ad40aa0a6bd08bf3a6b310d408126d5ed37a5561/firestore-stripe-web-sdk/package.json#L63

[2022-10-29 09:44] rapsalands commented on #4256
@lincolnthree This is reproduceable repo https://github.com/rapsalands/copy-signin-issue for this issue. Error comes when using `signinWithPopup`, `Pixel 6 Pro`, `Chrome` and `Google Auth Provider`.

[2022-10-29 17:39] galaxyblur commented on #6716
There is only one actual browser on iOS: Safari. The other browsers use Safari beneath their own UI/UX.

[2022-10-29 20:05] wendelfreitas commented on #2652
Still happening when I try to mock firebase rest API using `nock` on jest

[code]

[2022-10-30 04:47] maneesht commented on #6595
@poltak `xhr-shim` doesn't allow for progress events, is that not part of your use-case?

[2022-10-30 09:25] ethan-crabb commented on #6720
Having this issue too. Downgrading to Next 12.3.0 seems to work but I'm still unsure as to what the root cause is. Anyone got a clue?

[2022-10-30 16:51] nlarif commented on #6732
I have exact same issue since upgrading Firebase from v8.2.3 to v9.13.0 (verified with git bisect).
I also use compat version for now, I only changed the imports.

If I try to keep [initialization v8 style](https://firebase.google.com/docs/web/modular-upgrade#update_initialization_code) and use v9 getAuth, new onAuthStateChanged, etc. I get this error :

`TypeError: undefined is not an object (eva

[2022-10-30 16:56] JGSolutions opened #6737 "FR:Expired accessToken through the firebase Auth"
* Operating System version: Doesn't matter
  * Browser version: Chrome 107
  * Firebase SDK version: Latest
  * Firebase Product: auth

Problem:

In my app I would like to use some google fitness api which requires an access token. When I login in to my app using firebase auth Google Provider I get the accessToken. But after an hour it expires and even if i refresh the with user currently logged i

[2022-10-30 19:57] bigbulb commented on #5853
I am still having the same issue with Firebase 9.13 and Typescript 4.7.4 (supported by the latest firebase package). Anyone else?

[2022-10-30 23:43] ISLEMNEDDAR opened #6738 "not catching error from addDoc (firestore)"
### [REQUIRED] Describe your environment

  * Operating System version: macOS 13.0
  * Browser version: google chrome latest stable
  * Firebase SDK version: 9.12.1
  * Firebase Product: firestore

the errors from addDoc() are not returned in the catch block

#### Steps to reproduce:
try this code for example :
try{
            const result = addDoc(collection(FirebaseConfig.db,

[2022-10-31 02:36] KoryNunn opened #6739 "Firestore: Invalid result returned from getDoc after writing to cache"
### [REQUIRED] Describe your environment

  * Operating System version: Windows WSL2 (but all)
  * Browser version: Any (also node)
  * Firebase SDK version: Reproduced in 9.13.0, 9.10.x
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

After writing a document via `setDoc(ref, data, { merge: true })`, if a write is pending, `getDoc` will return *only* the updated fields from t

[2022-10-31 02:38] KoryNunn commented on #6739
The impact of this bug is that we cannot use the recommended approach of inconsistent writes in our application.

[2022-10-31 04:23] jorroll commented on #2457
We've also ran into this issue in our internal company messaging application. It got to be such a problem that we've disabled Firestore persistence. If it's helpful, here's a video showcasing the performance impact we saw.
- https://www.loom.com/share/81a7023707de4c90bdbdb8079ad27f0b

_I have no plans to create a full reproduction at this time._

[2022-10-31 04:26] jorroll commented on #4954
_Cross posting this from [#2457](https://github.com/firebase/firebase-js-sdk/issues/2457#issuecomment-1296522510) which is closely related._

We've also ran into problems with Firestore persistence performance in our internal company messaging application. It got to be such a problem that we've disabled Firestore persistence. If it's helpful, here's a video showcasing the performance impact we saw

[2022-10-31 10:41] SSOURABH58 commented on #2652
Hi, can you elaborate on the steps?
I am unable to get the DNS firebase layer part where exactly do I have to replace the `localhost` with `127.0.0.1`?
( in my code or in the firebase or cloud console ??)
<img width="852" alt="image" src="https://user-images.githubusercontent.com/52000724/198989581-79793ea1-d06c-4052-9de6-2e8d9b63390e.png">

[2022-10-31 11:34] jacob0123456 commented on #2652
Hello.
Could you tell me about you please?

On Mon, Oct 31, 2022 at 3:42 AM SSOURABH58 ***@***.***> wrote:

[2022-10-31 12:46] bt-akiko commented on #6716
Hello, is anyone meet this issue ? since on my environment, I cannot meet in that means reproduce this phenomenon  iOS 16.1 and safari

[2022-10-31 14:24] bvandersloot-mozilla commented on #6716
@prameshj:  If you want a privacy engineer at Mozilla to talk to, I can chat about some of these options!

[2022-10-31 15:29] cherylEnkidu commented on #6739
Hi @KoryNunn

Thank you so much for filling the support ticket and provide detailed reproduce steps. We have successfully reproduced it and fix is on the way.

[2022-10-31 15:50] hsubox76 commented on #1847
Sorry I didn't reply to this at the time but you're importing the firebase auth bundle twice:

[code]

`firebase/auth/react-native` is a complete firebase auth bundle, as is `firebase/auth`. You only need one. We really need to update our documentation as I see this a lot.

You want to do:

[code]

[2022-10-31 16:23] hsubox76 commented on #6703
I'm sorry to ask but you didn't mention, did you delete your node_modules and lockfile and reinstall? `@firebase/app` version 0.7.33 is incorrect and is several versions behind. The package.json for firebase@9.13.0 definitely points to `@firebase/app` version 0.8.3 so my guess is a problem with your lockfile, or something else that can cause an incomplete npm update.

If you do a fresh install int

[2022-10-31 16:42] hsubox76 commented on #6736
I think we can move `selenium-webdriver` but `tslib` is actually called at runtime in the bundles (if you check the bundle in the dist folder you'll find it). If your bundler does tree shaking I think it should be able to only bring in the necessary modules from tslib, but not 100% sure.

I don't think it should be bringing in any selenium-webdriver code at all? What bundler are you using? Does it

[2022-10-31 16:46] hsubox76 commented on #6734
Thanks for figuring this out and providing a solution. Let me look into it and see if that's the best solution or if there's a simpler option. Either way we'll try to get a fix out next release.

[2022-10-31 17:12] jekh commented on #6736
Thanks for looking into this! I do see that tslib is used for downleveling, so that does make sense, my apologies.

The code we ship to the client (we use next.js, so webpack is our bundler) doesn't include selenium-webdriver, but we still review all production dependencies, even the ones that should be tree-shaken out. One of our backend services also consumes @firebase/auth transitively, so sele

[2022-10-31 18:21] wu-hui commented on #2457
@jorroll

It'd be helpful if you can give some descriptions of how many documents in the collection you try to query, when you do the operation in the demo video. That would help us understand the usage pattern. If your use case fits, you could consider turning on client (cache) index: https://firebase.google.com/docs/reference/js/firestore_.md#setindexconfiguration

Note this is a preview feature

[2022-10-31 18:25] maneesht commented on #6595
@poltak Thank you for describing this.

As upload status is not widely supported and is a critical feature for Firebase Storage, we cannot switch over to use `fetch` at this time. We will revisit this when proper browser support has been added.

[2022-10-31 18:29] prameshj commented on #6732
Couple of clarifications:

1) Is the issue happening on React Native only, or in web apps as well?
2) Does it fail when using v9 compat, but works with v8 and v9 modular?

[2022-10-31 18:38] maneesht commented on #6600
@yumietzk - when you use `getDownloadURL`, does the network tab report any errors?

[2022-10-31 18:48] tomgiam commented on #6732
@prameshj  Hi, thanks for looking into this.

1. I have not upgraded firebase to v9 on my web app yet (using 8.8.1). I could try it and let you know. They use very similar code, since the web version is written in reactjs. In fact the firebase code is exactly the same.
2. I have not tried v9 modular yet. I upgraded to v9 compat to solve a pressing issue with firebase that was solved by using this

[2022-10-31 19:25] maneesht commented on #6720
I unfortunately wasn't able to reproduce this issue. A stacktrace/log would be very helpful in getting to the bottom of this.

[2022-10-31 19:59] cherylEnkidu commented on #6739
Hi @KoryNunn

After discussion, our team believes this is the expected behaviour.

The reason for that is with memory persistence, document inside cache gets eagerly garbage collected. So the cache is empty before you call `setDoc` in the second time.

There are two possible fixes for this:
1. use indexeddb persistence.
2. instead of using `getDoc` in the first time, using `onSnapshot`. So the que

[2022-10-31 20:04] ethan-crabb commented on #6720
In my experience the error only occurs in production builds so I wasn’t able to get a stack trace. Can’t think of any reasonable explanation as to why this I would occur in this specific circumstance, firebase returns the exact same data in both production and development. Then again I’m quite new to next and not too familiar with its compilation intricacies.

[2022-10-31 21:00] maneesht commented on #6720
Could you please provide a minimal repro?

[2022-10-31 21:49] deshiknaves commented on #6716
Now that Safari 16.1 is released, this is affecting users. Are there any manual work arounds (like implementing the party flow not using the SDK) that we could implement?

Also if there is anything I can help with testing, let me know.

[2022-10-31 21:59] cherylEnkidu commented on #6738
Hi @ISLEMNEDDAR

You can try adding `await`, so the code would look like:

[code]

[2022-10-31 22:58] jucesarsilva commented on #6736
The `selenium-webdriver` breaks node version before 14.20.0

[2022-11-01 00:23] KoryNunn commented on #6739
Hi @cherylEnkidu

This would suggest that in node/web without indexDB either:

1. All writes should be awaited so that getDoc/getDocs work.
Or
2. Writes should be assumed evential, and getDoc/getDocs should not be used.

Neither of these are obvious or clearly documented, and both are very compromised.

Setting cacheSizeBytes also does not mitigate this without indexDB persistance.

Previously, it

[2022-11-01 02:54] poltak commented on #6595
I see. As I didn't need to use this feature, I didn't realize it was a limitation of the `fetch` API until now. A bit of a reading around tells me it is an ongoing discussion in different browsers (for ref: try googling _"ReadableStream as Request.body in fetch API"_). Hopefully there's wider support in the near future. Thanks for the clear comms @maneesht !

[2022-11-01 08:12] tomgiam commented on #6732
@prameshj  I upgraded my web app to the same version of v9 as the react app (9.6.11) and the login persistence issue is not there, so it seems to be isolated to react native. The javascript code that interacts with firebase is exactly the same.

I don't have time at the moment to try the v9 modular code in react native. When I do, I will let you know the results.

[2022-11-01 15:10] thanhtutzaw opened #6743 "Delete and Create Request Pending is canceled when User refresh the page"
### [REQUIRED] Describe your environment

  * Operating System version:Window 10 2015
  * Browser version:Brave Latest
  * Firebase SDK version: Firebase v 9.9
  * Firebase Product:Firestore CRUD

### [REQUIRED] Describe the problem
I have todo app with CRUD firestore . When user make delete request , it is pending for a second and during the unfinish delete process  user see it is deleted , but w

[2022-11-01 17:15] #1644 closed

[2022-11-01 18:18] yumietzk commented on #6600
@maneesht Thank you for the comment! Actually, now that I developed the site more, I tried to set the function as the original code with `uploadBytesResumable ` and `getDownloadURL`. Then it all works. So, I am not sure what the problem was. The error might sometimes happen for unknown reasons, and the cause might be something in my environment.

[2022-11-01 18:18] #6600 closed

[2022-11-01 20:14] Turburlar opened #6744 "Example for connecting to auth emulator results in runtime exception."
I am developing using firebase 9.13.0 library in a node.js 14.17.1 environment.

I have followed the example code to connect to a running emulator found in the documentation [here...](https://firebase.google.com/docs/emulator-suite/connect_auth#web-version-9)

My resulting code is specifically as follows...

`const firebaseAuth = require('firebase/auth');
const auth = firebaseAuth.getAuth();
fireb

[2022-11-01 20:32] cherylEnkidu commented on #6739
Hi @KoryNunn ,

Thank you for your suggestions. Our theam

[2022-11-01 20:55] cherylEnkidu commented on #6743
Hi @thanhtutzaw ,

The reason why the pending requests disappear is they are stored in memory persistence and they get clean up when user refresh the page. Two suggested solutions are:

1. enable indexdb persistence so the cache won't get clean out.
2. add `await` before the function so it won't disappear even after user refresh the page.

[2022-11-01 20:56] prameshj commented on #6732
Thanks for confirming that it is isolated to React Native. Looks like this might be a dup of https://github.com/firebase/firebase-js-sdk/issues/6050

[2022-11-01 21:05] Jasonkoolman commented on #6720
This was driving me nuts. Experienced the same issue and can confirm that downgrading to Next 12.3.0 works. Something has changed in [v12.3.1](https://github.com/vercel/next.js/releases/tag/v12.3.1) which is causing the issue.

@maneesht The issue occurs when subscribing to rtdb using `onValue` in `useEffect`. In my case I have implemented [presence in Cloud Firestore](https://firebase.google.com/

[2022-11-01 21:22] maneesht commented on #6720
@Jasonkoolman Thank you for this example. Do you see this problem when running a production build locally?

Reopening as this is still an issue. (Though it's not clear if the fix should be in the JS SDK.)

[2022-11-01 21:59] maneesht commented on #2783
@SteffenKeller - would you mind providing more details on this?
What version of the JS SDK?
Browser or Node? What version?
Can you provide a reproducible example?

[2022-11-01 22:35] maneesht commented on #6603
Hi, @TianrenWang, this is due to the use of `btoa`, which Expo does not support on iOS. To fix this, you can either:
### Install Core-js
[code]
[code]
Or

### Install base-64
[code]

[code]

Base-64 may be smaller, but it's less well-known than `core-js`. It's up to you which polyfill you'd like to use. We will try and fix this on our end, but until then, please use the workaround above.

[2022-11-02 00:06] SteffenKeller commented on #2783
After updating to version 9.13.0 it looks like all files are now uploading as expected.
I was facing this issue with version 9.9.2 on Node.

[2022-11-02 00:19] deshiknaves commented on #6716
Ok. Been doing some digging into this and I can confirm that `signInWithPopup` works exactly as expected as mentioned above. It was mentioned above that this doesn't work on mobile, this is untrue. It opens up another page where you login and it takes you back to the previous window after they have authed. We have a convoluted setup that is a bit more complex that simple popup on a page, and this

[2022-11-02 02:37] nisar-snsw commented on #6670
@jbalidiong - Any update?

[2022-11-02 06:17] nlarif commented on #6732
I confirm that I faced the issue with React Native (Expo).
I upgraded all my functions to v9 modular, session is persistent now.
So React Native + v9 compat -> no persistence.
Unfortunately, I was not able to mix v9 compat initializeApp with v9 modular initializeAuth to avoid upgrading everything.

[2022-11-02 06:43] ethan-crabb commented on #6720
Jason’s post mirrors my situation exactly. Running a production build locally still produces the error.

[2022-11-02 11:06] levino opened #6747 "Jest does not work with Firebase out of the box"
Currently there [are ".js" files generated](https://github.com/firebase/firebase-js-sdk/blob/9e9ee7ba3383237e0b92ad8183dd0f12640f4f3a/packages/firebase/package.json#L88) which are "es modules". Since there is no `"type": "module"` in the [package.json](https://github.com/firebase/firebase-js-sdk/blob/master/packages/firebase/package.json), this is [simply illegal](https://github.com/facebook/jest/

[2022-11-02 11:35] tomgiam commented on #6732
@nlarif Thanks for the confirmation. I will upgrade to v9 modular as well.

[2022-11-02 12:53] jbalidiong commented on #6670
Apologies for the delayed response. Upon checking the run time of `showNotification()`, this should not affect how you receive the payload. We're still checking other possible reasons why you're encountering this behavior. I'll provide an update or bring someone here that can provide more context about it.

[2022-11-02 13:12] marcibk opened #6749 "Electron createUserWithEmail"
Hi there,
I´am using `"firebase": "^9.12.1"` and electron `"electron": "^21.0.1"`.
While using development mode on `mainWindow.loadURL("http://localhost:4000"); ` `createUserWithEmailAndPassword` works fine. When using
[code]
(production mode) I get
[code]

First I thought that the built electron app has no internet, but a fetch request proved this wrong. I have an internet connection. Did some re

[2022-11-02 13:35] areeburrub commented on #6720
I am also having this issue,
when I am trying to get `val()` from a `snapshot` data from the firebase RealTime Database then this issue is happening.

I am not using on value I am getting the data once
[code]

[code]
 Throws me this exception:
[code]
 I am on `"next": "12.3.1"`
 hope this get's resolved soon

[2022-11-02 13:50] galaxyblur commented on #6716
Does `signInWithPopup` work in native app web views? I have to assume it does not, but maybe someone figure it out.

[2022-11-02 16:05] hsubox76 commented on #6744
How are you initializing the Firebase app? (What does your `initializeApp()` call look like?)

[2022-11-02 16:11] Sallaa commented on #6716
@galaxyblur we have tried to use `signInWithPopup` with web views for our apps and it did not work for us. However I can also confirm that `signInWithPopup` was a workaround for us for the browser.

[2022-11-02 16:17] Turburlar commented on #6744
I am not calling initializeApp. No where in this documentation on 'how to connect to emulator' does it indicate that you need to, or how you are supposed to call initializeApp....especially with a demo project (with no actual cloud resources created).

Dealing with firebase documentation is like swimming in a pool full or vinegar and razor blades. lol

[2022-11-02 16:20] hsubox76 commented on #6747
If I understand correctly, these rules (the extension must be mjs or there must be `type: "module"` in the package.json) apply to Node ESM module resolution specifically. In the file you linked above, `default` is supposed to point to the browser bundle, while we do in fact point to an mjs file for `node.import`, which should be the relevant case where these rules apply.

I think that Jest/JSDOM r

[2022-11-02 16:25] jzxhuang commented on #6716
Hmm... I'm pretty sure some mobile web browsers, like Chrome iOS, block popups by default, even when they are the result of an action from the user. Or at least there is a setting to do this. Even if that's not the case, there's still other pitfalls: signInWithPopup will not work with in-app web views, and it can fail for a variety of reasons even on desktop — for example an aggresive adblocker.

[2022-11-02 16:28] hsubox76 commented on #6749
Someone from the auth team can probably provide further answers, but since Electron is kind of a special case I wanted to provide some background for any auth team members looking into this. See [this article](https://medium.com/firebase-developers/using-firebase-in-electron-tips-and-tricks-24ac5b44bf5a) (section: "Issues with signInWithPopup() or signInWithRedirect()") which explains why Electron

[2022-11-02 16:36] hsubox76 commented on #6744
That's not supposed to be the full code of the app, it's a snippet showing how to do the connection part specifically. Emulators are for testing a Firebase app you have already made ([how to create a Firebase web app](https://firebase.google.com/docs/web/setup#add-sdks-initialize)) so you have to make a regular app first. Then you add the code from the connection snippets to connect to an emulator

[2022-11-02 16:44] Turburlar commented on #6744
In the very document we are both referring to, it indicates that a demo project has no actual firebase resources created...

`
A demo Firebase project has no real Firebase configuration and no live resources. These projects are usually accessed via codelabs or other tutorials.Project IDs for demo projects have the demo- prefix. | When working with demo Firebase projects, your apps and code interac

[2022-11-02 17:03] galaxyblur commented on #6716
I 2nd that -- knowing whether a fix in possible in the near term would help a great deal.

[2022-11-02 17:06] maneesht commented on #6720
@Jasonkoolman - could you please share your code for `onConnectionChanged`? I'm curious whether if it's updating `isOnline` and then causing the `useEffect` to run again

[2022-11-02 18:08] maneesht commented on #4603
@aameen951 I believe this should be fixed in the latest version of the emulator. Can you please try it out and get back to us?

[2022-11-02 18:30] hsubox76 commented on #6744
That's correct, you don't have to create a project in the console. "Resources" refer to backend resources. You still have to write some client-side code to set up a client-side app that will be using the emulators. That's why it suggests getting these projects from "codelabs or other tutorials".

I can refer this to our documentation team but I'll close the issue since there doesn't seem to be a b

[2022-11-02 20:35] maneesht commented on #576
As @Memoriarty1 mentioned, please use the `base-64` or `core-js` polyfills to address this issue. Closing as the original problem has been addressed. Please feel free to reopen if you continue to have issues.

[2022-11-02 20:35] #576 closed

[2022-11-02 21:42] levino commented on #6747
As far as I understand, jest has its own module resolution and loader. It needs to be able to mock modules, so it needs to somehow overwrite `import` and `require`. When the `testEnvironment` is `jsdom`, jest mocks a browser environment with `window` and `document` etc. So it should be fine to then also "run browser code". This is why `jest` when run in `jsdom`-mode will load "browser" files and t

[2022-11-02 23:16] theahura opened #6752 "currentUser is still null even after firebaseAuth.onAuthStateChanged() is handled"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 20
  * Browser version: Version 97.0.4692.99 (Official Build) (64-bit)
  * Firebase SDK version: 9.6.8
  * Firebase Product: auth

### [REQUIRED] Describe the problem

Question originally asked on SO: https://stackoverflow.com/questions/74294927/

The correct way to identify when a user is authenticated from a cold star

[2022-11-03 00:15] mesqueeb commented on #6716
I also would like to know when a fix is planned.

If it comes to having to re-implement apple/Google/Twitter auth manually via OAuth, maybe this can be shared among the community here so everyone here can benefit from it.

[2022-11-03 08:07] surafelbm opened #6753 "Getting firestore connection timeout error for small number of users"
### [REQUIRED] Describe your environment

  * Operating System version: MacOs Monterey
  * Browser version: Chrome 107.0.5304.87
  * Firebase SDK version: ^9.12.0
  * Firebase Product: auth, firestore

### [REQUIRED] Describe the problem
Getting firebase connection timeout error every now and then

[code]

we are using `"react-fullstory": "^1.4.0"` to track user activities and user error and we ar

[2022-11-03 09:54] flunderpero opened #6754 "FR: Make `getRedirectResult(auth)._tokenResponse` public to get firstName and lastName with Apple signup"
### [REQUIRED] Describe your environment

  * Operating System version: any
  * Browser version: any
  * Firebase SDK version: 9.12.1
  * Firebase Product: auth

### [REQUIRED] Describe the problem

When using Apple as a federated provider, there is no way to obtain `firstName` and `lastName`. We need both separated and  cannot work just with `displayName`. While debugging we realised that with th

[2022-11-03 16:11] milaGGL commented on #6753
Hi @surafelbm, thank you for reporting this issue. I will be looking into this.  In the mean time, could you please provide steps to reproduce the problem and [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), so that we can quickly reproduce the issue in same environment your code is executing in and start investigating?

[2022-11-03 16:24] hsubox76 commented on #6752
I'll let the auth team handle this but to save some confusion, I changed the issue title to clarify for them that `currentUser` is the property you are having trouble with.

[2022-11-03 16:41] surafelbm commented on #6753
@milaGGL , yeah but that's the thing tho I am not able to reproduce it on my local machine the only time I am able to reproduce it is if I purposely throttle down my browser speed, and this is also only happening like 2-3 times out of 90-100 users and we are pretty sure they have a stable connection because all of the fulltstory logging are coming in and the second they do a refresh it starts work

[2022-11-03 17:05] #6734 closed

[2022-11-03 18:16] milaGGL commented on #6753
Totally, when the error is happening on only part of the users, it would be quite hard to reproduce. And purposely slowing the connection speed might produce the same error for a different reason.

Would it be possible to enable logging with [firebase.firestore.setLogLevel('debug') ](https://firebase.google.com/docs/reference/js/firestore_#setloglevel ), and have one of your users capture the log

[2022-11-03 19:07] surafelbm commented on #6753
There is no pattern currently, its happening randomly, but I will try getting debug logs from our users and report back here in a day or two, thanks.

[2022-11-03 19:29] wheelie33 commented on #5848
This issue seems to happen no matter what workaround I try, what version of Firebase I try, etc.  There HAS to be someone that can find out why this is happening.

These are SMALL images.  we're talking like a few hundred KB.

[2022-11-03 19:37] meatberger commented on #5848
I am using uploadBytes instead of uploadBytesResumable as a workaround. You will not be able to check progress, but can still show an activity indicator while the file is being uploaded.

[2022-11-03 19:39] JacobJaffe commented on #5848
Just gonna drop my work around again, for people who are considering moving to AWS or another solution...

You can stay with Firebase storage easily by using a small Firebase Function endpoint to handle the upload process, and this also gets the benefit of using `FileSystem.createUploadTask` or `FileSystem.uploadAsync`.

https://stackoverflow.com/questions/72399093/react-native-expo-upload-file-on

[2022-11-03 20:30] wheelie33 commented on #5848
Tried that.  simply does NOT work.  File is about 3MB in size.

However... editing the firebase node module to comment out this line seems to make it work 100%. Now, I can't deploy that hack since the EAS build server pulls the node module down... :(

[code]

[2022-11-03 21:11] prameshj commented on #6716
Hi all, thanks for your patience on this issue.

   Also if there is anything I can help with testing, let me know.

In addition to the workarounds [listed here](https://github.com/firebase/firebase-js-sdk/issues/6443#issuecomment-1187798276), there is the option to self-host the signin helper code.

Here is a flowchart to determine the most suitable mitigation depending on the setup:

![signInWit

[2022-11-03 21:12] prameshj commented on #6716
We will document these mitigation options in the official docs and drop a link here soon. We are investigating options for a more permanent solution, however, we do not have an ETA right now.

[2022-11-03 21:45] bentacos commented on #4042
please allow us to use our own recaptcha sitekey. there are cases that we want to verify both recaptcha response and auth token.

[2022-11-04 02:43] samsargent commented on #6716
executing the following commands:

Looks like there is a missing `iframe` html file from this list as the redirect comes back to `/__/auth/iframe?apiKey=...`

Also FYI - `experiment.js` should be `experiments.js`

[code]

[2022-11-04 03:21] Zernach commented on #5848
@wheelie33 — thanks for providing your hack! 😎 Commenting out that if-statement has indeed seemed to prevent my app from crashing during image upload.

However, now that I've made those changes by commenting out those lines, I just made those changes sticky by creating a patch for the `@firebase/storage` scope.

To get started with patching packages of your own, use this link to [yarn's Patch Pack

[2022-11-04 05:20] ansh commented on #5848
@wheelie33 Can you submit that as a PR relating to this issue?

[2022-11-04 12:57] thanhtutzaw commented on #6743
what ? I use asyn await and they still canceled when user refresh . It makes crazy to user . Like When user delete the item and suddently he refresh . Then delete process is canceled **SO** deleted items is disappeared and after fast refresh  It appear like original.

[2022-11-04 13:20] thanhtutzaw commented on #6743
may be my useEffect and read code doing this
![read firestore](https://user-images.githubusercontent.com/71011043/199981402-8b05742f-3a12-4abf-bf1b-9fa665517529.png)
![multi delete firestore](https://user-images.githubusercontent.com/71011043/199982200-b2649362-d89b-44ed-b4b8-06e868814fc3.png)

[2022-11-04 14:36] dconeybe commented on #6724
@Hoppi164 I just wanted to let you know that I haven't forgotten about this issue. Other priorities prevented me from making much progress since I reproduced the bug. I'm not sure when exactly, but I _will_ get to it! Thank you for your patience.

[2022-11-04 16:07] prameshj commented on #6716
Thanks! fixed.

[2022-11-04 16:46] lincolnthree commented on #6716
executing the following commands...

Out of curiosity, if we are self-hosting. I wonder if setting up a webserver proxy to these files would be a slightly more long-term/resilient option, rather than downloading and hosting the files directly (and risking them going out of date.)

E.g.: Forwarding `https://customdomain.com/__auth/` -- to --> `https://<project>.firebaseapp.com/__/auth`

If so, addi

[2022-11-04 18:42] yoitsro commented on #2242
Does this have any pointers?

https://firebase.google.com/docs/hosting/nextjs#pre-render_dynamic_content

[2022-11-05 07:04] AhmedEid3 commented on #5853
I faced the same issue before,
you have to pass into the updateDoc same object in new object by spread operator.

[code]

[2022-11-05 19:35] joaomelo opened #6824 "two attempts to connect to auth emulator cause config error"
### [REQUIRED] Environment info

**firebase-tools:** 11.14.3
**Platform:** Windows 11

### [REQUIRED] Test case

This [repo](https://github.com/joaomelo/hot-vue/tree/fbe11b3f0dd23eed26d410127d7cad3fa0b4db90) commit.

### [REQUIRED] Steps to reproduce

Clone the repo, install the project dependencies with `npm i` and firebase tools globally, open the windows terminal, and start emulators with `fire

[2022-11-05 21:09] FirefighterBlu3 commented on #1423
Howdy, we're now in Q4 of 2022, @zwu52 would you mind posting another update?

[2022-11-07 02:02] #6689 closed

[2022-11-07 02:12] cherylEnkidu commented on #6743
Hi @thanhtutzaw ,

Unfortunately, refreshing the page when there is a pending request would lead to request cancelation. You can choose to enable indexdb persistence or alert user when request is pending.

Here are some links might be helpful:
https://developer.mozilla.org/en-US/docs/Web/API/Window/beforeunload_event
https://stackoverflow.com/questions/3221161/how-to-pop-up-an-alert-box-when-the-b

[2022-11-07 18:05] #6659 closed

[2022-11-07 18:11] maneesht commented on #5848
Hi everyone, I spent some time last week investigating the root cause of the crash and it seems it's due to a race condition in react-native's code to send blob requests. For more information, please take a look at my comment [here](https://github.com/facebook/react-native/issues/27857#issuecomment-1304334492). Unfortunately, there's nothing on our (Firebase's) end  that we can do to fix this, so

[2022-11-07 18:29] hsubox76 commented on #6747
Looking around, it seems the `.mjs` extension causes problems in a number of environments, such as older versions of build tools, or when they are in a project combined with common js dependencies.

The rules cited above (mjs or "type:module") are rules for Node ES modules specifically, not rules for all ES modules. Unfortunately there are is a lot of different build tooling out there for browser

[2022-11-07 18:50] hsubox76 commented on #6747
Looking more closely, it looks like the `@firebase/*` packages (`@firebase/app`, `@firebase/auth`, etc.) inject a package.json that contains only "{type: module}" into a `dist/esm` subdirectory where all the esm bundles go and this hasn't been causing any problems for older build tools as far as I can tell.

So we might be able to do the same in the `firebase` packages. Short explanation: there's

[2022-11-07 20:14] sam-gc commented on #6752
Hi @theahura,

There is a bug in your snippet --

`isAuthed` here is defined as an inline function so it should not use the return syntax.

I've reworked your snippet to make it compile, and it works as expected:
[code]

If the question is specifically about why `getAuth().currentUser` isn't immediately available, it's because the auth library can be used for things like sign in before all of the

[2022-11-07 21:13] sam-gc commented on #6749
Is this code running in the electron "DOM" or is it running in a Node-only process? Sometimes what can happen is that the Node version of the JS SDK is used when in the DOM code, or vice versa. The key is to force your build to use the browser target instead of the Node target

[2022-11-07 21:26] sww314 commented on #6716
@prameshj
Is there a work around for SAML? This is the flow we care about.
As others have mentioned the `signInWithPopup` does not work on mobile. Native app webviews typically block the popups.

[2022-11-07 22:01] prameshj commented on #6716
The list of mitigations have been published at https://firebase.google.com/docs/auth/web/third-party-storage-mitigation

@sww314 if you are not on Firebase Hosting, then https://firebase.google.com/docs/auth/web/third-party-storage-mitigation#mitigation_3_proxy_auth_requests_to_firebaseappcom should work.

[2022-11-08 00:34] sampajano commented on #1674
@jpreynat Hihi! Wonder how is the test going? 😃

Also if anyone is able to test out `experimentalAutoDetectLongPolling` please let us know the results too! Thanks!!

We intend to make this the default option in the SDK if no further issues are reported! Thanks! 😃

[2022-11-08 01:19] jpreynat commented on #1674
@sampajano Right, sorry for the delay here.
We've been a bit more careful this time and only enabled it for some people inside of our company to test it for now. It's around 10 people, so difficult to give an actually definitive review, but it's been working fine for everyone for more than a week now 👍

We will soon enable it globally for everyone so I will be able to give a better feedback in a w

[2022-11-08 01:21] sampajano commented on #1674
That's fantastic to hear! Looking forward to your customer rollout and the results! (and good luck with that! 😃)

Thank you will do! Very much appreciate the help! 😃

[2022-11-08 01:22] jpreynat commented on #1674
Glad to help, thanks for following through with this matter 🙂

[2022-11-08 09:36] poltak opened #6764 "[Messaging] onBackgroundMessage use in background service worker always shows notification on message receipt (MV3 Chrome extension)"
### [REQUIRED] Describe your environment

  * Operating System version: macOS 12.6
  * Browser version: Chrome 107.0.5304.87
  * Firebase SDK version: 9.9.4
  * Firebase Product: messaging

### [REQUIRED] Describe the problem

I have `onBackgroundMessage` set up in a manifest v3 Chrome ext's background service worker to listen for incoming FCM data messages, sent from FB Cloud Functions, which sim

[2022-11-08 16:55] darkpsinight opened #6798 "ReactJs/Firebase (Critical dependency: the request of a dependency is an expression)"
In my Reactjs project, i'm using firebase,

Firebase.js Code:
[code]
But i'm always getting the following warning:
[code]
Is this normal? If not how can i ignore the warning of fix it?

[2022-11-08 18:15] bigbulb commented on #5853
It worked. Thanks for the suggestion.

[2022-11-08 19:21] theahura commented on #6752
The bug was a fatfinger, but I appreciate the fix.

I rewrote a more complete version of the snippet above:
[code]

and it looks like this does work as expected. I guess something else must be going on in my actual application code :thinking: thanks for the quick response, apologies for the incorrect bug report

[2022-11-08 19:36] sam-gc commented on #6752
No worries, thanks for following up! Feel free to reopen if you start seeing an issue again

[2022-11-08 19:36] #6752 closed

[2022-11-08 20:12] hsubox76 commented on #6231
Sorry to hijack this thread but I'm trying to make sure we correct our documentation to be clear about how to use `firebase/auth/react-native` to prevent people from going through these headaches unnecessarily, and I don't seem to be able to find the documentation for it. Could anyone using that package tell me where you found out about `firebase/auth/react-native`? Was it just from Github issues

[2022-11-08 21:04] sahenrai opened #6768 "Auth not being persisted for Firebase V8"
### [REQUIRED] Describe your environment

  * Operating System version: ___MacOS Monterey 12.2.1
  * Firebase SDK version: __8.x.x___
  * Firebase Product: __Auth___ (auth, database, storage, etc)
  * React Native: 69.4
  * Expo: 46.0.8

### [REQUIRED] Describe the problem

Out of nowhere, the firebase web auth library on version 8 is no longer persisting sign in, despite working for months before

[2022-11-08 22:26] Slapbox commented on #6231
@hsubox76 thanks for your continued attention on this issue.

I first became aware of it from comments on issue, which do link to some mentions in the API reference: #6050 - [Specifically here](https://github.com/firebase/firebase-js-sdk/issues/6050#issuecomment-1060918388) and in comments below.

[2022-11-09 04:22] poltak commented on #6764
After thinking more and talking about this with a colleague, I'm now thinking this might be because of how Chrome handles receipt of push events in background SWs rather than something on Firebase's side. Instead of using FB's `onBackgroundMessage` I can directly attach a listener to the SW's `push` event and still receive the FCM data messages which don't appear to have any `notification` key in

[2022-11-09 08:49] Supamiu opened #6769 "FR: Provide a way to add our own listeners to EventManager (maybe not a FR)"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Latest chrome
  * Firebase SDK version: 9.13.0
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem

This is not a bug report so I won't provide steps to reproduce, but I'll explain my need, why and how I want to do what I want to do 😄 .

### Context

It all starts with https://g

[2022-11-09 15:13] coleridge72 opened #6770 "FR: Analytics consent mode: set ad_storage and analytics_storage"
It seems there is no way currently to set ga4 properties `ad_storage` and `analytics_storage` within the SDK.

Specifically I'm looking for a way to keep minimal analytics enabled but disable all cookies.

Angularfire discussion: https://github.com/angular/angularfire/issues/2866
SO: https://stackoverflow.com/questions/71453414/how-to-configure-firebase-for-consent-and-data-compliance-on-web
Conse

[2022-11-09 18:02] actionakin opened #6771 ""Uncaught SyntaxError: Unexpected token ..." from v9.8 on"
### [REQUIRED] Describe your environment

  * Operating System version: Linux armv7l (Samsung Tizen TV)
  * Browser version: Safari/537.36
  * Firebase SDK version: 9.8.0 +
  * Firebase Product: performance, remote config (That I have tested)

### [REQUIRED] Describe the problem

At runtime I'm getting an "Uncaught SyntaxError: Unexpected token ..." error.

#### Steps to reproduce:

I have project

[2022-11-09 18:32] jfcong commented on #6771
Hi @actionakin, can you provide some relevant stack traces/the actual error?

[2022-11-09 18:45] actionakin commented on #6771
`Uncaught SyntaxError: Unexpected token ...
    at Object.Yg32 (vendors~main.41a8a1e….debug.js:8585)
    at __webpack_require__ (main.536180d….debug.js:86)
    at eval (index.esm2017.js?c6c1:1)
    at Module.xsHj (vendors~main.41a8a1e….debug.js:14572)
    at __webpack_require__ (main.536180d….debug.js:86)
    at eval (index.esm.js?4b38:1)
    at Module.SzhR (vendors~main.41a8a1e….debug.js:7264)

[2022-11-09 18:48] actionakin commented on #6771
The error is happening in this module:
/***/ "Yg32":
/*!******************************************!*\
  !*** ../node_modules/idb/build/index.js ***!
  \******************************************/

[2022-11-09 19:21] glennsimon commented on #6584
May be related.  I have a Firebase plain javascript web app, and I was getting `Uncaught SyntaxError: Cannot use import statement outside a module (at firebase-messaging-sw.js:1:1)`.  I am using webpack and the CopyPlugin to copy my firebase-messaging-sw.js file directly to the /dist directory.  Changed the "to:" value to a .mjs extension:
``new CopyPlugin({patterns: [ {
  from: './firebase-messag

[2022-11-09 19:40] ehsannas commented on #6769
Thanks for the suggestion @Supamiu . I will bring this up internally with the team for discussion, but cannot make any statements about its priority. In the meantime, feel free to fork the repo and start working on a simple implementation. I'd love to see what you come up with!

[2022-11-09 22:49] nisar-snsw commented on #6670
@jbalidiong - We are almost closer to our feature completion. This is a show stopper for us, can we get this moving please?

[2022-11-10 03:56] ishowta opened #6776 "`auth/invalid-api-key` error will occur if it is not set, even when using the auth emulator"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: _____
  * Firebase SDK version: 9.13.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem
same as #4882
related to [5218](https://github.com/firebase/firebase-tools/issues/5218)

When using the auth emulator, apikey probably should not be necessary, but an `auth/invalid-api-key` err

[2022-11-10 07:16] poltak commented on #6764
Yeah, this is definitely a Chrome issue, not Firebase. Going to close this.

For ref, here's the corresponding Chromium bug tracker issue, looking to allow extensions to receive push events without needing to show a notification: https://bugs.chromium.org/p/chromium/issues/detail?id=1319986

And for context as to why it's like this, this looks to be the OG thread that decided this behavior from ye

[2022-11-10 07:16] #6764 closed

[2022-11-10 08:50] Supamiu commented on #6769
Thanks 👍 I'll see what I can do but I was kinda hoping for a way that I had missed to hook on this, no big deal, that's a good challenge !

[2022-11-10 10:39] avabhi commented on #5549
Even I am also getting same issue with firebase version : 9.9.4

[2022-11-10 13:36] neelance opened #6777 "Firestore should not access www.google.com, only *.googleapis.com"
We are currently rolling out a Content Security Policy. While doing so, we noticed that Firestore sometimes connects to www.google.com, specifically https://www.google.com/images/cleardot.gif. This is because this URL is hardcoded in the webchannel transport:

https://github.com/google/closure-library/blob/7c5e8ef152adf9cc814875c42ab2a0244653b69c/closure/goog/labs/net/webchannel/netutils.js#L48

I

[2022-11-10 14:11] jbalidiong commented on #6768
Hi @sahenrai, thank for reaching out. I noticed that you're still using the v8. Would you mind trying to update the SDK version that you're using and see if the issue persists? Just FYI, going forward, any fixes will be in version 9+. Also, you can use Async Storage with the modular SDK and use the [getReactNativePersistence()](https://firebase.google.com/docs/reference/js/auth.md#getreactnativepe

[2022-11-10 15:10] dconeybe commented on #5549
@vojto The "Document Already Exists" error you experienced is specific to _transactions_ and was a bug that was accidentally introduced in v9.9.4. It will be fixed in the next release. See https://github.com/firebase/firebase-js-sdk/issues/6659 for details.

The "Document Already Exists" issue reported in the OP is not related to transactions, and still exists.

[2022-11-10 15:50] jbalidiong commented on #6777
Hi @neelance, thanks for reaching out. Let me check what we can do for this or bring someone here that can provide more context about it. I’ll update this thread if I have any information to share.

[2022-11-10 19:00] hsubox76 commented on #6730
This message only exists in two entry points in the code, the CDN compat build and the compat all-in-one build, neither of which can be imported with the code snippet you provided, so it's a little confusing.

To import the former, you'd have to be using the CDN build (importing using a script tag from a url like `https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js`, from a reserved url like

[2022-11-10 19:20] zwu52 commented on #6670
Can't seem to reproduce. I am not sure what the culprit is for this behavior. Have you checked if there might be a duplicate sw registered that's intercepting the push events (unsure how that would happen).

[2022-11-10 20:49] dconeybe commented on #6105
This is a duplicate of https://github.com/firebase/firebase-js-sdk/issues/5853. Please follow that issue for updates.

[2022-11-10 20:49] #6105 closed

[2022-11-11 02:05] tranlammedia commented on #6231
this í my sovle. use {initializeAuth} from 'firebase/auth/react-native' replace for {getAuth} from "firebase/auth";

`import AsyncStorage from '@react-native-async-storage/async-storage';
import { initializeApp } from 'firebase/app';
import {
  initializeAuth,
  getReactNativePersistence
} from 'firebase/auth/react-native';

// add firebase config here

// initialize firebase app
const app = initi

[2022-11-11 04:24] tachibana-shin opened #6782 "`setDoc` does not accept a property with type `boolean` in TypeScript"
### [REQUIRED] Describe your environment

  * Operating System version: Github Codespaces
  * Browser version: Chrome
  * Firebase SDK version: @firebase/firestore@3.7.1
  * Firebase Product: database

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Enter this code into VSCode and you will see an error.

#### Relevant Code:

[code]

Screenshot:
![image](https://user-images.githubuse

[2022-11-11 18:36] jfcong commented on #6771
Hi @actionakin, can you give us a sample app and steps to reproduce this? The error doesn't seem like it's Performance Monitoring related at first glance since it's happening in a node module.

[2022-11-12 03:52] bgbruno commented on #2710
for me it is not "firebase related"
https://bugs.chromium.org/p/chromium/issues/detail?id=1085724#c14

[2022-11-12 09:55] GrandSchtroumpf opened #6787 "Provide a way to serialize Query (expose stringifyQuery for example)"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 11
  * Browser version: EDGE 107.0.1418.42
  * Firebase SDK version: 9.14.0
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem
When hydrating (angular universal, next.js, ...) / resuming (qwik) the frontend, frameworks serialize the state of the application as a json object in the html. It works well

[2022-11-12 15:56] risalfajar opened #6788 "Firestore Composite Index error does not give a link anymore"
### [REQUIRED] Describe your environment

  * Operating System version: Pop!_OS 22.04 LTS
  * Browser version: Vivaldi 5.5.2805.42 (Stable channel) stable (64-bit)
  * Firebase SDK version: 9.12.1
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem
When an index for a query is missing, usually there will be an error in the console, along with the link to create the missing index.

[2022-11-12 22:32] dconeybe commented on #6788
This was fixed in 9.14.0, which was released just 2 days ago: https://firebase.google.com/support/release-notes/js#version_9140_-_november_10_2022

[2022-11-12 22:32] #6788 closed

[2022-11-12 22:33] dconeybe commented on #6613
The bug fix was released in 9.14.0 released November 10, 2022: https://firebase.google.com/support/release-notes/js#version_9140_-_november_10_2022

[2022-11-13 03:28] Seetheeda opened #6789 "https://youtu.be/LLVBYqn4vZ0"
### [REQUIRED] Describe your environment

  * Operating System version: _____
  * Browser version: _____
  * Firebase SDK version: _____
  * Firebase Product: _____ (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:

#### Relevant Code:

[code]

[2022-11-13 10:55] thanhtutzaw opened #6790 "Fetching 2 data makes firebase read increased from 16 to 164"
Posted in here too https://github.com/gladly-team/next-firebase-auth/issues/580#issue-1446747852
I noticed today firestore increased  read from 16 to 164  ( get all (just 2data) from one user ) and (get single data with
dynamic-route)

using these library

1. [next-firebase-auth](https://github.com/gladly-team/next-firebase-auth) (cookies)
2. nextjs , **SSR** , dynamic Route
3. firebase , firestor

[2022-11-13 12:59] emcfarlane commented on #3115
Plus one, any solutions?

[2022-11-13 16:40] mikesol opened #6791 "signInWithCustomToken hangs indefinitely"
### [REQUIRED] Describe your environment

  * Operating System version: iOS version 15
  * Browser version: WKWebView on iOS 15
  * Firebase SDK version: 9.14.0
  * Firebase Product: Auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:

[code]

#### Solution

My quick-fix solution was to downgrade to the SDK v8.10.1, which works fine.

[2022-11-13 22:27] nisar-snsw commented on #6670
@zwu52 -  The [sample code](https://github.com/nisar-snsw/fcm-push) I have is how I have configured the service worker and FCM. Do you know how to check for a duplicate service worker?

[2022-11-13 22:53] samcorcos commented on #2591
Hey @schmidt-sebastian is there anything we can do to support to get this over the finish line? I'm happy to contribute dev resources / money :) This will be blocking for us in ~6 months. We're using the web version of Firebase.

[2022-11-14 00:56] schmidt-sebastian commented on #2591
cc @ehsannas

[2022-11-14 02:02] #6738 closed

[2022-11-14 02:02] #6703 closed

[2022-11-14 10:02] pldelattre opened #6792 "Flutter web - Failed to obtain exclusive access to the persistence layer when initialised with synchronizeTabs: true"
### [REQUIRED] Describe your environment

  * Operating System version: MacOs Monterey 12.6.1
  * Browser version: Chrome 107.0.5304.110 and Safari 16.1
  * Firebase SDK version: 9.11
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

I have built a flutter web app with persistence enabled and synchronizeTabs: true.
It works when opening the first chrome tab but it fails when lo

[2022-11-14 11:35] jbalidiong commented on #6789
Good day, I'm not sure what the issue here is. Could you file a new issue with the details on the template so we can assist you further? Thanks!

[2022-11-14 11:35] #6789 closed

[2022-11-14 16:20] ribrdb opened #6793 "firestore sdk unable to see server errors due to CORS"
### [REQUIRED] Describe your environment

  * Operating System version: macos ventura 13.0.1
  * Browser version: Google Chrome	107.0.5304.110
  * Firebase SDK version: 9.9.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

During the firestore incident on 2022-11-09, our app was experiencing a total outage although the incident report says only streaming reads should have bee

[2022-11-14 16:40] ribrdb commented on #6793
I forgot to link to the incident: https://status.cloud.google.com/incidents/w7D5XGtVfMGcdcg4Zzud

[2022-11-14 18:28] Opelor commented on #6793
I have a similar issue. It works fine with older projects. It fails with a new one.

I can login using the SDK but I can't write anything.

See the continuous ping/fetch

![Screen Shot 2022-11-14 at 1 24 42 PM](https://user-images.githubusercontent.com/3394156/201737431-8ed3dbd8-d29d-4489-bc53-271cead7746a.png)

[2022-11-14 18:37] prameshj commented on #6791
Hi @mikesol, can you post your entire code sample/imports etc? We aren't able to repro this with our demo app in the auth/ folder.

[2022-11-14 18:43] prameshj commented on #3115
We aren't sure of the rootcause of this, but browser privacy settings could cause it. Can you try one of the mitigations in https://firebase.google.com/docs/auth/web/third-party-storage-mitigation and see if it helps? Thanks!

[2022-11-14 21:20] dconeybe commented on #6724
This _could_ have the same root cause as https://github.com/firebase/firebase-tools/issues/5197.

[2022-11-14 22:45] Hoppi164 commented on #6724
Hi Denver.
No problem, i understand these things can take time to debug.

I appreciate your hard work on figuring this out.

I had a look at the other issue you linked but I'm not sure how these two could be related.

I'm not fully versed on your architecture,  but it seems we're getting totally different error messages and that we're doing different things..

[2022-11-14 23:48] ehsannas commented on #6777
Googlers see b/259147891

[2022-11-15 00:15] ehsannas commented on #6787
Thanks for raising this @GrandSchtroumpf. I'll raise this with the team and post back.

[2022-11-15 00:24] ehsannas commented on #6790
Hi @thanhtutzaw ! Unfortunately we won't be able to dig into implementation of third party packages. If the third party package uncovers an underlying Firestore issue I'd be happy to help investigate using a minimal reproduction application.

[2022-11-15 00:38] ehsannas commented on #6792
Hey @pldelattre , Since web applications using the JS SDK directly are not facing this issue, this is likely an issue in the Flutter layer. I would start by filing an issue in the [FlutterFire](https://github.com/firebase/flutterfire) repo and waiting for their investigation. If there's anything that can be changed/improved in the JS SDK, we'd be happy to help make it happen.

[2022-11-15 01:30] thanhtutzaw commented on #6790
Why my read is still increasing , there is only two data . I think this is side effect of SSR (Server side Rendering)

![Screenshot (91)](https://user-images.githubusercontent.com/71011043/201802061-3fd8eaef-0a90-48cd-8c1f-4e2aca26271c.png)

[2022-11-15 02:14] dconeybe commented on #6724
@Hoppi164 The common thread between this issue and https://github.com/firebase/firebase-tools/issues/5197 is that they both regard problems in the Firestore emulator when it is under heavy load. In this issue, it seems that the Firestore emulator is sending back corrupted data and in the other issue it looks like the Firestore emulator is losing its network connection. On the surface, they could b

[2022-11-15 08:06] oztek22 commented on #4242
It's been a while and I can still reproduce it on firebase `9.13.0` with react `18.2.0` and parcel `2.7.0`.
Is there any update or place to track the update on this issue?

[2022-11-15 09:10] pldelattre commented on #6792
Hi @ehsannas , I did open a issue on flutterfire here: https://github.com/firebase/flutterfire/issues/9929
Issue was closed because they believe it is a JS SDK related issue.

[2022-11-15 11:12] thanhtutzaw opened #6797 "can I handle the pending state of firestore write , update and delete"
When firestore write request is pending , I want to prevent user to not to refresh .
I tried with beforunload and It doesn't know the pending state.

here is code for handle write in firestore

![carbon (2)](https://user-images.githubusercontent.com/71011043/201905659-7c25ebef-1b1e-43ce-a764-cac8a7ec0d4a.png)

[2022-11-15 13:53] thanhtutzaw commented on #6797
current code

It works but , not sure it is good practice

![carbon (3)](https://user-images.githubusercontent.com/71011043/201936631-99040fe6-68ac-4c88-862f-a772af95e311.png)

[2022-11-15 13:54] thanhtutzaw commented on #6743
current code

It works but , not sure it is good practice

![carbon (3)](https://user-images.githubusercontent.com/71011043/201936631-99040fe6-68ac-4c88-862f-a772af95e311.png)

[2022-11-15 14:12] agrohs commented on #710
Any update on here - been waiting patiently for years....

[2022-11-16 00:34] maneesht commented on #4279
Hi @rhodgkins - starting with v9, you should have access to the DataSnapshot from the `firebase/database` package, or is there more functionality you need?

[2022-11-16 01:01] maneesht commented on #5113
Closing this as `@firebase/database: FIREBASE WARNING: Missing appcheck token` should be enough.

[2022-11-16 01:01] #5113 closed

[2022-11-16 07:26] rhodgkins commented on #4279
I'll have a look, it's been such a long time I can't remember now...

[2022-11-16 07:38] Hoppi164 commented on #6724
Hi Denver,

Please see below.

## Test Terminal Output:
[code]

## Firestore-Debug.log
[code]

[2022-11-16 09:15] laurentpayot commented on #6645
@thomasdao @hsubox76 I could make AppCheck work in my Firebase-dedicated web worker.
I had to initialize AppCheck in the main thread with Recaptcha, get the AppCheck token with [`getToken()`](https://firebase.google.com/docs/reference/js/app-check#gettoken), post a message with this token to the worker, then inside the worker use the [`CustomProvider`](https://firebase.google.com/docs/reference/js

[2022-11-16 13:03] mwisniewski2000 opened #6801 "singInWithCustomToken not working in Firefox with third party cookies disabled"
### [REQUIRED] Describe your environment

  * Operating System version: macOs Monterey 12.4
  * Browser version: Firefox 107.0 (64-bit)
  * Firebase SDK version: 9.14.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:
When user blocks all third party cookies on Firefox browser and tries to login with `signInWithCustomToken`  this error shows: `FirebaseError

[2022-11-16 14:54] barbalex opened #6802 "Error: export 'registerVersion' was not found in '@firebase/app'"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 11
  * Browser version: Chrome 107.0.5304.107
  * Firebase SDK version: 9.14.0
  * Firebase Product: app

### [REQUIRED] Describe the problem

Building the project fails in our [gatsby app](https://github.com/barbalex/vermehrung):
[code]

#### Steps to reproduce:

This just happens kind of randomly. It happened when up

[2022-11-16 15:28] barbalex commented on #6802
firebase having many ssr-issues means that when building with gatsby the webpack-configuration has to be altered to ignore firebase during the build. I now played with that configuration and added the second rule in `gatsby-node.js`:

[code]

This solved the issue.

I honestly do not understand why. Maybe the flakiness of this issue just happened to coincide with this change...

[2022-11-16 15:28] #6802 closed

[2022-11-16 19:01] johnnyoshika opened #6803 "Unit testing storage rules with firestore cross service rules doesn't work"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 11
  * Browser version: Chrome
  * Firebase SDK version: @firebase/rules-unit-testing@2.0.5
  * Firebase Product: storage, firestore

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Create a storage rule that uses firestore via cross-service security rule then write a unit test using the `@firebase/rules

[2022-11-16 19:59] ehsannas commented on #3002
Similar to https://github.com/firebase/firebase-js-sdk/issues/6787

[2022-11-16 20:04] ehsannas commented on #6777
Thanks for reporting @neelance . We'll take steps to fix this.

[2022-11-16 20:11] ehsannas commented on #2591
Hey @samcorcos . We've released the _early preview_ of Client-Side Indexing (https://firebase.google.com/docs/firestore/manage-data/enable-offline#configure_offline_query_indexes). Please give it a try and we'd love to hear your feedback.

[2022-11-16 20:13] ehsannas commented on #6792
The FlutterFire issue has been re-opened. I'll wait for the investigation from the Flutter team. I'd be happy to help if any issue is found in the underlying (firebase-js-sdk) SDK.

[2022-11-16 20:42] ehsannas commented on #6793
Thanks for reporting @ribrdb . I'll take a look.

[2022-11-17 00:41] maneesht commented on #861
@BlooJeans - I was able to reproduce this on the latest version of the JS SDK. Could you provide me also with what your data was before running this experiment, so I can try this on my own database?

[2022-11-17 02:02] #6753 closed

[2022-11-17 08:31] aameen951 commented on #4603
Sorry for the late response, I wasn't able to test it at the time.
Unfortunately, it is still not fixed. The same problem described above is still happening.

The SDK I tested with is `/__/firebase/9.14.0/firebase-database-compat.js`.
The firebase-tools version is: 11.16.1.

To summarize the problem: when the SDK switch from WebSocket to Long Polling, the first request is made to correct host (the

[2022-11-17 08:31] boldtrn opened #6806 "Safari shows inconsistent behaviour when using enableIndexedDbPersistence or enableMultiTabIndexedDbPersistence"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS 11.7.1
  * Browser version: Safari 16.1
  * Firebase SDK version: 9.12.1-9.14.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

#### Steps to reproduce:

When I enable the IndexedDbPersistence on Safari, sometimes Safari is not showing any query results. I also can't see any network activity with Fi

[2022-11-17 10:59] omrikiei commented on #6716
@prameshj we have many customers that use their own SSO providers with our stack of GCP's identity toolkit and changing the redirect domain is not really a valid option for us since we will need all the customers to do so as well, is there an ETA for supporting this issue without a mitigation?

[2022-11-17 16:19] kostyay commented on #6716
Is there any reason there is no "Cookie" storage? Cookie can work across domains (same sub domains.. we have app.xxx.com and accounts.xxx.com).
Are there any security reasons not to implement such solution?
Perhaps implementing it would solve the problem?

[2022-11-17 16:20] christinecha commented on #1674
Hello! I've been keeping up with this thread from afar; I'm sporadically having this error "....Could not reach Cloud Firestore backend" crop up with customers. The error used to happen more frequently, but then I enabled `experimentalAutoDetectLongPolling` and it seems to have gone down but not entirely.

Over the past 30 days:
187 Users of 13,078 (1%) have seen this error. I presume a percentage

[2022-11-17 17:19] tom-andersen commented on #6803
Thank you for reaching out. I will take a closer look to see if I can reproduce the problem.

What repository does the document go to?

[2022-11-17 19:19] maneesht commented on #4279
@rhodgkins - Not sure I follow. Is my comment incomplete?

[2022-11-17 21:34] johnnyoshika commented on #6803
@tom-andersen I'm not sure. How can I check that?

When I use `@firebase/rules-unit-testing`, the firestore document that's created is visible in the Emulator UI (at http://localhost:4000/). which seems to be the same place where firestore.get() looks inside of storage.rules. When using `@firebase/rules-unit-testing` on the other hand, firestore documents created inside `withSecurityRulesDisabled`

[2022-11-17 21:38] johnnyoshika commented on #6803
This is my test environment setup:

[code]

I've also tried this:

[code]

And also:

[code]

[2022-11-17 21:47] johnnyoshika commented on #6803
Just a little more info.

This is the script I'm running:

[code]

`test:local` is defined as this in my npm scripts:

[code]

Not sure if this matters, but I'm running this on Windows 11. I'll try this on a Mac a little later.

[2022-11-17 22:06] johnnyoshika commented on #6803
@tom-andersen Well this is embarrassing. The project ID specified in initializeTestEnvironment didn't match the project ID specified when running the emulator (--project flag for firebase emulators:exec) which was causing the problem. In the examples I showed above they matched, but they didn't in my codebase and that was the problem.

Closing, thanks for your help.

[2022-11-17 22:06] #6803 closed

[2022-11-17 22:45] sampajano commented on #1674
@christinecha Hi! Thanks so much for sharing your results, Christine! Glad to hear that the flag has brought improvements!

I wonder if you had any data on how many user had this issue *previous* to the fix? This will help us evaluate the effectiveness of the fix 😃

There's definitely a possibility for some "false negatives" which escape our buffer detection. This might not be possible, but if you

[2022-11-17 23:26] rhodgkins commented on #4279
Sorry @maneesht when I first read this in the app it was missing the final line of your comment! I'll have a check when I get a moment and report back. Though tbh I can't remember what I even wanted it for now :s

[2022-11-18 00:36] tachibana-shin commented on #6782
Oh, sorry, it was my fault. I didn't notice it. Thank you for your support in this matter

[2022-11-18 00:36] #6782 closed

[2022-11-18 02:10] maneesht commented on #4279
No worries, please feel free to close this if you no longer require this feature.

[2022-11-18 04:16] thomasdao commented on #6645
@laurentpayot thanks for sharing, great approach! However after I tried this, I found another unrelated blocker that `ReCaptchaV3Provider` doesn't support Electron app, so it's likely that I have to abandon `AppCheck` for the moment.

[2022-11-18 04:16] #6645 closed

[2022-11-18 09:57] pfiadDi opened #6810 "Firebase Callable Functions: Uncaught Error: Service functions is not available"
### [REQUIRED] Describe your environment

  * Operating System version: mac 11.2.1
  * Browser version: Chrome 106
  * Firebase SDK version: 9.10, 9.14.,9.13.X
  * Firebase Product: functions

When I try to initialize functions with:

`const functions = getFunctions(fbApp,"europe-west3")`

I get: Uncaught Error: Service functions is not available

I post this issue again, because the solutions (re

[2022-11-18 10:14] pfiadDi commented on #6810
I also added a second branch, with only uses cdn imports and no bundler (in my case parcel)
https://github.com/pfiadDi/firebasec-callable-function-bug/tree/without-parcel

Without bundlers it works, so the question is, is it a problem with parcel? Not sure, since the other issues also happend when using bundlers

[2022-11-18 15:35] tom-andersen commented on #6806
Thank you for reaching out. This might be difficult to support without a reproducible example.

To help reproduce, does this problem only occur when there are multiple tabs or there is interaction using console?

If you can trigger this problem intermittently, can you provide some debug logs of events leading up to incident.
See https://firebase.google.com/docs/reference/js/firestore_#setloglevel

[2022-11-18 15:52] landsman commented on #3356
Guys, any progress on this?

[2022-11-18 15:56] tom-andersen commented on #6803
Thank you for the update! I was very concerned about us introducing a regression.

[2022-11-18 16:26] AlkarE commented on #3356
I don't remember exactly.
I guess this part of code may give you an idea:
try {

      if(!window.recaptchaVerifier) {

        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('signin-recaptcha', {
          'size': 'invisible',
          'callback': (response) => {
            // cb
          }
        });
      }
      else {
        window.recaptchaVerifier.render().then(function

[2022-11-18 21:10] jpreynat commented on #1674
@sampajano I was just thinking of checking too, as it’s been about a few weeks since the rollout.

The good news is that the fix on your end worked because we didn’t have any issues with enabling the flag globally this time.

However, sadly the number of errors in our case didn’t decrease. It remained in exactly the same order of magnitude as before.
Here is the screenshot of the count of issues o

[2022-11-18 22:18] ehsannas commented on #6793
Googlers see b/259438625

[2022-11-18 22:22] sww314 commented on #6716
This solution https://firebase.google.com/docs/auth/web/third-party-storage-mitigation#mitigation_3_proxy_auth_requests_to_firebaseappcom
Worked for SAML.
However it requires our customers update the `Reply URL`.
In addition for the `Google Provider`, we have to update the `Authorized Redirect URIs`

[2022-11-18 23:27] sampajano commented on #1674
@jpreynat Thanks so much for the detailed update! 😃 Glad to hear that the regression is gone this time.. but yes sadly and surprisingly no improve at all too.. 😅

ahh thanks for the reminder! Could you remind me how exactly does the error manifest for your users?

I wonder if you you could send some users who are consistently having this issue to https://debug-my.firebaseapp.com/, maybe we could g

[2022-11-19 04:04] HarryAlvarado28 commented on #4335
Has this been resolved, and what was the solution? 👨‍💻

[2022-11-21 02:02] #6749 closed

[2022-11-21 09:38] ferinoc commented on #1423
@zwu52 Hi, if you could give us an update would great. Thank you :)

[2022-11-21 13:06] mikesol commented on #6791
Hi, apologies for the delay. While it happens consistently on my app, I unfortunately don't have time to whittle it down to a small repro as it requires a custom-token flow that's linked to being on either iOS or Android & having access to the native APIs through Capacitor.

What I can say, though, is that the hang is in the network request (as opposed to some sort of infinite loop) and that downg

[2022-11-21 15:18] jmw11x opened #6816 "Firebase auth Email address verification takes forever to send"
### [REQUIRED] Describe your environment

  * Operating System version: ___windows mac__
  * Browser version: __ all ___
  * Firebase SDK version: __ any___
  * Firebase Product: ___auth__ (auth, database, storage, etc)

### [REQUIRED] Describe the problem
when you send a verification email it takes forever to send despite successful function execution.

#### Steps to reproduce:

#### Relevant Cod

[2022-11-21 15:21] jmw11x commented on #6816
google bot needs to add need attention unless firebase is willing to lie to customers about the functionality of the products they release.

[2022-11-21 18:24] sam-gc commented on #6801
This is odd, can you check the network panel to see if Firefox is directly blocking the relevant API call? `signInWithCredential` translates to a straightforward REST call.

[2022-11-21 18:26] sam-gc commented on #6791
Hi @mikesol, yes if you can point us to the relevant bit of code in your app that will help us debug

[2022-11-21 18:36] sam-gc commented on #6816
Hi @jmw11x, sorry to hear you're seeing long email send times. Have you filed a ticket with [Firebase Support](https://firebase.google.com/support/troubleshooter/contact) yet? Fixing this issue may require more details about your specific project and use case

[2022-11-21 18:46] sam-gc commented on #6791
Additionally, can you verify you are importing the Auth methods from `'firebase/auth/react-native'`? That will ensure you're using the right code for your platform.

[2022-11-21 19:17] jmw11x commented on #6816
yes I did.

On Mon, Nov 21, 2022 at 1:36 PM Sam ***@***.***> wrote:

[2022-11-21 19:59] #6798 closed

[2022-11-21 20:12] hsubox76 commented on #6771
I think this was caused by upgrading the `idb` dependency in 9.8.0: https://firebase.google.com/support/release-notes/js#version_980_-_may_06_2022

That would mean something about the build tooling or environment is not compatible with the latest version of `idb`. https://github.com/jakearchibald/idb

I don't suppose you can try to figure out what would need to be changed in `idb` in order to make

[2022-11-21 20:38] hsubox76 commented on #6770
Does `setConsent()` not work? https://firebase.google.com/docs/reference/js/analytics.md#setconsent It should allow setting ad_storage, analytics_storage etc.  https://firebase.google.com/docs/reference/js/analytics.consentsettings.md#consentsettings_interface

I'm not sure what the equivalent syntax in AngularFire would be if that's what you're using.

[2022-11-21 21:00] hsubox76 commented on #6810
Thanks for providing the repro. I don't fully understand the structure of your app but it seems like somehow it seems like `initializeApp()` and `getFunctions()` are being treated like they're being run in separate... runtimes? Or modules?

 If I put everything in the same file:
[code]

It seems fine? It doesn't really seem like you need a wrapper around `initializeApp()`, but you know your own co

[2022-11-21 21:00] #6810 closed

[2022-11-21 21:28] tom-andersen commented on #6806
Good observation! I looked into the code to see what could be blocking between those timestamps. Having an example that I can debug will be helpful. Could you email the URL to tomandersen@google.com. Thanks! I will do my best to look closer at this as soon as possible.

[2022-11-21 22:26] boldtrn commented on #6806
Thanks for the quick reply and for looking into this. I have sent you an email with the requested details. Let me know if there is anything else I can do to help.

[2022-11-22 09:44] IlyasDiker opened #6821 "FR: Add a way inside the ServiceWorker to prevent Notifications from showing automatically"
### [REQUIRED] Describe your environment

  * Operating System version: MacOs
  * Browser version: Version 107.0.5304.110 (Official Build) (x86_64)
  * Firebase SDK version: 9.13.0
  * Firebase Product: Cloud Messaging
  * Are you an idiot: No _(Maybe)_

### [REQUIRED] Describe the problem

messages with `{notification: { ... }, data: {...}}` are shown automatically from the service worker i would

[2022-11-22 10:38] jasperkuperus commented on #4256
@sam-gc @hsubox76

Can you guys check out this reproducible repo? All solutions provided in this thread are not a solution in our case. The thing is that it happens so randomly and not on a frequent basis, that any mitigation might look like a solution, but a month later it can just pop up again.

[2022-11-22 21:05] kingcozz opened #6825 "Deleted and then re-added collection, now api can’t find any documents"
I had a collection full of docs. I deleted it from web console. Then re-added with exact same name. I’m able to populate from the api but now api isn’t finding any docs. The snapshot is always empty on return. Any ideas?

[2022-11-22 21:07] kingcozz commented on #6825
Here’s the code that’s been working fine:

 let campaignRef = admin.firestore().collection("campaign");
  await campaignRef
    .where("chainId", "==", parseInt(req.chainId))
    .get()
    .then((campaigns) => {
      let data = [];
      campaigns.forEach((campaign) => {
        let uid = campaign.id;
        let cdata = campaign.data();
        data.push({ uid: uid, ...cdata });
      });

[2022-11-22 21:10] kingcozz commented on #6825
When I run the query finder from web portal it returns no problem.

[2022-11-22 21:59] NelsonArguera12 commented on #5848
I can agree with this, I'm using uploadBytesResumable on Expo SDK 45 and Firebase SDK v9.4.0 and is working amazing, multiple uploads and really fast, if you are looking to keep using Firebase 9.x.x then this is the way

[2022-11-22 22:05] WestonThayer opened #6827 "Firebase Auth: the pendingRedirect sessionStorage key signInWithRedirect creates can be cleared in race condition"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS 12.6
  * Browser version: Chrome 107
  * Firebase SDK version: 9.14.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:

I've set up a test Firebase instance and a codesandbox for easy reproduction. All I did to the Firebase instance was to create a web app, initialize auth, and ad

[2022-11-22 22:12] WestonThayer commented on #3115
I had this exact issue, tracked it down to #6827. You can confirm whether it's the same root cause by adding:

[code]

Before your `signInWithRedirect()` call.

[2022-11-22 23:37] zwu52 commented on #6670
you could inspect from the browser debugging tool. It's under application>>service worker

[2022-11-22 23:44] Ianmward commented on #6670
I reproduced this in my environment and spent some time investigating.
I can confirm that in my environment, the onBackgroundMessage is called only once, but in the Notifications recorder 2 Notifications are displayed.
![2022-11-23_10-27-16](https://user-images.githubusercontent.com/8584759/203443233-3ea55ada-b61c-49e7-bfaf-0c9dd802d0c8.png)

[2022-11-23 02:02] #6768 closed

[2022-11-23 03:40] dzylich commented on #2124
@Shahzad6077 I am not the OP, but maybe this can help as I recently tried to sort this out myself.

Here I am using Angular/Typescript with the AngularFire plugin:

[code]

[2022-11-23 15:11] mwisniewski2000 commented on #6801
In Firefox network tab I can't see any request at all.  In chrome with disabled third party cookies I can see this `accounts:signInWithCustomToken` request.

[2022-11-23 15:57] jbalidiong commented on #6776
Hi @ishowta, thanks for bringing this to our attention. I was able to reproduce the behavior. Let me check what we can do for this issue or bring someone here that can provide more context about it. I’ll update this thread if I have any information to share.

[2022-11-23 20:26] zwu52 commented on #6670
I think I found the culprit [here](https://github.com/firebase/firebase-js-sdk/blob/091e8676f55f2b757f8d18ed2197b0edd5f66386/packages/messaging/src/listeners/sw-listeners.ts#L88). The SDK has this functionality: when a message has a notification payload, SDK automatically displays the notification with the information encoded in `message.notification`.  So when calling `showNotification` in `onBac

[2022-11-23 21:12] milo- commented on #6720
Seeing the same issue, disabling swcMinify during build prevents the issue from happening

[2022-11-24 02:02] #6730 closed

[2022-11-24 04:13] danieljpalmer commented on #6753
@milaGGL

I am also having this exact issue. It is very randomly affecting users - haven't been able to identify a pattern, except for the fact that it appears to only be happening in Google Chrome. The same users are fine in Mozilla Firefox.

[2022-11-24 04:26] silencie commented on #5848
This is working.

I found that uploading multiple images causing app to crash.  After commenting out the if-statement it's working fine but what will happen if we don't clearTimeout ?

[2022-11-24 04:27] silencie commented on #5848
This is working.

I found that uploading multiple images causing app to crash. After commenting out the if-statement it's working fine but what will happen if we don't clearTimeout ?

[2022-11-24 05:59] rissois commented on #5848
@wheelie33 I suggested this solution months ago [July 9](https://github.com/firebase/firebase-js-sdk/issues/5848#issuecomment-1179478627), though I only deleted a single call to `clearGlobalTimeout`, which I recommend.

My app has been working fine in production since the summer, though I only use photos.

I do not know what happened with @hsubox76 's investigation of this line and why it failed,

[2022-11-24 11:05] nisar-snsw commented on #6670
@zwu52 - Thank you so much, I'll work on the second suggestion and provide my feedback shortly.

[2022-11-24 21:35] taishi55 opened #6831 "[ERROR] firebase signInWithRedirect not working on IOS"
### [REQUIRED] Describe your environment

  * Operating System version: _IOS 16.1.1____
  * Browser version: __Safari___
  * Firebase SDK version: __9.12.1___
  * Firebase Product: ___auth__ (auth, database, storage, etc)

### [REQUIRED] Describe the problem
`Unrecognized Content-Security-Policy directive 'require-trusted-types-for'.`
#### Steps to reproduce:
`await signInWithRedirect(auth, provid

[2022-11-25 01:16] milaGGL commented on #6753
Hi @danieljpalmer, have you tried out the [experimentalForceLongPolling](https://firebase.google.com/docs/reference/js/v8/firebase.firestore.Settings#optional-experimentalforcelongpolling) and/or [experimentalAutoDetectLongPolling](https://firebase.google.com/docs/reference/js/v8/firebase.firestore.Settings#optional-experimentalautodetectlongpolling). This should be able to help the users with pro

[2022-11-25 03:23] khanhle292 commented on #6831
+1
I am having the same problem with macOS 13.0._ , I couldn't login by chrome and safari

[2022-11-25 06:41] nisar-snsw commented on #6670
@zwu52 - I tested the second suggestion by commenting the below method and it works and only one notifications shows up now:
<img width="709" alt="image" src="https://user-images.githubusercontent.com/111418911/203916641-1976a986-6178-4764-ac5d-582fd180ce28.png">

However, I'm  wondering how can I show an **icon** if I do not call the `showNotification` method:
[code]
Is that something that can be

[2022-11-25 07:07] #6825 closed

[2022-11-25 07:43] surafelbm commented on #6753
@milaGGL, how can we view the logs when the app is deployed to production? I have enabled this option `firebase.firestore.setLogLevel('debug')` and I can see the firebase logs on the browser console locally but I don't see the logs when the app is deployed to production, which is where we need it to catch the logs in production.

[2022-11-25 13:04] SamLoys commented on #3922
The solution of @ArStah works like a charm.
This should be documented somewhere, as it is quite difficult to find.

In my usecase (a chat app), this was very imporant, as the notifications should open the correct chat (URL), even if the PWA was still active in memory

[2022-11-25 15:55] si1k commented on #6831
+1 Same issue - specific to `signInWithRedirect` using iPhone - same issue occurs both in simulator and physical device.

Quick workaround that is working for me is swapping to `signInWithPopup`

[2022-11-25 18:34] petrvecera commented on #2243
For us - the analytics are working in the "dev mode" but not in packaged mode. We implemented Mixpanel instead of FB Analytics but would be great to unify our apps under one platform.

I found out this library https://github.com/expo/electron-cookies but it looks like it's very outdated and I am not able to run it.

[2022-11-25 21:06] milaGGL commented on #6753
@surafelbm, since it is hard to reproduce the problem in production app by yourselves, you would need to work with a user who is experiencing it, walk them through opening the web console and copying&pasting the debug log into an email or a file for you.

[2022-11-26 01:52] appsgenie commented on #5549
I am also seeing this with "firebase": "8.2.3"
```FirebaseError: [code=already-exists]: Document already exists```
Not using any transactions and simply doing `firestore.collection('locations').add({..})`
Seeing these sporadically in Sentry and no recent version updates have taken place.
Wanted to see if it's ok to ignore these and if anything else might be happening.

[2022-11-26 01:57] dconeybe commented on #6659
FYI v9.14.0 released on November 10, 2022 contains the fix
https://firebase.google.com/support/release-notes/js#version_9140_-_november_10_2022

[2022-11-26 02:04] dconeybe commented on #5549
@appsgenie That error is probably safe to ignore. What is likely happening is that the request is sent to the server to create the new document, then the client loses connection before the response is received from the server. When the client reconnects then it re-sends the "create document" request, which fails because while the document already exists because while the client was briefly offline

[2022-11-26 04:56] nik-v-hax commented on #2242
lol this is a reason for people to use launch darkly or unleash and its so simple to prevent

[2022-11-26 04:58] nik-v-hax commented on #2242
but currently what i do is have a cloud firebase functions trigger onConfigUpdate and just fetch the template via admin sdk and place it in a memory store for me to access

[2022-11-26 07:31] taishi55 opened #6832 "[ERROR] reset the reCAPTCHA is not working"
### [REQUIRED] Describe your environment

  * Operating System version: Chrome
  * Browser version: 1.45.116
  * Firebase SDK version: 9.12
  * Firebase Product: auth (auth, database, storage, etc)

### [REQUIRED] Describe the problem

_reset the reCAPTCHA is not working_
`grecaptcha is not defined`

#### Steps to reproduce:

`grecaptcha.reset(window.recaptchaWidgetId);`
#### Relevant Code:

[code

[2022-11-26 09:12] taishi55 commented on #6832
it seems `grecaptcha ` function will be declared globally by reCAPTCHA API not Firebase.  Without resetting, it works fine.

[2022-11-26 16:38] prameshj commented on #6831
Is this happening only on iOS versions 16.1 and later? If yes, this is likely related to https://github.com/firebase/firebase-js-sdk/issues/6716

[2022-11-27 20:20] bastulli commented on #4256
Did you ever find a solution to your issue? I'm having the same problem with sign_in_with_apple 4.2.0 flutter pubdev on android. ios works fine

[2022-11-28 03:31] taishi55 commented on #6831
@prameshj it seems the same issue. I will close here. Look #6716 for the future update

[2022-11-28 17:50] JayStGelais opened #6834 "FR: (firebase/auth) bubble error code up from Identity Platform blocking function"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS Montery (12.6)
  * Browser version: Chrome Version 107.0.5304.110 (Official Build) (arm64)
  * Firebase SDK version: 9.10
  * Firebase Product: auth

### [REQUIRED] Describe the problem

We use a custom blocking function (on_create) to sync Identity Platform users with a user profile service in our application. This func

[2022-11-28 18:41] cybersokari commented on #4256
Same issue here

[2022-11-28 19:05] rapsalands commented on #4256
@cybersokari @bastulli @jasperkuperus

**Solved this Problem for React/Capacitor based Android app**

Just to share, I was facing this issue when using `react` and `capacitor` to build `Android` app. It was working on Web but not on Android.

I was able to solve it by using this [@capacitor-firebase/authentication plug-in](@capacitor-firebase/authentication) for capacitor. I am able to trigger log

[2022-11-28 19:07] rapsalands commented on #4256
@cybersokari @bastulli @jasperkuperus

Also true apologies, I didn't know if my repro repo for this issue was being used by anyone as no one was looking at it in early days. So as part of clean-up, I deleted the repo and firebase project :(. I am really sorry. This was done as part of cleanup of my firebase account.

[2022-11-28 20:39] prameshj commented on #4335
I see a comment from @holmberd that this might be resolved.

We do skip origin validation checks in the emulator mode - https://github.com/firebase/firebase-js-sdk/blob/fde5adf638dae4714ff7f25c75e475344907e05e/packages/auth/src/core/util/validate_origin.ts#L29.

Closing based on the comment that it might be resolved, please reopen if you still see this issue.

[2022-11-28 20:39] #4335 closed

[2022-11-28 20:41] #6736 closed

[2022-11-28 20:41] prameshj commented on #6816
Hi Jacob, is it ok to follow up on the support case, where we might have additional details? I am closing this issue, feel free to reopen if needed. Thanks!

[2022-11-28 20:41] #6816 closed

[2022-11-28 20:44] prameshj commented on #6824
Thanks for filing this. Is it possible that network calls are being made before a second call to auth emulator? Any network call will result in the init flag set to false - https://github.com/firebase/firebase-js-sdk/blob/04dcdbb0f5b19e51082a846463d84aadb77e98d4/packages/auth/src/api/index.ts#L135, so future connectAuthEmulator will fail.

we can update the docs to clarify this.

[2022-11-28 20:45] prameshj commented on #6801
Interesting, that looks like Firefox might be blocking the network request from happening. Any console logs that hint what might be going on?

[2022-11-28 22:49] joaomelo commented on #6824
Hi @prameshj,
Thanks for answering.

I don't think a network call is made to the auth service before connecting to the auth emulator. The firebase setup is made at the beginning of the program lifecycle. This is the code:

[code]

But there is always the possibility of a bug in my code. Any suggestions on how I could ensure that and get back to you? Like two methods to spy on the execution order.

[2022-11-29 00:39] bombillazo commented on #710
Very much needed...

[2022-11-29 00:50] prameshj commented on #6832
Can you share more info on the rest of your code? Are you trying this with Phone MFA?

[2022-11-29 01:07] prameshj commented on #6824
Is "connectToFirebase" invoked before each test case? I wonder if this is because each test case makes some network calls (by calling some auth APIs) and hence the issue.

We could consider exposing "emulatorInitialized()" that returns a boolean, to be checked before invoking connectAuthEmulator. WDYT, @yuchenshi @sam-gc

[2022-11-29 07:59] KoryNunn commented on #6739
We have updated to v9 at great time-cost.

This bug is still present. In cordova, the appVersion does not contain "Version/". Making this a manually configurable option, rather than or in addition to doing UA sniffing would allow this to be resolved.

Our current solution involves overwriting our UA string so that firestore detects /Version\/1[45]/ and doesn't hang our app.

[2022-11-29 08:00] KoryNunn commented on #6509
We have updated to v9 at great time-cost.

This bug is still present. In cordova, the appVersion does not contain "Version/". Making this a manually configurable option, rather than or in addition to doing UA sniffing would allow this to be resolved.

Our current solution involves overwriting our UA string so that firestore detects /Version\/1[45]/ and doesn't hang our app.

[2022-11-29 08:04] KoryNunn commented on #6739
FYI we've hacked around this by doing as you suggested, adding a snapshotListener for every single unique read query, then using getDocFromCache after the snapshot resolves it's first value.

This increased our performance by a factor of between 50x and 200x, including writes, which we no longer need to await.

I'd recommend looking into implementing a more official way of achieving this as this n

[2022-11-29 08:12] KoryNunn commented on #6509
Also, appVersion is deprecated: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/appVersion

[2022-11-29 10:37] jbalidiong commented on #6827
Hi @WestonThayer, thanks for bringing this to our attention. I was able to replicate the behavior. Let me check this with our Auth team or bring someone here that can provide more context about it. I’ll update this thread if I have any information to share.

[2022-11-29 11:12] joaomelo commented on #6824
Is "connectToFirebase" invoked before each test case? Yes, it is.

[2022-11-29 12:04] mwisniewski2000 commented on #6801
Just this error I attached in description :(

[2022-11-29 13:52] atsjo opened #6836 "RulesTestEnvironment.clearFirestore() fails with nodejs 18.x"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 11
  * Browser version: Chrome/Edge latest/nodjs 18.12.1
  * Firebase SDK version: 9.14 (@firebase/rules-unit-testing 2.0.5)
  * Firebase Product: firestore @firebase/rules-unit-testing

### [REQUIRED] Describe the problem

#### Steps to reproduce:

When clearing firestore data after/before running unit tests against t

[2022-11-29 14:13] Dev-Siri commented on #4256
Try to hard reload the webpage. On desktop it will be `Ctrl` + `Shift` + `R`, On mobile, it is Settings -> Privacy -> Clear Browsing Data -> Check Cache ->press "CLEAR"

[2022-11-29 14:14] jasperkuperus commented on #4256
Yes, actually a refresh always worked for me. But that's not a solution. You can't tell your clients to occasionally press refresh when they see this error. The error shouldn't be there in the first place 😉

[2022-11-29 15:40] jasonberwick opened #6837 "Firebase Auth: createUserWithEmailAndPassword works on web, not on Cordova/iOS"
### [REQUIRED] Describe your environment

  * Operating System version: iOS 16.0, Cordova 11.0.0
  * Browser version: Safari
  * Firebase SDK version: 9.14.0
  * Firebase Product: Auth

### [REQUIRED] Describe the problem

I'm using Firebase Auth in a Cordova app, and the Firebase function: createUserWithEmailAndPassword works fine on the web version (when running ionic serve) but when running on

[2022-11-29 16:02] #6837 closed

[2022-11-29 17:02] giuseppealbrizio opened #6838 "React build crash using vite and react 18.2.0"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS 13.0.1 (22A400)
  * Browser version: Chrome Version 107.0.5304.110 (Official Build) (arm64)
  * Firebase SDK version: 9.14.00
  * Firebase Product: app (auth, database, storage, etc)

### [REQUIRED] Describe the problem

Starting from version 9.11.0 Vite build command fails. To avoid this issue need to rollup the firebas

[2022-11-29 19:10] hsubox76 commented on #6747
I'm working on adding "type:module" to the files, as you can see in the linked PR but in the meantime I stumbled across this old issue and wondered if this solution will work for you as a workaround for now: https://github.com/firebase/firebase-js-sdk/issues/6417#issuecomment-1182323550 You didn't say what specific error you were running into so this might be something completely different, but th

[2022-11-29 19:30] wu-hui commented on #6739
Thanks. We will take this into consideration and hopefully we can have better support for this soon.

[2022-11-29 20:43] dconeybe commented on #6509
@KoryNunn Thanks for the update. My update is that work on the manual overriding of the node/browser detection is still a work in progress; however, it's taking a while due to competing priorities and some unanticipated technical challenges. Although I can't promise anything, I hope to be able to share something more concrete in Jan-Feb 2023.

[2022-11-29 23:15] andylnkd commented on #6827
Thanks, I am seeing a lot of page refreshes happen as well. I think its very closely related to this issue.

[2022-11-30 11:06] vixeven commented on #6716
If you are using Next.js, you can solve this by adding following [rewrite](https://nextjs.org/docs/api-reference/next.config.js/rewrites) to your `next.config.js` file:
[code]

Note: Don't forget to update `authDomain` in the firebase config and add the new redirect URI in Google Cloud Console.

[2022-11-30 17:02] abilicz commented on #6801
Its basically this part of code throwing operation insecure:
` this._heartbeatsCachePromise = this._storage.read().then(result => {
            this._heartbeatsCache = result;
            return result;
        });
    }`
and this promise rejects before making the actual request inside `getHeartbeatsHeader`
I guess Firefox when third party cookies are blocked is preventing reading and writing to I

[2022-11-30 18:13] giuseppealbrizio commented on #6838
Yes just checked in the `node_modules/@firebase/util/dist/index.esm2017.js` and seems that the comment at line 642-646 creates some issue in the build process of Vite. It's something related with putting process.env in the comment. I'll open an issue into the Vite repo just to check with them this issue.

[code]

Deleted this comment and the build command goes smooth.

Thank you

[2022-11-30 18:45] haoxi911 commented on #2243
@petrvecera What I am doing is I started a local web server and using express.js to host the index.html on http://localhost:xxx/index.html, then Firebase Analytics works.

[2022-11-30 20:40] abilicz commented on #6801
Ok, I think a root cause of the issue is https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Using_IndexedDB#security.
So here https://github.com/firebase/firebase-js-sdk/blob/master/packages/util/src/environment.ts#L143
accessing `indexedDB` throws an error which isn't handled
![Screen Shot 2022-11-30 at 9 38 50 PM](https://user-images.githubusercontent.com/35853229/204903202-3c9bc578-

[2022-11-30 21:54] prameshj commented on #6827
Thanks for filing this @WestonThayer .. I am curious why the auth initialize is also done as part of a button click? If auth initialize happens at the time of loading and signInWithRedirect is called in an event handler (like button click), that will reduce the chance of this happening.

Having said that, I think we can `await authInternal._initializationPromise;` in https://github.com/firebase/fi

[2022-11-30 22:35] Slapbox commented on #6502
Our app bundles all of @Firebase even though we only use Auth, Database, and Storage. We have Firestore and all of its dependencies floating around in our bundle. Webpack's treeshaking works for everything else as expected, but Firebase bundles 16mb of files... What's going on there?

And not only that, but the unused modules bundle all sorts of variations - every one of them unused.
![image](http

[2022-11-30 23:18] nisar-snsw commented on #6670
@zwu52  - Did you get a chance to look at my last comment?