[2021-08-25 04:57] renovate[bot] opened #5371 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Roll back dependency @firebase/app to v0.0.900-exp.f919db6a9
 - [ ] Roll back dependency @firebase/auth to v0.0.900-exp.f919db6a9
 - [ ] Update dependency mocha to v9 (`mocha`, `@types/mocha`)
 - [ ] Update dep

[2021-08-25 08:40] AnthonyLabaere commented on #3817
Hello, have you found a solution to this issue ?

[2021-08-25 09:31] VeryCrazyDog opened #5372 "Unhandled network error rejection when using storage API"
### Describe your environment

  * Operating System version: Windows 10
  * Browser version: N/A (Node.js 14)
  * Firebase SDK version: 8.10.0
  * Firebase Product: storage

### Describe the problem

#### Steps to reproduce:
1. Simulate network error such as disconnect from network, blocking DNS server, blocking outgoing traffic, etc.
2. Execute storage API such as `getMetadata()` or `getDownloadU

[2021-08-25 16:19] jbalidiong commented on #5262
Glad it is working fine using the latest version of Firebase SDK. I’ve checked the release notes and there are no changes or fixes mentioned for Auth and Safari browser. We really appreciate noticing this behavior and confirming that it is not replicable in our latest versions. For future reference, I would recommend testing it out with the latest release if you notice some unusual behavior and if

[2021-08-25 16:44] LeadDreamer opened #5373 "Firebase Storage should allow access-control-allow-credentials: true"
# Allow ```access-control-allow-credentials: true``` on Storage

- Firebase Firestore server *does* respond with header ```access-control-allow-credentials: true```, which allows secure access by Security Rules.
- Firebase Storage *does not* respond with ```access-control-allow-credentials: true``` (indeed, it doesn't include the header at all).

As such, Firebase Storage items must be fetched wit

[2021-08-25 17:06] Altoar opened #5374 "BT is blocking Firebase Storage. (storage/retry-limit-exceeded)"
### [REQUIRED] Describe your environment

  * Operating System version: All
  * Browser version: All
  * Firebase SDK version: 8.7.1
  * Firebase Product: storage

### [REQUIRED] Describe the problem

Since today we are getting multiple reports from users of our app that they can not download files from Firebase Storage.
All affected users claim that they are living in the UK and using BT as their

[2021-08-25 22:19] piperone opened #5377 "FIrefox Private Browsing: A mutation operation was attempted on a database that did not allow mutations"
* Operating System version: _____macOS Big Sur 11.5.2
  * Browser version: _____ Firefox Developer Edition 92.0b6 (64bit)
  * Firebase SDK version: _____8.3.1
  * Firebase Product: _____ auth, firestore

#### Steps to reproduce:

I'm seeing the error "A mutation operation was attempted on a database that did not allow mutations" when starting my app in Firefox' private browsing mode. This was repo

[2021-08-26 01:06] hckhanh opened #5381 "Firebase v9: 'firebase/app' does not contain a default exp ort"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Edge Latest
  * Firebase SDK version: 9
  * Firebase Product: analytics

### [REQUIRED] Describe the problem

Upgrade from Firebase v8  to v9

#### Error

[code]

[2021-08-26 05:39] CoooWeee opened #5382 "Module '"@firebase/app"' has no exported member '_FirebaseAppInternal'."
### Describe your environment

  * Operating System version: osx 11.55.2
  * Browser version:  chrome 92.0.4515.159
  * Firebase SDK version: 9
  * Firebase Product: app-compat (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Upgrade from Firebase v8 to v9
use exp angular/fire and import AngularFireModule from @angular/fire/compat and try to build usin

[2021-08-26 11:12] #5374 closed, assigned to nobody

[2021-08-26 17:55] #5381 closed, assigned to nobody

[2021-08-26 18:44] mikeover opened #5384 "error in prod build for 9.0.0 firestore"
### Describe your environment

  * Operating System version: MacOS
  * Browser version: Chrome 91
  * Firebase SDK version: 9.0.0
  * Firebase Product: firestore

### Describe the problem

Works fine in dev but when building for production, I get a blank screen and this error in the console:

<img width="607" alt="Screen Shot 2021-08-26 at 2 40 19 PM" src="https://user-images.githubusercontent.com

[2021-08-26 19:56] tannerlinsley opened #5386 "[v9/auth] Blocking Function Errors in JS SDK do not provide full error message/info from blocking function"
### [REQUIRED] Describe your environment

  * Operating System version: any
  * Browser version: any
  * Firebase SDK version: 9.0.0-beta.8
  * Firebase Product: auth

### [REQUIRED] Describe the problem

When using v9 and when following the documentation for blocker functions [here](https://cloud.google.com/identity-platform/docs/blocking-functions#blocking_registration_or_sign-in) to send a cust

[2021-08-27 04:07] AgainPsychoX opened #5392 "`OAuthProvider` is missing constructor"
### Environment

  * Firebase SDK version: `9.0.0`
  * Firebase Product: `auth`

### Problem

Firebase Auth API v9 does not have `OAuthProvider` constructor, or at least in TypeScript typings.

API v9: https://firebase.google.com/docs/reference/js/auth.oauthprovider (no constructor or a way to get new instance `OAuthProvider`)

API v8: https://firebase.google.com/docs/reference/js/v8/firebase.auth

[2021-08-27 10:16] rhythmbhiwani opened #5393 "Check isNewUser not showing in v9 sdk"
### Environment

  * Operating System version: ```Windows 10```
  * Browser version: ```v92```
  * Firebase SDK version: ```9.0.0```
  * Firebase Product: ```auth```

### The Problem

#### Steps to reproduce:

On the version 8, is was easy to check if the user is new or already registerd was easy. But since I upgraded to v9, I'm not able to find the property to check this. I tried console.log the

[2021-08-27 10:48] #5393 closed, assigned to nobody

[2021-08-27 21:47] maierson opened #5398 "Firebase v.9 Firestore getDoc() causes Lighthouse to hang"
###  Describe your environment

  * Operating System version: MacOS Big Sur 11.5.2
  * Browser version: Chrome Version 92.0.4515.159 (Official Build) (arm64)
  * Firebase SDK version: 9.0
  * Firebase Product: firstore (auth, database, storage, etc)
  * React / Next.js without SSR

###  Describe the problem

We are porting our application to v.9 while at the same time attempting to improve the Lig

[2021-08-28 07:41] peterpeterparker opened #5401 "npm doc - readme missing"
### Describe the problem

Just in case it would be unknown, the documentation - README published to [npm](https://www.npmjs.com/package/firebase) is missing after the release of v9.

It displays a nice "TODO" 😉.

### Screenshot

<img width="1513" alt="Capture d’écran 2021-08-28 à 09 38 26" src="https://user-images.githubusercontent.com/16886711/131210542-785f5d25-dd15-48f8-a1ce-af18b2bd4ef2.png"

[2021-08-28 11:53] cungminh2710 commented on #5392
Yup `new OAuthProvider('apple.com')` won't work. [These workarounds](https://github.com/firebase/firebase-js-sdk/issues/5392#issuecomment-906938939) can be used in the meantime

[2021-08-29 10:54] laurentpayot opened #5402 "getDoc() is never resolved nor rejected"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 21.04
  * Browser version: Chrome 92
  * Firebase SDK version: 9.0.0
  * Firebase Product: Firestore

Note that I'm running Firestore in a web worker.

### [REQUIRED] Describe the problem

#### Steps to reproduce:

`got doc` is never logged (see code below)

Everything was fine with the v9 beta. The official, non-beta r

[2021-08-29 15:18] GaryAustin1 commented on #5402
I have been trying to start the conversion process from 8 and am seeing a similar issue with 9.0.0 in both compat mode and new mode.  Neither docRef.get() or getDoc seem to do anything (no debug messages with debug on, no network requests, no error, no return).  Auth and database seem to be working in compat mode on same project.  The database object and doc object seem to coming back with filled

[2021-08-29 18:26] ansh-les opened #5403 "importScripts not working with firebase messaging v9.0.0"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 92.0.4515.159 (Official Build) (64-bit)
  * Firebase SDK version: 9.0.0
  * Firebase Product: messaging

### [REQUIRED] Describe the problem
While setting up firebase messaging, In `firebase-messaging-sw.js`, `importScripts` throws an error when you try to import
`https://www.gstatic.com/

[2021-08-29 19:55] dr-aiuta opened #5404 "Session Management with Service Worker with Session Persistence"
Hi, my question is very simple. The suggested approach on Firebase Docs for managing sessions with Service Workers only works if you use firebase.auth.Auth.Persistence.LOCAL while log in. I tried the same approach with firebase.auth.Auth.Persistence.SESSION and NULL is always returned from firebase.auth().onAuthStateChanged.

Is there an approach to use Service Workers with firebase.auth.Auth.Pers

[2021-08-30 04:41] jamesdaniels commented on #5403
Unless you're [building module type service workers](https://web.dev/es-modules-in-sw/), using the `import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js'` syntax, which are not widely supported. You'll want to use the `-compat` libraries via `importScripts`.

Here's a quick copy-paste from a demo app I built:

[code]

[2021-08-30 04:41] #5403 closed

[2021-08-30 07:54] jpike88 commented on #5392
Just ran into this issue on Cordova:

[code]

This should work but errors. Error is being caused here:
https://github.com/firebase/firebase-js-sdk/blame/509c18fbc1a0d4f85a0ca8c7cfef8e3b0f3183ec/packages/auth/src/platform_browser/strategies/redirect.ts#L95

[2021-08-30 08:24] jpike88 commented on #5392
Also none of the above workarounds work for me, that assert still trips even when the console seems to be indicating that the OAuthProvider is a subclass of FederatedProvider...

This is broken and a critical issue for us

<img width="1192" alt="Screenshot 2021-08-30 at 3 24 02 PM" src="https://user-images.githubusercontent.com/9585787/131309455-afbc6865-f401-4d56-a9c3-e50c95712028.png">

[2021-08-30 08:57] jpike88 commented on #5392
More investigating...

If I remove that above line from the vendor code and just force things through, a browser tab opens with this URL:

https://auth.formpigeon.com/__/auth/handler?apiKey= API_KEY_GOES_HERE&appName=%5BDEFAULT%5D&authType=signInViaRedirect&v=9.0.0

obfuscated values: API_KEY_GOES_HERE

But it's a white screen with the text 'The requested action is invalid.'

But when I test on a

[2021-08-30 13:54] samuelkarani commented on #2303
+1

[2021-08-30 14:17] petrusgomes commented on #5382
For those that don't wan't to watch the video, the solution from @edocbuhtig is to add:

`"skipLibCheck": true`

to `tsconfig.json -> "angularCompilerOptions"`

[2021-08-30 14:31] Jbz797 commented on #5382
And for users aren't on Typescript ?

[2021-08-30 17:25] Feiyang1 commented on #5401
Thanks for the report! It's already been addressed by https://github.com/firebase/firebase-js-sdk/pull/5383 and will be published  in the next release.

[2021-08-30 17:25] #5401 closed

[2021-08-30 17:38] #5392 closed

[2021-08-30 17:40] #5382 closed

[2021-08-30 18:38] hsubox76 commented on #5372
Thanks for the repro, I was able to reproduce it in 9.0.0 compat. Just FYI, going forward, any fixes will be in version 9+ so you'll have to upgrade and change the import paths to `require('firebase/compat/app')` and `require('firebase/compat/storage')`.

I think we need to catch errors on `send` here https://github.com/firebase/firebase-js-sdk/blob/1b33fda40ddc48e9ed28e94607bf100159f5b80e/package

[2021-08-30 19:26] dconeybe commented on #5402
Hello @laurentpayot. Thank you for reporting this issue. I have attempted to reproduce this "hang" myself without success. Would you be able to create a minimal reproduction app? This bug is especially insidious because there are no logs whatsoever produced which makes debugging near impossible. If you can, could you publish this app into GitHub where I can clone it and reproduce the hang? With th

[2021-08-30 19:30] dconeybe commented on #5398
Hello @maierson. Thank you for reporting this issue. Another customer has reported a similar issue (#5402) but I have not been able to reproduce. Are you able to provide an app that I can clone and run for myself to reproduce? If so, that would be incredibly helpful for debugging.

[2021-08-30 19:59] sam-gc commented on #5404
Hi @dr-aiuta, thanks for reaching out. Session is simply an implementation around [`sessionStorage`](https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage) and therefore does not work in worker contexts. Thanks for the note about the docs, we can look into clearing that up. Would you mind linking to the specific docs page you were working from?

[2021-08-30 20:14] dr-aiuta commented on #5404
Thank you @sam-gc . The link is: https://firebase.google.com/docs/auth/web/service-worker-sessions

[2021-08-30 21:38] GaryAustin1 commented on #5402
Adding to my comment on @laurentpayot's post.
If I don't turn on persistence 9.0.0 works, 9.0.0-beta.8 works either way.  Not sure if the other two report generators have persistence on or not from their descriptions..

[2021-08-30 22:16] Feiyang1 commented on #5392
It is fixed in `9.0.1`.

@jpike88 Thanks for the report and investigation. It seems to be a different issue than the original one. Can you please open a new issue, so we can track it there properly?

[2021-08-30 22:22] Feiyang1 commented on #5382
This has been fixed in `9.0.1`.

@Jbz797 there is no impact on Javascript users.

[2021-08-31 00:15] LeadDreamer commented on #76
# Client-Side, Security-Rule-Compliant Firebase Storage Fetch of IMages

It *is* possible, and relatively straight-forward, to download a Firebase Storage object to client while fully respecting Security Rules - but, as noticed above, it is NOT possible directly from an <img> tag.  After sleuthing through network logs, I saw the metadata fetch (well, storage object fetch), and poked through *this*

[2021-08-31 02:15] maierson commented on #5398
Hi @dconeybe. Thank you for looking into this.

Here it is:  https://github.com/maierson/fbselght

It's built with `nrwl / nx` which is overkill but I'm trying to get as close as possible  to the real app. I've just verified the behavior on Netlify and it's hanging with the regular firebase sdk but not with the `/lite` one. Same score tests just one never completes.

If you install on Netlify it d

[2021-08-31 02:18] maierson commented on #5398
I forgot to mention. You'll need an authenticated user in firebase and a `users` collection in firestore with a `user` keyed by the auth user's `uid` (pretty standard). After you login on the first page it sends you to the Main page. This is where the issue happens when it tries to retrieve the `user`.

[2021-08-31 02:34] jpike88 opened #5420 "9.0.0 Auth doesn't work: GoogleAuthProvider is failing FederatedAuthProvider and BaseOAuthProvider instanceof assertions"
* Operating System version: macOS
  * Browser version: Chrome
  * Firebase SDK version: 9.0.0-beta.7
  * Firebase Product: auth
  * Environment: Cordova + iOS 15, same issue on Cordova + Android 11 Chromium

(I use fuse-box as a bundler, and my code is being output to ES2015 code, and I have countless other libraries in my codebase that run fine.)

Things were working with Firebase 8.x, but after

[2021-08-31 02:50] laurentpayot commented on #5402
@dconeybe I created a minimal reproduction app at https://github.com/laurentpayot/sscce-firebase
…but I could not reproduce the issue, even within a web worker like in my app

@GaryAustin1 you are right, `getDoc()` works if persistence is not enabled. Good to know!

Note that Rollup has a [similar issue](https://github.com/rollup/rollup/issues/4213) that is caused by  the lastest TypeScript versio

[2021-08-31 02:55] jpike88 commented on #5392
@Feiyang1 you're right, it's a different issue, just tried with 9.0.1 and still present. opened an issue at #5420

[2021-08-31 04:47] xil222 commented on #5386
Hey @Feiyang1 , @sam-gc could anyone of you cc me as well once the internal bug is filed? I am also working on blocking function, and receiving a similar issue for blocking function in [link](https://github.com/firebase/firebaseui-web/issues/866).
I might be able to help when I have time, thanks!

[2021-08-31 05:16] sarunint opened #5421 "There is no way of creating `CollectionReference<T>` or `DocumentReference<T>` with custom `T` type."
### [REQUIRED] Describe your environment

  * Operating System version: N/A (TypeScript typings related)
  * Browser version: N/A (TypeScript typings related)
  * Firebase SDK version: v9.0.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Currently, there is no way of creating `CollectionReference<T>` or `DocumentReference<T>` with custom `T` type.

[2021-08-31 08:30] NikolajLeischner commented on #5384
I get the same error upon calling `initializeFirestore` in a build bundled by cra 4.0.3. Calling `getFirestore` instead works, so that might be a workaround, if you don't actually need to specify any settings.

[2021-08-31 08:41] ByronBos commented on #5384
Similarly have this issue using `initializeFirestore`, in my case there are settings I need to specify so switching to `getFirestore` isn't a fix.
Given it's just production builds I'm wondering if it could be the result of minification or other optimisations.

[2021-08-31 13:47] jbalidiong commented on #5420
Hi @jpike88, thanks for reporting this behavior. If I can replicate the issue, I can have a better look into it. Please share a minimal, but complete sample of a project that I can run locally.

[2021-08-31 13:58] jpike88 commented on #5420
am arranging this as a priority within the hour... hang tight

[2021-08-31 14:37] jpike88 commented on #5420
Note: In making this, I'm almost certain the issue is specific to the ```@firebase/auth/cordova``` module. It actually seemed to work ok when I was importing everything from ```@firebase/auth``` and not ```@firebase/auth/cordova```.

Ready.

Instructions:

Run ```npm ci``` to install everything.

Then use ts-node or tsc in the base folder, and then run:
```node fuse default```

and then go to loca

[2021-08-31 14:47] jpike88 commented on #5420
I found the issue, I was using the ```GoogleLoginProvider``` exposed via ```@firebase/auth```, and mixing that with the methods I was pulling out of ```@firebase/auth/cordova```. The assertions failed because even though the superclasses had the same name, they weren't actually on the same prototype hierarchy.

I should have used the ```GoogleLoginProvider``` from ```@firebase/auth/cordova```, tha

[2021-08-31 16:26] jbalidiong commented on #5420
Glad to know that it is a library mix-up issue and not the SDK itself. As a suggestion, I recommend adding the validation of libraries used to prevent this particular scenario.

[2021-08-31 16:43] jpike88 commented on #5420
Well I think it warrants at least a note in the documentation. Otherwise it's like 'don't press this red button, press the other red button'.

[2021-08-31 17:00] GaryAustin1 commented on #5402
So I have my case narrowed to the order of setting persistence and ui startup....

`firebase.initializeApp(firebaseConfig)
const firebaseApp = initializeApp( firebaseConfig );
const firestoreDb = getFirestore()

enableIndexedDbPersistence(firestoreDb)    // persistence first does not work
const ui = new firebaseui.auth.AuthUI(firebase.auth())

const unregisterAuthObserver = firebase.auth().onAuthS

[2021-08-31 17:32] Feiyang1 commented on #5421
The references shouldn't be typed directly. You need to use `withConverter()` to type them instead.  It is by design, so that you can't type references arbitrarily which may not be safe at runtime.

[2021-08-31 17:32] #5421 closed

[2021-08-31 19:07] maucaro commented on #5404
I am having the same issue and would like to accomplish the same thing as @dr-aiuta . I opened this other [one](https://github.com/firebase/snippets-web/issues/235) prior to finding this one. If it helps, here is the [POC](https://github.com/maucaro/Concepto/tree/master/WebApp/wwwroot) code that works with the default (LOCAL) but doesn't work with SESSION. It is also based on the same service work

[2021-08-31 19:56] dconeybe commented on #5398
Thanks for this! I'll be digging into this further tomorrow.

[2021-09-01 04:25] ansh-les commented on #5403
Thanks for the quick response James.
It is working with the compat libraries.

[2021-09-01 11:32] naveedahmed1 opened #5426 "Bug Report: After upgrading to `7.0.2`, AngularFireMessaging.useServiceWorker doesnt work"
### Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome
  * Firebase SDK version: 9.x
  * Firebase Product: Messaging

### Describe the problem

After upgrading to `7.0.2`, below code doesn't work

[code]

It seems either `useServiceWorker` is no longer supported or there's some issue with exports.

#### Steps to reproduce:

In your Angular app, just add

[2021-09-01 16:43] jamesdaniels commented on #5426
@naveedahmed1 `useServiceWorker` has been depreciated so maybe it didn't make it to v9/compat, I'd suggest moving to the AngularFire `SERVICE_WORKER` DI token https://github.com/angular/angularfire/blob/master/sample-compat/src/app/app.module.ts#L91

[2021-09-01 17:23] naveedahmed1 commented on #5426
Thank you so much @jamesdaniels for the update. Just a quick question, will it allow us to use Angular Service Worker along with Firebase Worker?

At the moment we have below module imported in our `AppBrowserModule`

` ServiceWorkerModule.register('https://' + window.location.hostname.toLowerCase() + '/firebase-messaging-sw-v8.js', { enabled: true, registrationStrategy: 'registerImmediately' }),`

[2021-09-01 20:46] #5386 closed

[2021-09-01 23:14] naveedahmed1 commented on #5426
So, here's what finally worked for me:

Update import in my messaging service

[code]

Add below provider to my notifications module:

[code]

Update imports in my firebase messaging service worker:

[code]

At the moment docs (https://github.com/angular/angularfire/blob/master/docs/messaging/messaging.md#setting-up-the-firebase-messaging-service-worker) suggest importing `firebase-app.js` and `fi

[2021-09-02 00:46] yuchenshi commented on #5086
@lovelle-cardoso FYI #5002 has been released. FWIW, Storage JS SDK no longer depends on XHR, so the `xhr2` workaround can be dropped too.

[2021-09-02 07:13] VincentCtr opened #5430 "Firebase v9 - onAuthStateChanged randomly called with incorrect emailVerified using 'firebase/compat/auth'"
Hello,

We recently updated firebase to firebase 9 and we have some issues with onAuthStateChanged callback. We are still using compat libraries for now.

Sometime `onAuthStateChanged` is triggered for a connected user with incorrect information for `emailVerified` property/

A simple way to reproduce the bug is to log in and then log user.emailVerified when onAuthStateChanged is updated.

[code]

[2021-09-02 10:42] maucaro commented on #5404
@sam-gc , can you please take a look at this again? I get it that Session would not work in worker contexts; the issue, however, is that if the UI (FirebaseUI) is set to use LOCAL (thus IndexedDB) as storage, things work as expected. If, however, the same UI opts for using Session (sessionStorage) the worker events are not fired as @dr-aiuta points out. I am seeing the same and have a pointer to P

[2021-09-02 11:56] niklv opened #5431 "Firebase v9 create collection refference from collection refference path order error"
### Environment

  * Operating System version: macOS
  * Browser version: Firefox v91
  * Firebase SDK version: v9.0.1
  * Firebase Product: firestore

### Problem

Looks like there are an error in firebase collection method.
I try to create collection refference from collection reference and get unxpected path elements order.

#### Relevant Code:

[code]

I think this code cause problem https://g

[2021-09-02 15:21] benmccann commented on #4846
@Feiyang1 if you'd like to continue using the `module` field for browser builds all the time, the other way to fix this would be to add `exports` to the `package.json` to clarify which builds should be used by Node vs the browser

[2021-09-02 15:39] schmidt-sebastian commented on #5402
@dconeybe I will take a look at this.

[2021-09-02 16:41] ehsannas commented on #5431
Thanks for reporting @niklv . We'll investigate this shortly.

[2021-09-02 19:36] buu700 opened #5433 "Feature Request: An equivalent to `firebase.database.INTERNAL.forceWebSockets()` in v9"
See title. I see that there's an internal class called `RepoInfo` with property `webSocketOnly`, but it's unclear how this can be used in a client application.

[2021-09-02 20:14] #5377 closed

[2021-09-02 20:17] dconeybe commented on #5377
I've merged a fix to improve the error message: #5396.

Note that when you try to enable persistence in a Firefox private browsing session it is failing to open an IndexedDB connection and therefore is falling back to "memory persistence", a.k.a. no persistence. So firestore will still work just fine, but there will effectively be no persistence. Maybe this is acceptable since it is a private brow

[2021-09-03 00:36] pmackcode opened #5435 "Firebase storage has no exported member 'useStorageEmulator'"
### [REQUIRED] Describe your environment

  * Operating System version: macOS Big Sur 11.5.2
  * Browser version: Firefox 89.0.2 (64-bit)
  * Firebase SDK version: 9.0.1
  * Firebase Product: storage, emulators

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Try to import the storage emulator hook from a typescript react app, using the documentation here: https://firebase.google.co

[2021-09-03 00:55] piperone commented on #5377
- [x] Thanks for your work on this, I appreciate it. Even though fixing the error isn't possible at your end currently, a more descriptive error-message should help devs in the future.

For my particular app, I'll probably disallow using private browsing sessions; it's an app used by a small number of expert users. It doesn't make sense with private browsing in my usecase anyway.

Thanks again!

[2021-09-03 04:05] theryan722 opened #5436 "Firebase v9 setDoc() doesn't resolve or reject when using emulator"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Google Chrome 92.0.4515.159
  * Firebase SDK version: v9.0.1 (modular) (Tested with both v9.0.1 and v9.0.0)
  * Firebase tools: v9.17.0
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem
Calling setDoc() when testing local using the emulator writes the document, but the functio

[2021-09-03 05:03] jamesdaniels commented on #5435
Good catch, it's actually `connectStorageEmulator` now, since it conflicted with React naming conventions.

[2021-09-03 05:17] jamesdaniels commented on #5435
I've sent a PR into our doc site to address, thanks for reporting.

[2021-09-03 05:17] #5435 closed

[2021-09-03 05:20] jamesdaniels commented on #5426
Yeah those docs are in need of upgrading. If you're feeling inclined feel free to send over a PR.

FWIW I've been leaning towards using a separate scope and not combining ngsw & fcm service workers, but having them run independently.

I'm going to close this as it seems to be isolated to AngularFire & a work around has been found.

[2021-09-03 05:20] #5426 closed

[2021-09-03 08:21] laurentpayot commented on #5436
@theryan722 see https://github.com/firebase/firebase-js-sdk/issues/5402

[2021-09-03 09:55] naveedahmed1 commented on #5426
Thanks @jamesdaniels, sure I will send over the PR.

I am not very clear about scope here, can you please guide what does `scope: '__' ` mean?

`{ provide: SERVICE_WORKER, useFactory: () => typeof navigator !== 'undefined' && navigator.serviceWorker?.register('firebase-messaging-sw.js', { scope: '__' }) || undefined },`

AFAIK Firebase Service Worker requires root scope and Angular SW also require

[2021-09-03 10:30] pmackcode commented on #5435
Ah makes sense, thanks for helping me with that.

[2021-09-03 11:36] jbalidiong commented on #5430
Hi @VincentCtr, thanks for reporting this behavior. I tried replicating, but I wasn't able to reproduce the same behavior. I also try turning off my network, then turning it back on again after a few minutes to replicate the connection stability issue but it always return the correct value for the `emailVerified` property. Here is the snippet I used:

[code]

I verified that it is working fine on

[2021-09-03 12:39] VincentCtr commented on #5430
@laurentpayot
I am not sure that it is the same issue here.  I don't need a callback when the user verify its email, this part works great on our application. In my case `onAuthStateChanged` is randomly called with incorrect informations.

@jbalidiong
Thank you for your answer. I did not find a way to reproduce it yet but I will do my best to reproduce it and share a minimal project.

[2021-09-03 14:32] ehsannas commented on #5436
@schmidt-sebastian this seems to be a duplicate of #5402 . Assigning to you as you're looking into that.

[2021-09-03 15:07] sam-gc commented on #5430
@VincentCtr a reproducible example would be ideal, but in the mean time, could you share a few more details? What browsers/platforms are you seeing this on?

[2021-09-03 15:17] schmidt-sebastian commented on #5436
@theryan722 Can you share your entire code snippet leading up the call? It would also be helpful if you share debug logs (via `setLogLevel('debug')`) but I can also obtain them once I can reproduce.

[2021-09-03 17:25] schmidt-sebastian commented on #5384
I am getting quite a few errors setting up an app from the source snippets you provided. Would you be able to upload a complete configuration to a GitHub repo?

[2021-09-03 17:59] theryan722 commented on #5436
Hey @schmidt-sebastian, here's the code before the try catch:

[code]

[2021-09-03 18:48] schmidt-sebastian commented on #5436
I am not able to reproduce. I see "not running after" printed in both Node and in the browser. I will need debug logs to investigate further.

[2021-09-03 21:04] jamesdaniels commented on #5426
I did this to avoid conflict with ngsw (mostly show they both show up in chrome devtools 😛), it doesn't appear to cause any trouble with correct functionality. Since firebase-messaging-sw doesn't handle any caching or proxying the scope doesn't matter AFAIK.

[2021-09-03 23:02] LanderBeeuwsaert opened #5441 "Regression on firestore.Timestamp when moving to v9"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 91
  * Firebase SDK version: 9
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem

This seems to be a regression when migrating from 8 to 9.

We have a typescript class that we use both in our client application and our server application.
That means that both firebase-j

[2021-09-04 01:22] ByronBos commented on #5384
Not the original raiser of this issue but I created a minimal react project that replicates what I believe is the same problem.
It's basically just the default app created with Create React App.

Hopefully it's useful.

https://github.com/ByronBos/firebase-issue-5384-example

[2021-09-04 06:36] RaheutRahwana opened #5443 "V9 deleteUser RecaptchaVerifier Error (auth/argument-error)"
### [REQUIRED] Describe your environment

  * Operating System version: Fedora Linux 34
  * Browser version: Version 95.0.4621.4 (Official Build) dev (64-bit)
  * Firebase SDK version: 9.0.1
  * Firebase Product: auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:
Import: deleteUser GoogleAuthProvider reauthenticateWithPopup RecaptchaVerifier and dependencies.
Now load RecaptchaVer

[2021-09-04 09:26] jordanlee-dev opened #5444 "Firebase v9 auth and firestore does not work and endless promise rejection errors occur."
### [REQUIRED] Describe your environment

  * Operating System version:  webOS TV 2.x
  * Browser version: Chromium, web engine: WebKit 538.2
  * Firebase SDK version: 9.0.1 (modular)
  * Firebase Product: auth, firestore
  * App framework: React-Js
  * Node version: 14.16.1

### [REQUIRED] Describe the problem

#### Steps to reproduce:

**With v8 these problems did not exist.** As you can see in

[2021-09-05 02:11] tuancaraballo commented on #2652
Running into the same issue. Have tried everything said here, except for switching to a different product :(

[2021-09-05 03:41] LyhourChhen opened #5446 "Expected type 'Tc2', but it was: an object"
### [REQUIRED] Describe your environment

  * Operating System version: macosx
  * Browser version: chrome
  * Firebase SDK version: 9.0.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem
Can't update the document's base on firebase firestore update documents.
[link](https://firebase.google.com/docs/firestore/manage-data/add-data#update-data)
#### Steps to reproduce:

#### Rele

[2021-09-05 08:00] mattpenner commented on #4110
I tried this work around but it does not seem to be working for me. While functions and firestore are corretly using the emulator auth is still hitting the cloud.

Also, I had two issues with the code throwing compiling errors:
1. firebase.default.initializeApp gave the error "Property 'default' does not exist on type 'typeof firebase'.ts". I had to use firebase.initializeApp
2. import 'firebase-i

[2021-09-05 08:13] selcukbeyhan opened #5447 "v9.0.1 - Compilation error: "Expression expected""
Hello,

I use ionic with Angular in following configuration:
ionic info

Ionic:

   Ionic CLI                     : 6.17.1 (/usr/local/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 5.7.0
   @angular-devkit/build-angular : 0.901.15
   @angular-devkit/schematics    : 12.2.4
   @angular/cli                  : 9.1.15
   @ionic/angular-toolkit        : 4.0.0

Capacitor:

[2021-09-05 12:44] Kubaguette opened #5448 "Firebase Firestore enablePersistence() throws error. Memory-only build of Firestore??"
Operating System version: "react-native": "~0.63.4"
Firebase SDK version: 8.2.3
Firebase Product: firestore

Problem occurs when I want to enable persistence for my firestore querries. I have a chat app and without persistence I will have an insane data consuming application so this is crucial. I cant find the same error somewhere else, thats why I post it here. The error message states:

Steps to

[2021-09-05 16:08] jamesdaniels commented on #5447
Your AngularFire and Typescript versions are too low to work with the new version of  Firebase.

[2021-09-05 16:08] #5447 closed

[2021-09-05 20:12] Macacoazul01 opened #6233 "Auth - OauthProvider "continue to the app""
### Feature proposal
* Firebase Component: Auth

Opening this issue to request the removal of the "Continue to the app" screen that appears before the provider when using
`OAuthProvider(providerID: "provider")`

(or at least adding the possibility to make it optional)

Sample when executing with twitter:
![continue](https://user-images.githubusercontent.com/57464965/132139874-3a6d3e49-a65b-4cb0-a3

[2021-09-06 05:15] SGokulakrishnan commented on #2243
Hi I have impleted  the electron-firebase npm & configurations in my electron app .. While deploying the rules to firebase , it is asking the Cloud functions Admin role ... But I have already assigned the role to the corresponding service account

[2021-09-06 14:28] billygerhard commented on #5433
This is required if you have a strict CSP. The CSP I have will not allow external JS files to be loaded, or anything similar to `eval` so the long polling throws a CSP error and will not allow the page to load at all. I am forced to use `forceWebSockets()` on my current app on v8.

[2021-09-06 22:57] buu700 commented on #5433
Hmm, so based on a review of the code, I see that `webSocketOnly` is actually set to true if a scheme of `ws` or `wss` is used. This has been the behavior for a pretty long time, but I ended up using `firebase.database.INTERNAL.forceWebSockets()` back in November as a workaround for a regression that caused the behavior you described. If that has been fixed in this release, it may not be a hard bl

[2021-09-07 09:17] Obiwarn opened #5451 "Bug still exists: Stop using const enums in the public API #5012"
I installed firebase 9.0.1.

I use Vite.

On build I still get these errors in node_modules/@firebase/auth/dist/auth-public.d.ts:704:6 which should have been fixed by #5012

[code]

Am I missing something?

[2021-09-07 11:05] klausbreyer commented on #5402
This occurs for me since 9.0.0 beta 3. I stayed at beta 2 until now.
But I learned through this github issue, that it is caused by the auth.

But today upgraded  my code and introduced a timeout, to make sure that the auth is resolved, before I am calling getDoc. Without changing anything else, it works again!

[2021-09-07 15:21] #5420 closed

[2021-09-07 15:45] sam-gc commented on #5443
Hi @RaheutRahwana, thanks for filing this. I tried reproducing this issue, but the code works for me. The assert that's failing in your case (thanks for the stack trace!) appears to be this one:
https://github.com/firebase/firebase-js-sdk/blob/10c7b49489a517164dd77de41e11f82776db2562/packages/auth/src/platform_browser/recaptcha/recaptcha_verifier.ts#L206-L210

There may be something else going on

[2021-09-07 16:55] jbalidiong commented on #5441
Thanks for reporting this @LanderBeeuwsaert. We'll investigate this shortly.

[2021-09-07 17:52] schmidt-sebastian commented on #5384
@ByronBos Thank you. I am able to reproduce the issue using your example.

[2021-09-07 18:17] hsubox76 commented on #5441
Please let me know if I'm misunderstanding, but is it possible to use `import { Timestamp } from 'firebase/firestore'` or is that not an option for your use case?

[2021-09-07 18:33] hsubox76 commented on #5448
First, FYI, we are currently on version 9+ of Firebase so any future bug fixes will require an upgrade.

Secondly, even in your current version 8 app, you seem to be using the all-in-one bundle, which is not recommended for production use. Does it help if you import individual packages as recommended? For example, replace your import line with:

[code]

If not, the next step is to upgrade to v9 ([

[2021-09-07 18:40] hsubox76 commented on #5444
Can you share the relevant lines from your code? Which Auth and Firestore methods are you calling?

[2021-09-07 19:37] schmidt-sebastian commented on #5384
Some random notes while I am still trying to figure this out:

[code]
. Both functions call `_getProvider()` at first. `initializeFirestore` does this using `r(e, "firestore")` (where `r` is not defined) and `getFirestore` calls `Object(d.b)(e, "firestore")`.

This seems to be a problem with Webpack that we are triggering somehow.

[2021-09-07 20:00] LanderBeeuwsaert commented on #5441
Good idea, however when I do this:
![image](https://user-images.githubusercontent.com/1098243/132403178-5faf0deb-0b09-48de-82d5-c9a9a5ba3d93.png)
(using the client firestore timestamp together with the admin firestore)

I get:
![image](https://user-images.githubusercontent.com/1098243/132403258-63da6703-28e2-44de-8f09-75cf0e011d39.png)

so If I then try:
![image](https://user-images.githubusercont

[2021-09-07 20:05] jordanlee-dev commented on #5444
I just made a very simple example with auth. Unfortunately same problem again. As you can see in the picture, it gives an infinite rejection error. It receives the auth information, that is, it provides the connection, but there are errors. As you can see I didn't use Firestore.
No errors in Windows10. Only webos gives an error.

The relevant codes are below

![firebasesimple_auth](https://user-im

[2021-09-07 21:22] hsubox76 commented on #5441
From https://github.com/firebase/firebase-js-sdk/issues/4129

See the link for more info and possible future plans.

[2021-09-07 21:39] schmidt-sebastian commented on #5384
@hsubox76 was able to figure out what is going on here. The Babel configuration that is used here transpiles our code from ES6 to ES5, which turns `let` to `var` somewhere in this function:

[code]

You can work around this by using our esm5 source file directly (index.esm5.js) or by re-configuring your Babel configuration to use ES6 as its output format.

We will figure out what the next steps ar

[2021-09-07 23:05] hsubox76 commented on #5384
@ByronBos I will try to file an issue with Babel or Create React App and I would like to use your minimal repro, is that okay? If so, let me know and don't delete or modify it. Thanks!

[2021-09-07 23:55] ByronBos commented on #5384
@hsubox76 Yeah not a problem at all! Glad it's useful.

[2021-09-08 03:12] RaheutRahwana commented on #5443
Hi @sam-gc, thanks for the reply.

I can confirm that there are no other nodes under that DOM.

After doing some re-investigation, I found that this happened because the `const recaptchaVerifier` variable was declared inside the `onAuthStateChanged()` function. After I moved it out, no more errors were thrown. Everything worked as expected.

This code is the embodiment of sdk version 8 to version

[2021-09-08 04:21] rendomnet opened #5456 "Package path . is not exported from package"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Electron 13
  * Firebase SDK version: "9.0.1"
  * Firebase Product: firebase js

### [REQUIRED] Describe the problem

I'm trying to add firebase to react-electron-boilerplate and after adding  "firebase": "9.0.1" to my package.json and running yarn.
I have this error.

[code]

If I delete  "fire

[2021-09-08 07:20] VincentCtr commented on #5430
@sam-gc :
We have a react application and the behaviour of the react-router is linked to the `verifyEmail` status.
When `onAuthStateChanged` callback is fired with a false value for `verifyEmail` user will be redirected to a page that display "Please, verify your email".

I can see that a lot of users have the issue by looking to our google analytics, here is the number of page view for the page "

[2021-09-08 13:00] sceee opened #5457 "@firebase/rules-unit-testing v2, equivalent to `firebase.initializeAdminApp(...)` is missing?"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: N/A
  * Firebase SDK version: `"@firebase/rules-unit-testing": "^2.0.0",`
  * Firebase Product: firestore (rules)

### [REQUIRED] Describe the problem
After updating to `@firebase/rules-unit-testing` v2, some methods for initialization changed.
Since the documentation [here](https://firebase.goo

[2021-09-08 13:22] laurentpayot commented on #5457
@sceee  There is a discussion there https://github.com/firebase/firebase-js-sdk/discussions/4715#discussioncomment-1262395

[2021-09-08 13:35] jbalidiong commented on #5446
Hi @LyhourChhen, thanks for reporting this issue. I tried replicating and I wasn't able to reproduce the same behavior. I've used the same version and used an object as a holder of data to pass in the `updateDoc()` method and I was able to update the document in Firestore. If I can replicate the issue, I can have a better look into it. Please share a minimal, but complete sample of a project that

[2021-09-08 14:41] #5431 closed

[2021-09-08 17:38] sceee commented on #5457
@laurentpayot thanks for the pointer.

I saw it in [this example](https://github.com/firebase/quickstart-testing/pull/209/files) mentioned in this discussion to do it this way:
[code]

I will try if that works, thanks!

[2021-09-08 17:38] #5457 closed

[2021-09-08 18:13] Feiyang1 commented on #5456
How do you import firebase? Note that `firebase` is not a valid import in v9, you need to import from sub modules like `firebase/app` , `firebase/auth`, etc.

[2021-09-08 21:31] #5402 closed

[2021-09-08 22:44] #5451 closed

[2021-09-08 23:14] alexdanieldm commented on #1847
Hi @hsubox76, i want reach out to have confirmation on this
[code]
being NOW THE OFFICIAL SOLUTION of Firebase on React Native for the AsyncStorage warnings

[2021-09-09 01:02] #5201 closed

[2021-09-09 01:05] #5384 closed

[2021-09-09 03:26] rendomnet commented on #5456
@Feiyang1 it happens on the stage of installing firebase. 'yarn add firebase'. there is no imports added yet.

[2021-09-09 04:21] jthegedus commented on #5456
Vite.js started reporting these types of warnings recently as well:

- SvelteKit users seeing this from the internal Vite server: https://github.com/sveltejs/kit/issues/2384
- Vite.js code that silenced some of these warnings: https://github.com/vitejs/vite/pull/4873
- Vite.js package resolution errors being bubbled up: https://github.com/vitejs/vite/pull/4822

So yarn and Vite have started showin

[2021-09-09 06:30] sceee opened #5462 "@firebase/rules-unit-testing v2: `FirebaseError: Function DocumentReference.set() called with invalid data.` occurs when trying to save Timestamp from `firebase-admin/firestore` using `withSecurityRulesDisabled(..)`"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: N/A
  * Firebase SDK version:
  * * `firebase`: 9.0.1
  * * `firebase-admin`: 9.100.0-alpha.1
  * * `@firebase/rules-unit-testing`: 2.0.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem
In a rules test, when using `withSecurityRulesDisabled` to execute setup steps in Firesto

[2021-09-09 10:52] gpfister opened #5463 "FR: Disable also console message: WARNING: You are using the Auth Emulator, which is intended for local testing only. Do not use with production credentials."
### Describe your environment

  * Operating System version: Ubuntu 20.04.3 LTS
  * Browser version: Not run in browser
  * Firebase SDK version: 9.0.1
  * Firebase Product: auth

### Describe the problem

Would it be possible to also disable the console warning when the {disableWarning: true} option is set ? This is polluting the logs in some cases (for example when using the emulator to unit tes

[2021-09-09 11:25] devj3ns opened #5464 "Cannot create an app with the same name as a previously deleted app"
This issue is related to this flutter-fire issue: https://github.com/FirebaseExtended/flutterfire/issues/4454.

I wanted to create a new user without getting logged out from my current account. Unfortuantely I got the following error when trying to delete the created second app again (which I used to create the new user):

[code]

On android it worked fine.

---

As @russellwheatley said in the is

[2021-09-09 12:50] YouZag commented on #3356
I'm confused - is this not a problem for everyone?

[2021-09-09 14:14] floriaaan opened #5465 "FR: addDoc when precising the document id should setDoc instead of throwing an error"
* Operating System version: Windows 11 (dev channel)
  * Browser version: Chrome 93
  * Firebase SDK version: v9
  * Firebase Product: auth, storage, firestore, cloud functions, hosting

#### Steps to reproduce:

When you put a addDoc with even segments, it automatically puts another segment that bring Firestore to fail the document creation.

#### Relevant Code:

[code]

To fix, just simply chang

[2021-09-09 14:17] Lalit64 opened #5466 "createUserWithEmailAndPassword does nothing."
Hello Firebase Team. I have bumped into an issue when trying to use Firebase and Svelte-Kit. Whenever I try the "createUserWithEmailAndPassword" method it ends up doing nothing. Please help me out.

[2021-09-09 16:13] sam-gc commented on #5443
Hmm, it should also fail in v9, though it's possible there is some small behavioral deviation. The fix makes sense: you're associating a single `div` with a single `RecaptchaVerifier`. I'm going to go ahead and close this out for now, but feel free to reopen if the issue reappears.

[2021-09-09 16:13] #5443 closed

[2021-09-09 16:49] sam-gc commented on #5466
Hi @Lalit64, could you provide some more info about the issue? Specifically:
 1. What browser are you seeing this on?
 2. What version of the SDK are you using?
 3. A small snippet of code demonstrating the problem (i.e. how are you calling `createUserWithEmailAndPassword()`?)

[2021-09-09 16:52] sam-gc commented on #5463
This is a duplicate of https://github.com/firebase/firebase-js-sdk/issues/5297. For the time being we will not remove the `console.info` message for security reasons. See my response in the other issue: https://github.com/firebase/firebase-js-sdk/issues/5297#issuecomment-900436252.

One possible solution would be to stub out `console.info()` in your unit tests.

[2021-09-09 16:52] #5463 closed

[2021-09-09 17:02] schmidt-sebastian commented on #5436
Can you try to see if this has in fact been fixed by https://github.com/firebase/firebase-js-sdk/pull/5434? You can try by installing `firebase@next`.

[2021-09-09 18:10] sam-gc commented on #5404
Hi @maucaro, Firebase UI will interface with whichever Auth instance you give it. From the other issue you linked (https://github.com/firebase/snippets-web/issues/235), it sounds like you're setting session persistence in the DOM context (i.e. where Firebase UI is running) and then that value is not propagating to the worker. This is intended behavior---by setting session persistence in the DOM co

[2021-09-09 18:16] gpfister commented on #5463
Thanks for the feedback. It is quite critical that users realize there are using a non production version of the app, however this doesn't really achieve it: only people looking at the console would see it, and if someone really want to get by, he/she could patch your code to get rid of the warning.

In the end, this is poluting the console with messages that are not concerns in certain context, b

[2021-09-09 18:58] Feiyang1 commented on #5464
Interesting. And you are able to do so on Android and iOS?
As a workaround, you may keep a counter, or use a timestamp to append to the app name for the next app you are creating. This is definitely a valid use case where we can make it easier for you by allowing recreating a deleted app. I will take it to team and see if there is any concern.

Also, the example you gave doesn't manifest the issue

[2021-09-09 19:15] theryan722 commented on #5436
Jus tried it, the issue is still there for me :( None of the other workarounds worked either, such as the user who suggested adding a delay after the auth or using long polling. Could it be an issue with the firestore emulator? Everything works fine with I don't use the emulator.

[2021-09-10 01:27] bvanneerven opened #5475 "[v9.0.2 auth] INTERNAL ASSERTION FAILED: Expected a class definition"
In an effort to reduce the dependencies of the authentication code I use, I tried the following:

[code]

<details>
  <summary>Error output</summary>

[code]
</details>
<details>
  <summary>package.json</summary>

[code]
</details>

The problem seems to be here:
https://github.com/firebase/firebase-js-sdk/blob/cdada6c68f9740d13dd6674bcb658e28e68253b6/packages/auth/src/core/util/instantiator.ts#L34

[2021-09-10 07:18] arneesh commented on #5475
I am experiencing the same issue.

[2021-09-10 12:08] jbalidiong commented on #5475
Hi @bvanneerven, thanks for reporting this. I followed the steps and both codes for Auth is working. I was able to run the app by using this snippet:

[code]

Let me know if you're still experiencing the issue.

[2021-09-10 13:42] devj3ns commented on #5464
Hey, yeah, on Android and iOS it is working.

I have not written the code above and not tested on native web with `firebase-js-sdk`. Only with flutter web. You can see the code I used [here](https://github.com/FirebaseExtended/flutterfire/issues/4454#issuecomment-755280822). What I am doing there is the following:

1. Create a second instance
2. Create the new account in that instance
3. Delete th

[2021-09-10 14:15] wu-hui commented on #5465
addDoc: https://firebase.google.com/docs/reference/js/firestore_.md#adddoc
setDoc: https://firebase.google.com/docs/reference/js/firestore_.md#setdoc

Please note that they are expecting different type of arguments. `addDoc` expects a `CollectionReference` and creates a new document with random ID with the given content,  while `setDoc` expects a `DocumentReference`, and does an replace to that do

[2021-09-10 14:15] #5465 closed

[2021-09-10 15:27] wu-hui commented on #5462
This is duplicate of https://github.com/firebase/firebase-js-sdk/issues/4129

Unfortunately, the `Timestamp` from admin cannot be used by the Firestore SDK. I have not yet been able to find cycles to address this. You would need to use `Timestamp` from Firestore to store the value in a document, sorry for the inconvenience.

[2021-09-10 15:36] sceee commented on #5462
Thanks for the answer. Puh, that's bad as the `Timestamp` from admin is from the production code, so it cannot be changed to the `Timestamp` from Firestore-js-sdk (as that's not part of the production dependencies).

So unfortunately, this makes it impossible to update to @firebase/rules-unit-testing v2 at the moment as far as I see.

[2021-09-10 16:06] arneesh commented on #5475
@jbalidiong are you using client-side rendering?

[2021-09-10 17:41] yuchenshi commented on #5462
@sceee Thanks for bringing this up. Just want to let you know that Admin SDK code can [directly connect to the Firestore emulator](https://firebase.google.com/docs/emulator-suite/connect_firestore#admin_sdks) and there is no need for `withSecurityRulesDisabled`. After pre-populating has finished, you may then use `@firebase/rules-unit-testing` separately for testing security rules. (If you don't n

[2021-09-10 17:41] #5462 closed

[2021-09-10 19:14] jordanlee-dev commented on #5444
When connecting as follows, with initializeAuth and persistence it gives a promise rejection error only once, but this time it says internet problem...

and

**Failed to get document because the client is offline**

I think it's a browser issue

[code]

![FirebaseErrorNew](https://user-images.githubusercontent.com/80259148/132904900-56aad98f-8fd7-44fd-8bcf-00520485b9ec.png)

[2021-09-10 22:35] devfmartell opened #5480 "FACTOR_ID static string returning "undefined" for PhoneMultifactorGenerator"
After we upgraded from V8 to V9 our MFA was not working anymore.
We were using that static string (FACTOR_ID in the PhoneMultifactorGenerator) to do a check on the factorId property in the resolver's hint for MFA. Now the value of FACTOR_ID is undefined instead of "phone". Sample code below.

We are only allowing phone as a second factor, which is why this check is there. For now we hardcoded this

[2021-09-11 03:31] kisonay opened #5481 "v9 Firebase Authentication session not persisting in localstorage"
### Describe your environment

  * Operating System version: Mac OS 11.5.2
  * Browser version: All Latest Versions
  * Firebase SDK version: v9.0.2
  * Firebase Product: Authentication

### Describe the problem
I've decided to upgrade my application from v8 to v9, in v8 everything was working as expected but in v9 I am having issues with authentication persisting.

When I log in initially, I see

[2021-09-11 08:22] Xstyler85 commented on #3817
I have the same problem

[2021-09-11 13:28] kisonay commented on #5481
To add... I experience the same behavior using the old auth methods with firebase/compat and v9

[2021-09-11 13:35] ElbinBinil opened #5482 "firebase.apps.length its undefined"
### Environment

  * Operating System version:  Windows 11
  * Browser version: Chrome
  * Firebase SDK version: 9.0.2
  * Firebase Product: database

### firebase.apps.length its undefined

#### Issue:
I dont know what happened today morning i opened my code and it shows something like
app.firestore() is not a function
####  Code:

[code]

[2021-09-11 15:20] #5482 closed

[2021-09-11 15:56] maierson commented on #5398
@dconeybe any news on this one? Were you able to reproduce?

[2021-09-12 04:48] TurboTobias commented on #2510
In case anyone is looking for [setting region with functions](https://firebase.google.com/docs/reference/js/functions.md#getfunctions) + emulator in Firebase 9

[code]

[2021-09-12 10:58] archevis commented on #5475
Facing the same issue with Angular Universal SSR:

`@firebase/auth: Auth (9.0.0): INTERNAL ASSERTION FAILED: Expected a class definition`

All works fine in dev mode without SSR (that is, client-side rendering).

[2021-09-12 11:21] bvanneerven commented on #5475
I am currently using the following workaround.

[code]

[2021-09-12 12:47] rickstaa opened #5483 "Auth.onAuthStateChange incorrectly typed"
### Describe your environment

  * Operating System version: Ubuntu 20.04
  * Browser version: Chrome - Version 93.0.4577.63 (Official Build) (64-bit), Firefox - 92.0 (64-bit)
  * Firebase SDK version: 9.02
  * Firebase Product: auth

### Describe the problem

I run into problems when using the [onauthstatechanged](https://firebase.google.com/docs/reference/js/v8/firebase.auth.Auth#onauthstatechan

[2021-09-12 13:52] dconeybe commented on #5398
Ahh yes, my apologies. This bug is almost certainly a duplicate of #5402, which was fixed by #5434. The fix is included in release 9.0.2 ([link](https://firebase.google.com/support/release-notes/js#version_902_-_september_9_2021)).

I'm going to close this issue since I believe it to be fixed; however, please feel free to re-open if you disagree or find that the bug persists.

[2021-09-12 14:33] laurentpayot commented on #3817
I opened #2529 for the same reason. After a successful email verification,  even `updateCurrentUser()` call does not trigger `onAuthStateChanged`. I had to use `onIdTokenChanged` instead of `onAuthStateChanged`, and to use
 `firebase.auth().currentUser.getIdToken(true)` instead of `updateCurrentUser()` to "manually" trigger the event.

[2021-09-13 09:57] fuelkoy commented on #5402
Is this issue resolved yet as I'm facing it still occuring with firebase@9.0.2.
The issue was still not in firebase@9.0.0-beta.7 but it occured first in firebase@9.0.0 and has been in all version after that as far as I have tested.

[2021-09-13 10:20] jbalidiong commented on #5475
@bvanneerven, I'll try and replicate this by following the additional information provided by @arneesh and @archevis. If I can replicate the issue, I can have a better look into it.

[2021-09-13 10:23] arneesh commented on #5475
For the time being, I am using @bvanneerven 's workaround.

[2021-09-13 13:29] maierson commented on #5398
@dconeybe Thank you for answering. I can confirm that `getDoc` is resolved with 9.0.2. However collection queries still have this problem. Specifically this type of query:
[code]
This query works when importing from `firebase/firestore/lite` but  hangs in lighthouse when using `firebase/firestore`. Seems that #5434  only resolved for `getDoc` but not `getDocs`. Thoughts?

[2021-09-13 13:32] maierson commented on #5398
Btw I can't reopen this issue once you've closed it. Can you please reopen it?

[2021-09-13 15:00] archevis commented on #5475
Just for the record, I'm using @anguar/fire

Let me know if there is anything I can do to help.

[2021-09-13 15:09] dconeybe commented on #5398
Reopening since `getDocs()` seems to be affected by the same issue and needs to be fixed.

[2021-09-13 15:21] jbalidiong commented on #5475
Unfortunately, I still wasn’t able to replicate the issue when running using the production mode. Please share a minimal, but complete sample of a project that I can run locally.

[2021-09-13 16:26] schmidt-sebastian commented on #5398
@maierson Can you share your debug logs? I am not able to reproduce the described behavior with either `getDoc` or `getDocs` even when using your repro:

getDoc:
[code]

'getDocs' shows similar logs for me.

[2021-09-13 16:53] sam-gc commented on #5483
Hi @rickstaa, thanks for reaching out. In this case this is expected behavior: `UserImpl` is an internal type that the SDK uses; it contains some fields (like `accessToken`) which are private implementation details. In this case, you can get the token by simply calling [`user.getIdToken()`](https://firebase.google.com/docs/reference/js/v8/firebase.User#getidtoken), which returns a promise that res

[2021-09-13 16:53] #5483 closed

[2021-09-13 17:10] maierson commented on #5398
@schmidt-sebastian I have no meaningful logs because this is in production mode on netlify. Some pointers: `get doc` seems to have been solved in 9.0.2, it's only `getDocs` that hangs Lighthouse for me in the same exact way that `getDoc` used to. One thing to look into the repro is this `firebase-client` file: https://github.com/maierson/fbselght/blob/main/apps/test/util/firebase-client.ts
When I

[2021-09-13 17:12] rickstaa commented on #5483
@sam-gc Thanks a lot for the explanation! I think I now better understand the codebase.

[2021-09-13 17:15] sam-gc commented on #5480
Thanks for pointing this out! We are working on a fix

[2021-09-13 19:12] schmidt-sebastian commented on #5436
I am not able to reproduce even with the Emulator. It would really help if you shared the Console logs that you can obtain by calling `setLogLevel('true')`.

[2021-09-13 19:47] theryan722 commented on #5436
Nothing logs to the console even with `setLogLevel('true')` or `setLogLevel('verbose')`. The firestore functions `setDoc()`, `updateDoc()`, `addDoc()`, `deleteDoc()` just simply to not resolve/return/reject at all, but they do affect the database (e.g. the data IS being added/updated/deleted).

I've tested now with firebase version 9.0.2, and across macOS and Windows.

<img width="550" alt="Screen

[2021-09-13 20:33] schmidt-sebastian commented on #5436
Oh sorry. It should be `setLogLevel('debug')`.

[2021-09-13 20:37] schmidt-sebastian commented on #5398
I see the same behavior for getDoc/getDocs (when I filter for a single doc in getDoc). Lighthouse passes for me, but it is a bit slow. When I open the console logs for Lighthouse I see that the documents are fetched right away, but Lighthouse continues its measurement.

I am not able to make much progress here. If you think it might be worthwhile to talk this over, shoot me an email to mschmidt(at

[2021-09-13 20:55] theryan722 commented on #5436
Gotcha, I set both firebase and firestore log levels to debug. I have attached the resulting file of a fresh page load, with testing of setDoc() and some others.
[theryan722-console-logs.log](https://github.com/firebase/firebase-js-sdk/files/7157310/theryan722-console-logs.log)

[2021-09-13 21:21] AadamZ5 commented on #4291
I just ran into OP's issue as well. @arcticmatt, what were the steps you took to resolve this issue, or was it a random success?

Seems frustrating that there is no way to update the `webConfig` object that gets passed to the front end. I can see in the network inspector that it is sending the old measurement ID, and I'm getting the same error in the console. Additionally, using the archaic [Googl

[2021-09-13 21:37] DaveWillie commented on #4256
I found a solution guys, just follow the exact steps...

https://stackoverflow.com/questions/65490555/this-request-is-missing-a-valid-app-identifier-meaning-that-neither-safetynet-c

[2021-09-13 21:49] schmidt-sebastian commented on #5436
Thank you for sending these logs. The SDKs seems to function normally, but we do not receive a response from the Emulator when we try to set the document. That caused the `setDoc` operation to hang.

Assigning this to firebase-tools.

[2021-09-13 21:50] ggirotto commented on #4256
This solutions doesn't make sense, since it's happening in iOS devices as well. It's not related with Android SHA keys.

[2021-09-13 22:01] theryan722 commented on #5436
Thank you @schmidt-sebastian !

[2021-09-13 22:45] sam-gc commented on #5481
Thanks @kisonay for the report. I will dig into it. In the mean time, you can likely mitigate this by initializing Auth manually with `browserLocalPeristence` and avoiding the call to `setPersistence` entirely. For example, instead of `getAuth()`, you would do:

[code]

[2021-09-13 22:50] maierson commented on #5398
Yes correct. That's what I see too: docs load quickly but Lighthouse completes quite a lot later with the  warning that the page  loaded too slowly to finish within the allotted time. If I use the lite version it completes right away.

It used to do that for `getDoc` before 9.0.2 but that was fixed. Now it only does it for `getDocs`. I'll update the repro to make sure there's nothing else affectin

[2021-09-13 22:54] kisonay commented on #5481
@sam-gc , thanks. Just tried initializedAuth as above and am still seeing the same behavior. Works great until the page reloads, then the localstorage key is cleared and all further communication is not authorized.

[2021-09-14 06:06] Feiyang1 commented on #5456
@rendomnet What is the version of yarn? I couldn't reproduce it with `1.22.11`.

As I mentioned above, The "."  export is deliberately not defined for the `firebase` package, because it's not a valid import path. Tooling should not throw an error just because "." export is not defined, which is a perfectly fine use case.

[2021-09-14 06:22] rendomnet commented on #5456
@Feiyang1 yarn version 1.22.10

[2021-09-14 07:30] DaveWillie commented on #4256
I haven't tested on iOS, but it works with Android, the main issue for me was not the SHA-1...what was really needed additionally is to go to the Google Cloud services and enable the api's for Android Device Verification

[2021-09-14 08:27] 1x2x3x4x commented on #5020
Any news?

[2021-09-14 08:35] russellwheatley commented on #5464
Hey @Feiyang1, this is reproducible on version `8.6.1` which Flutterfire uses (it's not possible to use version `>9.0.0` due to the nature of the imports used).  Presumably there will be no more releases for version 8?

[2021-09-14 13:58] wu-hui commented on #5448
@Kubaguette Are you still seeing the issue?

[2021-09-14 14:06] jbalidiong commented on #5430
I tried following you the same code as you've provided and still I'm not experiencing the same behavior.

<img width="624" alt="Screen Shot 2021-09-14 at 8 46 44 PM" src="https://user-images.githubusercontent.com/88189393/133272288-27b277e7-5213-411b-b67c-2e473ac8ecda.png">

[2021-09-14 14:16] VincentCtr commented on #5430
Hi @jbalidiong
Thank you for your time and sorry that you were not able to reproduce. I would understand if you close this issue. I will post a reproductible exemple if I manage to do it.
In the meantime we are trying to remove the compat library and we hope that it will fix this issue.

[2021-09-14 14:21] Kubaguette commented on #5448
Yes but I overcame this problem by using Async-Storage and coding my own persistence-system so I do not rely anymore on the firestore persistence.

Still, the issue technicaly remains.

[2021-09-14 14:24] jbalidiong commented on #5430
I'll be closing this for now. If you're still experiencing the issue, feel free to reopen this and provide the MCVE to help me investigate.

[2021-09-14 15:21] kisonay commented on #5481
I just tried to update my example repo with this change and it is actually working as expected.

Within my actual app I am seeing the same behavior of the session being cleared from local storage. Aside from a handful of dependencies and the fact that the other project is TypeScript, I'm not sure why they would be behaving differently.

Would a TypeScript implementation make a difference?

[2021-09-14 15:58] harry-herskowitz opened #5491 "Firebase: Error (auth/popup-closed-by-user) in Firefox v92.0"
When using signInWithPopUp for Google login, I am receiving this error:
`Firebase: Error (auth/popup-closed-by-user).`
Sign in works perfectly in Chrome.

[2021-09-14 16:27] hsubox76 commented on #5456
It looks like it's not actually a yarn install issue, it's something specific to the `electron-react-boilerplate` project (you said react-electron-boilerplate, but I'm guessing it's the same one or a very similar one). That project has a postinstall step that runs after yarn, which attempts to build the bundle with webpack. The "dll renderer" in the error messages (that's the name of the webpack c

[2021-09-14 16:40] peterbe opened #5492 "Firebase v9 breaks nodent with "bad" switch-case"
### [REQUIRED] Describe your environment

  * Operating System version: macOS 11.5
  * Browser version: n/a
  * Firebase SDK version: 9.0.2
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

I'm using [`preact-cli`](https://github.com/preactjs/preact-cli) which uses Babel to transform the compiled TypeScript to ES2015. Today, I decided to upgrade from Firebase v8 to v9. And now

[2021-09-14 16:41] hsubox76 commented on #4291
It sounds like in his case there was just a delay in updating.

Setting the measurement ID from the local config is only used as a backup if the dynamic config cannot be fetched. The dynamic config is intended to be the main source of truth. The reasoning behind this decision was that the Firebase project's measurement ID may change due to moving streams, or linking and unlinking them, and that so

[2021-09-14 16:43] peterbe commented on #5492
I think this is the source file: https://github.com/firebase/firebase-js-sdk/blob/5f8b16808e147910c115b52f00b7c4953e252754/packages/firestore/src/core/sync_engine_impl.ts#L1435-L1449

[2021-09-14 16:57] peterbe commented on #5492
I'd be happy to help but I don't quite understand how the build system works when it generates the `dist/index.esm2017.js` but I think we need to tell it to not put a block around the two `await`s.

[2021-09-14 17:46] AadamZ5 commented on #4291
@hsubox76

The `webConfig` endpoint seems to be sending the updated measurement ID now, but I'm not sure of exactly when that changed. I obsessively checked until about an hour and a half after I changed it, so I guess we'd assume the update happened sometime within 1.5 to 20 hrs. after the relinking. I did unlink and relink multiple times, and it now has updated to the correct one even after the

[2021-09-14 18:02] yuchenshi commented on #5436
@theryan722 Would you mind grabbing the logs from the Firestore Emulator? It should be in `firestore-debug.log` in the directory where you started `firebase emulators:start`, e.g. your project directory. (Not to be confused with any console logs in your app.)

[2021-09-14 18:25] Feiyang1 commented on #5492
I'm pretty sure it's a tooling issue with Babel, which translated async/await(in bracket) to ES2015 incorrectly. Are you able to change the target to `ES2017`, and see if you still get the same error?

[2021-09-14 18:30] Feiyang1 commented on #5464
@russellwheatley Correct. You can use the v9 compat packages if you are stuck in the old API:
[code]

[2021-09-14 18:38] peterbe commented on #5492
Yes, I can change `tsconfig.json` to target `ES2017` but it's still producing the same error.

[2021-09-14 18:48] theryan722 commented on #5436
Hey @yuchenshi Here is the log file:
[firebase-debug.log](https://github.com/firebase/firebase-js-sdk/files/7164409/firebase-debug.log)

[2021-09-14 19:21] yuchenshi commented on #5436
`java.lang.IllegalArgumentException: Invalid pattern. Reason: [112:<eof>] Expected '}' at end of capture expression.`

The logs indicate some issues related to function triggers -- please double check the match expressions in your triggers (e.g. `onCreate`) to make sure the curly braces are correctly closed. Please also check the security rules just in case. Let us know what match expression trigg

[2021-09-14 20:20] Feiyang1 commented on #5492
You mentioned that `Babel` is used to transpile to ES2015. I meant if you can change the `Babel` config to target ES2017, or just disable Babel transpilation?

[2021-09-14 20:25] theryan722 commented on #5436
Hey, so I corrected the bracket, but was still having issues. I then also upgraded from 9.0.2-2021891633 to the 9.0.2, and it worked with the corrected brackets in the expressions.

Thank you so much! This was driving me crazy,

[2021-09-14 20:25] #5436 closed

[2021-09-14 20:56] archevis commented on #5475
https://github.com/archevis/firebase-issue-5475

I've done some more investigating, and from what I've found it looks like the errors are linked to Analytics. But as menioned, I'm using @angular/fire and the problem may reside here for all I know.

In order to test the example project:

1. add a proper web app Firebase config to both files in `src/environments/`
2. run `npm run start` from the pro

[2021-09-14 22:14] kisonay commented on #5481
I tried to update my example repo with this change and it is actually working as expected.

After a lot of digging within my app, I determined that this occurs when the signOut module is loaded (it does not need to be called, just exported)

[code]

I added a new branch with the above code replicating the issue.

https://github.com/kisonay/firebase-auth-example/tree/initilize-auth

Additionally, i

[2021-09-14 22:29] hirashuriken commented on #3356
I have the same problem for web app. Does someone know how to fix it? It looks like a critical issue!

[2021-09-15 00:14] hsubox76 commented on #5481
In the first line you've actually called `signOut()` and you're assigning the result of that call to `firebaseSignOut`. In the second line you've created a function that calls `signOut()`, which I believe is what you want.

[2021-09-15 07:43] fernandolucchesi commented on #4256
Having this problem on iOS with safari when using webview. I can replicate this by accessing the login page/trying to login from a link in the slack app - might help debugging. Using `signInWithRedirect` instead of `signInWithPopup` didn't change anything.

[2021-09-15 08:10] #5466 closed

[2021-09-15 09:01] VincentCtr commented on #5430
Hi @jbalidiong Good news, I found a way to reproduce the bug using the code above :

[code]

1. Be sure to not be connected and open 2 tabs of your application in chrome
2. Connect to your verified account in the first tab
3. Have a look to the log in on the the second tab : you will see that the the ```onAuthStateChanged``` function is fired and the value for "verifiedEmail" is false.

[2021-09-15 11:33] jbalidiong commented on #5491
Hi @roldyclark, thanks for reporting this. I tried replicating this behavior on `compat` and modular auth with `firebase@9.0.0` but I wasn't able to encounter the same behavior. However, at first I encountered `auth/popup-blocked` because of the default setting of Firefox. After allowing the pop-up, I successfully signed-in. Here is a sample snippet for v9:

[code]

If you could provide me with a

[2021-09-15 11:38] roldyclark commented on #5491
Thanks for the response! Here's some code:
[code]
I'm using onAuthStateChanged instead of .then

[2021-09-15 13:51] jbalidiong commented on #5491
Thanks for the additional details. I forgot to add that I've also used the `onAuthStateChanged` and it's working as intended. I'll wait for your minimal, but complete sample of a project that I can run locally.

[2021-09-15 17:14] hsubox76 commented on #5475
The short answer is that `browserLocalPersistence` isn't available in Node, so we set that export to an error in the Node build. And SSR and test environment configs tend to  look at the `main` field in a dependency's package.json when importing that dependency, which usually points to the dependency's Node build, instead of the `browser` field, which points to the browser build.

If you console.l

[2021-09-15 19:54] roldyclark opened #5497 "signInWithCredential does not resolve in iOS"
I am using firesbase-js-sdk with [capacitor](https://capacitorjs.com/). In iOS, Calling signInWithCredential successfully creates or logs in a user in Firebase, but the promise does not resolve. In the following code, neither .then or .catch blocks run. The promise hangs indefinitely.
[code]
The promise is resolved as expected in the web app. I tested this on iOS 14.5 (iPhone 8, simulator) and iOS

[2021-09-15 20:07] solova commented on #5492
Looks like the problem is [fast-async](https://github.com/MatAtBread/fast-async) plugin.
I don't why `preact-cli` doesn't accept [PR ](https://github.com/preactjs/preact-cli/pull/1347)to remove this plugin. Now it´s not effective.
Also there are no answers here https://github.com/preactjs/preact-cli/issues/1591

The default babel-config for preact-cli uses `fast-async`.
Something like this

`{
  "

[2021-09-15 20:26] GorvGoyl commented on #3004
@avolkovi could you confirm if we updating the custom domain of cookie will fix the auth flow with 3rd party cookie disabled? even if project is not using firebase hosting? Just want to make sure before investing time in custom domain implementation.

[2021-09-15 20:36] avolkovi commented on #3004
@sam-gc can you provide our latest guidance?

[2021-09-15 21:07] sam-gc commented on #3004
@GorvGoyl we don't actually use cookies, it's just that the machinery that blocks third-party cookies in incognito also prevents certain features that we do make use of. What fix are you specifically looking at? Incognito mode should now work for `signInWithPopup`.

[2021-09-15 21:30] mhofman opened #5498 "Proactive refresh not started if auth after database repo start"
### Describe your environment

  * Operating System version: Linux 62afaeb9d86d 5.10.16.3-microsoft-standard-WSL2
  * Browser version: Node 14.16.1
  * Firebase SDK version: 9.0.2
  * Firebase Product: auth + database

### Describe the problem

#### Steps to reproduce:
When authenticating an app for the first time after the db repo was started, the proactive refresh of the auth token is not starte

[2021-09-15 21:35] GorvGoyl commented on #3004
@sam-gc thanks for the clarification on cookies part. I was actually using `signInWithRedirect` (Firebase: ^8.9.1) which was causing issue auth issue. `signInWithPopup` is working fine in incognito mode.

[2021-09-15 21:36] kenkunz opened #5499 "Firebase v9.0.1 with Sveltekit node adapter – build failure"
### [REQUIRED] Describe your environment

  * Operating System version: macOS 11.5.2
  * Browser version: n/a
  * Firebase SDK version: 9.0.1 (and newer)
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

I am using Firebase (`auth` and `firestore`) in a Sveltekit project. It has been building and running successfully until I recently tried to upgrade. I was able to isolate the

[2021-09-15 22:18] schmidt-sebastian commented on #5492
@Feiyang1 - Let me know if you just want us to update the code.

[2021-09-15 22:47] mhofman commented on #5498
My current workaround is to call the private `user._startProactiveRefresh()` manually when the user first connects.

[2021-09-16 09:38] artursOs opened #5502 "Uncaught (in promise) FirebaseError: Remote Config: Error thrown when opening storage. Original error: A mutation operation was attempted on a database that did not allow mutations.. (remoteconfig/storage-open)."
**Describe your environment**
-   Operating System version: macOS 11.5.2
-   Browser: Firefox (private mode)
-   Firebase SDK version: 9.0.1 (and newer)
-   Firebase Product: firebase/remote-config

**Describe the problem**

In Firefox private mode and other browsers that don't support IndexDb.
Impossible to catch exception.

**example code**

[code]

**console output**

Uncaught (in promise) Fire

[2021-09-16 12:40] arneesh opened #5503 "Firestore Lite : TypeError: Cannot read property 'indexOf' of undefined"
### Error
I am getting the following error while using the new firebase web SDK in Vue 3 SSR.

[code]

The errors need to be a little bit more descriptive. Faced an issue a few days ago as well when the error that was thrown was very vague.

### Configs

- Firebase Version: 9.0.2
- App: Vue 3 SSR

#### Relevant Code:

[code]

[2021-09-16 13:00] foxted opened #5504 "Firebase SDK v9 - Client offline errors using tenant"
### [REQUIRED] Describe your environment

  * Operating System version: 11.5
  * Browser version: Chrome 93
  * Firebase SDK version: 9.0.2
  * Firebase Product: auth, firestore

### [REQUIRED] Describe the problem

#### Steps to reproduce:

When using auth with a tenantId, cannot access firestore, the following error gets thrown:

```FirebaseError: Failed to get document because the client is off

[2021-09-16 13:36] foxted commented on #5504
UPDATE: enabling `experimentalForceLongPolling` seems to solve the issue at least in compat mode.

[2021-09-16 13:51] wu-hui commented on #5448
OK, have you tried what @hsubox76 suggested though? Or that did not solve your problem?

[2021-09-16 14:07] Kubaguette commented on #5448
Yes, I tried to do the imports one by one and maybe resolve the problem that way but it did not help.

Im also staying on SDK8 because my project is now over 5000+ codelines long and I do not have any patience to update everything and restructure the code. Took me some days but I wrote my own persistence now.

Incase this would help future people, I can provide my approach and tell you how Ive don

[2021-09-16 14:09] looptheloop88 commented on #5504
Hi @foxted, we really appreciate the update. The `experimentalForceLongPolling` setting or option can be a workaround to network reliability issues due to incompatibility with certain proxies, antivirus software, etc.

This issue seems fixed, so I'll close it now.

[2021-09-16 14:09] #5504 closed

[2021-09-16 15:16] wu-hui commented on #5448
Feel free to write your approach here.

SDK8 requires you to specify @firebase/firestore or firebase-firestore.js, as the error message implied. It is OK to stay at that version for now, but just want to point out that our new features and bug fixes will be added to V9.

[2021-09-16 17:16] Feiyang1 commented on #5475
It would be nice if `browserLocalPersistence`(and other persistence implementations unsupported in Nodejs) can gracefully failover to `inMemoryPersistence` in Nodejs. It will make SSR much easier by making firebase code isomorphic in browser and node, which is the direction we'd like to go.

@sam-gc @jamesdaniels WDYT?

[2021-09-16 17:59] sam-gc commented on #5475
Seems reasonable to me. That's essentially what happens if you use `getAuth()` instead of `initializeAuth()` (it inits with in-memory). It's basically a no-op which is what we'd want

[2021-09-16 18:24] ivanvanderbyl commented on #4946
Any updates on this? We'd definitely like to disable it on mobile until it's _really_ needed.

[2021-09-16 18:35] sam-gc commented on #4946
Hi folks, it is indeed possible to delay loading that code until the sign in methods are called. The popup and redirect family of methods take an optional third parameter that is the `popupRedirectResolver`. For example, the signature for [`signInWithPopup()`](https://firebase.google.com/docs/reference/js/auth#signinwithpopup) is as follows:

[code]

So instead of using `getAuth()` (or `initialize

[2021-09-16 19:30] #5480 closed

[2021-09-16 19:44] rschristian commented on #5492
@solova The PR you refer to isn't in a finished state, that's why it was never merged in.

https://github.com/preactjs/preact-cli/issues/1591 now has a solution, though I believe you can simplify it down a fair bit.

[2021-09-16 20:58] sam-gc commented on #5498
Out of curiosity, it always works as expected if you don't call `goOffline()` first?

[2021-09-16 23:25] mhofman commented on #5498
In the small reproduction I made above, yes. I believe that's because in that case the repo connection is not started until after the user is authenticated, which exercises `user._startProactiveRefresh()` directly:

https://github.com/firebase/firebase-js-sdk/blob/dabda55f0163ead5c65013840a1108c339455a83/packages/auth/src/core/auth/auth_impl.ts#L458-L463

Unfortunately not doing `goOffline()` is n

[2021-09-17 02:33] luisfelipesd commented on #4291
I have the same issue now. Its been 10 hours and i still get the error what am I supposed to do?

[2021-09-17 10:12] schTi commented on #5430
We are experiencing the exact same issue, which is super annoying. As @VincentCtr said, it really looks like this happens, when having multiple tabs open at the same time. When having two tabs open, and logging into one, the `emailVerified` field is getting set to `false` after a few seconds, whereas it stays `true`, when having only one tab. Would be great, if you could investigate this further

[2021-09-17 13:03] roldyclark commented on #5497
getDocs() does not resolve either. It seems Firebase JS SDK is not working in iOS capacitor apps.

[2021-09-17 16:18] VladRDV opened #5510 "Storage: SDK V9, TypeError: Cannot read property 'path' of undefined"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS BigSur Version: 11.5.2
  * Browser version: Opera Version: 78.0.4093
  * Firebase SDK version: 9.0.2
  * Firebase Product:  storage

### [REQUIRED] Describe the problem
I am trying to migrate my webapp to Firebase SDK version 9
i am using auth, analytics and storage, auth and analytics work as expected, but when I am try

[2021-09-17 16:50] hsubox76 commented on #5510
In your first line you're assigning an anonymous function to `firebaseStorage` that is never called, and you're passing that uncalled function to `ref`.
Instead I think you want
[code]
And yes, app will be required.

[2021-09-17 16:51] #5510 closed

[2021-09-17 16:54] hsubox76 commented on #4291
It seemed to take about a day for the other two people that reported it, so let me know if it doesn't fix itself within a day. I'll try to talk to the team that handles dynamic config and see if I can get any clarity on if this is intended behavior. It'll be good if I can gather as much info as possible on roughly how long the delay seems to be.

[2021-09-17 16:55] roldyclark commented on #5019
@riderx what did you end up doing? Looks like I'll need to ditch firebase as well

[2021-09-17 17:09] hsubox76 commented on #5502
We had a PR to add an `isSupported()` check to remote config that was never merged (https://github.com/firebase/firebase-js-sdk/pull/3623). It's somewhat outdated now so I will update and have it reviewed again.

[2021-09-17 17:28] luisfelipesd commented on #4291
yeah it took a day. it is working now. thank you @hsubox76

[2021-09-17 17:28] jayordway commented on #5019
I have tried both firebase 8 & 9 now. The issue exists with capacitor 3 and iOS, I have not tested Android. I don't know the root cause yet, I am sure that in the worse case you could use your own api/server and do the firebase authentication there. I truly hope it is not something related to the WebKit.

[2021-09-17 17:31] roldyclark commented on #5019
@jayordway let's hope this gets resolved :/ I'm sure there's a lot of people stuck on this. Thank you for your insight.

[2021-09-17 17:54] sam-gc commented on #5430
Thanks everyone for the detailed feedback. I've been able to reproduce and this is definitely a bug. A fix is underway!

[2021-09-17 18:21] thebrianchen commented on #5503
@arneesh You are probably getting this error from passing in `undefined` values as path segments when creating collections of documents. Firestore's typings are provided in TS and guard against errors like these. We made the decision to remove validation code for types that would be guarded by TS in order to reduce the overall size of the package.

I'm going to mark this issue as closed, but feel

[2021-09-17 18:21] #5503 closed

[2021-09-17 21:12] jacob-buscher commented on #5430
@sam-gc  We're experiencing this issue as well, awesome to see a fix is on the way, thank you.

ETA on when it may be deployed to NPM? We may need to revert back to 8.

[2021-09-17 21:57] #5430 closed

[2021-09-17 22:03] sam-gc commented on #5430
@jacob-buscher the fix is now merged, so it should be in the next release

[2021-09-18 01:53] exKAZUu opened #5513 "`@firebase/rules-unit-testing` v2.0.0 does not provide `clearFirestoreData` function"
### [REQUIRED] Describe your environment

  * Operating System version: any
  * Browser version: any
  * Firebase SDK version: `"@firebase/rules-unit-testing": "2.0.0",`
  * Firebase Product: `firestore emulator`

### [REQUIRED] Describe the problem

#### Steps to reproduce:

We cannot compile the following TypeScript code which we can compile and execute with `@firebase/rules-unit-testing v1.3.10

[2021-09-18 08:59] VladRDV commented on #5510
My bad ...
Thank you :)

[2021-09-18 09:05] nicks258 commented on #3356
Any updates?

[2021-09-18 09:10] BUONJG commented on #4335
I experiment the same issue, is there a workaround?

[2021-09-19 08:41] Santoshah opened #5515 "TypeError: Cannot read property 'isSupported' of undefined Angular serve:ssr"
Just before this issue I had fixed `app.firestore of undefined` by adding

[code]
inside `angular.json` `server->options`.

But right after fixing that issue now I came up with

`RROR TypeError: Cannot read property 'isSupported' of undefined`

I run

`npm run build:ssr`
`npm run serve:ssr`

This when I get that error. `npm run build:ssr` works fine and when I run `npm run serve:ssr `it compiles s

[2021-09-19 16:42] SylvainAssemat opened #5516 "JS 9.0.2 - Notification Twice using onBackgroundMessage"
Hi

I'm in trouble testing the push event using the JS 9.0.2 (module) => via onBackgroundMessage in a service worker
I m aware that i dont have to send a **notification** in the payload so i just send  **data** (via postman) :
[code]

When i customize my notification using `self.registration.showNotification`, i have 2 notification displaying.

This one : (This site has been updated in the backgro

[2021-09-19 19:09] mikron123 opened #5517 "[firebase web] Firebase SDK randomly crashes Chrome while loading website"
I've created a platform which uses Firebase Analytics, Authentication and Firestore - The website crashes Chrome after a week or two randomly after running it perfectly fine.
It's happening in the authentication stage (not sure if cause directly by Firebase Auth though) - After the crash, if I'll try to load it again, it will keep on crashing Chrome, unless I'll clean the website's cookies in Chro

[2021-09-20 03:10] jeronimonunes commented on #5370
I tried this solution but I got a few errors from typescript:
1. auth-public.d.ts:614:22 - error TS2304: Cannot find name 'Window'.
2. auth-public.d.ts:616:25 - error TS2304: Cannot find name 'Window'.
3. auth-public.d.ts:2573:25 - error TS2304: Cannot find name 'HTMLElement'.
4. auth-public.d.ts:2643:32 - error TS2304: Cannot find name 'HTMLElement'.
I guess it will not be a problem at runtime bu

[2021-09-20 04:30] Santoshah commented on #5515
In `firebase.service.ts` file I wrap the `firebase.messaging.isSupported()` inside the `isPlatformBrowser` to detect if its loaded in the browser. With the below change
 its working fine for now.

[code]

[code]

[2021-09-20 05:17] #5515 closed

[2021-09-20 05:47] laurentpayot commented on #5513
@exKAZUu I think what you are looking for is [`RulesTestEnvironment.clearFirestore()`](https://firebase.google.com/docs/rules/unit-tests#rut-v2-specific-methods).

[2021-09-20 08:59] samaneh-kamalian commented on #1423
Is there any update for this issue?

[2021-09-20 14:46] sceee opened #5520 "@firebase/rules-unit-testing v2: `Null value error. for 'get'` when accessing `resource` in security rules"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: N/A
  * Firebase SDK version: 9
  * Firebase Product: firestore

### [REQUIRED] Describe the problem
After migrating to `@firebase/rules-unit-testing` v2, some tests fail that passed before using v1.

The issue seems to be lying down somewhere here in these rules:
[code]

After migrating to v2,

[2021-09-20 15:08] sceee commented on #5520
Well, my previous assumption was wrong, it seems that `resource` is empty for this request.

It probably has to do something with https://github.com/firebase/firebase-js-sdk/issues/5462 - as @yuchenshi mentioned over there, the admin SDK can directly connect to the emulator.

So I initialized an admin Firestore access using
[code]
and created the data using
[code]

Could it be, that the admin acce

[2021-09-20 15:16] jbalidiong commented on #5516
Hi @SylvainAssemat , thanks for the report. I was able to reproduce the behavior. Let me check what we can do for this issue or bring someone here that can provide more context about it. I’ll update this thread if I have any information to share.

[2021-09-20 16:26] sam-gc commented on #5370
@jeronimonunes yes please open a new issue (along with a small code sample :)

[2021-09-20 20:00] jahooma commented on #5165
This is affecting us. If the user sets Firefox set as their default browser, our PWA web app (actually a TWA android app) fails to receive any browser push notifications.

[2021-09-20 20:52] jahooma commented on #2364
Hi y'all,

We've had this problem (or related ones) for a long time. I think I finally got it all working today. This is how.

I believe Firebase messaging is just buggy when you try to register your own service worker instead of providing the firebase-messaging-sw.js file.

So the fix was to create that file and then reference at the end of my own `service-worker.js`:

`importScripts('firebase-me

[2021-09-20 23:33] hsubox76 commented on #4291
It looks like a 24 hour delay is standard. I'll try to find a way to add this to our documentation so no one else is taken by surprise.

[2021-09-21 00:20] harveylee opened #5523 "Listener added with onChildAdded is not fired when adding a new value in Realtime Database when using Vue"
vue: 3.2.10
firebase: 9.0.2

I have a database reference defined as a property of a reactive object in Vue 3.

e.g. something like:
[code]

On app start when `listen()` is first called, the list is properly populated. However, an item is added at `mypath`, the listener fails to fire and instead I get this error:

`Uncaught TypeError: newChildren.insert is not a function` at
https://github.com/fire

[2021-09-21 01:02] #5446 closed

[2021-09-21 01:24] inlined opened #5526 "RTDB should use JSON types instead of any"
### Describe your environment

  * Operating System version: N/A (type bug)
  * Browser version: N/A (type bug)
  * Firebase SDK version: 9.0.2
  * Firebase Product: database

### Describe the problem

The Firebase Realtime Database uses `any` to represent a valid JSON value, but this allows customers to accidentally use disallowed values, such as [this SO question](https://stackoverflow.com/quest

[2021-09-21 02:16] exKAZUu commented on #5513
@laurentpayot Thanks! I missed the information.

[2021-09-21 02:16] #5513 closed

[2021-09-21 04:49] Blakeinstein commented on #5526
While I agree with the suggested solution, I am lost on why the transaction cant be async.

Rejecting the promise should cause the transaction to be cancelled, instead of having to return undefined. This way you can also await async api's inside. (I had to read fs, and some other things)

[2021-09-21 09:56] jbalidiong commented on #5517
Hi @mikron123, thanks for reporting this behavior. I tested it on my sample project and I wasn't able to replicate it. I verified that it's working fine for `v9` SDK. If you could provide me with a reproducible code, it will help me have a better look into it.

[2021-09-21 14:39] roldyclark commented on #5019
FIXED! Here's the solution: https://harryherskowitz.com/2021/08/23/firebase-capacitor.html

[2021-09-21 14:39] roldyclark commented on #5497
FIXED! Here's the solution: https://harryherskowitz.com/2021/08/23/firebase-capacitor.html

[2021-09-21 16:45] thebrianchen commented on #5499
@kenkunz Thanks for filing the detailed repro! I was able to reproduce the issue. Not sure what's happening here, but I'll report back after playing around with it some more.

[2021-09-21 17:12] sam-gc commented on #5481
@kisonay is this issue resolved?

[2021-09-21 21:45] an0malous opened #5529 "Firebase PWA won't authenticate offline users in mobile browsers (works fine on desktop)"
### [REQUIRED] Describe your environment

  * Operating System version: macOS Big Sur 11.5.2
  * Browser version: Chrome 93.0.4577.82,
  * Firebase SDK version: 9.0.2
  * Firebase Product: Authentication

### [REQUIRED] Describe the problem

I'm working on a React PWA using Firebase services. By PWA I mean it uses service workers, has Firestore offline data persistence enabled, and is supposed to

[2021-09-21 22:01] riderx commented on #5019
@roldyclark thanks a lot, i will try to upgrade to v9 so :)

[2021-09-21 22:20] kisonay commented on #5481
@sam-gc yes, when getAuth and setPersistance is used, the issue is reproducible. (this can been seen in the master branch of my example repo.)

The workaround does wok once I address the signout function.

[2021-09-21 23:14] mikron123 commented on #5517
Hi @jbalidiong, that's the thing, it happens randomly, I cannot replicate it. It's the same code running without any change, then after a week or so with only a few users, it crashes Chrome (Don't have info about other browsers)
The tested code was once the most simple Analytics and Auth initialization.

Version used: 8.3.1

[2021-09-22 03:12] inlined commented on #5526
It might be valid to accept a Promise, though that would be a feature request, not a bugfix. I would argue that rejecting the promise inside `transaction` should actually reject the promise returned by `transaction`, not just cleanly abort the transaction.

Historically the realtime database has made the `transaction` handler synchronous because Firebase transactions are passive transaction. The l

[2021-09-22 11:46] jbalidiong commented on #5517
I noticed that you're still using the `v8`. The only difference is that I used the `version 9.0.2`. Would you mind trying to update the SDK version that you're using and see if the issue persists? Just FYI, going forward, any fixes will be in version 9+. For minimal change, you can use the import paths `require('firebase/compat/app')` and `require('firebase/compat/auth')`. You can also check the [

[2021-09-22 16:30] mdeborde commented on #5499
I was having a similar problem, 9.0.0 builds fine, 9.0.2 throws an error with tslib not being able to find default. I think it is an ES6 module issue with tslib.... lots of research... no answer.... switching back to 9.0.0 seems to work for now.

Error: Build failed with 1 error:
.svelte-kit/output/server/app.js:23:7: error: No matching export in "node_modules/tslib/modules/index.js" for import "d

[2021-09-22 16:59] hsubox76 commented on #5499
We added an `exports` field to `package.json` in 9.0.1 to better work with Node bundlers, which has only `node` and `default` options. The `node` entry points at a cjs build, so that's what Svelte is picking up. This excerpt on Svelte's FAQ page seems to indicate it tries to convert the cjs build to an esm build using esbuild and something is going wrong there.

https://kit.svelte.dev/faq

[code]

[2021-09-22 17:17] jbalidiong commented on #5441
I'll be closing this issue now. If you'd like to continue the discussion, I suggest going to the linked issue.

[2021-09-22 17:17] #5441 closed

[2021-09-22 17:22] kenkunz commented on #5499
@hsubox76 thanks for the update.

Finding the cause is often 90% of the battle! Hope the solution is as straightforward as it sounds.

I appreciate the Firebase team's support on this!

[2021-09-22 19:01] Feiyang1 commented on #5516
Sounds like the same issue with https://github.com/firebase/firebase-js-sdk/issues/3725. I thought it was fixed though  - @zwu52

[2021-09-22 20:26] #5475 closed

[2021-09-23 08:44] DustinJSilk commented on #4291
I've hit this same issue now, going on 17 hours now and still not working.
Glad to see it'll come right in a few hours time.

[2021-09-23 09:26] Bandit commented on #4846
FWIW I encounter this (and this https://github.com/sveltejs/kit/issues/612) issue when switching from `import { ... } from 'firebase/firestore'` to `import {...} from 'firebase/firestore/lite'`

[2021-09-23 10:43] Ashatanchik commented on #2364
I'm having exactly the same issue

`FirebaseError: Messaging: A problem occurred while unsubscribing the user from FCM`

Using `"firebase": "8.3.2"`

It seems like this issue takes place due to cache erros. So to fix it I am always clearing cache, that's pity :(

Unfortunately I don't have an ability to use firebase-messaging-sw.js, that's why @jahooma method wont work for me

[2021-09-23 12:35] peterbe commented on #5492
I think we can close it. The culprit is this "fast-async" plugin apparently. Removing the plugin from your framework/toolset makes it possible to proceed and use Firebase SDK v9.

I like that this issue exists for other people who might stumble into it.

[2021-09-23 12:35] #5492 closed

[2021-09-23 12:36] peterbe commented on #5492
That PR seems a bit messy at this point but it appears to have good bones. Right?

Yeah, that's the hack.

[2021-09-23 13:39] Amanbk commented on #4256
I am getting this problem on android, hasn't this been fixed yet?

[2021-09-23 17:50] sam-gc commented on #5481
I just tried the snippet. A couple things are going on here I think...

1. `getAuth()` preferentially initializes with `indexedDB` persistence as well as `localStorage`. Because `indexedDB` is available when the auth library initializes, _the SDK moves the user persistence out of `localStorage` and into `indexedDB`_. To verify this, click over into the indexedDB tab and click the "refresh" icon (i

[2021-09-23 18:05] sam-gc commented on #5529
Hi, thanks for opening this issue--

I believe the root of the problem is this code:
https://github.com/firebase/firebase-js-sdk/blob/4e7aba48afbc5d96e7a294aa56d3c52f680e4d03/packages/auth/src/platform_browser/popup_redirect.ts#L166-L169

If you are using `getAuth()` or if you're defining [`initializeAuth`](https://firebase.google.com/docs/reference/js/auth.md#initializeauth) with the [`browserPop

[2021-09-23 19:02] bestexec commented on #5529
Thanks Sam, Im using popup method and your suggested work around is working fine for me!

[2021-09-23 19:37] sam-gc commented on #5529
Awesome, glad to hear :)

I'm going to go ahead and close this out since the SDK is working as expected. I will look into adding a note in the docs regarding early initialization and what that means for e.g. offline apps.

[2021-09-23 19:37] #5529 closed

[2021-09-23 21:11] an0malous commented on #5529
This solved my issue. Thank you!

[2021-09-24 07:37] sceee commented on #5520
So after further testing, it's definitely that `resource` in the Firestore rule is null for whatever reason.

If I adjust the rule for the document path to be read (`test/user`) to be just:
[code]
the request made with `userDB` (initialized via `firebaseTestEnvironment.authenticatedContext('user', { email: 'user@example.com' }).firestore()`) is declined with `false for 'get'`.

Now if I change the

[2021-09-24 11:32] jbalidiong commented on #5523
Hi @harveylee, thanks for the report. I was able to reproduce this behavior. If Vue is converting one of our Firebase objects (e.g. database reference) into a proxy, it is expected that you may experience issues when passing it back to the function. It also seems that Vue provides a utility function to get the raw object out of the proxy.

I’m going to close this issue now, but you may reopen it i

[2021-09-24 11:32] #5523 closed

[2021-09-24 13:40] polinausheva123 commented on #4256
I have the same problem

[2021-09-24 17:06] tfang17 opened #5541 "sendSignInLinkToEmail sends incorrect link on iOS after updating to Firebase 9"
### [REQUIRED] Describe your environment

  * Operating System version: N/A
  * Browser version: N/A
  * Firebase SDK version: 9.0.2
  * Firebase Product: auth

### [REQUIRED] Describe the problem

After updating from Firebase 8 to Firebase 9, dynamic link on iOS is broken:

Previous link sent in email: https://eureka.page.link/?link=https://eurekasurveys.com/email...
New link sent in email: https

[2021-09-24 18:11] yuchenshi commented on #5520
@sceee I think you have a `projectId` mismatch here -- your Admin SDK may be writing to `project-id-a` while your `firebaseTestEnvironment` is working on `project-id-b` for example.

I'd recommend setting the `projectId` for both SDKs. For Admin SDK, you can do `initializeApp({projectId: "demo-example"})`, and similarly `initializeTestEnvironment({projectId: 'demo-example'})`. Or try setting the `

[2021-09-24 18:54] rucebee commented on #212
Nice solution for web to use REST API

_I ended up using Firestore REST API with the query string mask.fieldPaths=none to avoid downloading all the fields:
https://firestore.googleapis.com/v1/projects/myproject/databases/(default)/documents/profiles/myusername?mask.fieldPaths=none
404 errors tell me there is no such document._

https://github.com/firebase/firebase-js-sdk/issues/2309#issuecomment-5

[2021-09-24 23:00] sam-gc commented on #5541
Thanks for filing this issue! This is indeed a bug, I've been able to reproduce it. I'm working on a fix, stay tuned!

[2021-09-25 00:17] danicholls commented on #3004
I seem to have experience this problem with Anonymous auth, and I believe it was on one of the provided (.app) domains.

[2021-09-25 00:23] andrewhamili commented on #3004
Hi, for everyone that experienced this problem, just switch on the third pqrty cookies fornthe incognito sesssion and this will be resolved. :D

[2021-09-26 21:08] MarcusCemes commented on #4846
To follow up on the discussion, here's my experience with SvelteKit/Vite/Firebase, for anyone else who might find this insightful.

There's a lot going on with the Firebase SDK that Vite and Node.js can't deal with (without resorting to the Admin SDK). I've encountered all sorts of errors after accidentally including a Firebase import somewhere in the dependency chain, whether on purpose or by acc

[2021-09-27 01:02] #5456 closed

[2021-09-27 03:46] abdoulayediak commented on #4157
It would be very nice to have an answer or just a hint concerning this issue, please.

[2021-09-27 04:23] AlastairTaft opened #5544 "Hitting `KeyIndex.isDefinedOn not expected to be called.` when running on Node."
### [REQUIRED] Describe your environment

  * Operating System version: macOS Big Sur Version 11.2.3 (Apply M1)
  * Browser version: Node.js v14.17.3
  * Firebase SDK version: 9.1.0
  * Firebase Product: database

### [REQUIRED] Describe the problem
When querying a list of records when using Node cannot use `orderByKey()`.

#### Steps to reproduce:

See sample code.

#### Relevant Code:

[code]

P

[2021-09-27 07:00] arneesh opened #5546 "Firebase Auth for Web SDK 9 not working in Incognito and is returning wrong error (SSR Node.js)"
### Environment

  * Operating System version: MacOS Mojave
  * Browser version: Version 94.0.4606.61 (Official Build) (x86_64)
  * Firebase SDK version: 9.1.0
  * Firebase Product: auth

### Problem

Firebase auth for web SDK 9 is not working in incognito mode for Node.js-based SSR application.
It runs perfectly in the regular chrome tab but when I run it in incognito then it throws "wrong-passwo

[2021-09-27 07:28] arneesh commented on #5546
### The above issue is in turn causing other problems.  When the `wrong-password` error gets shown to a user over and over even when they are entering the correct password, they keep trying to enter the password again and again, and eventually their account gets disabled.

[code]

[2021-09-27 08:54] mdathersajjad commented on #4946
If anyone is looking for a patch. https://gist.github.com/mdathersajjad/628c53913c10f7e090d52871faf1c373. And add browserPopupRedirectResolver as given in above comment

[2021-09-27 10:24] favalonx opened #5547 "Window is not available (SSR next.js)"
### Environment

  * Operating System version: Ubuntu 20.04
  * Browser version: Firefox 92
  * Firebase SDK version: 9.1.0
  * Node version: 16.10
  * Firebase Product: (analytics, performance, remote-config, etc)

### Problem

#### Steps to reproduce:
Trying to get instances of the products in the Next.js application

#### Relevant Code:

[code]

[2021-09-27 11:56] abdo643-HULK commented on #4946
The only problem is that you'll get a pop-up blocked error on the first trying to login with a provider on Safari.

[2021-09-27 12:21] arneesh commented on #5547
The window/Node.js env handling is not done internally in the SDK. You would need to handle this on your side via something like by placing a check on window env via an if the condition or a ternary operator.

`typeof window === "undefined"`

[2021-09-27 14:01] jamesdaniels commented on #5547
RemoteConfig, performance, analytics and others are not supported in Node. You'll need to check `isSupported()` before getting/initializing an instance.

E,g; `(await isSupported()) ? getRemoteConfig() : undefined`

[2021-09-27 14:21] Herobone opened #5548 "Firebase auth unable to load on IOS with extensions"
### [REQUIRED] Describe your environment

  * Operating System version: iOS 15.0
  * Browser version: Safari 15.0
  * Addon: Firefox Focus Content Blocker
  * Firebase SDK version: 9.0.2
  * Firebase Product: auth

### Describe the problem

Whenever you load a page that uses the firebasee auth sdk, shortly after calling `getAuth` for the first time, it will crash (Webpack frames collapse).
The pro

[2021-09-27 14:28] mafergus opened #5549 "FirebaseError: Document already exists"
### [REQUIRED] Describe your environment

  * Operating System version: Multiple (Windows 10, Android 10)
  * Browser version: Multiple (Chrome Mobile 91.0.4472, Edge, Samsung Internet 13.0)
  * Firebase SDK version: 8.4.3
  * Firebase Product: Firestore

We are seeing this error when trying to add a document to a collection. I've scoured Google and Stack-Overflow, gone through the source code and

[2021-09-27 15:31] sceee commented on #5520
@yuchenshi thank you very much, that was actually the wrong part as I've set a projectId for the firebaseTestEnvironment... :(

My bad, sorry. It's so tricky to set it all up as I was expecting it just somehow uses the project from the emulator.

[2021-09-27 15:31] #5520 closed

[2021-09-27 15:55] arneesh commented on #5546
The same issue is occuring in regular browser window too, not just Incognito.

[2021-09-27 15:57] sceee opened #5550 "Typescript: Returned types from `firebaseTestEnvironment.authenticatedContext(...).firestore()` are incompatible with modular v9 client SDK Firestore types"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: N/A
  * Firebase SDK version: 9.1.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem
In addition to the already fixed #5500, when using the modular v9 client SDK, the "Firestore" type returned by `firebaseTestEnvironment.authenticatedContext(...).firestore()` from `@firebase/

[2021-09-27 16:07] sam-gc commented on #4946
@abdo643-HULK yep, that's one of the reasons why the `_shouldInitProactively` functionality exists

[2021-09-27 18:11] #5541 closed

[2021-09-27 18:32] donhmorris opened #5552 "Auth does not work in ionic apps on iphone devices or sims"
### [REQUIRED] Describe your environment

  * Operating System version: _Mac 11.6
  * Browser version: Chrome 93
  * Firebase SDK version: 9
  * Firebase Product: auth
  * ionic 5.5.2

### [REQUIRED] Describe the problem
Using the v9 sdk, onAuthStateChanged does not fire when signing in on iphone simulator nor iphone device when using the ionic framework.

Reverting back to v8 works fine. Somethin

[2021-09-27 19:14] roldyclark opened #5553 "rawNonce missing from credential - Firebase Auth v9"
rawNonce missing from OAuthProvider credential.
Code:
[code]
Result:
[code]

[2021-09-27 20:38] abdo643-HULK commented on #4946
Where can I find this function ? I am looking through the source code of the auth but can't seem to find it. And thnks for your help

[2021-09-27 20:43] sam-gc commented on #4946
It's this code here: https://github.com/firebase/firebase-js-sdk/blob/49b0406abb9b211c5b75325b0383539ac03358d1/packages/auth/src/platform_browser/popup_redirect.ts#L166-L169

By omitting the `popupRedirectResolver` optional dependency in `initializeAuth()`, that function is never called

[2021-09-27 23:05] Feiyang1 commented on #5547
As @jamesdaniels pointed out, you will need to guard the initialization of the browser only packages, and not execute them in Node.js.

[2021-09-27 23:05] #5547 closed

[2021-09-27 23:41] Feiyang1 commented on #5550
This is working as intended. The testing SDK returns a compat version of Firestore for backward compatibility. It is not compatible with the modular Firestore type, but you can pass it to any function exported from the modular SDK where a modular Firestore is accepted, such as `ref()`.

For typing `db` in the example, you should use the type exported from `@firebase/firestore-types`:
[code]

[2021-09-27 23:41] #5550 closed

[2021-09-28 01:02] #5491 closed, assigned to nobody

[2021-09-28 01:24] favalonx commented on #5547
I am currently overcoming this issue with the mentioned ways before proposing any of the solutions, thanks to everyone anyway.

What I wanted is to catch the attention of the folks to solve this matter like exactly it was before in SDK v8.

I don't feel it is a good practice to check the window availability and get the instances for every action. Do anyone of you?

[2021-09-28 01:34] jamesdaniels commented on #5547
I'd suggest to keep the instance around, use `isSupported()` as I mentioned and check for truthiness later on.

[code]

[2021-09-28 05:11] Sdqumar commented on #4946
Here goes my solution, i only dynamic [import](https://javascript.info/modules-dynamic-imports) firebase auth, when I need it.
So I don't call it in the entire application, only when am making request to firebase.
If you have small to medium application, it should be to much work.
Tip* to keep then state of current user, use cookies
![Screenshot_2021-09-28-06-02-55-097_com android chrome~2](https:

[2021-09-28 05:35] arneesh commented on #5547
Yeah exactly. It was much better in the v8 version. But for the time being this is the state of v9 so we have to use some workaround. I suggested `typeof window === "undefined"` approach because `isSupported()` method is not completely reliable at the moment, it fails on certain instances based on the underlying environment. That's why for the time being I am using the approach I mentioned above.

[2021-09-28 05:47] arneesh opened #5556 "createUserWithEmailAndPassword() method return wrong response. SSR"
### Environment

  * Operating System version: MacOS Mojave
  * Browser version: Version 94.0.4606.61 (Official Build) (x86_64)
  * Firebase SDK version: 9.1.0
  * Firebase Product: auth

### Problem
I am using Vue-Node.js based SSR application. `createUserWithEmailAndPassword()` method return wrong response. When you create a user using a completely new email address, the account gets created per

[2021-09-28 06:33] jayordway commented on #5019
This worked for me, but it is work elaborating that I was not able to get it to work with angularfire. I had to revert to using firebase 9 directly.

[ init() {
    const app = initializeApp(environment.firebase);
    if (Capacitor.isNativePlatform) {
      initializeAuth(app, {
        persistence: indexedDBLocalPersistence
      });
    }
    this.firestore = getFirestore(app);
  }](url)

[2021-09-28 11:04] Methylaminee commented on #4256
I had the same problem by surfing with my smartphone. Solved by setting the website in desktop mode.

[2021-09-28 12:34] dcrwalz commented on #1423
Please apply this feature.
My client doesn't eat any food beside Apple.

[2021-09-28 14:12] kav commented on #1847
Looks like expo supports asyncStorage so this should be a relatively easy change at this point right?
https://docs.expo.dev/versions/latest/sdk/async-storage/

Happy to help PR if needed, but it sounds like others may have more context on supported versions, etc

[2021-09-28 14:21] wu-hui commented on #5448
I could not reproduce this myself..I am closing this since you are no longer bothered by this. Feel free to paste you approach here, or if you think we should continue investigation, please paste a mini repro repo so we can move forward.

[2021-09-28 14:21] #5448 closed

[2021-09-28 16:08] schmidt-sebastian commented on #5549
@mafergus Thanks for reporting this!

`add()` uses a random client-side generated identifier, so there is a small chance for a collision - but the chance for this is so small that we are willing to say that it should never occur. Are you able to provide debug logs for us, which will then show what identifier causes the collision?

You can enable debug logging by invoking `setDebugLevel('debug')`.

[2021-09-28 17:16] hsubox76 commented on #4157
Just to clarify, this is the repo for the JS client SDK. We don't maintain dynamic link functionality, Sam just thought someone on this team might have some guesses by virtue of us working on web and having web knowledge in general. I don't think anyone's had any so far.

We're not able to provide official updates because, again, this isn't our team's product. If you need to contact the Dynamic Li

[2021-09-28 17:17] #4157 closed

[2021-09-28 17:18] sam-gc commented on #5556
Hi @arneesh, thanks for reaching out. I suspect what's happening here is that your `createUserWithEmailAndPassword()` call is executed first in Node (this is a totally valid use case; Node will make the network call) and then again in the browser when the page loads. In this case, the behavior is totally expected: `createUserWithEmailAndPassword()` assumes that the user does not exist yet. If this

[2021-09-28 17:19] jbalidiong commented on #5544
Hi @AlastairTaft, thanks for reporting. According to https://github.com/firebase/firebase-js-sdk/issues/4129#issuecomment-735992696

I suggest if you'll start by initializing the admin, you should also use the `admin.database()`. You can check this snippet for guide:

[code]

[2021-09-28 17:19] #5544 closed

[2021-09-28 17:41] hsubox76 commented on #1847
Thanks for bringing this up and sorry for the late reply. Yes, this is intended to be the official solution. We haven't yet exposed `getReactNativePersistence()` and we're working on making that available.

[2021-09-28 17:44] sam-gc commented on #5552
It looks like you're using angularfire. Would you mind closing this and reopening it in https://github.com/angular/angularfire?

[2021-09-28 17:48] arneesh commented on #5556
Hey @sam-gc
I see what you mean, initially, I thought that this might be happening which is why I ran my app in the client-only mode without SSR and still got the same response. Even in my SSR app, I am making the request after the page has already loaded via `user action` in the browser so it should not cause any issues. I even added a type check for window element just in case:  like this ->

[c

[2021-09-28 17:56] donhmorris commented on #5552
The angular/fire guys already punted to Firebase.
The same problem exists if you use the Firebase sdk v9 by itself. Would it help if I converted my demo app to use just the Firebase sdk?

[2021-09-28 18:37] sam-gc commented on #5556
It might be worth checking in the developer tools of your browser to see if the network call is made more than once. If the issue persists and you can verify only one network call to that endpoint is being made, a small sample repository would be ideal

[2021-09-28 19:55] donhmorris commented on #5552
I created a new demo project that is identical except it uses just the firebase v9 sdk. I updated my original description to point to the new git repository.

[2021-09-28 20:01] jayordway commented on #5552
I had the same problem as well. I used this method at app initialization and it works with Ionic and Capacitor:

[code]

`indexedDBLocalPersistence` was not exposed in angular/fire, but there may be a way to do it, I was having issues with angular fire, but this above worked fine using firebase 9 exclusively. There may be a way to do it with angular/fire - I will look into it later.

[2021-09-28 20:36] donhmorris commented on #5552
I tried your suggestion and it worked.
I'm guessing the v8 sdk did this and it was dropped from v9. Still seems like a bug in the v9 sdk to me.

[2021-09-28 20:55] mafergus commented on #5549
Yes we're happy to assist in any way possible, you guys are doing great work. Would you mind pointing me to the code that generates this identifier so I can better understand the algorithm? Perhaps we can change our code to mitigate any collisions. We've noticed this specifically during periods of peak activity.

We'll enable the debug logging, I would expect we'll hit this again over the weekend.

[2021-09-28 21:00] schmidt-sebastian commented on #5549
The code is here: https://github.com/firebase/firebase-js-sdk/blob/5ad7ff2ae955c297556223e6cb3ad9d4b897f664/packages/firestore/src/util/misc.ts#L28

[2021-09-28 21:31] sam-gc commented on #5552
I see, yeah this is definitely working as intended. The `getAuth()` function in the main package assumes a browser context. For more specific platforms/edge cases, the `initializeAuth()` function is what you should use. I'd also recommend trying the Cordova-specific imports, which include a `getAuth()` implementation that is meant to work in Cordova-type environments.

For example, switch **all**

[2021-09-28 21:31] #5552 closed

[2021-09-29 05:42] mikron123 commented on #5517
Thanks, we're going to upgrade and see.

[2021-09-29 07:55] vandres commented on #1674
State today `experimentalAutoDetectLongPolling` is giving me problems. If I use `experimentalForceLongPolling` or leave it away, than it is working. Although with leaving it away, we get complains about the page not loading.

[2021-09-29 10:54] jbalidiong commented on #5548
Hi @Herobone, thanks for reaching out. Would you mind sharing a small but complete example demonstrating the issue?

[2021-09-29 17:18] grind-t commented on #212
If the SDK is limiting its functionality, then this is a clear sign that it is taking over too much. I think it makes sense to add this feature to the Lite SDK and give developers the ability to implement caching on their own.

[2021-09-29 21:48] xil222 opened #5558 "TenentId mismatch in multi-tenant flow: auth/tenant-id-mismatch"
Describe your environment
  * Operating System version: macOS 11.6
  * Browser version: chrome Version 94.0.4606.61
  * Firebase SDK version: v9.1.0
  * Firebase Product: auth

To reproduce
Finding the issue when testing in IAP https://team.git.corp.google.com/cicp-eng/cicp-iap-js/
Go to https://ciap-multi-tenant.uc.r.appspot.com
Switch to FirebaseUI mode by Go to FirebaseUI
1. pick tenant a, sign

[2021-09-29 21:54] sam-gc commented on #5498
I'm wondering if the issue is that the database doesn't start the proactive refresh after it goes back online. @schmidt-sebastian what do you think?

[2021-09-29 22:14] mhofman commented on #5498
The database does enable the proactive refresh, but before any user exists in auth, so the proactive refresh is not actually started. When the user gets authenticated, the following auth function's checks don't line up, and the proactive refresh is never started, even through it actually is enabled:

https://github.com/firebase/firebase-js-sdk/blob/dabda55f0163ead5c65013840a1108c339455a83/packages

[2021-09-30 07:18] sombizbuzzz opened #5560 "Remote Config: The config fetch request timed out while in an exponential backoff state. Configure timeout using "fetchTimeoutMillis"
remoteConfig.settings = {
  fetchTimeMillis: 60000, // One min before timing out while fetching
  minimumFetchIntervalMillis: 3600000 // very short interval for fields expiration.
};

ExceptionsManager.js:179 FirebaseError: Remote Config: The config fetch request timed out while in an exponential backoff state. Configure timeout using "fetchTimeoutMillis" SDK setting. Unix timestamp in millisecond

[2021-09-30 18:43] sam-gc commented on #5497
I'd also recommend trying the Cordova-specific imports. Instead of importing everything from `firebase/auth`, update the imports to `firebase/auth/cordova`.

I'm going to go ahead and close this out

[2021-09-30 18:43] #5497 closed

[2021-09-30 18:44] sam-gc commented on #5558
Hi, thanks for filing this. We will look into this, but in the meantime please keep in mind that the v9 SDK remains in Beta for Google Cloud Identity Platform features (which includes IAP support)

[2021-09-30 18:46] sam-gc commented on #5546
Hi @arneesh, I suspect what is happening is that the SSR step is executing the `signInWithEmailAndPassword` with an email but not a password, so even if the code on the client executes correctly it sends erroneous requests from Node. Do you gate the sign-in logic to the browser-only platform?

[2021-09-30 18:53] sam-gc commented on #5548
Thanks for filing this! On mobile browsers the SDK will preemptively load libraries needed for popup and redirect. This is necessary for seamless user interaction on mobile, but in cases like yours it can cause problems. If you want to avoid this issue, you can manually initialize Auth without the popup/redirect resolver (**note:** this will prevent popup/redirect actions, or you'll need to pass t

[2021-09-30 18:53] #5548 closed

[2021-10-01 00:27] #5558 closed

[2021-10-01 01:13] brentvatne commented on #1847
@hsubox76 - using `'@react-native-async-storage/async-storage'` would be sufficient for expo support. i do think the idea of making persistence pluggable could also be valuable.

[2021-10-01 10:28] jbalidiong commented on #5560
Hi @sombizbuzzz, thanks for reporting this behavior. Could you provide more information on this? Like, steps on replicating the issue and would you mind sharing a small but complete example demonstrating this behavior.

[2021-10-01 15:22] Temez1 opened #5569 "App Check typing errors (incorrect implementations of interface)"
### Environment

  * Firebase SDK version: 9.1.1
  * Reactfire version: 4.2.0

### Problem

I'm trying to compile my project & it throws 2 errors

[code]

The source code has the following comments, but the compiler doesn't really care about those.

[code]

#### Steps to reproduce:

I started using firebase with Reactfire. I'm using just auth. I'm not using App Check.

#### Relevant Code:

TS conf

[2021-10-01 18:15] ga0321 commented on #3356
push

[2021-10-01 18:37] hsubox76 commented on #5569
Thanks, I will look into fixing the typings errors.

In the meantime, so that you are unblocked, can I ask how you are importing Firebase? When directly using Firebase, there shouldn't be any app check code in the bundle if you didn't import app check, and you only imported auth, but I don't know if Reactfire does anything different.

[2021-10-01 20:49] Temez1 commented on #5569
Asked reactifire to give their input. I guess the TS checks the whole firebase library even if I'm not importing it.

[2021-10-02 07:38] jianweic commented on #3356
I have the same problem. Does someone know how to fix it?

[2021-10-03 17:05] umrashrf opened #5571 "TypeError: (0, _storage.useStorageEmulator) is not a function."
### [REQUIRED] Describe your environment

  * Operating System version: macOS Big Sur v11.6 M1 arm64
  * Browser version: Expo iPhone Client
  * Firebase SDK version: 9.1.1
  * Firebase Product: storage, emulators (auth, database, storage, etc)

### [REQUIRED] Describe the problem

This piece of code in index.js file results into this error.

[code]

#### Steps to reproduce:

1. expo init
2. Insta

[2021-10-04 06:40] thdk opened #5572 "firestore: modular doc method returns wrong type (typescript)"
### [REQUIRED] Describe your environment

  * Operating System version: Linux desktop 5.11.0-36-generic 40~20.04.1-Ubuntu SMP  x86_64 GNU/Linux

  * Browser version: n.a.
  * Firebase SDK version: 9.1.1
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Compile the typescript code below using firebase 9.1.1

#### Relevant Code:

[code]
When I navigate t

[2021-10-04 14:52] jbalidiong commented on #5571
Hi @umrashrf, thanks for reaching out. I tried connecting my sample project to an emulator and I was able to use it as intended. However, there is a difference in our code. I've used the `connectStorageEmulator()` as stated in the [reference for the JS SDK](https://firebase.google.com/docs/reference/js/storage.md#connectstorageemulator). Here is the snippet for guidance:

[code]

I suggest updatin

[2021-10-04 14:52] #5571 closed

[2021-10-04 17:31] Feiyang1 commented on #5572
`@firebase/firestore-types` are compat types. They are compatible with `firebase/firestore` in the sense that they are accepted in functions exported from `firebase/firestore`, but the types from the 2 packages are not compatible(you can't assign them to each other). Can you use `DocumentReference` from `firebase/firestore` instead?

[2021-10-04 18:54] #5569 closed

[2021-10-04 21:31] sam-gc commented on #5553
Hi, thanks for reaching out! A couple of things are going on here: for one, the `nonce` field was never getting set in the credential since the SDK didn't pass it through correctly to the underlying method. Separately from that, the `nonce` field was not documented in v8 and it is not exposed in any of our other SDKs. So while the PR linked will set the field correctly (so that e.g. `signInWithCre

[2021-10-05 05:36] thdk commented on #5572
Hi thank you for your reply.

I have change my code now back to using `DocumentReference` from `firebase/firestore`. The reason I had started using `@firebase/firestore-types` package for my types was this comment here https://github.com/firebase/firebase-js-sdk/issues/5550#issuecomment-928453315.

I only needed that one `FirebaseFirestore` type but got too enthusiast and started using `Collection

[2021-10-05 06:58] mesqueeb commented on #5019
Ever since I started using Capacitor 3.x with Firebase 9.x **compat build** I cannot launch Capacitor anymore with the same error as the OP.

@sam-gc With the **compat build** however there is no concept of `const auth = initializeAuth(app, ...` because it's the compat syntax.

Do you know how I can solve this issue without having to convert to the modular syntax? The reason is that some plugins I

[2021-10-05 07:11] maxfahl commented on #5402
I'm facing the same issue while using Expo v. 42.

[2021-10-05 11:44] mafergus commented on #5549
Hey @schmidt-sebastian, we captured a bunch of examples of this over the weekend in Sentry. As far as I'm aware, Sentry doesn't give a nice way to export breadcrumb logs. The two options I see are either pass you JSON of the breadcrumbs, or temporarily invite you to our Sentry project. Let me know how you'd like to proceed.

[2021-10-05 14:02] todorpr opened #5575 "Missing or insufficient permissions after upgrade to Firebase Web SDK v9"
### Describe your environment

* Operating System version: MacOS Mojave
* Browser version: Chrome, Version 94.0.4606.71 (Official Build) (x86_64)
* Firebase SDK version: 9.1.1
* Firebase Product: auth

### Describe the problem

I upgraded firebase SDK from v8.2.3 to v9.1.1 following the official documentation https://firebase.google.com/docs/web/modular-upgrade. When run the application I get:

[c

[2021-10-05 15:03] #5572 closed

[2021-10-05 15:08] schmidt-sebastian commented on #5402
@maxfahl What version are you using? If you are on the latest version, do you mind sharing debug logs?

[2021-10-05 16:43] sam-gc commented on #5019
For the folks using v9 modular, I would also suggest trying to import `getAuth` from `firebase/auth/cordova`. This will also avoid the `browserPopupRedirectResolver` dependency.

@mesqueeb, I will investigate. The compat layer should select the correct dependency at runtime.

[2021-10-05 16:49] johnsutor commented on #5443
Something that worked for me (using Next JS and Firebase v9) is to use React Effects in the following manner:
[code]

[2021-10-05 17:17] hsubox76 commented on #5575
I notice 2 things:
1) you're not passing firebaseApp into `getFirebaseAuth()` (which seems to be the renamed `getAuth()` from firebase/auth). You shouldn't have to, it should fall back to the default app, but just wondering if anything changes if you do.
2) In the firestore change you've changed the query to get all docs in the firebaseRootCollection instead of docs in the firebaseMessagesCollecti

[2021-10-05 17:50] #5553 closed

[2021-10-05 18:49] todorpr commented on #5575
Thanks for your input, @hsubox76!
1. Just tried to pass `firebaseApp` to `getFirebaseAuth()` - no difference.
2. Not sure what should be the right query with the new syntax, so that it equals the old one. Here are the rules:

[code]

[2021-10-05 19:10] hsubox76 commented on #5575
Yeah, it looks like you're trying to look at every document in `rooms` which you don't have access to. It looks like we don't have updated docs showing how to get subcollections? I'll look into that.

The easiest way to get the docs from the subcollection would be to put the whole path to the subcollection:
[code]
You can also supply each path segment as an argument to `collection()`:
[code]

Note

[2021-10-05 19:39] todorpr commented on #5575
That is amazing, @hsubox76 - the error disappeared this way :)

Actually in the original code it does:

[code]

but now with the new approach `messagesSnapshot` doesn't have `orderBy/onSnapshot` properties. How is it supposed to be?

[2021-10-05 20:38] Feiyang1 commented on #5464
@russellwheatley I couldn't reproduce the issue with `8.6.1`. `app2` is deleted and recreated successfully, code:
[code]

Am I missing something?

[2021-10-06 02:45] cungminh2710 opened #5580 "Receiving (auth/internal-error) and (auth/network-request-failed) with PetalBot aggressive behaviour"
Hi,

I'm not sure whether this is a bug or a security issue.

### [REQUIRED] Describe your environment

  * Operating System version: Android
  * Browser version: PetalBot
  * Firebase SDK version: 9.1.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem

We are constantly getting spam by PetalBot. Whenever there is a spike, Firebase Auth `getAuth()` returns either (auth/internal-erro

[2021-10-06 04:19] mesqueeb commented on #5019
@sam-gc Update:
It works when I instantiate firestore like so:

[code]

Do you think we always will need to "ForceLongPolling" for Capacitor apps? And are there any downsides of doing this?

[2021-10-06 10:26] kilianso commented on #5499
Having the same issue with latest Sveltekik, static-adapter and Firebase 9.1.1. Interestingly, it seems that only the `firestore` module breaks the build. I can import `app` and `auth` in a regular fashion and call them in Svelte file without any issues. But `firestore` needs to be loaded using dynamic imports.

[2021-10-06 15:29] bdhwan commented on #5020
same issue. firebase 7.x works well. but 9.x not working because capacitor://

[2021-10-07 01:02] #5481 closed

[2021-10-07 06:34] kilianso opened #5584 "onSnapshot no error handling even if collection does not exist"
### Describe your environment

  * Operating System version: Mac OSX 10.15.7
  * Browser version: Brave 1.29.81
  * Firebase SDK version: 9.1.1
  * Firebase Product: firestore

### Describe the problem
As stated in the [documentation](https://firebase.google.com/docs/firestore/query-data/listen#handle_listen_errors), there should be error handling if you subscribe to a collection that does not exi

[2021-10-07 16:50] sam-gc commented on #5019
@mesqueeb, yes please create a separate issue for the Firestore issue you're experiencing.

[2021-10-07 22:46] riderx commented on #5019
I will move all my apps to supabase, firebase is driving me crazy for a too long time

[2021-10-07 23:50] mrjackyliang opened #5586 "React Development with Google Analytics for Firebase causes Unhandled Rejection Error in Safari"
### [REQUIRED] Describe your environment

  * Operating System version: macOS Big Sur 11.6
  * Browser version: Safari 15.0
  * Firebase SDK version: 9.1.1
  * Firebase Product: analytics (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:
1. Using `create-react-app v4.0.3` TypeScript template.
2. Initialize Google Analytics for Firebase
3. Load page using

[2021-10-08 01:05] klapauciusisgreat opened #5588 "Can't signInWithPopup in chrome extension with manifest v3"
### [REQUIRED] Describe your environment

  * Operating System version: MacOs
  * Browser version: 94.0.4606.71
  * Firebase SDK version: 9.1.2
  * Firebase Product: auth

### [REQUIRED] Describe the problem

When trying to signin with Google (signInWithPopup) in a Chrome extension with manifest v3 (ie in a service worker), I trigger errors, popup does not open and one cannot log in.

#### Steps t

[2021-10-08 13:18] jeronimonunes opened #5591 "Firebase auth v9 do not pass typescript checks when inside web worker"
Environment

  * Angular Version 12.2.0
  * TypeScript version: 4.3.5
  * Firebase SDK version: 9.0.0
  * Firebase Product: auth

When typescript tries to compile a worker with firebase auth, it fails because types refer to DOM types which are not available in the worker library.

Steps to reproduce
[code]

Go to test-auth.worker.ts and place content:

[code]

Run Angular: ```ng serve```

You’ll g

[2021-10-08 19:06] mrjackyliang commented on #5586
Oh wow. It actually is a local storage issue. I simply deleted the website data under **Preferences > Privacy > Manage Website Data** and it fixed the issue. Thanks all!

[2021-10-08 19:06] #5586 closed

[2021-10-08 19:20] vin0010 commented on #2769
Still waiting for this feature with hope :-)

[2021-10-09 01:13] klapauciusisgreat opened #5597 "loading libraries locally throws "Component auth has not been registered yet""
### [REQUIRED] Describe your environment

  * Operating System version: MacOs BigSur
  * Browser version: 94.0.4606.81
  * Firebase SDK version: 9.1.2
  * Firebase Product: auth

### [REQUIRED] Describe the problem
I'm writing a chrome extension and run a background script as a service worker.

When loading libraries from gstatic, I can initialize the auth object. When loading a local copy, I get

[2021-10-09 08:42] boosh commented on #5523
This has started happening to me too and `markRaw` doesn't fix it

[2021-10-09 09:18] brambekkers opened #5598 "Number not allowed as name"
When i wanne write something to my database ill get a error when the value is a number and not a string. Maybe you can change this so numbers are allowed:

Not allowed (error):
[code]

Allowed:
[code]

[2021-10-10 02:14] r0hin commented on #1674
Referred by a line in the [documentation](https://firebase.google.com/docs/reference/js/v8/firebase.firestore.Settings#optional-experimentalforcelongpolling) 😄.

The only way I've gotten Cloud Firestore to work in an Expo-managed React Native project (tested on iOS only) is by enabling this option. Otherwise, it just throws the `Could not reach Cloud Firestore backend.` error despite having a good

[2021-10-10 02:52] mesqueeb commented on #1674
Yeah me too. It used to work without before on Firebase V8 and Capacitor 2.x

But after upgrading to Firebase v9 (modular) and Capacihor 3.x I am now forced to use `experimentalForceLongPolling: true`

[2021-10-10 11:44] Pablion opened #5599 "Incoherent data structure on `AuthError`"
### [REQUIRED] Describe your environment

- Operating System version: Windows 20H2 (Windows 10 10.0.19042)
- Browser version: Chrome 92 (Chrome: 92.0.4515.159)
- Firebase SDK version: 9.1.2 ("firebase": "^9.1.2")
- Firebase Product: auth

### [REQUIRED] Describe the problem

Data structure different in production environment than in [official doc][official-auth-error] and [source code][source-code

[2021-10-10 15:02] Pablion commented on #5599
## Please, before closing this issue, remember to edit the official document mentioned here above (same link in #5600).

[2021-10-10 16:19] helferleinsoftware commented on #1674
Same for me when upgrading to Firebase v9 on Expo 43 (in Beta as of today). My code now looks like this:
`import { FirebaseOptions, initializeApp } from 'firebase/app';
import { FirestoreSettings, initializeFirestore } from 'firebase/firestore';

const firebaseConfig: FirebaseOptions = {
  // configuration here
};

const theSettings: FirestoreSettings = {
  experimentalForceLongPolling: true,
};

[2021-10-10 16:52] umrashrf opened #5601 "Firestore Emulator setDoc does not work and there is no error"
### [REQUIRED] Describe your environment

  * Operating System version: macOS Big Sur 11.6
  * Browser version: React Native App on iPhone Device
  * Firebase SDK version: 9.1.2
  * Firebase Product: firestore (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:

#### Relevant Code:

[code]

#### Logs

[code]

[2021-10-11 19:06] Kachyz opened #5603 "Push notification does not arrive OR arrive generic notification message"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS 10.15.7
  * Browser version: Chrome 94.0.4606.71 (Official Build) (x86_64)
  * Firebase SDK version: firebase@8.9.1
  * Firebase Product: messaging

### [REQUIRED] Describe the problem

Trying to start a service worker (web) sending app information through parameters not working , however if app information is set inside

[2021-10-11 20:01] SylvainAssemat commented on #5516
HI

i made a simple example with only 3 files below :
- index.html
- firebase-messaging.js
- firebase-messaging-sw.js

If you have time to try it and reproduce (or not) the behavior, just fill the missing configuration inside :
- a firebase config json (in both js file)
- a vapidKey

Index.html
[code]

firebase-messaging.js
[code]

firebase-messaging-sw.js
[code]

[2021-10-12 01:02] #5556 closed

[2021-10-12 07:50] jbalidiong commented on #5591
Hi @jeronimonunes, thanks for the report. I was able to reproduce the behavior now. Let me check what we can do for this issue or bring someone here that can provide more context about it. I’ll update this thread if I have any information to share.

[2021-10-12 18:12] hsubox76 commented on #5603
Are you sure that once you've extracted `firebaseConfig.config` from the query parameters, it doesn't have any extra whitespace or quotes or hidden characters or anything? Can you do a deepequal check in your code between the hardcoded config and the one you extract from the query parameters? It seems like there must be some difference.

[2021-10-12 20:45] olehreznichenko commented on #3356
Same with me 😢

[2021-10-13 01:02] #5517 closed

[2021-10-13 01:45] treeder commented on #5597
I'm having the same problem using these modules with the CDN.

[2021-10-13 11:35] koroman17 opened #5608 "OAuthCredential.fromJSON() doesn't work"
I want to auto link  a user credential signed in with facebook provider to its google user
[code]
but after it runs to `const credential = OAuthCredential.fromJSON(savedCredential)`, it silently stops without saying anything

[2021-10-13 17:52] sam-gc commented on #5608
Hi @koroman17, thanks for reaching out.

I think what's happening here is the initial saving of the credential is incorrect. The `toJSON()` function returns an object with the serialized values (see the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#tojson_behavior)), but it doesn't convert the value to a string. Since `sessionStorage` on

[2021-10-13 18:45] treeder commented on #5597
I took some advice from elsewhere to allow sharing of firebase things in other modules by putting the firebase init into a separate file, then export it to let other modules import it. So I have `firebase.js` that looks like this:

[code]

Simply trying to import that file throws an error on the `getAuth()` line. "Component auth has not been registered yet".

Importing like this:

[code]

[2021-10-13 19:11] hsubox76 commented on #5597
@treeder Are you also using this in a service worker or Chrome extension, and if not, what environment and browser?

[2021-10-13 22:28] hsubox76 commented on #5597
Thanks! So the issue here is that these v9 CDN scripts are built to only be used from our gstatic CDN, such as
[code]
and in both cases here, they are not. The original user was using local files, and the second user is using a different CDN (jsdelivr).

The `firebase-auth.js` file imports some functions from `firebase-app.js`, specifically from `https://www.gstatic.com/firebasejs/[version]/fireba

[2021-10-14 01:02] #5546 closed

[2021-10-14 01:05] treeder commented on #5597
Well what do ya know, that worked. :) Thanks!

Any chance gstatic supports semver versioning like jsdelivr and others? Like the ^9.1.2 I had in my imports, which is really the only reason I was trying to use jsdelivr.

[2021-10-14 02:19] koroman17 commented on #5608
It works now. Thanks a lot!

[2021-10-14 02:19] #5608 closed, assigned to nobody

[2021-10-14 04:32] koroman17 opened #5610 "getRedirectResult(auth) still returns a UserCredential with a NONnull user after signing in or signing out (no redirect operation was called)"
First I sign in
[code]
then I get a UserCredential with a NONnull user (of course)
[code]
then I run the same function again
[code]
I still get a UserCredential with a NONnull user @@

then I sign out
[code]
then I run the function again
[code]
I still get a UserCredential with a NONnull user again @@
I think firebase has saved the redirect data somewhere and hasn't deleted it after first `getRedi

[2021-10-14 06:15] Whip opened #5611 "Cloud Messaging - No callback received when permissions are silently blocked"
* Operating System version: Windows 10
  * Browser version: Chrome 94
  * Firebase SDK version: 9.1.2
  * Firebase Product: cloud messaging

I'm implementing Cloud messaging push notifications on my project following the guides on Firebase Docs. Here's my code

[code]

It works normally but in case when notification permissions are silently blocked by Chrome, I do not receive any callback. None of

[2021-10-14 10:17] XuluWarrior opened #5612 "Intermittent "Client is offline" rejection from Realtime Database `get()`"
### [REQUIRED] Describe your environment

  * Operating System version: AWS Lambda - node-14
  * Firebase SDK version: 9.1.1
  * Firebase Product: database

### [REQUIRED] Describe the problem
Since updating my code to use Firebase 9.x and the new modular API, I am getting intermittent "Client is offline" promise rejections when calling `get()`.
There is a Firebase [Google Group](https://groups.go

[2021-10-14 10:44] fxbit opened #5613 "Latest Workbox and Firebase compatibility problem with IDB library"
### [REQUIRED] Describe your environment

  * Operating System version: Windows - node 14
  * Firebase SDK version: 9.1.2
  * Firebase Product: Messaging

### [REQUIRED] Describe the problem
The firebase is using very old IDB library (v3.0.2 - 3 years old).
The workbox is using v6.0.0+ (the latest one is v6.1.4) and this breaking the firebase.

In building we see the error messages :
[code]

Runti

[2021-10-14 12:46] AlvinTCH opened #5614 "setPersistence "FirebaseError: Messaging: This browser doesn't support the API's required to use the firebase SDK. messaging/unsupported-browser""
### [REQUIRED] Describe your environment

  * Operating System version: iOS 15
  * Firebase SDK version: 9.1.2
  * Firebase Product:auth (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:
I built an iOS app using capacitor after migrating to sdk v9. and running the setPersistence(auth, browserLocalPersistence) gave me the error "FirebaseError: Messaging:

[2021-10-14 13:44] #5614 closed

[2021-10-14 14:33] AlvinTCH opened #5615 "Firebase and iOS capacitor compatibility issue"
### [REQUIRED] Describe your environment

  * Operating System version: iOS15
  * Browser version: _____
  * Firebase SDK version: 9.1.2
  * Firebase Product: auth (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:
I am using capacitor and am trying to sign in with signInWithCustomToken. I encountered the issue of the promise not returning and also no err

[2021-10-14 15:43] AlvinTCH commented on #5615
Seems like other 'firebase/auth' methods are not working as well. tested getAuth. the promise just runs without any value return nor error

[2021-10-14 18:05] hsubox76 commented on #5597
No, they're just direct static urls.

[2021-10-14 19:45] #5610 closed, assigned to sam-gc

[2021-10-14 20:05] qlereboursBS opened #5618 "v9 modular: firebase getAuth method throwing error if cookies are disabled by browser (no localStorage)"
### [REQUIRED] Describe your environment

  * Operating System version: Linux - Ubuntu 20.4
  * Browser version: Chrome 94
  * Firebase SDK version: 9.1.1
  * Firebase Product: auth

### [REQUIRED] Describe the problem

When cookies are disabled by the browser (which seems to be the case by default in private browsing for third party website, loaded on iframe for instance, then the `getAuth` throw

[2021-10-14 22:45] schmidt-sebastian commented on #1674
Fetch is used to establish the underlying network connection for all requests in v9. v8 uses XHR. All network access goes through this code path.

[2021-10-15 02:50] AlvinTCH commented on #5615
Hi sam-gc, thanks for coming to my rescue. I used the 2nd method cause its more applicable for my use case and have less code refactoring, and it works. I will close this case for now. hope it helps anyone who encounters the same issue as me

[2021-10-15 02:50] #5615 closed

[2021-10-15 12:57] jbalidiong commented on #5612
Hi @XuluWarrior, thanks for reaching out. I tried replicating, but I wasn't able to reproduce the error. If I can replicate the issue, I can have a better look into it. Please share a minimal, but complete sample of a project that I can run locally.

[2021-10-15 16:01] schmidt-sebastian commented on #5612
@IanWyszynski Can you take a look?

[2021-10-15 17:41] tracy-ash opened #5624 "how to solve auth/invalid-tenant-id error?"
### Discussed in https://github.com/firebase/firebase-js-sdk/discussions/5619

<div type='discussions-op-text'>

<sup>Originally posted by **tracy-ash** October 14, 2021</sup>
Hello,

Not sure if this is the right place to ask this, but I cannot figure out how to authenticate a Firebase user to a project's tenant.

An `auth/invalid-tenant-id` error always happens with the code below.  Any ideas wh

[2021-10-16 07:58] thdk opened #5627 "firestore (v9): Cannot pass compat firestore to modular function runTransaction"
### [REQUIRED] Describe your environment

  * Operating System version: ubuntu
  * Browser version: n/a
  * Firebase SDK version: 9.1.2
  * Firebase Product: firestore, rules-unit-testing

### [REQUIRED] Describe the problem
If I understand the comment from issue #5550 correctly...

..., but you can pass it to any function exported from the modular SDK where a modular Firestore is accepted, such a

[2021-10-16 17:32] ulbqb opened #5628 "Firebase Storage getDownloadURL doesn't finish running"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS 11.6
  * Browser version: No Browser
  * Firebase SDK version: 9.1.3
  * Firebase Product:Storage
  * Nodejs version: 14.18.0

### [REQUIRED] Describe the problem
When I try to get the Storage DownloadURL with Nodejs, the getDownloadURL function works fine, but Nodejs doesn't finish running.
firebase-js-sdk should suppor

[2021-10-16 21:01] pimlie opened #5629 "web v9: Firestore onSnapshot returns cached snapshot while persistance is disabled"
### Describe your environment

  * Operating System version: Linux x86_64
  * Browser version: FF v92
  * Firebase SDK version: v9.1.3
  * Firebase Product: firestore

### Describe the problem

The docs say that for the Web SDK v9 caching is disabled by default and I didnt enable caching myself. But Im still receiving intermittent (partial) snapshots with `fromCache: true` when I query the same co

[2021-10-16 21:30] pimlie commented on #5629
Thanks to the power of the rubber 🦆 I realized my mistake, changing the 2nd onSnapshot to the following works for my use-case:

[code]

[2021-10-16 21:30] #5629 closed

[2021-10-18 13:50] DelliBabuG opened #5630 "Getting "Failed to minify" error while add firebase 9.1.3 in react js application"
Hi,

I tried to implement FCM in my react js application, i added firebase NPM and implemented the push notification feature in development. In development everything is worked fine.
When i build the code for production that time the build is getting failed and returning the below error

**Failed to compile.
Failed to minify the code from this file:
./node_modules/@firebase/util/dist/index.esm2017

[2021-10-18 14:18] StefanBratanov opened #5631 "Lighthouse Report Issue with auth iframe"
### [REQUIRED] Describe your environment

  * Operating System version: 10
  * Browser version: Chrome 94.0.4606.81
  * Firebase SDK version: 9.1.1
  * Firebase Product: auth

### [REQUIRED] Describe the problem
Hi, i am running into a Lighthouse issue stating that iframe element does not have a title. Please refer to the attached image. Can you please advise? I am using facebook, google, twitter

[2021-10-18 14:52] mfreeman451 opened #5632 "Need examples in typescript"
Documentation, examples, and sample API code should be updated to use Typescript. The firebase team needs to do a better job promoting typescript over javascript.

[2021-10-19 08:51] hakimio opened #5636 "Firestore: doc(), collection() and collectionGroup() should have generic type parameter"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 94
  * Firebase SDK version: 9.1.2
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

- The way `doc()`, `collection()` and `collectionGroup()` [types are declared](https://github.com/firebase/firebase-js-sdk/blob/cdada6c68f9740d13dd6674bcb658e28e68253b6/packages/firest

[2021-10-19 09:08] realkimmy opened #5637 "How to pass authentication information when using firestore to query data?"
### [REQUIRED] Describe your environment

  * Operating System version: macos
  * Browser version: chrome
  * Firebase SDK version: 9.1.3
  * Firebase Product: database

### [REQUIRED] Describe the problem

My application is deployed on `vercel`, how to pass the `token` information when I call the interface service to query the data in `firestore`?

#### Steps to reproduce:

#### Relevant Code:

[

[2021-10-19 11:57] jbalidiong commented on #5628
Hi @ulbqb, thanks for reporting this behavior. I tried following the steps you've provided to replicate the issue, however, I was able to get the download url. If I can replicate the issue, I can have a better look into it. Please share a minimal, but complete sample of a project that I can run locally.

[2021-10-19 13:00] #5624 closed, assigned to nobody

[2021-10-19 13:58] #5636 closed, assigned to thebrianchen

[2021-10-19 14:22] byCedric opened #5638 "signInWithPhoneNumber is not exported in React Native"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 11 Pro (21H2) / MacOS BigSur (11.6)
  * Browser version: Expo 42 - RN 0.63.3  / Expo 43 (beta) - RN 0.64.2
  * Firebase SDK version: 9.1.3
  * Firebase Product: auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:
It looks like the `signInWithPhoneNumber` and/or other methods and classes like `PhoneAuthP

[2021-10-19 14:41] jbalidiong commented on #5630
Hi @DelliBabuG, thanks for reporting this behavior. I tried replicating, but I wasn't able to reproduce the error and able to finish build. A reproducible example would be ideal, but in the mean time, could you share a few more details?

[2021-10-19 21:41] #4319 closed

[2021-10-20 01:13] realkimmy commented on #5637
@hsubox76 My rules

[code]

[2021-10-20 01:48] nth-child commented on #4683
Please give us an update. Thank you. I am facing this issue now.

[2021-10-20 14:45] ottob opened #5641 "Warning when starting new React Native project using firebase"
### [REQUIRED] Describe your environment

  * Operating System version: macOS 11.6
  * Browser version: n/a
  * Firebase SDK version: 9.1.3
  * Firebase Product: all

### [REQUIRED] Describe the problem

A warning is printed when I try to launch my new react native project using firebase firestore.
Same issue as #2850 but with additional information.

Since it's only a warning that doesn't seem to

[2021-10-20 14:58] Lizard-King101 opened #5642 "Firestore Type definition errors"
### [REQUIRED] Describe your environment

  * Operating System version: n/a
  * Browser version: n/a
  * Firebase SDK version: 9.1.2
  * Firebase Product: firestore

### [REQUIRED] Describe the problem
compiling TS for firestore gets type errors
[code]
temporary fix: edit file `node_modules/@firebase/firestore/dist/index.d.ts`
[code]

[2021-10-20 16:44] Feiyang1 commented on #5642
You will need to use typescript 4.1 or above.

[2021-10-20 16:44] #5642 closed

[2021-10-20 17:06] Mwamiq381 commented on #2364
Have the same issue (404) with the 8.3.1 please guide me how can i fix this issu
![error](https://user-images.githubusercontent.com/92384050/138139003-b478bd4b-ea7c-4ba8-9de0-d38e56ca30a1.PNG)
e

[2021-10-20 20:25] Krisell opened #5644 "Issue with version 9 compat build on Safari after one hour long sessions"
* Operating System version: macOS and iOS
  * Browser version: Safari 14 and 15
  * Firebase SDK version: `9.1.3` compat
  * Firebase Product: `auth`

### Description
Since updating from version 8.9.1 to the version 9.1.3 compatibility build, we started seeing lots of errors sent to our error tracker for Safari devices on sessions longer than one hour: `undefined is not an object (evaluating 'e._c

[2021-10-21 01:02] #5580 closed, assigned to nobody

[2021-10-21 01:30] realkimmy commented on #5637
@hsubox76 This API service was successfully called using postman.

![screenshot-20211021-092706](https://user-images.githubusercontent.com/19725091/138195597-ad7ed0b3-a04a-45d1-bdef-354c928c4e41.png)

[2021-10-21 03:59] klapauciusisgreat commented on #5597
Sorry for the late reply:

the reason I use local paths is that a chrome extension with manifest v3 requires it. At least, I have not found a way to make

```import {x, y, z} from "/firebase/app/``` work.

I will look into into module bundlers and "building my own scripts". Is there a good documentation for this, @hsubox76 ?

Also, let me know what additional information you need. This is a pretty

[2021-10-21 07:35] Krisell commented on #5644
We have now tested manually and after exactly one hour, all Storage and Firestore (the two services we use) operations stopped working, and the error mentioned above started to be thrown in the console.

[2021-10-21 12:23] desarrollosrosarinos commented on #4256
I have the same problem on android physical device and i solve it.
I register my app in safetynet and add the debug token, then i have to add safetynet library to build.gradle.
https://firebase.google.com/docs/app-check/android/safetynet-provider?authuser=0

[2021-10-21 12:35] desarrollosrosarinos commented on #4256
Sorry, also i need to change firefox as default browser and use chrome, that way works for me.

[2021-10-21 12:48] byCedric commented on #5641
I think this is more of an issue from Node itself. The new `exports` field was introduced as a good alternative for `main`, to simply have multiple entry points. But in practice, it behaves more like a guard to prevent "private" or non-exported packages.

In React Native and other platforms combining node + native code, we often have to fetch information about the package. Some good examples are [

[2021-10-21 13:07] caspermaven opened #5648 "FR: Allow emulators to connect over HTTPS"
### [REQUIRED] Describe your environment

  * Operating System version: macOS
  * Browser version: Safari 15.0
  * Firebase SDK version: 9.1.3
  * Firebase Product: auth, functions

### [REQUIRED] Describe the problem

#### Steps to reproduce:

The product we're building is a plugin for a parent application. The parent application provides a browser instance for our app to reside, but it imposes s

[2021-10-21 14:39] MergeCommits opened #5649 "intellisense/autocomplete no longer working with v9"
###  Describe your environment

  * Operating System: Windows 10
  * Firebase SDK version: 9.1.3
  * IDE: Webstorm and VSCode

### Describe the problem
Not sure if this is entirely related to Firebase itself.

With v9, no intellisense is provided for the firebase module. If I write out the import paths manually it does work, but no suggestions are given when writing out function names.

I think it

[2021-10-21 17:25] Feiyang1 commented on #5649
I'm aware that Webstorm has some issues with auto-completion with v9, but I have not heard any issues from VSCode. Can you please clarify if it's only an issue with Webstorm?

[2021-10-21 17:30] schmidt-sebastian commented on #1674
For any non-standard environments where `fetch` is broken please pass `useFetchStream: false` to Firestore settings.

We want `fetch` to be enabled by default in environments where XHR is not available. We might be able to build detection logic around this, but we hope that `fetch` works for almost everyone.

[2021-10-21 19:53] #5597 closed, assigned to nobody

[2021-10-22 01:04] zwu52 commented on #5516
@SylvainAssemat Thanks for sharing. I am not reproducing the issue.

What happens if you time this block
[code]

[2021-10-22 04:10] jmeistrich commented on #3832
I had this problem after upgrading to v9. Whereas in v8 it was setting the referrer header to the hostname, in v9 it is setting it to "" (empty string). Removing the referrer restriction on the API key is not really an acceptable solution, so I solved it by intercepting the request in a service worker and fixing it. But it would be ideal if the library could set the referrer correctly :)

[code]

[2021-10-22 04:35] jmeistrich opened #5657 "GoogleAuthProvider blocked by API key restrictions because it's not setting referrer"
### [REQUIRED] Describe your environment

  * Operating System version: macOS 11.6
  * Browser version: Chrome 94
  * Firebase SDK version: 9.1.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem

Signing in with Google failed with the error: "auth/requests-from-referer-\<empty\>-are-blocked."

It looks like in v9 it is not setting the referer on the fetch requests to [identitytoolki

[2021-10-22 10:20] koroman17 opened #5658 "[v9] updateDoc updates data with full size even only one field is passed in"
In the client I run this
[code]
in the rules I have `allow update: if request.resource.data.size() == 1`

and the update was denied until I rewrite the rules like this `allow update: if request.resource.data.size() == 9`, in which 9 is the size of the document in the firestore

The backends are both the emulators and the real firestore

I figured out that request.resource.data that comes from upda

[2021-10-23 08:39] gustavohenke opened #5661 "`T` isn't assignable to `WithFieldValue<T>`"
### [REQUIRED] Describe your environment

  * Operating System version: -
  * Browser version: -
  * Firebase SDK version: 9.1.3
  * Firebase Product: Firestore
  * Typescript 4.4.4

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Create a function which takes an argument of type `T`, and inside it call any firestore functions that receive `WithFieldValue` or `PartialWithFieldValue`

[2021-10-24 15:33] #5658 closed, assigned to nobody

[2021-10-25 11:25] SuPythony opened #5663 "Email link authentication email getting sent late"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 95
  * Firebase SDK version: ^9.1.3
  * Firebase Product: auth

### [REQUIRED] Describe the problem

Email link authentication email getting sent late (after 10-15 minutes)

#### Steps to reproduce:

This happens if you use the email link authentication service from any implementation.

#

[2021-10-25 22:29] Favourkass opened #5665 "FR: firebase.firestore is not a function"
### [REQUIRED] Describe your environment

  * Operating System version:  macbook big sur
  * Browser version: microsoft edge
  * Firebase SDK version: 9.1.3
  * Firebase Product: auth and database (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:

#### Relevant Code:
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
import firebase from

[2021-10-26 03:06] #5644 closed, assigned to nobody

[2021-10-26 05:54] tylim88 opened #5666 "Typo in firestore documentation"
https://firebase.google.com/docs/firestore/query-data/order-limit-data#limitations
there is a typo in this section

![image](https://user-images.githubusercontent.com/5227509/138816966-db129ee5-52e0-4b10-a346-37adb13bd5fb.png)

should be "You cannot order your query by any field included in an equality `==` or `in` clause."

Note: I cannot type anything in the document feedback, which is why I am

[2021-10-26 06:46] Kojon74 opened #5667 ""Could not reach Cloud Firestore backend" after upgrading to v9"
### [REQUIRED] Describe your environment

  * Firebase SDK version: 9.1.3
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

I just started updating my code from Firebase v8 to v9 and then started running into this issue (which is weird because it was just working before I upgraded to v9 so I'm pretty sure it's not a network issue)

It seems like some firebase features do work,

[2021-10-26 09:59] #5666 closed, assigned to nobody

[2021-10-26 12:11] #5663 closed, assigned to nobody

[2021-10-26 19:14] maxzaleski opened #5669 "Duplicate emulator warning"
### [REQUIRED] Describe your environment

  * Operating System version: macOS Montery 12.0.1
  * Browser version: Brave 1.31.87 (Chromium)
  * Firebase SDK version: 9.1.3
  * Firebase Product: emulator (auth)

### [REQUIRED] Describe the problem

Duplicate emulator warning.

![Screenshot 2021-10-26 at 20 12 14](https://user-images.githubusercontent.com/44905174/138945616-60ff9d9b-1bdc-4464-9909-3e

[2021-10-27 09:02] mortenbekditlevsen opened #5670 "Incorrect assumption in `successor` and `predecessor` functions"
https://github.com/firebase/firebase-js-sdk/blob/1048c4f2dc1338f0df2237e0d2f5a7afd82bba84/packages/database/src/core/util/NextPushId.ts#L100

The functions assume that the key that is used as input is created in the style of `nextPushId`, while in fact the key may be any valid RTDB key.

See discussion and solution (work in progress) for the iOS SDK here:

https://github.com/firebase/firebase-ios-

[2021-10-27 21:38] #5613 closed, assigned to nobody

[2021-10-28 07:13] AkhetAten opened #5674 "Error on pageload when optimization is on and FirebaseAuth is used"
### Describe your environment

  * Operating System version: Windows 10/macOS
  * Browser version: Firefox (93) / Chrome (95)
  * Firebase SDK version: 9.1.3
  * Firebase Product: auth

### Describe the problem

#### Steps to reproduce:
[AngularFireTryOut.zip](https://github.com/firebase/firebase-js-sdk/files/7431883/AngularFireTryOut.zip)

When building the attached sample with `optimization=true

[2021-10-29 04:43] koroman17 opened #5679 "Firebase storage 403 error occurs when auth is required even I have logged in"
In the rules I have

`allow read: if request.auth != null;`

In my app I have logged in and the returned url (got from getDownloadURL) consists the token at the end, but I still can't access my file until I set the rule to `allow read: if true;`

I also deployed cors as mentioned here [https://firebase.google.com/docs/storage/web/download-files#cors_configuration](url)

What should I do to solve t

[2021-10-29 07:45] ghinda opened #5682 "Firestore snapshot returns incomplete data from previous get requests"
### Describe your environment

  * Browser version: Chromium 94
  * Firebase SDK version: `9.2.0`
  * Firebase Product: Firestore

### Describe the problem

Snapshot returns incomplete query data, if other get requests for the same data are running before the snapshot is attached.

Even with no persistence enabled, the snapshot `metadata.fromCache` will return true for the specific query.

#### St

[2021-10-29 07:53] #5679 closed, assigned to nobody

[2021-10-29 14:36] acanimal opened #5685 "onAuthStateChange called on first user token refresh and it should not happen"
Hi,
I started as a tech question in [stackoverflow](https://stackoverflow.com/questions/69756283/firebase-auth-onauthstatechanged-triggered-also-on-token-refresh) but it seems it is a bug

### [REQUIRED] Describe your environment

  * Operating System version: macosx
  * Browser version: chrome 95
  * Firebase SDK version: 9.2.0, 9.1.3
  * Firebase Product: auth

### [REQUIRED] Describe the proble

[2021-10-29 18:25] hsubox76 commented on #5613
Thanks for the heads up, by the way, we have stopped supporting IE so we can definitely look into upgrading `idb` or possibly just using the native IndexedDB API directly.

[2021-10-29 21:25] #5685 closed

[2021-10-29 21:43] sam-gc commented on #5638
@edi The phone auth symbols and functionality are now exported as of the latest release (`9.2.0`)

[2021-10-29 21:43] #5638 closed

[2021-10-29 23:32] AminAtwi-ITXI commented on #4301
+1

[2021-10-30 01:14] realkimmy commented on #5637
You are right, my service is deployed on vercel with a serverless function, and the service is stateless. I will migrate the service from the node side to the browser environment to test it.

[2021-10-30 05:25] realkimmy commented on #5637
`https://store.gitterapp.com/login.html`
`https://store.gitterapp.com/store.html`

The code has been migrated to the browser environment. After testing, it is found that: Open the first URL, then click the login button, refresh the page, you can get the data, and open the second URL can not get the data. The error message is as follows::

[code]

[2021-10-30 09:38] StefanBratanov commented on #5631
Hi, i upgraded to latest version 9.2.0 and wanted to let you know i get a different lighthouse issue:

![image](https://user-images.githubusercontent.com/14827647/139527895-5497b0ed-d14e-4325-a4b9-90ae730fc17e.png)

[2021-10-30 10:23] vandres commented on #4946
Using the examples from the comments, I get an error "TypeError: class constructors must be invoked with 'new'"

[code]

[2021-10-30 10:40] vandres commented on #4946
Ah, the problem lies within AngularFire. Will open a ticket there

[2021-10-30 11:19] LanderBeeuwsaert opened #5687 "Upgrade to 9.2.0 gives error in jest unit tests"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: ---
  * Firebase SDK version: 9.1.3 upgrade to 9.2.0
  * Firebase Product: ----

### [REQUIRED] Describe the problem

When upgrading to firebase 9.2.0 from 9.1.3 our jest unit tests start to fail with the following message:

    TypeError: The argument 'filename' must be a file URL object, file

[2021-10-30 22:16] Shashank-Prasanna commented on #5667
That's so strange, I tried that and it didn't work
Code:
` await console.log('Initializing Firebase App...')
    const firebaseApp = await initializeApp({
      apiKey: "xxxxxxxxxxx",
      authDomain: "xxxxxx",
      projectId: "xxxxxx",
    })
    console.log('App Initialized, Initializing Firestore...')
    db = await initializeFirestore(firebaseApp, {useFetchStreams: false, experimentalForceLo

[2021-10-30 22:52] wahas-mughal opened #5688 "verifier._reset is not a function. (In 'verifier._reset()', 'verifier._reset' is undefined)"
* Operating System version: Windows 20H2
  * Browser version: CCleaner Browser 94.0.12470.84 (Official Build) (64-bit)
  * Firebase SDK version: 9.2.0
  * Firebase Product: AUTH
  * Expo SDK: 43
  * Node: 12.13.1

I'm implementing firebase phone auth but getting the below error:

 **verifier._reset is not a function. (In 'verifier._reset()', 'verifier._reset' is undefined)** when getting token

[2021-10-31 00:21] angusryer commented on #5667
@Shashank-Prasanna & @edi I hadn't replied back, but `experimentalForceLongPolling: true` did not work for me. I also tried `experimentalAutoDetectLongPolling: true` just in case. For context, I'm running solely on an iOS emulator at the moment.

I ended up extending the `FirestoreSettings` interface like so:

[code]

And with that I'm no longer getting the original error.

[2021-10-31 00:35] Shashank-Prasanna commented on #5667
I tried this but the original error comes up and I also get another error:
`Type annotations can only be used in TypeScript files`

Here's my full code:
[code]

[2021-10-31 00:36] JGSolutions commented on #5610
still getting null with 9.2.0 version

[2021-10-31 02:58] angusryer commented on #5667
Right @Shashank-Prasanna you'll have to remove the type defs if you're not using Typescript:

[code]

When testing this using the web, I also do not get the error. I haven't tested on an Android device.

[2021-10-31 14:19] Shashank-Prasanna commented on #5667
@angusryer The odd thing is that this works only in a web browser... when I use the React Native web app on my iOS phone (with expo and expo go), the error still arises. Perhaps it is related to this warning I always receive?

[code]
I never receive this error in a web browser, yet I do on iOS (haven't tested on Android)

[2021-11-01 03:49] tonprince commented on #5687
I got a similar error when using firebase in Sveltekit deployed on Vercel.

`2021-11-01T03:48:43.208Z	935c63ac-2b9c-4c39-b5d8-30afa3e6674e	ERROR	TypeError [ERR_INVALID_ARG_VALUE]: The argument 'filename' must be a file URL object, file URL string, or absolute path string. Received undefined    at Function.createRequire (internal/modules/cjs/loader.js:1173:11)    at Object.<anonymous> (/var/task/in

[2021-11-01 08:26] ejirocodes commented on #5019
Fixed here: https://stackoverflow.com/a/69793220/12624390

[2021-11-01 13:32] jbalidiong commented on #5682
Hi @ghinda, thanks for reaching out. While replicating, both console logs return false on my app and get all the data on the snapshot. A reproducible example would be ideal, but in the meantime, could you share a few more details?

Also, I would suggest creating a blank project, import Firebase, implement Firestore and check if the behavior is replicable.

[2021-11-01 14:26] jbalidiong commented on #5665
I'll be closing this for now. If you're still experiencing the issue, feel free to reopen this and provide the MCVE to help me investigate.

[2021-11-01 14:26] #5665 closed

[2021-11-01 15:50] schmidt-sebastian commented on #5667
`useFetchStreams` is now disabled for React Native if you install version 9.2.0. If this does not solve your issue, we can add this flag to the official type definitions, which should make it easier to use.

[2021-11-01 16:28] sam-gc commented on #5631
There's nothing in that iframe that will ever need to be interacted with. I'm not sure how to indicate to lighthouse that this is intentional. I will do some digging

[2021-11-01 16:30] sam-gc commented on #5610
@JGSolutions, do you mean getting nonnull? The PR linked above (https://github.com/firebase/firebase-js-sdk/pull/5617) makes it so that it will return `null` on subsequent calls (as is expected)

[2021-11-01 16:34] sam-gc commented on #5688
I think this issue should probably be raised with Expo. In v9, there is an expectation that the RecaptchaVerifier has an internal method called `_reset()`. As I understand it, Expo exports a RecaptchaVerifier that works with our libraries (the `RecaptchaVerifier` class that Firebase exports does not work in React Native). Please reach out to the Expo maintainers.

[2021-11-01 16:34] #5688 closed

[2021-11-01 16:34] StefanBratanov commented on #5631
Thank you! Are you able to replicate the lighthouse issue in your environment? It may be an issue on my side.

[2021-11-01 17:06] #5667 closed

[2021-11-01 19:39] Feiyang1 commented on #5649
Can you please try 9.2.0 to see if the situation improved? We made a change in this release, which I hope to solve the issue.

[2021-11-01 21:59] Feiyang1 commented on #5687
Note that you are loading the Nodejs bundle `index.node.cjs.js` in testing? Is it what you intend to do, or should you use the browser bundle instead?

The root cause of the issue is [this line](https://github.com/firebase/firebase-js-sdk/blob/master/packages/firestore/src/platform/node/grpc_connection.ts#L43), which we added to allow us to use `require` in the esm mode in Nodejs.

[2021-11-01 22:28] LanderBeeuwsaert commented on #5687
Hi @Feiyang1 , well we actually have our tests for the front-end application (angular + angularFire + firebase) in the same location as our tests for the functions (firebase-admin).

Probably that's indeed not a normal setup and this issue wouldn't occur if we would separate our tests?
Or is there another workaround or fix?

[2021-11-01 22:51] Feiyang1 commented on #5687
Your setup sounds fine to me as long as you are able to specify different configurations for your FE and BE tests respectively. Or are you saying you run both FE and BE tests as a single test run?

Are you able to instruct the FE tests to use`node_modules/@firebase/firestore-compat/dist/index.esm2017.js` the browser bundle to load firestore?

Is webpack involved at all to bundle tests before runni

[2021-11-01 23:30] luklew commented on #5638
I upgraded to 9.2.0 and get error:

`verifier._reset is not a function`

I am using the expo provided example.

[2021-11-02 01:02] #5630 closed

[2021-11-02 06:45] jmeistrich commented on #5657
I'm not sure how to provide a sample project since it requires the configuration of client IDs? But it happens with the code I included in the original post, just the basic signInWithPopup of the Google auth provider.

The thing that causes the issue is the API Key restrictions in Google Cloud. Here's a screenshot of what our restrictions look like:

<img width="847" alt="image" src="https://user-

[2021-11-02 06:47] AkhetAten commented on #5674
I can only say for sure that this didn't happen with firebase 8.9.1, as this was the version I migrated from.

[2021-11-02 08:42] ytetsuro opened #5690 "Error [FirebaseError]: Function WriteBatch.set() called with invalid data. Unsupported field value: a custom GeoPoint object"
### [REQUIRED] Describe your environment

  * Operating System version: macOS Big Sur 11.6
  * Browser version: Node.js
  * Firebase SDK version: 7.24.0
  * Firebase Product: firestore (auth, database, storage, etc)
  * @firebase/rules-unit-testing version: 1.3.15

### [REQUIRED] Describe the problem

Unable to add the GeoPoint class of the SDK for the browser to firestore.

#### Steps to reproduc

[2021-11-02 09:23] ytetsuro commented on #5690
I changed the firebase version to Series 8 and it worked correctly.

[code]

[2021-11-02 09:23] #5690 closed

[2021-11-02 10:15] Pablion opened #5691 "[docs][v9][storage] StorageReference interface missing function child"
### [REQUIRED] Describe your environment

~~* Operating System version: Win10 20H2~~
~~* Browser version: Chrome92~~
  * Firebase SDK version: 9.2.0
  * Firebase Product: sotrage

### [REQUIRED] Describe the problem

#### Steps to reproduce:

- In [official doc](https://firebase.google.com/docs/storage/web/download-files#full_example) `child()` was used in v9 (but not written in API nor `.d.ts`. )

[2021-11-02 10:16] Pablion commented on #5691
@google-oss-bot  Bro I tagged it with stack overflow style `[docs][v9][storage]` and how can you not knowing this?

[2021-11-02 11:52] tja4472 commented on #5687
Try this 👍

https://github.com/tja4472/angularfire-jest-tests

HTH

[2021-11-02 13:14] JGSolutions commented on #5610
Yes! In version 8 was getting user and credientials objects with properties. And now they are null. If that is expected then not sure why but broke my login process

[2021-11-02 16:06] Feiyang1 commented on #5691
Thanks for the report! It's actually a documentation error. We incorrectly used the v8 snippet for v9 in this instance. I will file an internal bug to fix it.

To get a child reference in v9, you would use `ref()` like so:
[code]

[2021-11-02 16:55] lcrocker opened #5692 "Firebase app never terminates, even after deleteApp()"
### [REQUIRED] Describe your environment

Ubuntu 20.04 LTS, kernel 5.11.0-38-generic
NodeJS 14.16.0
Firebase 9.2.0
TypeScript 4.4.4

### [REQUIRED] Describe the problem

App never terminates. Regardless of whether deleteApp() is called or not, node is left waiting for something and hangs.
This may be the a duplicate of #4987 , which is closed and locked so I can't add this as a comment there.

###

[2021-11-02 17:18] sam-gc commented on #5638
@luklew I think this is the same issue as https://github.com/firebase/firebase-js-sdk/issues/5688. The ReCaptcha verifier that expo exports will need to be updated to expose a `_reset()` function. In v8 this was named `reset()`. In both cases it's an internal undocumented method (which is why in v9 it was updated to follow our internal naming scheme).

Tagging @byCedric for visibility

[2021-11-02 17:22] sam-gc commented on #5657
Thanks for the further explanation @jmeistrich, I think this is enough to go on. I'm going to try to reproduce the issue and go from there.

[2021-11-02 19:19] Feiyang1 commented on #5687
Okay, thanks for the repro. It seems that external dependencies are not bundled for testing, and they are resolved using `require()` at runtime by Jest. That means the `main` field is used, and thus the Nodejs bundle is loaded for firebase packages. But since you are testing your FE code, and Jest is running in simulated browser mode, you really want to load the browser bundles from Firebase.

To

[2021-11-02 19:52] lcrocker commented on #5692
"wtfnode" shows that a timer is still running (it's from a "failAfter()" call):

- Timers:
  - (70000 ~ 1 min) (anonymous) @ /home/lee/work/cld_backend_all/zled-5090/node_modules/@firebase/functions/dist/index.node.cjs.js:458
  -

[2021-11-02 21:00] rromanchuk commented on #2628
I'm using S2S via G4 Measurement protocol for mobile events. Is it theoretically possible to use https://firebase.google.com/docs/reference/js/installations.md#getid  `getId()` to send REST events to the web G4/fb data stream, with this method as well (with the installation id returned from the js 9 client)?

Or, if i'm using a GTM web container<=>server with G4 tags can i push the firebase instal

[2021-11-02 21:09] schmidt-sebastian commented on #5637
You need to load the Firebase Auth SDK on every page that uses Firestore. It automatically registers itself with Firestore (once you call `getAuth()` or `initializeAuth()`) and will provide the authorization information from the current session, which could be from a different page under the same origin. You should not have to manually pass any token data.

[2021-11-02 21:17] schmidt-sebastian commented on #5682
Hi @ghinda (and @jbalidiong). I think what is being described here is not a bug, but rather how our SDK functions.  The first snapshot will be raised once any document content is available - this might be before the server responds if there are any document in the cache that match the query. This cache includes all currently active queries even if the cache is only kept in memory (and you have not

[2021-11-02 21:17] #5682 closed

[2021-11-02 21:23] schmidt-sebastian commented on #4110
@jamesdaniels - Given the release of v9, do we still have a way forward here? This looks like it need to be addressed in Auth, but I am not sure if there are any implications for Firestore and Database.

[2021-11-02 21:43] luklew commented on #5638
Will that be a quick enough job or should we all downgrade for now?

[2021-11-02 21:47] athoma13 commented on #4110
Agreed, this is a non-issue in v9...
I closing the issue

[2021-11-02 21:50] LeMimit commented on #5628
Hello !

I see the same problem with the functions of storage library called with mocha to test the security rules (`@firebase/rules-unit-testing`).

I tested the function `listAll` and `deleteObject`. Same problem with both.
I have to wait around 2 minutes after the test finishes to see the process finish.

[2021-11-02 21:54] edi commented on #5638
@luklew you can work around this by simply adding the following to your code:

`verifier._reset = () => {}`

[2021-11-02 22:37] #4846 closed

[2021-11-02 23:10] Feiyang1 commented on #5691
The document has been fixed now.

[2021-11-02 23:10] #5691 closed

[2021-11-03 02:03] Pablion commented on #5691
@Feiyang1 I just checked on my PC that its done nicely. But when I opened that url with my phone the spanish website still has `child()` used.

## some ammend

Also I would like to ask how can we achieve the `child(childPath)` now? I think we can use
[code]
where `instanceOfStorageReference`.

But this is not as performant as an internal `child()` function. My suggestion is to add a `child()` just

[2021-11-03 04:10] Parakoos commented on #4946
Another reason why this can be problematic is if you try to put the whole Auth module into a web worker. It works at first, until you test it on mobile, when suddenly it breaks because the web worker has no access to window.

The use of initializeAuth instead of getAuth (as outlined by sam-gc) fixed the issue for me.

PS. Having auth in a web worker already means that you cannot use signInWithPopu

[2021-11-03 06:11] Pablion commented on #5599
This is cloesd by #5616

[2021-11-03 06:11] #5599 closed

[2021-11-03 06:50] Pablion commented on #5691
I just tested that we can get child with `ref(instanceOfStorageReference, childPath)` but I still think having a child method is more consistent since we have `.parent` and `.root`. I can PR this if the idea is approved.

[2021-11-03 11:27] SamyPesse opened #5696 "maxretry error with database transaction and the emulator"
### Describe your environment

  * Operating System version: OS X
  * Browser version: Chrome (latest)
  * Firebase SDK version: 8.7.1
  * Firebase Product: database and emulator

###Describe the problem

#### Steps to reproduce:

From time to time, transactions in our unit tests are failing with the error `maxretry`

basically a code like:

[code]

when run with the emulator results often (not al

[2021-11-03 11:54] Burgov opened #5697 "Error in Angular Universal app after upgrading from 9.1.3 to 9.2.0"
After upgrading to 9.2.0, my Angular Universal app doesn't work anymore. It compiles successfully, but then on runtime I get this error:

[code]

The error is thrown from Domino, and the line in the firebase SDK that seems to be triggering it is

[code]

I tracked it down in the source code to this specific change:
https://github.com/firebase/firebase-js-sdk/commit/4d36404812a7ca24ced5e1aabf6d8aa0

[2021-11-03 12:13] Burgov commented on #5697
Everything works as expected if i change

`typeof document === 'undefined'`
to
`typeof global !== 'undefined'`

in the js file in my node_modules folder. Not sure how it should be solved on the source files though. I guess the fact that domino is defining `document` on `global` screws up the "hack"

[2021-11-03 15:31] schmidt-sebastian commented on #5692
This would also explain https://github.com/firebase/firebase-js-sdk/issues/5628

@Feiyang1 Can you take a look?

[2021-11-03 17:09] #5661 closed

[2021-11-03 19:47] luklew commented on #5638
@edi  where would I add this? Thanks.

[2021-11-03 19:51] edi commented on #5638
@luklew Inside the method you're passing phone number the verifier for sending the SMS.
So, you pick up the user's number, and you pass the recaptcha verifier towards a method which calls the following:

`provider.verifyPhoneNumber(number, verifier)`

Somewhere before this line, you should add the following:

`verifier._reset = () => {}`

[2021-11-03 20:18] luklew commented on #5638
@edi

Here is my example:
[code]

Didnt work for me

[2021-11-03 20:20] luklew commented on #5638
@edi Im getting another error now:

`undefined is not an object (evaluating auth.tenantId)`

[2021-11-03 20:29] urakozz commented on #5687
I've got the same issue, but since in tests you better do not rely on the details of the implementation of the library, we just mocked entire `firebase/firestore` in tests setup:
[code]

[2021-11-03 21:15] edi commented on #5638
A different issue requires a different thread. Also, without an actual snack to check, it's hard to figure out. For me, it works. Open a different thread with all the details, and hopefully others will answer, otherwise, downgrade to 41 / 42 and be done with it.

[2021-11-04 01:42] smashah commented on #1874
For people using the new packages in TS:

[code]
Just for reference, the session logs out in 55 minutes automatically

[2021-11-04 09:06] jbalidiong commented on #4988
The issue seems to be not replicable in the latest SDK version. I've tried the 9.2.0 and I'm not experiencing the behavior, please try upgrading your SDK version. I'll be closing this issue now.

[2021-11-04 09:06] #4988 closed

[2021-11-04 10:48] RomainGranata opened #5699 "Firebase auth : "signInWithPopup" popup does not appear"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 95.0.4638.69 / Firefox 94.0
  * Firebase SDK version: 9.2.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem

Hello ! I am having an issue with the "signInWithPopup" method from firebase/auth. It seems to be extremely inconsistent, as it sometimes works flawlessely (the pop

[2021-11-04 13:59] jbalidiong commented on #5696
Hi @SamyPesse, thanks for reaching out. Would you mind trying to update the SDK version that you're using and see if the issue persists? Just FYI, going forward, any fixes will be in version 9+. For minimal change, you can use the import paths require('firebase/compat/app') and require('firebase/compat/database'). You can also check the documentation about upgrading from version 8 to the modular W

[2021-11-04 14:58] ChkBuk commented on #4256
I am also facing the same issue on Flutter Firebase Twitter login

[2021-11-04 15:07] ggirotto commented on #4256
Have you tried [this solution](https://github.com/firebase/firebase-js-sdk/issues/4256#issuecomment-951102229)?

[2021-11-04 15:41] ChkBuk commented on #4256
@ggirotto
Thanks, but I am facing an issue with the firebase Twitter login on IOS device.

[2021-11-04 15:52] ggirotto commented on #4256
Oh, I haven't noticed you mentioned the device. Sorry about that

[2021-11-04 15:53] ChkBuk commented on #4256
I just solved the issue using the following steps.
1) change callback URL in Twitter developer account
    I used appname:// instead of the redirect URL given by firebase (https://appname-5ec80.firebaseapp.com/__/auth/handler)
2) Changed the code

[code]

[2021-11-04 15:54] ChkBuk commented on #4256
No worries @ggirotto , just now I solved the issue. [See](https://github.com/firebase/firebase-js-sdk/issues/4256#issuecomment-961177531)

[2021-11-04 15:57] facuparedes commented on #5699
Same issue here, "signInWithPopup" is undefined

[2021-11-04 16:17] pruscius commented on #5699
Same thing here, both signInWithPopup and signInWithRedirect are undefined.

[2021-11-04 17:31] sam-gc commented on #5699
@facuparedes and @pruscius, this is a separate issue; React Native does not export the `signInWIthPopup` and `signInWithReactNative` entrypoints since both of these functions directly modify the DOM. This issue here is unrelated to that. Please open a separate issue if you feel this is the wrong behavior.

@RomainGranata, I'm wondering if this is due to popup blockers within the browser. How often

[2021-11-04 17:37] RomainGranata commented on #5699
@sam-gc , it is really hard to say. What I can tell you is that I have had issues to make it work on both Firefox and Edge (which were te only two browsers I had installed on my computer back then). When I downloaded Chrome and made a fresh install of it, the popup initially worked (which had me believe that the problem came from my own browser - which I tweaked for maximum security). But when I t

[2021-11-04 18:32] sam-gc commented on #5657
@jmeistrich I can't seem to reproduce this. When setting up API key restrictions, I can get both v8 and v9 to fail when the domain isn't listed, and I can get both to work when the domain is listed (it works in v9 even though the referer header isn't set). As an aside, I'm not sure it is related to the referer header: your snippet is setting a header called "referrer" which, while technically the

[2021-11-04 18:43] sam-gc commented on #5699
Very odd... Does it seem to happen on other machines as well? Is anything printed in the console when the popup doesn't open? Would you mind downgrading to v8 to see if the issue persists there? (This will inform which part of the code base the issue is occurring in)

[2021-11-04 20:51] sam-gc commented on #5631
I am able to replicate, a fix is on the way!

[2021-11-04 21:18] #5631 closed

[2021-11-04 22:20] dcc82 opened #5702 ""ReferenceError: __dirname is not defined" occurs in 9.2.0"
Node version: 16.13.0 LTS
Firebase SDK version: 9.2.0

After upgrading to 9.2.0, there's an error saying "ReferenceError: __dirname is not defined at loadProtos (file:///node_modules/@firebase/firestore/dist/index.node.mjs:14422:26...)

I'm using ES6 modules. Everything was fine in the previous version 9.1.3. What has changed?

[2021-11-04 22:37] ruizaj13 commented on #5687
Same issue as-well however I'm working with React and the solution above doesn't seem to work due to create-react-app's limitations. Thoughts?

[2021-11-04 22:50] dcc82 commented on #5702
It's now working again in 9.3.0. Thank you!

[2021-11-04 22:51] #5702 closed

[2021-11-05 00:52] jaunt opened #5705 "Deleting a user which is no longer the current user seems to trigger onAuthStateChanges now."
Browser version: Chrome Version 95.0.4638.69
Firebase SDK version: 9.2 Compatibility Mode
Firebase UI version: 6.0

This is in regards to handling anonymous-upgrade-merge-conflict in firebase UI.

Before I updated to 9.2 compatibility mode, I was on firebaseui 5.0 and firebase 8.x. Deleting the anon user as shown in the code below did so silently (onAuthStateChanged was not called).  This is makes

[2021-11-05 01:02] #5516 closed

[2021-11-05 09:16] AkhetAten commented on #5674
I wanted to ask if there is some new information about this issue. Although we can workaround it with providing the application without optimized code, it has been observed that the performance is not as good as with the optimized code (especially on mobile devices). As we are using firebase in public platform, we do not want risk losing customers because of decreasing performance.

[2021-11-05 11:54] barbalex opened #5707 "Updating firebase from v9.2.0 to v9.3.0: error in build from @firebase/app"
### Describe your environment

  * Operating System version: Windows 11
  * Browser version: Chrome current
  * Firebase SDK version: 9.3.0
  * Firebase Product: auth

### Describe the problem

#### Steps to reproduce:
I updated firebase from 9.2.0 to 9.3.0 in this project: https://github.com/barbalex/vermehrung

#### Relevant Code:

[code]
to:
[code]

produced this error in a gatsby app when runn

[2021-11-05 16:45] sam-gc commented on #5707
I think this is an app issue, not an auth issue

[2021-11-05 17:10] barbalex commented on #5707
I reverted to v9.2.0. Later tried upgrading to v9.3.0 again. And the error did not reappear. So it seems this is not repeatable. Closing.

[2021-11-05 17:10] #5707 closed

[2021-11-05 21:53] rodrigo85 commented on #1847
Same problem here.

[2021-11-06 11:04] RomainGranata commented on #5699
Ok so here are my observations :

- The popup does not seems to be working on other computers. The same proble happens.
- Nothing is written in the console when the popup does not appear.
- When downgrading to v8, I have a different issue. The popup does appear, but it is a blank one (about:blank).

![issue1](https://user-images.githubusercontent.com/72044425/140607276-34a1ac19-14aa-468d-8a62-0332

[2021-11-06 11:19] jmeistrich commented on #5657
Thanks for looking into it @sam-gc! I am seeing this behavior in production.

If you can't reproduce this and it doesn't affect anyone else it must be something specific to our project. We are happy enough with the service worker workaround for now, but I will reach out to Firebase Support and see if they have any guidance.

[2021-11-06 12:45] Pablion commented on #5691
any rejection/acception? @Feiyang1

[2021-11-06 22:15] johnnyoshika commented on #1674
@sampajano Any progress on fixing the race condition in `experimentalAutoDetectLongPolling`?

[2021-11-07 17:06] SamyPesse commented on #5696
Hi @jbalidiong, it's also happening with firebase 9.3.0.

It doesn't always happen; but the more we increase the odds of concurrency in our tests (nothing crazy, like max 2 / 3 operations at the same time), the more it happens.

[2021-11-07 19:42] dqii commented on #1847
Is there any timeline on exposing getReactNativePersistance or just using @react-native-async-storage/async-storage?

[2021-11-07 22:08] cwilby commented on #1847
Yeah, how long **is** it going to take you all to submit a PR?

This is getting in the way of my very very busy day, would appreciate an update?

/s

[2021-11-07 22:58] richtera opened #5709 "Upgrading firebase and firebase-admin in the same project causes problems again"
### [REQUIRED] Describe your environment
nv.dev environment with
    "firebase": "^9.0.1",
    "firebase-admin": "^9.11.1",
Upgrading to latest breaks the project.

  * Operating System version: MacOS 12.0.1 (21A559)
  * Browser version: Version 95.0.4638.69 (Official Build) (x86_64)
  * Firebase SDK version: 9.0.1
  * Firebase Product: auth,database,storage,functions,firestore

### [REQUIRED] Des

[2021-11-08 03:05] tajetaje commented on #1847
Why go for such a convoluted solution when Expo now fully supports @react-native-async-storage/async-storage?

This requires ejecting on expo which is the exact reason that this issue exists in the first place

[2021-11-08 13:29] jbalidiong commented on #5696
Thanks for trying it with the latest SDK version. A reproducible example would be ideal, but in the meantime, could you share a few more details?

[2021-11-08 14:10] richtera commented on #5709
The upgrade was versions involved are from and to
firebase                         9.1.3   9.3.0  9.3.0  dependencies    https://firebase.google.com/
firebase-admin                   9.12.0  9.12.0 10.0.0 dependencies    https://firebase.google.com/
i.e. 9.1.3 to 9.3.0
and 9.12.0 to 10.0.0
So 9.3.0 and 10.0.0 don't seem to be able to live together in the same project agin.

[2021-11-08 16:05] emmalearnscode commented on #4291
I added analytics to a firebase project about 8 hours ago and I'm getting a similar issue, except it's not had analytics before so there's no old measurement id stored.
<img width="361" alt="Screenshot 2021-11-08 161604" src="https://user-images.githubusercontent.com/57045550/140775954-0a007e65-5c08-4a5c-a5db-d0038edda1b6.png">

Would be nice if the documentation mentioned this problem as it's a w

[2021-11-08 16:19] psychoSherlock commented on #1847
Hey now that v9 is released, is this issue fixed?

[2021-11-08 16:25] edi commented on #1847
getReactNativePersistence is not exposed, therefore not fixed yet.

[2021-11-08 16:40] jbalidiong commented on #5696
To clarify, you are encountering the behavior when the same ref is use for the concurrent transaction?