[2019-12-21 13:18] tchimih commented on #2454
Hello @rommelpe,

Thanks for your help, I found out my issue. I upgraded to v7.6.0 as recommanded and it worked fine :)

[2019-12-21 13:18] #2454 closed

[2019-12-21 14:00] dlockwo commented on #2458
No problem. Let me know if you need anything more. Thanks.

[2019-12-22 02:03] #2430 closed

[2019-12-22 02:03] #2118 closed

[2019-12-22 21:04] Ridermansb commented on #2364
@mmermerkaya did you created new issue for CORS  problem?
I'm having the same issue.

[2019-12-22 23:12] ctavan opened #2467 "OPTIONS installations/***/authTokens:generate request causes CORS error"
### Describe your environment

  * Operating System version: macOS 10.14
  * Browser version: Any (e.g. Chrome 79)
  * Firebase SDK version: firebase@7.6.1
  * Firebase Product: analytics

### Describe the problem

I believe this is the same issue that others are observing in https://github.com/firebase/firebase-js-sdk/issues/2364#issuecomment-567174372

I seem to be running into an edge case wher

[2019-12-22 23:13] ctavan commented on #2364
@Ridermansb @mmermerkaya @GoktuqCan @CodeByBryan could you check if #2467 matches the issue that you are observing?

[2019-12-23 09:01] GoktuqCan commented on #2467
Thank you @ctavan . I am having the same issue and i think its irrelevant to OS.
  * Operating System version: Ubuntu 18.04.3 LTS
  * Browser version: Version 79.0.3945.88 (Official Build) (64-bit)
  * Firebase SDK version: 7.6.0
  * Firebase Product: messaging

I don't have this problem with my MacOS Chrome and Opera browser in Ubuntu.(In these i didn't use the app quite a while)
I think problem

[2019-12-23 12:33] prarabdhb commented on #2438
Hi, I've made a screen recording. Its a 2 minute video and in this I've covered all different scenarios, so that the issue can be understood better.

https://streamable.com/pu71x

Initially, I did not have any apps open in the background, nor I had the Push Testing PWA installed on my phone.

1. I send a notification, which on clicking opens the browser. This is expected behaviour.
2. I minimize t

[2019-12-23 13:11] GoktuqCan commented on #2467
I have different users(and of course they have different instances) for Chrome. Both were having this issue. So i deleted firebase databases from one of them. Problem is gone for that and receiving FCM token. But issue remains for the other one.
I am sure this beacuse of the previous records in IndexedDB.

[2019-12-23 13:21] ilovedesert001 opened #2468 "Requesting authTokens: generate always fails because of CORS"
* Operating System version: mac
  * Browser version: chrome Chrome/76.0.3800.0
  * Firebase SDK version: 7.6.1
  * Firebase Product:  analytics , prformance

x-firebase-client: fire-core/0.5.0 fire-js/ firebase-app/7.6.1 fire-iid/0.3.8 fire-analytics/0.2.9 fire-perf/0.2.28

sdkVersion: "w:0.3.8"

[code]

[2019-12-23 13:37] mmermerkaya commented on #2468
Duplicate of #2467

[2019-12-23 13:37] #2468 closed

[2019-12-23 14:11] #2336 closed

[2019-12-23 15:29] ioanmeri commented on #2420
Getting the same error as well:
index.esm.js?2e66:3469 Uncaught TypeError: instance.INTERNAL.registerService is not a function
at registerStorage

[code]
Uninstalling and installing doesn't solve the issue for me. I've tried importing the storage both from the main firebase package ("firebase": "^5.8.0",) and from the stand alone packages ("@firebase/app", "@firebase/auth", "@firebase/firestore",

[2019-12-23 16:46] CodeByBryan commented on #2364
I am having the issue in a Chrome Extension. when getToken() is called I recieve:

FirebaseError: Messaging: A problem occured while unsubscribing the user from FCM: Internal error encountered. (messaging/token-unsubscribe-failed).
 (messaging/token-unsubscribe-failed).<

I am not getting any CORS errors

[2019-12-24 05:22] niklat22 commented on #2364
Same error for user resubscribe:

[code]

[2019-12-24 11:41] laurentpayot commented on #2420
@ioanmeri did you try a full `rm -rf node_modules && rm package-lock.json && npm i`?

[2019-12-24 12:01] mmermerkaya commented on #2467
Thanks for the detailed description. Unfortunately I can't reproduce this, even when (force) calling the `authTokens:generate` API. It just completes successfully, or if I pass in a wrong parameter it fails, but still responds with the proper CORS headers. :confused:

@rommelpe could you take a look as well?

[2019-12-24 12:12] tbua opened #2469 "firebase.messaging.deleteToken() FAILED when deleting token"
### [REQUIRED] Describe your environment
Operating System version: Microsoft Windows 10 Pro Version 10.0.10586 Build 10586
Browser version: Google Chrome Version 79.0.3945.88
Firebase SDK version: 6.4.2
Firebase Product: Firebase Cloud Messaging

### [REQUIRED] Describe the problem
I am trying stop web browser from receiving notification for cases where user logs out/ when oauth refresh token time

[2019-12-24 12:18] ctavan commented on #2467
@mmermerkaya how could I try force calling `authTokens:generate` on my own? As stated in the bug report it depends on the contents of the IndexedDB, so I could try to call this in my affected browser profile as well.

[2019-12-24 12:26] GoktuqCan commented on #2467
@mmermerkaya I just checked which version i started to use this sdk. first npm version was `5.7.0`. Maybe you can get token with that version and update to `6.x.x` get token again and then `7.6.x`.
I think this can reproduce problem.

[2019-12-24 12:34] mmermerkaya commented on #2467
@ctavan This should do it:
[code]
Installations SDK reference docs can be found [here](https://firebase.google.com/docs/reference/js/firebase.installations.Installations.html).

@GoktuqCan Thanks! I'll try that.

[2019-12-24 14:49] ioanmeri commented on #2420
Thank you @laurentpayot
rm -rf got it running
Happy Xmas : )

[2019-12-24 15:46] VitaliP commented on #2467
Hi I have the same issue and to be honest its a huge problem now as I get a lot of support requests from users.

On Friday/Saturday, it stopped working
I tried installations.getToken(/* forceRefresh= */ true);

same error Access to fetch at 'https://firebaseinstallations.googleapis.com/v1/projects/coral-ring-XXXX/installations/XXXXXXX/authTokens:generate' from origin 'http://localhost:8080' has be

[2019-12-24 17:24] alexarsh opened #2470 "Performance issue of the second query"
* Operating System version: Ubuntu 18.04.3
  * Browser version: Firefox 71
  "firebase": "^5.9.1",
  "firebase-admin": "^7.1.1",

I have a Nuxt app were I inilitialize firebase application. After that, I have a page where I load some data with some query. It looks like this:

[code]

This query bring me just 3 simple records from the firebase.

When I get to the page for the first time, my query r

[2019-12-24 18:33] QuantumInformation commented on #462
Seems like this is a whole lot more complex than it needs to be, Can't it be a sync read of the indexDB? Could that really be that slow?

[2019-12-25 01:51] Thaina commented on #462
@QuantumInformation There was a lot more preparation need to be done in firebase system before it could return proper user. I don't know what they kept in indexDB but I guess it is not a complete userdata. And if the system was online the user will most likely expect the fresh userdata

[2019-12-25 02:03] #2437 closed

[2019-12-26 02:11] schmidt-sebastian commented on #611
Unfortunately, without a reproduction or debug logs we will not be able to provide much useful help. Do note that that I was wrong about how to turn on logging - it is not `setLoggingEnabled` but rather `setLogLevel`. Apologies!

Please take a look here for how to enable our debug logs: https://firebase.google.com/docs/reference/js/firebase.firestore.html#setloglevel

[2019-12-26 03:32] schmidt-sebastian commented on #2459
@iwikal Thank you for reporting this. This is indeed a bug. I tracked this down to an issue in the Functions SDK and filed https://github.com/firebase/firebase-functions/issues/599 on your behalf. Since the offending code does not live in `firebase-js-sdk`, let's move the conversation to the new issue.

[2019-12-26 03:32] #2459 closed

[2019-12-26 03:39] schmidt-sebastian commented on #2470
@alexarsh Thanks for filing this issue. I am assuming that you are using the Firebase Web SDK for your query (via "firebase": "^5.9.1"). If not, we may have to move your issue to https://github.com/googleapis/nodejs-firestore

Can you let us know if you are using IndexedDb Persistence (are you calling `enablePersistence()`?). It would also help us if you could provide [debug logs] (https://firebas

[2019-12-26 03:40] schmidt-sebastian commented on #2470
This might be related to https://github.com/firebase/firebase-js-sdk/issues/2457

[2019-12-26 05:12] mcostabr opened #2517 "FCM - Without results message_id when sending to EDGE, on Chrome works fine"
I get the sample code here, tested it on Chrome it worked fine, on MS EDGE don't get the message.

Is there any incompatibility?
The EDGE version is 18, theoretically supposed to work.
Microsoft Edge 44.18362.449.0 / Microsoft EdgeHTML 18.18362
https://firebase.google.com/support/guides/environments_js-sdk

Printscreen test on Chrome, EDGE and postman results.

![TEST1](https://user-images.githubu

[2019-12-26 07:38] bogacg commented on #2467
In my app I've added Firebase (with angular/fire) but other than initialization and call for performance module it does nothing related to database or other services (no storage, auth...etc). Yet I'm getting same error. If I open browser in incognito mode works fine, or delete cache it works again but some time later get that error again. It's a PWA and testers already installed to their phones, w

[2019-12-26 12:39] aetbaev commented on #2467
I have the same problem.
The problem disappears and returns.
Ubuntu 19.10/Chrome 77.0.3865.120

[2019-12-27 00:26] tenjojeremy opened #2473 "auth/network-request-failed"
![Annotation 2019-12-26 192632](https://user-images.githubusercontent.com/25231946/71494502-a8d24c00-2815-11ea-9d86-58087b1d51c0.jpg)

[2019-12-27 01:30] kulaj commented on #1878
Have you managed to solve this?

[2019-12-27 07:22] developdeez opened #2475 "getting null when user solve image captcha"
My frontend is React. I've noticed this when solving captchas myself.

`
xhr | POST https://www.googleapis.com/identitytoolkit/v3/relyingparty/sendVerificationCode?key={key} [400]`
-- | -- followed by

[code]

 Here's my recaptcha tag.
<div id="recaptcha-container" style={{ display: "none" }}></div>

Considering the user can click the captcha its clearly rendered. Am I missing something here?

[2019-12-27 08:16] cosmospham commented on #2467
I confirm this issue. It did not happended about 7 days before. The problem occurs only some day ago.

[code]
<img width="780" alt="Screenshot 2019-12-27 15 12 50" src="https://user-images.githubusercontent.com/1793245/71508823-ac201300-28bb-11ea-87b1-5a3b2d72190d.png">

<img width="739" alt="Screenshot 2019-12-27 15 13 15" src="https://user-images.githubusercontent.com/1793245/71508812-a3c7d800-2

[2019-12-27 08:21] schmidt-sebastian commented on #2475
@developdeez Thanks for filing this issue. You seem to have an issue with ReCaptcha - this repository is for the Firebase Web SDKs. We won't be able to help you here. Please take a look here: https://support.google.com/recaptcha/?hl=en

[2019-12-27 08:21] #2475 closed

[2019-12-27 11:20] chanlito commented on #2467
Facing same issue if anyone found a workaround in the mean time please let all of us know.
I'm sure the firebase team already working on a fix for this.

[2019-12-27 11:55] brpaz opened #2476 "TypeError: "Object(...) is not a function" when doing a batch insert in Firestore"
### Environment

  * Operating System version: Fedora 30
  * Browser version: Firefox 71
  * Firebase SDK version: 7.6.1
  * Firebase Product: firestore

### Describe the problem

I am trying to insert some "tag" documents in batch in Firestore and I am getting the following error in console:

**TypeError: "Object(...) is not a function"**

The error occurs on the `batch.set` instruction.

Here is

[2019-12-27 13:30] ctavan commented on #2467
@bogacg the Stack Overflow answer you have posted does not seem to be related: In the project where I see the error I use unrestricted API Keys, so this can't be the issue.

[2019-12-27 13:57] ctavan commented on #2467
@mmermerkaya I still see the same error with your minimal reproduction code (calling `installations.getToken(true)`). I can send you a link to the test page in a direct message if that would be helpful for you (still have to mention that the outcome depends on the contents of the IndexedDB of your local browser profile as reported in the original bug report).

[2019-12-27 14:23] Christilut commented on #2467
Same error here.

Happens on Firefox and Chrome 79. I'm on Windows 10.

Deleting the `firebase-installations-database` indexedDB fixes it until it comes back again for unknown reasons.

The indexedDB contained this before deleting it:
[code]

[2019-12-27 17:26] patrickmichalina commented on #2467
Same here. @Christilut is right, deleting `firebase-installations-database` clears the error for awhile.

[2019-12-28 01:55] var-const commented on #2458
Quick update -- I was able to reproduce the 3K reads using the repro case. We will investigate further after the holidays.

[2019-12-28 02:01] var-const commented on #2456
Thanks for the additional information! At the first glance, it seems like the code you posted should not trigger the error message you're seeing. However, it has occurred to me that when I tried to reproduce the issue, I wasn't using the React Native packaging of Firestore; I will give it another try using `"@react-native-firebase/firestore"` in case it's the culprit.

[2019-12-28 03:41] magpiedigital opened #2477 "FR: prefill serverTimestamp() with Timestamp object with .onSnapshot() before the response is received"
* Operating System version: macOS 10.14.6
  * Browser version: Chrome 79.0.3945.88
  * Firebase SDK version: 7.6.1
  * Firebase Product: firestore

### Describe the problem
When you add a serverTimestamp to a document, listened to with onSnapshot(), the local version is cached as `null` before the response is returned with the timestamp.

I think it would be a better experience if the local versio

[2019-12-28 09:38] cosmospham commented on #2467
I tried and this work. Need a fix from the source code for other clients.

[2019-12-28 16:58] TomTomB opened #2478 "Google Sign In not possible from within electron"
### Describe your environment

  * Operating System version: Windows 10 Build 1909
  * Browser version: Electron 7.1.7
  * Firebase SDK version: 7.6.1
  * Firebase Product: auth

### Describe the problem

I am not able to sign in with my Google account. After clicking the sign in button inside the popup the following message appears:

[code]

I´ve already resolved every electron security warning

[2019-12-29 02:22] tohagan commented on #2467
Experiencing the same issue

[2019-12-29 09:40] alexarsh commented on #2470
@schmidt-sebastian ,
Thanks for the response. I'm using "firebase": "^5.9.1"
I didn't find enablePersistence() in my code, but I see some prints in logs which looks like that:

`[2019-12-29T09:21:03.363Z] @firebase/firestore: Firestore (5.9.1) [MemoryPersistence]: Starting transaction: Execute query vendors.app.js:22503:25
`

My debug logs include a lot of data specific info, so I didn't want to p

[2019-12-29 19:40] dmitrydbelov commented on #2467
same issue with FCM in react.js
Crome 79.0.3945.88 - Windows 10 - works w/o any problems.
Firefox 71.0 and Opera 65.0.3467.78 - CORS error

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://firebaseinstallations.googleapis.com/v1/projects/.../authTokens:generate. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).
Cross-Origin Request B

[2019-12-29 23:05] shadow1349 commented on #2467
I'm getting this problem on OSX with Chrome 79.0.3945.88 (Official Build) (64-bit). I am using Angular with firebase 7.6.1 and @angular/fire 5.2.3. Here is the error

`
Access to fetch at 'https://firebaseinstallations.googleapis.com/v1/projects/my-project/installations/SOME_TOKEN/authTokens:generate' from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight reques

[2019-12-30 02:03] #1943 closed

[2019-12-30 04:22] springfirenator commented on #2467
We have resolved it by using older versions of sdk
[code]

[2019-12-30 04:32] shadow1349 commented on #2467
@springfirenator is that the latest version that does not have that error?

[2019-12-30 04:40] springfirenator commented on #2467
@shadow1349 I guess you can use analytics of same version. And yes, the latest builds 7.6.0 and 7.6.1 produce these errors.

[code]

[2019-12-30 11:18] adarshmadrecha commented on #2467
I was having exactly the same problem mentioned in the issue.
This SO Answer Helped me resolve it
https://stackoverflow.com/a/58496014/4050261

[2019-12-30 12:05] bogacg commented on #2467
@adarshmadrecha Not really the same thing, error we are seeing this time occurs even if app already has unrestricted access. SDK changes with version 7.6.0 and service changes which we can't know about are causing this.
When you look at [Release Notes](https://firebase.google.com/support/release-notes/js#version_760_-_december_12_2019), it's only mentioned changes about FCM, but apps that are not

[2019-12-30 12:10] GoktuqCan commented on #2467
Thanks @springfirenator

npm users also have to do an **uninstall and fallback to previous version** as follows:
`npm uninstall firebase && npm i firebase@7.5.2`
Do not just change version in package.json

[2019-12-30 12:47] thebedroomprogrammer opened #2480 "Getting DOMException: Registration failed - push service error when trying to subscribe user"
I am getting the message **"DOMException: Registration failed - push service error"** on Chrome on some devices.

For most of the devices I am able to subscribe to the user but for some chrome devices, I am getting the error. The error is not only coming on my web app but for all the web apps that implement some kind of push notification.

Notification permission is set as allowed but on getting t

[2019-12-30 13:09] scottfr commented on #2457
My loading case is fairly complex, and I haven't managed to create a simple repro that duplicates what I am seeing.

The sawtooth loading pattern is straightforward to reproduce though. To do so:

1) Initialize the data:

[code]

2) Then load the data and check the performance (note you should load twice to make sure you get the cached data):

[code]

Performance zoomed out:

![image](https://user

[2019-12-30 13:15] bogacg commented on #2467
Despite falling back to v7.5.2 I'm still having issues 🤷‍♂️🤦‍♂️

[2019-12-30 16:49] xerosanyam opened #2481 "A mutation operation was attempted on a database that did not allow mutations"
### Describe your environment

  * Operating System version: MacOS 10.15
  * Browser version: Firefox 71
  * Firebase SDK version: 7.2.2
  * Firebase Product: auth, database, performance, analytics

### [REQUIRED] Describe the problem
In Firefox incognito, the firebase js throws error `A mutation operation was attempted on a database that did not allow mutations.`

I am Trying to access data from

[2019-12-30 20:08] kanadaj opened #2482 "Android Edge: This site has been updated in background"
### [REQUIRED] Describe your environment

  * Operating System version: Android 10 QQ1B.191205.011
  * Browser version: Edge 42.0.4.4062
  * Firebase SDK version: 7.6.1
  * Firebase Product: messaging

### [REQUIRED] Describe the problem

#### Steps to reproduce:

- Set up Service Worker with the default non-GCM JS
- Send notification
- Chrome desktop gets the notification as expected
- Android Ch

[2019-12-30 20:39] dimileeh commented on #2467
I'm hosting two websites with different domains in the same Firebase Hosting project.

Both websites worked just fine until I noticed that today one of them - WEBSITETWO -  started to complain:

```Access to fetch at 'https://firebaseinstallations.googleapis.com/v1/projects/WEBSITEONE/installations/TOKEN/authTokens:generate' from origin 'https://WEBSITETWO.com' has been blocked by CORS policy: Res

[2019-12-31 00:19] schmidt-sebastian commented on #2470
Your logs indicate that you are using MemoryPersistence. That should be relatively fast as we hold all data in memory. How many queries do you have running in parallel? And does `this.api.configs.dynamic_rule.getQuery()` always return a Query that against the same collection?

If you are able, can you scrub the private data from the logs? Having the timestamps and the first part of the logs (exclu

[2019-12-31 00:24] schmidt-sebastian commented on #2476
@brpaz Sorry to hear about your troubles. Are you able to use other functionality in Firestore (e.g. would your code snippet work if you used tagRef.set()?).

If that doesn't help, can you console.log `db` so that I can see if it contains the expected set of properties. Thank you!

[2019-12-31 00:28] schmidt-sebastian commented on #2477
@magpiedigital Thanks for filing this issue! This is actually something we support. You can get "estimated" timestamps as such:

[code]

I hope that works for you!

[2019-12-31 00:28] #2477 closed

[2019-12-31 01:44] cosmospham commented on #2467
This not work for me...
I tried switching between restricted and unrestricted key, using new version of Firebase. Neither of them help.

[2019-12-31 02:16] dimileeh commented on #2467
I've also whitelisted my two domains, restricting the API keys to work only from those two domains. Maybe that helped?

Before that, my key was unrestricted regarding the clients.

My backend services are unrestricted.

[2019-12-31 14:07] tchimih opened #2483 "Firebase authentication issue"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 18.04 LTS
  * Browser version: Chrome 78
  * Firebase SDK version: 7.6.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:
Hello,

I'm using firebase for authenticating my users to my backend. Everything is working fine. However, when I refresh my page, it asks me to re authentica

[2019-12-31 20:50] Leminur commented on #2467
I had to use the code above to fix the error. Google needs to be more careful with that kind of update. I shall wait for any further updates before using the latest Firebase version.

[2020-01-01 10:20] mahmoud-mosaad commented on #2467
I had the same issue with firebase ^7.6.0. I can send messages to saved tokened devices but after i run messaging.getToken() and get authentication error this devices only can't receive this notification.

Downgrade to version 7.5.2 solve my issue.

I hope firebase solve this issue.

[2020-01-01 10:41] wvanderdeijl commented on #2124
Any news on this? We ended up with first triggering the Azure AD login flow from the app which returns the MS ID token to the client. We use that to invoke a firebase function to create a custom firebase signin token with custom claims. The return that custom signing token to the client and use that to sign in with firebase.
This works but it involves quite a number of network roundtrips and some

[2020-01-01 20:55] bojeil-google commented on #2478
We don't support  popup/redirect sign-in operations in Electron. The error message also does not appear to come from our SDK. Are you using the Google sign in library?

[2020-01-01 21:19] bojeil-google commented on #2124
I don't recall the details for this issue, but I know that we now start returning the Microsoft ID token:

Quoting the [docs](https://firebase.google.com/docs/auth/web/microsoft-oauth):

"In addition to the OAuth access token, the user's OAuth ID token can also be retrieved from the firebase.auth.UserCredential object. The sub claim in the ID token is app-specific and will not match the federated

[2020-01-01 22:47] TomTomB commented on #2478
I´ve read [this Medium article](https://medium.com/firebase-developers/using-firebase-in-electron-tips-and-tricks-24ac5b44bf5a) about using Firebase with Electron and it´s caveats. After that, I´ve resolved every issue that may appear (like getting Firebase to think its not being ran inside an node env) and created the issue repo mentioned above.
My actual project is using the Firebase SDK wrapped

[2020-01-02 13:37] bogacg commented on #2467
Started to get errors again on custom domain...🤦‍♂️😭😭 🤯

[2020-01-02 16:19] lusk commented on #2469
I can confirm the above. I'm having the same problem with Firebase SDK version: 5.11.1
I've also tried Firebase SDK version: 6.4.2 with same result.

[2020-01-02 21:11] var-const commented on #2456
Sorry about the long delay (due to holiday season). I can repro the issue using React Native packaging of Firestore. We'll look at it further, but it's very likely there is nothing we can do about it -- the issue appears to be with React Native version of Firestore. In the meantime, the easiest workaround is to pass the full document path instead of the document snapshot. That is, you can try repl

[2020-01-02 23:49] detinho commented on #2467
Donwgrading solved my issue to. On my project I use only the authentication. It was working ok. I stoped working on my project for 5 days (more or less). It was working good, but then today I got this error.

[2020-01-03 08:04] rejhgadellaa commented on #2467
Downgrading to 7.5.2 worked for me, too.

I had trouble getting new messaging tokens. As far as I know, auth still worked. Refreshing the messaging token failed with the error mentioned in the OP and then kept calling the callback, causing high CPU usage + broke notifications.

[2020-01-03 08:17] rommelpe commented on #2388
No worries, @ihsanktmr. While this isn't yet reproducible, I'll be closing this issue for better tracking.You can always reply on this thread to re-open the issue and so we can continue where we left off. Thanks!

[2020-01-03 08:17] #2388 closed

[2020-01-03 09:34] rommelpe commented on #2483
Thanks for reporting the issue, @tchimih. I'm not an expert with Vue apps. Can you help me reproduce the issue? If you could provide a minimal repro that I can run locally and detailed steps to replicate it, that would be a great help for us to speed up the investigation. Thanks!

[2020-01-03 11:55] rommelpe commented on #2481
Duplicate of #2373, see https://github.com/firebase/firebase-js-sdk/issues/2373#issuecomment-557293448

[2020-01-03 11:55] #2481 closed

[2020-01-03 13:30] ctavan commented on #2467
Downgrading to `7.5.2` did remove the error for me as well.

The only difference that I could spot in the `OPTIONS` request (that fails with 7.6.x) is the following:

7.5.2:
[code]

7.6.1:
[code]

@mmermerkaya does this make any sense?

[2020-01-03 13:33] tchimih commented on #2483
Hello @rommelpe,

Here is a [showcase git repository](https://github.com/tchimih/showcase-firebase) describing my issue.

Steps to reproduice:
1- ``` npm install ```
2- Change the firebase configuration in main.js file
3- ``` npm run serve ```
4- Upon the login phase, you will be redirected to the about view. However, as soon as you reload the page, you will be asked to login (although you're logg

[2020-01-03 13:36] ctavan commented on #2467
This could be the offending change: https://github.com/firebase/firebase-js-sdk/pull/2400/files#diff-ca22055c1f9e65be7e6caae4a4824412R42-R49

[2020-01-03 13:36] Domiii commented on #2467
Same problem here. It worked for a few days, but now I'm also encountering this issue.

I am also on `7.6.0`. Would love to just downgrade back to `7.5.2` to fix it, but I actually only upgraded because on `7.5.2` I encountered [this error](https://github.com/firebase/firebase-js-sdk/issues/2364#issuecomment-565235405).

Looking forward to a fix, because without it, I am unable to use FCM at all :

[2020-01-03 14:36] rommelpe commented on #2480
Hi there, the ```TOO_MANY_REGISTRATIONS``` error only occurs in cases where there are extreme numbers of apps registered with FCM on the device, so it should not affect the average user. Because this looks happening on a physical device, it's possible that it has over 1000 client apps installed and registered with FCM. If so, you should delete some of the other client apps from the device to make

[2020-01-03 14:39] rommelpe commented on #2480
Hi there, the ```TOO_MANY_REGISTRATIONS``` error only occurs in cases where there are extreme numbers of apps registered with FCM on the device, so it should not affect the average user. Because this looks happening on a physical device, it's possible that it has over 1000 client apps installed and registered with FCM. If so, you should delete some of the other client apps from the device to make

[2020-01-03 14:45] mmermerkaya commented on #2467
Hey everyone, thanks for the investigation and sorry for the silence from our part. Things have been a little slow because of the holiday season. I've reported this to our backend team a few days ago and I'm currently waiting for them to investigate this.

[2020-01-03 14:58] rommelpe commented on #2473
Thanks for reporting, @tenjojeremy. Could you provide the following:

- [Minimal repro](https://stackoverflow.com/help/minimal-reproducible-example) that I can run locally
- Detailed steps taken that led to the error message encountered
- Actual and expected result
- Browser version and OS used

[2020-01-03 15:02] tenjojeremy commented on #2473
It fixed itself after rebooting chrome

[2020-01-03 15:02] #2473 closed

[2020-01-03 15:11] rommelpe commented on #2469
Related to https://github.com/firebase/firebase-js-sdk/issues/2364, you may try upgrading your SDK to the latest version ([7.6.1](https://firebase.google.com/support/release-notes/js))

[2020-01-03 19:50] jmschae opened #2487 "@firebase/database@0.5.13 ref.update is very slow/unusable"
### [REQUIRED] Describe your environment

  * Operating System version: docker - node alpine 12
  * Browser version: n/a
  * Firebase SDK version: 0.5.13
  * Firebase Product: database (auth, database, storage, etc)

### [REQUIRED] Describe the problem

When updating from @firebase/database@0.5.12 to @firebase/database@0.5.13 updates became very slow. We operate in a relatively high write environm

[2020-01-03 19:56] katowulf commented on #2487
@jmschae thanks for this, could I ask you to go a bit further and provide a working repro, with sample data and rules, we can run locally that shows the comparison?

The code snippet is useful, but this is likely to be nuanced and hard to repro, so getting a complete [mcve](http://stackoverflow.com/help/mcve) will be a necessary starting point.

[2020-01-03 20:03] schmidt-sebastian commented on #2487
@inlined - Do you have time to look at this?

https://github.com/firebase/firebase-js-sdk/commit/86971ea3c727084fa1a99322afe473d19068bac5 was merged in preparation for a new feature. Until this feature is released, I would recommend staying on 0.5.12 if the performance of 0.5.13 does not meet your needs.

[2020-01-03 20:40] jmschae commented on #2487
Hey, heres some reproducible code. I added a timer into the @firebase/app code to just console.log how long that loop takes.

in 0.5.13 and above (this is 0.5.17 I believe):
[code]
const firebase = require( 'firebase-admin' )
const fs = require( 'fs' )

const data = require( './fakeData' )

const serviceAccount = JSON.parse( fs.readFileSync( '/Users/james/lev-keys/leverege-dev-james-account.json'

[2020-01-03 22:44] lonerz opened #2488 "Nested Database Transactions Not Working as Expected"
### [REQUIRED] Describe your environment

  * Operating System version: OSX 10.14.6
  * Browser version: N/A
  * Firebase SDK version: @firebase/database 0.5.17 (SDK version 6.3.2)
  * Firebase Product: database

### [REQUIRED] Describe the problem

#### Steps to reproduce:
I am trying to do a database transaction in another database transaction. Essentially, I want to decrease a counter under two

[2020-01-03 23:01] puf commented on #2488
Nesting transactions like this won't work, because of the way Firebase Database transactions work. They are optimistic, compare-and-set operations, instead of the pessimistic, lock-and-write operations that you seem to expect.

When you start a transaction in a Firebase client, the following happens:

1. The client calls your callback with its best guess as to the current value of the location tha

[2020-01-04 00:51] andirayo commented on #2467
This error might have been introduced by https://github.com/firebase/firebase-js-sdk/pull/2400 which adds a new (not standard) request-header to the FIS SDK. Browsers may block these requests if the receiving server does not send the appropriate CORS header.
I will add the CORS headers to the Google Frontend service and hopefully this will fix the problem.

[2020-01-04 01:03] var-const commented on #2456
Update: upon further investigation, the issue appears to be in React Native version of Firestore. I have opened a bug in the appropriate repo.

[2020-01-04 01:06] #2456 closed

[2020-01-04 06:36] thebedroomprogrammer commented on #2480
Actually I was registering an app for push subscription more than once which resulted in multiple registrations which were my mistake. Is there a way by which I can unregister the older version of the app registered by the same domain name because now I get only a single current registration that I can unregister not the previous ones.

[2020-01-04 19:58] QuantumInformation commented on #462
This used to work, but now it never fires

https://github.com/QuantumInformation/svelte-fullstack-starter/blob/master/src/stores/firebaseUserStore.js#L38

[code]

[2020-01-04 21:06] Depender-Sethi commented on #2364
Waiting for the fix, for the time being I'm using a way around by checking the error code and calling the function again because this error is thrown only the first time.

[code]

[2020-01-06 12:30] sndrs commented on #332
since this issue is now over 2 years old, and no work seems to be being done on this (as far as I can tell?), should we assume browser bundle size is just not a priority for FB?

i'm on the fence about whether to plump for firebase or use a collection of services over of this.

firebase is very appealing, but [auth + firestore is 583kB/160kB](https://bundlephobia.com/scan-results?packages=@firebas

[2020-01-06 12:34] codeofsumit commented on #332
@sndrs I also gave up now and am currently switching to auth0 and FaunaDB in my current project. I have to say that the size of these packages was NOT the only reason though.

I'm still a fan of firebase, especially since I was able to visit the team once in SF. Hope they tackle this at some point 👍.

[2020-01-06 12:44] sndrs commented on #332
@codeofsumit that's interesting - did you get subscriptions working with fauna?

[2020-01-06 12:45] codeofsumit commented on #332
Subscriptions to handle realtime stuff? I'm currently not requiring that functionality so can't tell

[2020-01-06 13:37] rommelpe commented on #2482
Thanks for reporting, @kanadaj. I was able to get the same behavior and indeed, it only occurs in Edge.

![edge-notif](https://user-images.githubusercontent.com/56452310/71820018-b8307f80-30c8-11ea-8af3-1b6ac37b98bc.jpg)
I created a bug (b/147214252) internally, and progress updates will be posted here as well. Thanks.

[2020-01-06 13:50] rommelpe commented on #2480
Have you tried clearing out your browser's data/ cache storage?

[2020-01-06 14:15] thebedroomprogrammer commented on #2480
Yes, I tried it but it doesn't work

On Mon, Jan 6, 2020, 7:20 PM Rommel Penaflor <notifications@github.com>
wrote:

[2020-01-06 15:55] ShishKabab commented on #1491
#2464 unfortunately doesn't solve the problem yet for Firefox extensions though. Don't know how to reliably detect that though.

[2020-01-06 16:01] yeukfei02 commented on #2467
Hi all,

I think I encounter the same problem

firebase version: 7.6.1

[code]

[code]

cors issue....

[2020-01-06 16:28] xerosanyam commented on #2481
I am not using remote config, still facing this issue.

[2020-01-06 16:31] ShishKabab commented on #1491
We've worked around it in our Firefox extension with the following code (using `7.6.1-canary.af162f9`), because we have to release a fix right now:
[code]

That's obviously not something that'll hold up for long   :)  Any ideas on how to reliably detect an FF extension with `<all_urls>`? Would be happy to contribute a fix.

[2020-01-06 17:07] mikelehen commented on #1491
Just poking around, I wonder if `typeof extension !== 'undefined'` would work to detect we're in a browser extension (https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/extension).

This may be over-broad (will likely detect _any_ Firefox, Chrome, etc. extension), but that's probably okay.  Can you verify that works and either let me know or submit a PR?  Thanks!

[2020-01-06 17:21] rommelpe commented on #2483
Thanks for working on the repro. It looks like that you missed to check whether the user is currently signed-in.

[code]

You could also check out our [quickstart guide](https://github.com/firebase/quickstart-js/blob/master/auth/email-password.html) for a sample auth cycle implementation.

[2020-01-06 17:24] HsuTimothy opened #2491 "Errors messages appearing when reinstalling firebase on reimaged device"
### [REQUIRED] Describe your environment

  * Operating System version: Mac OS Catalina
  * Browser version: Not applicable
  * Firebase SDK version: "firebase": "^6.0.4",
  * Firebase Product: installation (auth, database, storage, etc)
* Node version: v13.5.0
* Npm version: 6.13.4

### [REQUIRED] Describe the problem

#### Steps to reproduce:

When running `npm install --save firebase` I'm seein

[2020-01-06 17:49] rommelpe commented on #2491
Hi @HsuTimothy, can you share your npm & node version? Have you considered using the stable version?

[2020-01-06 17:56] HsuTimothy commented on #2491
@rommelpe Hi rommel thanks for helping out. I've updated the original post

[2020-01-06 17:56] inlined commented on #2487
I'll look into it today.

[2020-01-06 18:15] Domiii commented on #2467
I found that this issue only affects `localhost`. I still (or again) get tokens on the registered domain.

[2020-01-06 18:27] lusk commented on #2469
Upgrading to 7.6.1 resolved the issue for me. Thanks for the hint!

[2020-01-06 18:42] schmidt-sebastian commented on #2470
This might be related to https://github.com/firebase/firebase-js-sdk/issues/2458

[2020-01-06 19:47] klaussner commented on #1491
I haven't tried it but maybe a combination of [runtime.getBrowserInfo](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/getBrowserInfo) and [permissions.contains](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/permissions/contains) could also work.

[2020-01-06 19:58] hsubox76 commented on #2467
Sorry to everyone who's been experiencing this issue.  Our backend team has just checked in a change to allow these headers.  I'll let you know when it's rolled out.

[2020-01-06 20:42] hsubox76 commented on #2465
See related issue: https://github.com/firebase/firebase-js-sdk/issues/2373

As suggested in that issue, can you detect private mode and not initialize messaging if that's the case?

Otherwise @mmermerkaya is it worth it to find a way to throw a catchable error on trying to initialize messaging when there is no IndexedDB?

[2020-01-06 20:46] hsubox76 commented on #2478
It seems like this may be an issue with Google Sign-In and not Firebase.  It seems from this issue, which is about using Google Sign-In in Electron, without Firebase, that it may have to do with Chrome or some back-end security requirements of Google Sign-In. https://support.google.com/accounts/thread/22873505?hl=en

[2020-01-06 22:40] remyayad commented on #1674
Hello Michael, I am facing an issue with my angular app not loading data from Firestore in a timely manner. The results to your test are displayed in the following gist : https://gist.github.com/remyayad/db36b4434d0f8628f65d236276e9c754

This happens only the network of the company I work for. Unfortunately the entire IT infrastructure is managed by a third-party company, therefore I cannot determ

[2020-01-06 23:12] TomTomB commented on #2478
Apparently, for whatever reason, the issue is caused by the User Agent.

**Steps to reproduce:**

- Open Dev Tools inside the Google Sign-In popup
- Open the Network conditions tab (which can be found inside the 3 dot menu -> More Tools -> Network conditions)
- E.g. choose the "Firefox - Windows" User Agent
- Reload the page
- Sign in works

Is there, by any chance, a way to change the User Agent

[2020-01-06 23:55] andirayo commented on #2467
The fix should be in production since ~ 1pm PT.
It would be great if you could confirm that the issue no longer exists.

[2020-01-07 00:09] andirayo commented on #2467
@GoktuqCan , @aetbaev , @cosmospham , @Christilut , @patrickmichalina , @Domiii :
I wanted to give some background on why deleting the ` firebase-installations-database` temporarily fixes this issue:
The Firebase Installations Service (in the following called "FIS") is an infrastructure service for Firebase services that creates unique identifiers for Firebase clients (called "Firebase Installatio

[2020-01-07 00:11] mikelehen commented on #1674
@remyayad Hrm.  Your results aren't what I would expect to see with the "normal" proxy issue.  It looks like the test page worked for you both with and without forceLongPolling.  But it sounds like in your Angular app, Firestore isn't working (well) regardless of whether you enable experimentalForceLongPolling.

Can you open a separate github issue so we can investigate?  It would be helpful if yo

[2020-01-07 00:15] remyayad commented on #1674
@mikelehen Thanks for the quick reply! Will do and I'll keep you posted.

[2020-01-07 04:29] ravi-pandit14 commented on #2456
@var-const Thanks for reply!
I had use `.startAfter(this.state.last_Visible.ref.path)` in my code as your documentation.
This is fixed my error but next data is same as last data and it's coming again and again after calling getNextData().

[2020-01-07 07:17] prarabdhb commented on #2438
Hi @rommelpe , any update on this?

[2020-01-07 08:28] ctavan commented on #2467
@andirayo I can confirm that I no longer observe the error. Thanks for the fix! 👍

[2020-01-07 08:28] #2467 closed

[2020-01-07 09:01] rommelpe commented on #2480
AFAIK, the registration token will be refreshed when the browser's data got cleared, and subscribed apps will be forced also to ask for permissions.

- Could I ask you to manually reset your notifications for the affected site (chrome://settings/content/notifications)?

- Would you mind trying this out in Firefox or Edge (v17+)?

[2020-01-07 09:36] thebedroomprogrammer commented on #2480
On Firefox it is working fine.
But the older apps persist on chrome even after clearing data and resetting the permissions.

[2020-01-07 09:41] rommelpe commented on #2476
Haven’t heard from you in a while, @brpaz . Just wondering if you are still interested working on this issue. We are happy to look into this further if you could provide the info that we asked for.

[2020-01-07 11:19] ShishKabab commented on #1491
Just did a quick test, seems like it may work:
![Screenshot_20200107_121803](https://user-images.githubusercontent.com/477149/71891888-dd180780-3147-11ea-87fe-8efab2c89f37.png)

[2020-01-07 12:23] mmermerkaya commented on #2465
I'll see if I can add this to the `isSupported()` check.

[2020-01-07 12:38] jacobg commented on #2430
My application is also reporting the TransactionInactiveError to our Bugsnag account. We've seen this error on both IE 11 and iOS 10.2 Safari. On iOS, it also reports error detail:
`Failed to store record in an IDBObjectStore: The transaction is inactive or finished.`

[2020-01-07 14:54] nuragic opened #2496 "messaging: allow calling useServiceWorker() multiple times"
Quoting @gauntface in https://github.com/firebase/firebase-js-sdk/issues/114#issuecomment-351546545

The use case is e.g. having a toggle to enable/disable push notifications.

Ok, good thing! However, I know what I'm doing in this case, so I'd like to have a mechanism to circumvent the `registrationToUse != null` check.

As I said, I need the possibility to call this method N times during the sam

[2020-01-07 15:18] AoDev opened #2497 "[auth] [Google sign-in] Can not switch Google account after first sign in."
### Describe your environment

  * Operating System version: OSX 10.11.6
  * Browser version: Brave 1.1.23 / Firefox 71 / Safari 11.1.2
  * Firebase SDK version: 7.5.0
  * Firebase Product: auth (auth, database, storage, etc)

### Describe the problem

Before anything: this problem seems to happen in all browsers __except Google Chrome__ (v 79.0.3945.88).

- The first time a user signs in with Goo

[2020-01-07 16:00] nica0012 opened #2498 "Firebase upload progress number going over 100 from snapshot.bytesTransferred / snapshot.totalBytes"
SDK version:   "^7.6.1",
Firebase Product: storage

This used to work fine until very recently.

When uploading a file, I am tracking the upload progress like this:

[code]

Here is how I am displaying the number in my component:

[code]

I am setting the number in my components state then displaying it to the user. For some reason recently the number exceeds 100, it shows something big like 38154

[2020-01-07 16:36] rommelpe commented on #2497
Hi @AoDev, I tried replicating this using our [quickstart guide](https://github.com/firebase/quickstart-js/blob/master/auth/google-popup.html) ([live](https://auth-signins.firebaseapp.com/google-popup.html)) but can't seem to reproduce it. For us to check if the issue you encounter is intended or could be related to your implementation, could you send us a [simple repro](https://stackoverflow.com/

[2020-01-07 17:43] AoDev commented on #2497
@rommelpe I'll do that thank you. In the meantime, I found this issue that looks similar: https://stackoverflow.com/questions/59220559/android-firebaseui-signing-in-with-another-google-account-is-troublesome . But here it's for Android.

[2020-01-07 17:48] bojeil-google commented on #2497
You can force the user to always select the google account by passing the relevant Google OAuth `prompt` custom parameter.

[code]

[2020-01-07 19:06] ryanpbrewster opened #2501 "Realtime Database reorders puts/listens issued before the connection is established"
When the RTDB SDK has a live websocket connection, code like this:
[code]
reliably sends two messages, a write and then a listen, in that order.

If the websocket handshake has not completed, the same code will instead send a listen and then a write (the opposite order).

I believe the issue is due to this code here: https://github.com/firebase/firebase-js-sdk/blob/master/packages/database/src/cor

[2020-01-07 19:45] QuantumInformation opened #2502 "Bug, project fails to call any network requests"
Firebase SDK version: 7.6.1
MacOS: 10.15.1 (19B2106)
Firebase Product: auth

I use `auth().onAuthStateChanged` to decide when to init my app.

This used to work, but now it never returns anything and my app hangs

If you go to the live version the sign in works fine:

https://svelte-fullstack-starter.firebaseapp.com/signin

You will see

![image](https://user-images.githubusercontent.com/216566/71

[2020-01-07 20:23] shaunc869 opened #2504 "Inconsistent Query Performance"
* Operating System version: Mac OS X Catalina
  * Browser version: Chrome 79
  * Firebase SDK version: 7.5
  * Firebase Product: Firestore

I get that this question won't get a lot of love from the difficult ability to reproduce it on command, but it is consistent. We have a 200GB database with 50,000 active daily users, we are using Vue.js on the front end with a very flat schema, our queries hav

[2020-01-07 20:36] brpaz commented on #2476
@rommelpe yes. I will get back to the project I am working on next weekend. I will then provide the requested info.

[2020-01-07 21:06] hsubox76 commented on #2478
I don't think the best solution is to have Firebase open up the capability to spoof a different user agent when opening a popup window, it doesn't seem like a good practice in general.

Have you tried using Electron's `userAgentFallback` as described in this Reddit thread? https://www.reddit.com/r/electronjs/comments/eiy2sf/google_blocking_log_in_from_electron_apps/

[2020-01-07 21:20] hsubox76 commented on #2502
I cloned the project you linked and ran `npm run dev` and it seems to run fine:
![Screen Shot 2020-01-07 at 1 18 40 PM](https://user-images.githubusercontent.com/10716545/71930313-41d76000-3150-11ea-8b48-41028b377336.png)

Is there anything else you can think of that might reproduce what you're seeing?

Alternatively if you delete node_modules and do a clean install can you get it to work locally?

[2020-01-07 21:38] hsubox76 commented on #2491
Can you try going back to an older version of Node (using `nvm` so you don't have to uninstall and reinstall the whole thing), 12 or maybe even 10?

Searching around, I see some npm install node-gyp issues reported with Node 13 and Catalina, with various packages, the suggested solution being to temporarily downgrade the Node version to 8 or 10.

[2020-01-07 22:12] mikelehen commented on #2501
In principle, it might be possible to modify the SDK to preserve the order of operations and re-send them in the same order, but in practice this would be a major change because we don't treat listens as "operations", we just keep track of the current set of active listens (since listens are long-lived and need to be re-sent every time we disconnect/reconnect, etc.)

Regarding:

This is explaining

[2020-01-07 22:14] mikelehen commented on #2501
FWIW, preserving order might additionally be complicated by the fact that there isn't a 1-1 mapping between API calls and backend operations.  E.g.:

[code]

Because the two listens are redundant, we'll only send a single listen on `ref`.  Do we send it before or after the set?

[2020-01-07 22:15] ryanpbrewster commented on #2501
The two listens are only redundant if the first one succeeds. If it fails then we have to fall back to the child, right?

[2020-01-07 22:16] mikelehen commented on #2501
As implemented, we will fail both listeners.  We generally assume that apps are written so that they don't try to read / write data they don't have access to, so we don't try to handle this gracefully.

[2020-01-07 22:39] QuantumInformation commented on #2502
Sorry, the issue seems to have sorted itself and I could not find any information extra. Closing this, if somebody else comes across it then feel free to ping me to re open.

strange one indeed

[2020-01-07 22:39] #2502 closed

[2020-01-07 23:15] #2487 closed

[2020-01-07 23:33] HsuTimothy commented on #2491
@hsubox76 That did the trick! I switched from v13 -> v12 and now it's installing just fine. Thanks for everyone's help! I was pulling my hair out over something so simple 🤣

[2020-01-07 23:33] #2491 closed

[2020-01-07 23:50] QuantumInformation commented on #2502
Thanks so much,

honestly I have no idea what happened it was out of action for a few days
and I couldn’t do anything

I’ve probably done something stupid

On Tue, 7 Jan 2020 at 21:20, Christina Holland <notifications@github.com>
wrote:

--

Kind regards

Nikos Katsikanis

[2020-01-08 00:43] WriterDuet commented on #2501
Thanks for taking up this issue! I hit this issue in our live app, and it's not so simple to wait for a write to complete before starting listeners when considering offline mode. Our use-case is we need users to be able to create new documents which is done by writing to a location that's only writeable if you're "claiming" it by inserting your UID (if it's currently empty) and immediately start l

[2020-01-08 01:04] WriterDuet commented on #2501
Thanks for taking up this issue! I hit this issue in our live app, and it's not so simple to wait for a write to complete before starting listeners when considering offline mode.

I didn't realize this ordering wasn't a core requirement of Firebase, maybe I'm wrong about this being a big problem but it certainly was surprising. I can work around my issue by retrying the listeners when they get per

[2020-01-08 01:05] mikelehen commented on #2501
@WriterDuet Good to see you're still pounding on things and causing issues. 😛

Another possible workaround would be to change your security rules so that you're allowed to read the document if it doesn't exist (yet).  That way your listener can succeed even if the write hasn't gone through.  If by some chance a different user writes the document and puts their own uid in, your listener would immed

[2020-01-08 01:26] WriterDuet commented on #2501
Good call @mikelehen! I'll find some more stuff to keep you on your toes.

[2020-01-08 04:43] rommelpe commented on #2399
Got feedback from the backend team that the fix is already released in prod. Thanks!

[2020-01-08 04:43] #2399 closed

[2020-01-08 05:32] rommelpe commented on #2498
Thanks for reporting, @nica0012. This might be an isolated case as [Firebase storage is healthy](https://status.firebase.google.com/) so far, and no signs of trending issues.

While I'm trying to reproduce this on my end, it would be great if you provide provide a [working repro](https://stackoverflow.com/help/minimal-reproducible-example) that we can run locally and a copy the sample file to spee

[2020-01-08 05:44] rommelpe commented on #2498
Thanks for reporting, @nica0012. This might be an isolated case as Firebase storage is [healthy](https://status.firebase.google.com/) so far, and no signs of trending issues.

While I'm trying to reproduce this on my end, it would be great if you can provide a working repro that we can run locally and a copy the sample file to speed up the investigation. Thanks!

[2020-01-08 06:29] rommelpe commented on #2355
Got feedback from the GA team that the fix is already released in prod. Thanks!

[2020-01-08 06:29] #2355 closed

[2020-01-08 06:30] rommelpe commented on #2355
Got feedback from GA team that the fix is already released in prod. Thanks!

[2020-01-08 10:49] ShishKabab commented on #1491
I tried to prepare a PR, but we'd need to check the result of the `browser.permissions.getAll()` call in the `openStream` method of `WebChannelConnection`. How should we go about this?

Also, I didn't do an `npm install` yet, but in case there's no typings present for the `browser` object, should I add them to the project, or just cast `window` to `any` and work from there?

[2020-01-08 12:25] basvandenheuvel opened #2507 "Firestore Timestamp (Date) is sometimes stored as a Map"
* Operating System version: Windows 10
  * Browser version: Chrome 79
  * Firebase SDK version: 6.6.2
  * Firebase Product: Firestore

**Problem:**

When storing a Date in Firestore, it should be stored as a Timestamp which is shown as a Date in the Firebase Console (with type Timestamp). Example:
![image](https://user-images.githubusercontent.com/3515248/71977327-c7264780-3218-11ea-8eb2-409fb163c

[2020-01-08 15:03] rommelpe commented on #2430
Hi @jacobg, Can you help me reproduce the error? It would be great if we can isolate this without relaying on any third party monitoring app.

You can provide a [minimal repro](stackoverflow.com/help/minimal-reproducible-example) of your app that I can run locally.  Also, if you find any patterns or info that we can use to troubleshoot, we're happy to help.

[2020-01-08 15:17] jacobg commented on #2430
Hi @rommelpe. I'm not sure for us right now it's high enough priority of an issue for us to try to repro. But we are seeing the specific error
`Failed to store record in an IDBObjectStore: The transaction is inactive or finished.`
only in iOS 10 Safari for 6 unique users. I remember hearing that IndexedDb on iOS 10 does not work so well.

On IE 11 the `TransactionInactiveError ` error occurred for

[2020-01-08 15:35] wu-hui commented on #2504
Hi shaunc869,

Sorry to hear your experience with Firestore.

For the slow queries you see, are they from a certain query type? How large is the result set? If it is rather large, it could be that the time is mostly spent on moving the data.

If there is a lot of data cached on the client side, Firestore Web SDK might contribute to the slowness as well, so knowing roughly how much query results ar

[2020-01-08 15:43] rommelpe commented on #2480
Hmm, I can't think of any options here, just to clear the browser's data unless reinstalling it.

[2020-01-08 15:58] thebrianchen commented on #983
@scottfr  That's exciting news! In your extension, does passing in `experimentalForce: true` allow persistence to work for you without any additional code, or do you have to add logic to release the persistence lock in edge cases?

Thanks for bringing up web locks -- we will definitely consider adding support once we determine the viability of `experimentalForce`.

[2020-01-08 16:52] schmidt-sebastian commented on #2501
Based on the comments above, we are likely not moving forward with a fix.I will close this issue for now and we can re-asses the situation if the workarounds mentioned here are not adequate

[2020-01-08 16:52] #2501 closed

[2020-01-08 17:23] wu-hui commented on #2507
Hi basvandenheuvel,

Thanks for reporting this issue!

From what you described, it sounds like something is reading a timestamp, and somehow it is converted to a object (JSON object for example), and then the converted object is written back.

Are you using some framework like React or Angular or Vue? Have you audited all places this data could be written from, maybe from back-end jobs?

It'd be r

[2020-01-08 17:28] wu-hui commented on #2507
After discussing with my coworkers, this looks similar to two of our previous reporting:

https://github.com/firebase/firebase-js-sdk/issues/921
https://github.com/firebase/firebase-js-sdk/issues/1084

Both are caused by the web frameworks wrapping around Firestore SDK. You might want to check if it is the same cause.

Thanks.

[2020-01-08 19:59] var-const commented on #2458
I can confirm that this case (repeatedly rereading a document as it gets updated) would result in extra reads, and those reads will get billed. Note, however, this only affects the case when persistence is disabled. You mentioned that the issue came up in a load test; is the load test representative of your actual app? In particular:

* the load test runs on Node, which doesn't support persistence

[2020-01-08 19:59] wu-hui commented on #2504
Also, given that this is likely a backend issue too, I'd like to loop in our backend team as well.

Can you send you project ID and support case to me: wu.hui.github@gmail.com

I'll ask our backend team to see if they can see the issues you described.

Thanks

[2020-01-08 20:01] hsubox76 commented on #2507
Actually I think https://github.com/firebase/firebase-js-sdk/issues/1084 looks like it might be caused by some kind of prod build optimization (in the user's project) that converts the Timestamp object into an object literal.

If it's happening in 1 out of 10,000 updates is it possible a very small number of users are using some environment or JS engine (old IE or other unusual browser?) that goes

[2020-01-08 20:28] wu-hui commented on #2507
That is certainly possible, it might help if user could log the environment(browser, framework, etc) when updating timestamp, to see if it's all from the same environment.

[2020-01-08 20:57] dlockwo commented on #2458
The load test was intended to mimic multiple users updating the same document which is indeed part of our use case. We were attempting to determine if we need to be concerned about hitting the once per second write limit on a document.

Regarding persistence, how would persistence prevent the additional reads we are seeing? I assume each user would still get updates for the document from other use

[2020-01-08 21:10] TomTomB commented on #2478
Me neither. I can confirm that setting [app.userAgentFallback](https://electronjs.org/docs/all#appuseragentfallback) to e.g. `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) old-airport-include/1.0.0 Chrome Electron/7.1.7 Safari/537.36` fixes the issue.

Hopefully this workaround won't be need for ever from now on.

[2020-01-08 21:33] wilhuff commented on #2458
When you enable persistence, the client records information about the synchronization state of the document in its cache. This is called a resume token. When the client performs the next read, it includes the resume token with the request, essentially indicating that the server should only send the document if it has changed. With persistence disabled there's no resume token to send.

The server b

[2020-01-08 22:58] epetre commented on #2355
Thank you Rommel,

Take care!

On Wed, Jan 8, 2020 at 1:31 AM Rommel Penaflor <notifications@github.com>
wrote:

--
Emanuel Petre

[2020-01-09 02:40] #2458 closed

[2020-01-09 02:41] dlockwo commented on #2458
Thanks for the explanation and for the workarounds.

[2020-01-09 05:11] thebedroomprogrammer commented on #2480
I did reinstall the browser but the problem is still persisting I came to know that. This problem is tied to my logged-in profile in chrome. As soon as I changed my chrome login profile I was able to again issue the push subscription token successfully but the old profile on chrome is still giving the same error.

[2020-01-09 06:11] Plantain commented on #2241
@schmidt-sebastian is there a roadmap for reducing the bundle size? I saw there is some progress in #2495, but I'd love some guidance on whether there's more coming - currently the bundle size makes it a non-starter for us, but if there's more substantial improvements coming I'd love to get started building on Firebase.

[2020-01-09 08:12] laocoi commented on #414
I have the same problem with PHP when I extract text from HTML string by substr function.
`substr($meta, 0, 160);`
Look everything is good with `echo` but when use `print_r` function, end of extracted string has a mark like this ��.

**The solution for who has the same problem like me:**
`mb_substr($meta, 0, 160, "utf-8")`

[2020-01-09 10:02] mmermerkaya commented on #2496
I don't see why you'd need to call `useServiceWorker()` for a second time in your example. Are you unregistering the service worker when you call `deleteToken()`?

[2020-01-09 10:03] #2469 closed

[2020-01-09 10:30] nuragic commented on #2496
No, I'm not unregistering. I just have a toggle on the UI to enable/disable the push notifications.

Why I have to call it more than once? Because if not, my logic would need some flag to discriminate if I called this function once, or more times... and I do not need any flag... I just need my logic to work the first, second, and Nth case, the same way, without having to introduce additional logic

[2020-01-09 10:35] nuragic commented on #2496
In case it would be useful, here is the `disable` logic:  😄

[code]

[2020-01-09 10:48] nuragic commented on #2496
For the record, here is the callback that executes when my SW registers (is called every time the app starts from scratch):

[code]

[2020-01-09 12:07] rommelpe commented on #2438
Thanks for working on the necessary info, @prarabdhb. I followed the steps several times even using different phone models, but can't seem to replicate it, not even once.

It's difficult to pinpoint what might be the cause of the issue since we can't reproduce it, but if you could debug further and provide a more reproducible scenario, we'd be happy to investigate further.

You may also try asking

[2020-01-09 12:22] basvandenheuvel commented on #2507
Hi all,

Thanks for your answers. The code exists within our Ionic (3) app using Angular (5.2).
All our users are using "the same version" of the application, by that i mean they all have the same version of Ionic, Firebase and Angular.

What @wu-hui mentions about the date being converted somehow to an object and being stored again sounds like one of the most logical explanations so far.. We will

[2020-01-09 13:56] ThewBear opened #2510 "useFunctionsEmulator not working with region"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 79
  * Firebase SDK version: 7.6.1
  * Firebase Product: Functions

### [REQUIRED] Describe the problem

Emulator url will be ignored when setting region and call to `cloudfunctions.net` instead.
#### Relevant Code:

[code]

[2020-01-09 15:14] rommelpe commented on #2510
Thanks for reporting, @ThewBear. It looks like to be an intended behavior as it's meant to test the function locally, the region isn't being observed. It's not until you deploy it that you can invoke it in the given region. The deployed URL should have the region in the hostname part of the URL, not in the path as you get the emulator.

[2020-01-09 15:19] rommelpe commented on #2510
Thanks for reporting, @ThewBear. It looks like an intended behavior as it's meant to test the function locally, the region isn't being observed. It's not until you deploy it that you can invoke it in the given region. The deployed URL should have the region in the hostname part of the URL, not in the path as you get the emulator.

[2020-01-09 18:10] schmidt-sebastian commented on #2241
When the mangled version of Firestore is released, our bundle size will go down by about 9% gzipped. We are also looking at releasing an ES6 only version (for our prebuilts that we push to CDN, since this can be done already using our NPM builds), which shaves of another 10%. Furthermore, we are looking at making offline persistence optional might again will have a similar amount of savings (as a

[2020-01-09 20:20] brpaz commented on #2476
Solved the problem.
I was using the "slug" function, inline with the `batch.set` and it was that was causing the error, not firestore.

[code]

Everything is working fine now.

[2020-01-09 20:20] #2476 closed

[2020-01-09 20:54] filipesilva commented on #2457
Heya, I've also noticed that having persistence on seems to slow down writes.

I've setup a repro that tries to isolate that as much as possible. It uses the firebase emulators and clears both the browser indexedDB and the emulator database on each run.

[code]

Go to http://localhost:5000/ and you can see the average time per write and total time in the console. You can edit `public/index.html` t

[2020-01-09 22:11] rsivan commented on #2284
I experience the same.
I temporarily disabled all my extensions and no change.

[2020-01-09 22:38] schmidt-sebastian commented on #2476
Thanks for the update! Glad you figured it out.

[2020-01-09 23:29] samtstern commented on #2517
@mcostabr sorry about the slow response!  Transfered this issue to the JS SDK where it belongs.

[2020-01-10 00:48] var-const commented on #2456
@ravi-pandit14 Upon a glance, it looks like the code snippets you posted should work correctly. Can you post the console output you get? I'm interested in seeing the first 5 documents, the value of `lastVisible`, and the next 5 documents (please make sure to remove any confidential information. I really only need the IDs and the `time_stamp` fields).

[2020-01-10 01:37] honi commented on #2096
This is exactly what I'm looking for. Do you have any updates if this is actively being worked on or at least in the roadmap?

[2020-01-10 01:54] ThewBear commented on #2510
So my current workaround is
[code]
I think it would be better if I can give a region and firebase ignores it when using emulator.
This is already working in `firebase-functions`.

[2020-01-10 02:58] al002 opened #2522 "QuotaExceededError occured in Android Chrome 66"
### [REQUIRED] Describe your environment

  * Operating System version: macOS 10.15.2
  * Browser version: Chrome 79.0.3945.117
  * Firebase SDK version: 7.5.2
  * Firebase Product: performance

### [REQUIRED] Describe the problem
We use firebase performance product to report performance metrics of our websites.

But many `QuotaExceededError` reported to our Sentry platform.

This error mostly occ

[2020-01-10 04:52] ravi-pandit14 commented on #2456
@var-const Thank you very much!
**First 3 data screenshot:**
![Screenshot 2020-01-10 at 10 14 24 AM](https://user-images.githubusercontent.com/30682376/72126650-f06ae300-3392-11ea-8e7f-4f9e2cc059ca.png)

**lastVisible console screenshot:**
![Screenshot 2020-01-10 at 10 19 57 AM](https://user-images.githubusercontent.com/30682376/72126663-ffea2c00-3392-11ea-8fbc-ace72b7eb167.png)

**Next 3 data con

[2020-01-10 07:24] jperasmus commented on #1926
We also see a number of these errors in our Sentry logs. We do not use Firestore persistence, but we are using session persistence for Firebase auth. Our errors are also not limited to iOS devices and seem to affect a number of different browsers and versions (mostly Chrome, Chrome Mobile + Safari).

The errors do not occur only during the auth process. Is it possible that having persistence enabl

[2020-01-10 08:59] fgruchala opened #2523 "FR: LinkedIn Auth Provider"
### [REQUIRED] Describe your environment

  * Operating System version: Mac OS Catalina
  * Browser version: Google Chrome 79
  * Firebase SDK version: 7.6.1
  * Firebase Product: auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:
1. On the https://console.firebase.google.com, in the section "Authentification" or JS SDK, there is no LinkedIn provider
2. On the https://console.clou

[2020-01-10 10:31] rommelpe commented on #2523
Thanks for taking time filing this FR, @fgruchala. We have an existing internal report (b/147291498) for this. Our Auth folks are aware and working to be exposed this in Firebase Auth. However, I may not be able to provide you with any specifics as to when it will be released in prod.

You may keep an eye out on our [release notes](https://firebase.google.com/support/release-notes/js) for any upda

[2020-01-10 11:14] rommelpe commented on #2517
Thanks for reporting this issue, @mcostabr. Indeed, the issue only occurs in Edge (v81.0 on my end). I'll confirm this internally and keep you posted for any updates, thanks!

[2020-01-10 13:09] rommelpe commented on #2480
It's more likely an issue with your previous implementation (or might be some chrome settings) as registration token should be stored in the browser's data alone (by default). This goes beyond my area of expertise (and on our SDK), please refer to the community channels, such as [Stack Overflow](https://stackoverflow.com/) or [Google Groups](https://groups.google.com/forum/#!forum/firebase-talk),

[2020-01-10 13:09] #2480 closed

[2020-01-10 14:39] mcostabr commented on #2517
Thank you very much for the feedback, I am available to help if necessary.

[2020-01-10 15:53] pangia commented on #1641
and then....?? :)

[2020-01-10 19:27] sibelius opened #2524 "breaking after upgrading to firebase > 7 messaging/no-sw-in-reg"
### [REQUIRED] Describe your environment

  * Operating System version: macOs
  * Browser version: Chrome
  * Firebase SDK version: 7.6.2
  * Firebase Product: messaging (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Upgrade from 6.4.1 to 7.6.2

is it safe to add all firebaseConfig on web?

[code]

on v6, you could just use `messagingSenderId`

The e

[2020-01-10 19:54] wu-hui commented on #2457
Hi scottfr,

Thanks for doing profiling. Unfortunately, I don't have any advice to give as what application does do not affect this behavior. I am looking into ways to improve this, but nothing concrete yet.

Hi filipesilva,

If I am not mistaken, you are bench-marking the write performance. It is actually not too surprising that persistence writes are slower than without persistence, because it n

[2020-01-10 22:11] louisameline commented on #1644
Hi guys, I think I know what this is, it just happened to me (Windows 7, Chrome Version 80.0.3987.42 (Build officiel) beta (64 bits))

It's because Chrome has been notified that an upgrade is available:

![image](https://user-images.githubusercontent.com/371814/72189831-31e4a800-33fe-11ea-9de9-0b931d76fb8d.png)

Reloading the browser and emptying all storage (indexDB, cookies and all) does not fix

[2020-01-10 23:09] LanderBeeuwsaert commented on #1644
@louisameline Hi Louis, I seem to be missing something here.
My users have this problem (well, some of them anyway) on version 79 of chrome. Which is the latest stable released version of chome.
But you are on chrome 80? Canary version then? And it asks you to upgrade?
Call me confused :-)

[2020-01-10 23:44] louisameline commented on #1644
This is the version I have after the upgrade, right now. I actually don't know what version I had before I pushed the upgrade button.

[2020-01-11 23:43] remyayad opened #2526 "Cannot connect to Firestore (only on network at work)"
### Environment

  * Operating System version: Microsoft Windows 10 & macOS 10.14.5
  * Browser version: Chrome 79.0.3945.117
  * Firebase SDK version: 7.6.2
  * Firebase Product: Firestore

### Problem

I am using AngularFire with Angular to store DB items (I also tried with the "vanilla" firebase ending up with the same results). The application works fine on my home computer and on other comput

[2020-01-12 16:02] LanderBeeuwsaert commented on #2522
The quotaExceeded error is something we have on chrome 79 desktop windows and apple version as well for users now and then. I've not been able to contact people however to show their console.log yet. But we have the issue already quite some months.

[2020-01-12 16:07] LanderBeeuwsaert opened #2527 "Firebase service worker messaging error?"
I have the following error in our error logging.
This is happening for a user running in the following environment:

![image](https://user-images.githubusercontent.com/1098243/72221775-02e54800-355e-11ea-95a8-659515d4c275.png)

We yesterday upgraded from firebase 7.6.1 to 7.6.2
Funny thing is that firestore and firebase read/writes are working correctly for that user if I look at the logging but i

[2020-01-12 16:48] LanderBeeuwsaert commented on #2527
Testing the same code myself now, I get:
![image](https://user-images.githubusercontent.com/1098243/72222328-bac92400-3563-11ea-942a-700325e90947.png)

Reverting to 7.6.1 solves the issue.

[2020-01-12 20:49] scottfr opened #2528 "Firestore Breaking in Chrome 80+ in Chrome Extension"
###  Describe your environment

  * Operating System version: NA
  * Browser version: Chrome 80/81
  * Firebase SDK version: 7.6.2
  * Firebase Product: firestore

### Describe the problem

Chrome is reworking how extension network requests work. Previously, requests would have an origin of `chrome-extension://IDXYZ` but now they have an origin equal to the domain of the requested resource when th

[2020-01-13 08:30] laurentpayot commented on #2241
Unfortunately nothing really new since [a year ago](https://github.com/firebase/firebase-js-sdk/issues/332#issuecomment-457779003). I guess we have to be patient :wink:

[2020-01-13 11:06] laurentpayot opened #2529 "Auth: updateCurrentUser() not triggering onAuthStateChanged"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 19.10
  * Browser version: Chrome 81.0.4021.2
  * Firebase SDK version: 7.6.2
  * Firebase Product: auth

### [REQUIRED] Describe the problem

`updateCurrentUser()` call does not trigger `onAuthStateChanged`, unlike specified in [documentation](https://firebase.google.com/docs/reference/js/firebase.auth.Auth.html#update

[2020-01-13 12:16] rommelpe commented on #2526
It's sounding a network-specific issue to me, and unfortunately this goes beyond our control. Firebase doesn't work well on proxies/firewalls that block access to our database, since it needs to have a secure connection to our servers to make sure that data can be transferred efficiently. See this [discussion](https://groups.google.com/forum/#!topic/firebase-talk/QATFH0xsS7w) answered by one of ou

[2020-01-13 14:16] zd-dalibor opened #2530 "Server side rendering: ReferenceError: IDBIndex is not defined"
I'm trying to make the serverside rendering bundle with webpack. And my application using messages sdk:

[code]

My bundle must be self-contained (do not load node module at runtime - everything should be inside bundle).

I'm trying to solve my problem with suggestions from this #1797 using something like this in webconfg to force loading node compatible scripts:

[code]

but the problem is in thi

[2020-01-13 14:38] rommelpe commented on #2529
Thanks for providing a detailed steps to reproduce this, @laurentpayot. I'm a bit curious though on how/where you invoke `updateCurrentUser`. Can you share a sample reproducible code of your app so we can easily replicate the issue?

[2020-01-13 15:00] wu-hui commented on #2526
I feel sorry but there really is not much we can do from Firebase side to make it work. As rommelpe said, your best way forward is to somehow remove the restriction your corp policy applied to firebase services.

[2020-01-13 15:00] #2526 closed

[2020-01-13 15:01] wu-hui commented on #2507
Closing the issue for now. You can ask to re-open if it turns out it is a Firestore bug after all.

[2020-01-13 15:01] #2507 closed

[2020-01-13 15:07] rommelpe commented on #2527
Sorry to hear about your issues, @LanderBeeuwsaert. Atm, I'm quite not sure if they are related.
Could you let us know what steps you did to reproduce it? Also, it would be a necessary starting point to have a minimal runnable code so we can easily replicate the issue. Thanks!

[2020-01-13 15:35] LanderBeeuwsaert commented on #2527
Hello, apologies, our timeschedule is really busy at the moment (we help organize competitions and the season is gearing up) so making a repro will not be possible to spend the time.
It was just in the first await functions().httpsCallable('somefunction')(input);
Nothing more than that that I can see for the moment.
But after downgrading it works. So if you prefer I can close.

[2020-01-13 15:46] itsalb3rt commented on #2524
No. If you use a framework like Vue, React, Angula, put all credentials in `env `variable and call then in the `firebase config` file

[2020-01-13 15:52] sibelius commented on #2524
isn't putting then .env the same as exposing them on web?

[2020-01-13 16:15] itsalb3rt commented on #2524
Theoretically not, because the variable is destroyed after being used in your code, unless you do not use secure network protocols and webpack especially to obfuscate the code.

[2020-01-13 16:15] merey90 commented on #2465
If it is possible I would prefer catchable error. if not, then will try detecting private mode 👍

[2020-01-13 16:16] itsalb3rt commented on #2524
if you want to feel that your environment variables are safer, keep an eye on this
[https://www.npmjs.com/package/secure-env](https://www.npmjs.com/package/secure-env)

[2020-01-13 16:16] sibelius commented on #2524
this is not true, no env is safe on frontend

[2020-01-13 16:19] itsalb3rt commented on #2524
think the following, if it were not safe there would be no firebase SDK for the front-end

[2020-01-13 16:40] remyayad commented on #2526
Thank you for the replies. Like mentioned in the OP, the data eventually gets pulled (after a few minutes) which tells me that the connection is not blocked. How can that be? Is there any way I can troubleshoot?

[2020-01-13 16:54] wu-hui commented on #2528
Hi @scottfr,

Thanks for reporting the issue! I could not reproduce your issue following your steps though.

I suspect certain rules will trigger this: can you show me your collection/document layout and the security rules your are using, and in what operation do you see the errors.

It'd be even better if you could provide a minimum reproducing project, in a github repository for example.

Thanks

[2020-01-13 16:54] wilhuff commented on #2526
The most common reason for the JS SDK to be blocked is actually that your proxy is buffering responses.

Try setting `experimentalForceLongPolling` in your settings: https://firebase.google.com/docs/reference/js/firebase.firestore.Settings.html#experimentalforcelongpolling. See more here: https://github.com/firebase/firebase-js-sdk/issues/1674.

[2020-01-13 17:24] mikelehen commented on #2528
@scottfr Thanks for the report! This sounds very similar / related to https://github.com/firebase/firebase-js-sdk/issues/1491.

I suspect they have the same underlying cause (due to a backend limitation, the Firestore SDK can't use `$httpHeaders` when the Origin is missing) and I'll try to put together a PR today that disables our `$httpHeaders` code for Chrome Extensions.

If you happen to have a

[2020-01-13 17:24] #2528 closed

[2020-01-13 17:28] inlined opened #2531 "Re-add increment operations without regressions"
Follow-up bug to  #2500 that the same feature should make it into the codebase but without regressing performance.

[2020-01-13 17:28] inlined commented on #2531
CC @schmidt-sebastian @mikelehen

[2020-01-13 17:29] mikelehen commented on #1491
@ShishKabab Thanks for the investigation.  I think I'll probably err on the side of being more general and just try to detect that we're in _any_ Firefox extension.

Per https://github.com/firebase/firebase-js-sdk/issues/2528 it sounds like Chrome 80+ extensions are hitting the same sort of issue, so I think I'll probably make a PR today that:
* Detects Firefox extensions (via `typeof extension !=

[2020-01-13 17:36] remyayad commented on #2526
Hi @wilhuff, thank you for your input. I saw the post you mentioned. In fact, the last three replies are me and @mikelehen discussing the issue. The tests (running https://debug-my.firebaseapp.com/ on the corporate network) seem to reflect that the network should be reading/writing to Firestore whether the `experimentalForceLongPolling` flag is enabled or not :

[code]

I believe the line I should

[2020-01-13 18:31] bojeil-google commented on #2529
Calling `updateCurrentUser` with the same current user will not trigger `onAuthStateChanged` again. `onAuthStateChanged` is only triggered when a user signs out or a new user signs in.

[2020-01-13 18:33] hsubox76 commented on #2530
Messaging actually is not supported in Node (see [supported environments table](https://firebase.google.com/support/guides/environments_js-sdk)). Can you set up a different entry point for your server rendering bundle that doesn't import it?

[2020-01-13 19:05] wilhuff commented on #2526
You need to use the `FirestoreSettingsToken` to provide the settings you want.

This is essentially just like https://github.com/angular/angularfire/issues/2183#issuecomment-538402555, except instead of specifying `host` and `ssl` properties, you want to set `experimentalForceLongPolling`.

[2020-01-13 19:41] wu-hui commented on #2504
Hi @shaunc869

Thanks for the information you sent me.

Our backend team is looking into your logs, and while they are investigating, they would like to know more details, particularly below are helpful:

 - size / count of documents returned
 - method breakdown
 - error code breakdown from your view if any
 - exact timestamps when they see the issues

Please provide above information if you could

[2020-01-13 22:31] remyayad commented on #2526
Looks like this fixed the problem at the cost of performance but that's the price to pay to have a working app in complex corporate networks. Still wondering why the [test](https://debug-my.firebaseapp.com/) mentioned in issue [#1674](https://github.com/firebase/firebase-js-sdk/issues/1674) passed without the `experimentalForceLongPolling` flag enabled though...

Also by looking at the title of th

[2020-01-13 22:55] nkndy opened #2532 "FR: Expose refresh_token in login result for Google OAuth Provider"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS 10.15
  * Browser version:
  * Firebase SDK version: 7.9.0
  * Firebase Product: Auth

### [REQUIRED] Describe the problem

Unable to persist Authentication for 3rd Party Google services using auth.GoogleAuthProvider()

Using Firebase Auth, when the user signs in successfully (using the Google Auth Provider) the returned

[2020-01-13 23:10] var-const commented on #2456
Can you please try changing your code to the following:
[code]
Apologies for the partially incorrect code snippet I posted above. The arguments given to `startAfter` should correspond to the `orderBy` fields, so since your code is ordering by `time_stamp`, the argument given to `startAfter` should also be a `time_stamp` value. However, in case two documents have the same timestamp value, a tiebrea

[2020-01-13 23:22] wilhuff commented on #2526
The flag is experimental but the fix is not. We marked it "experimental" to avoid making it a committed part of the API. Eventually we'll be rolling out a mechanism that can auto-detect this issue and fall back automatically. At that point we can remove the flag.

What kind of performance difference are you seeing?

[2020-01-14 06:10] ChromeQ opened #2535 "`transaction.get` does not match firestore-admin in @firebase/testing"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 19.10
  * Browser version: N/A
  * Firebase SDK version: 7.6.2
  * Firebase Product: testing / firestore

### [REQUIRED] Describe the problem
With an app running on cloud functions the firestore is accessed via `firebase-admin` initializeApp.
For testing purposes I import `@firebase/testing` and initializeAdminApp to cr

[2020-01-14 06:32] ChromeQ commented on #2535
Looking at the error and reading the docs on transactions does expect the argument to be a `Document.Reference`, and I am passing a Collection Query;
https://firebase.google.com/docs/reference/node/firebase.firestore.Transaction.html#get

But the admin SDK does allow passing a collection reference like this.
For now I will refactor my code to not run transaction against the collection but it is so

[2020-01-14 08:32] zd-dalibor commented on #2530
@hsubox76 Ok, I solve this problem with dynamic imports:

[code]

[2020-01-14 10:06] laurentpayot opened #2536 "Firestore rules: request.auth.token.email_verified not updated until new sign in"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 19.10
  * Browser version: 81.0.4021.2
  * Firebase SDK version: 7.6.2
  * Firebase Product: auth (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:

Same first five steps as in #2529, except that step 6 is trying to write to Firestore with a creation rule depending on `request

[2020-01-14 11:15] laurentpayot commented on #2529
@rommelpe my app is is a bit complex as Firebase is run [in a web worker](https://github.com/firebase/firebase-js-sdk/issues/983) to unload the main thread.
In my worker I have this TypeScript API (simplified) that I'm calling via messages:

[code]

@bojeil-google

So is it not really the auth _state_ (with the state being the user _attributes_) but rather the reference to the user object that is

[2020-01-14 11:20] laurentpayot commented on #2529
To sum it up I wish I had a `reloadUser` function that would refresh the current auth user with all its attributes refreshed, whatever their depth. Is it impossible to do in Firebase without a new sign in?

I also opened #2536 for the same kind of issue but on the server side.

[2020-01-14 11:28] laurentpayot commented on #2529
I also opened #2536 for the same kind of issue but on the server side. For the email to be "really" verified, it also seems that a new sign in is required after a user signs up and confirm its email. This is a pain in my password sign up process :confused:

[2020-01-14 11:45] laurentpayot commented on #2536
I'm closing this as this is the same as #2529.

[2020-01-14 11:45] #2536 closed

[2020-01-14 13:01] shaunc869 commented on #2504
So we opened a ticket with Google Support (Case # 21760839), it turned out
that we were getting queries that were not properly using indexes that were
in place. Please take a look at this case and let me know what you think.

On Mon, Jan 13, 2020 at 11:41 AM wu-hui <notifications@github.com> wrote:

--
[image: photo]

*Shaun Clark*
Co-Founder, HighLevel

503-708-1210

[2020-01-14 13:27] scottfr commented on #1491
Thank you for these suggestions Mike. I have patched the build of Firestore in our extension to simply delete the setting of `request.httpHeadersOverwriteParam = '$httpHeaders'`.

This appears to resolve the issue.

We are on Firebase 6.2.4 and would prefer to not rush out an upgrade to the newest Firebase SDK without a lengthier testing process. Should this small `request.httpHeadersOverwritePara

[2020-01-14 13:42] thorium369 opened #2538 "Firebase Analytics for Web not working in IE11 (without polyfills)"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 8.1
  * Browser version: IE11 (11.0.9600.19507)
  * Firebase SDK version: 7.6.2
  * Firebase Product: Analytics

### [REQUIRED] Describe the problem
The Firebase Analytics JS plugin for Web gives below error in IE console:
[code]
Any events fired using _logEvent_ fail because of this.

#### Steps to reproduce:
- Create

[2020-01-14 13:43] rommelpe commented on #2527
Thanks for the inputs. As much as I wanted to help you out here, I need to reproduce it first on my end to be able to move forward. If you decided to work on the [repro](https://stackoverflow.com/help/minimal-reproducible-example) (including the detailed steps), then we are happy to look into further.

You can always reply to this thread to reopen the issue so we can pick up our conversation where

[2020-01-14 13:43] #2527 closed

[2020-01-14 14:16] rommelpe commented on #2538
It looks like you still need to [include polyfills](https://firebase.google.com/support/guides/environments_js-sdk#supported_environments) in your application.

If you’ve incorporated polyfills and still having issues, please share a [repro](https://stackoverflow.com/help/minimal-reproducible-example) so I can check it on my end.

[2020-01-14 15:55] #2530 closed

[2020-01-14 16:00] wu-hui commented on #2504
I see. It seems like the back-end folks have made some progress, and I'd suggest use that ticket to continue the communication.

Given this is client SDK repo, and your issue is back-end only and it's being actively worked on, there is not much value to keep it.

[2020-01-14 16:00] #2504 closed

[2020-01-14 18:14] mikelehen commented on #1491
@scottfr Thank you!  Good catch about my check accidentally detecting normal chrome too!  I've updated it to use `id` as you suggested and it seems to work reliably in Chrome and Firefox now.

As per your question, it should be completely safe to remove `request.httpHeadersOverwriteParam = '$httpHeaders'` so you can move forward with that as a manual fix.

And thanks for highlighting the impact th

[2020-01-14 19:19] hsubox76 commented on #2538
Just to clarify any confusion, "environments that don't support the features required by Firebase" refers to environments that don't support the **browser APIs/features** required by Firebase.  It doesn't mean polyfills are not required for Firebase **products** (such as analytics) supported in that environment.  Polyfills are required for Firebase to work in IE.

If you scroll down, ES Stable is

[2020-01-14 19:27] rommelpe commented on #2524
Sorry about the slow response, @sibelius. Are you still encountering the error? Could I ask you to go a bit further and provide a working repro with a detailed steps that we can run locally?

The code snippet is useful, but this is likely hard to repro, so getting a complete mcve will be a necessary starting point.

[2020-01-15 05:25] ankitjt opened #2540 "Console not showing added Data"
### [REQUIRED] Describe your environment

  * Operating System version: ___Windows 10__
  * Browser version: __Chrome 79
  * Firebase SDK version: __7.6.2
  * Firebase Product: Database

### [REQUIRED] Describe the problem
I am unable to see data added in my console, though when I export the JSON it shows the added data.

#### Relevant Code:
  let database = firebase.database()
    function writeU

[2020-01-15 06:36] rommelpe commented on #2540
Thanks for reporting, @ankitjt. It might be an isolated case as RTDB is currently [healthy](https://status.firebase.google.com/). Have you tried accessing the Firebase console in **incognito** mode? You may also do the following:

- Verify if there are any other program that might be blocking your connection such as antivirus or firewall.
- Log out of your dashboard (ensure that there's no multipl

[2020-01-15 08:53] thorium369 commented on #2538
@hsubox76 @rommelpe Thanks for clarifying!
I thought that line (which you both mentioned) meant that polyfills are required only for features not supported (like Cloud Messaging) which have a red flag in the table.
I added the ES Stable polyfill and I was able to log events and see them in the Analytics Dashboard.

[2020-01-15 09:08] rommelpe commented on #2538
Glad to hear that, @thorium369. I'll be closing this issue now. Should you have any other Firebase-specific questions and want to continue the discussion, just leave a comment here and we are happy to re-open this.

[2020-01-15 09:08] #2538 closed

[2020-01-15 10:02] laurentpayot commented on #2399
@rommelpe If I want to try the maximum number of unsuccessful attempts (minus one) before displaying a captcha for `signInWithEmailAndPassword` then how many attempts on what duration is exactly "too many attempts"?
Is there a way to customize that number/duration?

[2020-01-15 15:00] coolcool1994 opened #2541 "[Question and Help] Bugged pricing modal?"
I couldn't find any info online after digging for awhile so I am asking two important pricing questions below.

#1 From Firebase Video from https://www.youtube.com/watch?v=6NegFl9p_sE&feature=emb_logo Todd Kerpelman says that when you send messages in 1 on 1  chat in 10 minutes, there will be roughly 60 writes and 120 reads. I don't know why it is 120 reads? Shouldn't it be 60 writes and 60 reads

[2020-01-15 15:38] magoarcano commented on #2284
I have the same problem. That message appears 37 times(1 per each google service or subdomain)  every time I want to login with google.

[2020-01-15 18:53] ryanmtaylor opened #2543 "documentation says CollectionReference#add should return a DocumentReference promise"
### [REQUIRED] Describe your environment

  * Operating System version: n/a
  * Browser version: n/a
  * Firebase SDK version: 7.6.2
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

Using `CollectionReference#add`, the `.add()` command, returns a promise containing a WriteResult, but the documentation says it should be a DocumentReference.
- https://firebase.google.com/docs/re

[2020-01-15 19:07] schmidt-sebastian commented on #2488
I am closing this issue for now. Please follow the advise outlined above (thanks @puf!).

If there is more feedback, we can consider supporting this use case directly.

[2020-01-15 19:07] #2488 closed

[2020-01-15 19:41] thebrianchen commented on #2543
@ryanmtaylor Thanks for writing in!

Having `CollectionReference.add()` return a `WriteResult` is strange, since we currently have a [test](https://github.com/googleapis/nodejs-firestore/blob/94ddc897400cafe5a1ee16f3ad0d285411bdd0b2/dev/system-test/firestore.ts#L195) in the admin sdk that checks to make sure we receive a `DocumentReference`. Could you provide a minimal repro that shows when a `Wri

[2020-01-15 20:18] lonerz commented on #2488
@puf @schmidt-sebastian I ended up going with the validations path.

However, with simultaneous writes, it seems like Firebase tries to write the data, which listeners on that data pick up the attempted write, and if it doesn't satisfy validations, it then reverts the write, which listeners on the data also pick-up.

Is this supposed to happen? Where both the failed write and the reverted write ar

[2020-01-15 20:53] thebrianchen commented on #2541
@coolcool1994  Thanks for writing in! For every message in a 2 person chat room, there would be 1 read and 2 writes. To clarify the video, if you store the messages for each chatroom in their own document, you would update each user's chatroom by adding a snapshot listener on the corresponding document. So in this case:

1. Alice sends a message (1 write).
2. Alice's snapshot listener fetches the

[2020-01-15 21:42] filipsuk commented on #1003
Any updates on this or possible workarounds please? Our firebase app is not usable when shared over facebook (mobile user opens it in facebook container).

[2020-01-15 22:59] puf commented on #2488
That is indeed the expected behavior. The client where the write is performed sees optimistic events, which are then reconciled if the server rejects the write.

If you have additional questions about this, please post on Stack Overflow. This repo is specific to the JavaScript SDKs, and there a lot more folks who can help on Stack Overflow.

[2020-01-15 23:09] antoniozzo opened #2545 "Batch writes blocks rendering"
### Describe your environment

  * Operating System version: macOS 10.14.6
  * Browser version: Chrome 79.0.3945.117
  * Firebase SDK version: 7.6.2
  * Firebase Product: firestore

### Describe the problem

When I'm updating a few hundred documents with batches, rendering is blocked while firestore is sending the changed documents back through the WebChannel. Having `firebase.firestore.setLogLeve

[2020-01-16 08:33] evdama commented on #1612
Is there any new best-practice or otherwise progress on the SSR subject? Similiar to Angular, Vue SSR and React users I'm having import issues Sapper (a SSR toolkit for Svelte vs3). The issues are as mentioned here https://github.com/codediodeio/sveltefire/issues/4 and here https://github.com/firebase/firebase-js-sdk/issues/1797

[2020-01-16 09:55] ankitjt commented on #2540
@rommelpe it started showing the data in the console on its own after a while without me doing anything.
Thanks for the immediate response :)

[2020-01-16 09:55] #2540 closed

[2020-01-16 10:48] coolcool1994 commented on #2541
Thank you for such a thorough answer! As a small follow up question, if you were to attach and detach snapshot listener many times within 30 minutes (white cache doesn't expire and re-billed) when there is NO document changes, would you get billed multiple times or would you get billed nothing?

[2020-01-16 11:34] rommelpe commented on #2510
Thanks for letting us know your workaround, @ThewBear. While this is currently an intended behavior, we'll treat this as a feature request and keep this open.

[2020-01-16 12:26] mmermerkaya commented on #2522
Installations (which Performance depends on) is the library that uses IndexedDB, but I don't think we can do anything from the Installations side as this is a Chrome issue, and to implement an alternative storage method in the rare case of IndexedDB failing wouldn't be cost effective and would increase the library size unnecessarily.

[2020-01-16 12:34] LanderBeeuwsaert commented on #2522
@mmermerkaya
do I understand correctly that everything except installations will continue working when this error occurs? So firestore, firebase, authentication, functions calling, ... will be ok?
So I can just try to 'absorb' the error in the application and this will not cause unexpected issues?

[2020-01-16 12:56] AoDev commented on #2284
I am seeing this warning in Brave Browser too.

[2020-01-16 13:21] MatthewPringle commented on #1926
I have also seen this bug on Safari 13.0.1 OSX 10.14.6

It happens when I clear my browsing history without restarting the browser. It can keep generating the error until the browser is completely closed and restarted.

[2020-01-16 13:27] coolcool1994 opened #2547 "Firestore Document update failed to update one field"
Hi, I have witnessed a major bug with Firestore where when you update a document, one field failed to get updated while succeeding in other fields. There is no way I can reproduce it again, and there no debugging logs from Firestore that I have to give you, but the update method for document failed to update one field while updating the other two. in the below example once.

Is it possible that up

[2020-01-16 15:30] Elyx0 commented on #2535
I wish we were given the ability to stub them so it doesn't mess with the typescript typings when we use them on the same code

[2020-01-16 19:09] thebrianchen commented on #2541
As long the underlying documents have not changed and you have persistence enabled, you would not be billed again within the 30 minute threshold. However, if you have persistence disabled while attaching and detaching a snapshot listener, you would be billed every time you re-attach the snapshot listener.

Please note -- our best practices [guide](https://firebase.google.com/docs/firestore/best-pr

[2020-01-16 19:21] thebrianchen commented on #2545
@antoniozzo Thanks for filing an issue! We're currently working on improving the performance of Firestore. While Firestore is processing the documents, the rendering of your application will unfortunately be blocked. However, if you update your documents in smaller batches, there will be gaps in between batches for you to render, even though the total amount of processing time required by Firestor

[2020-01-16 19:37] thebrianchen commented on #2547
@coolcool1994 Our backend performs updates atomically, so it's very unlikely that an update for a document succeeded in one intended field but not another. If you run into such an error and have logging enabled, please share the logs with us!

[2020-01-17 10:08] coolcool1994 commented on #2547
I did log things from console.log('texts'), but I did more things afterwards now and it is hard to find. I am assured that things like this won't happen often since update happens atomically. But I have double, triple, and probably checked like 10 times, why it could have happen and the final answer is Firestore failed to update append an object to that dictionaryObject which is one field while su

[2020-01-17 14:25] rommelpe commented on #2529
Sorry to hear about your issues, @laurentpayot. It's the current design that  the user has to sign in again, in order to refresh the token. Check out [this post](https://stackoverflow.com/questions/47117399/is-login-needed-after-user-email-verification-on-firebase?answertab=votes#tab-top) as to why verification process should be separated from sign in.

If you haven't checked [this](https://stacko

[2020-01-17 17:33] laurentpayot commented on #2529
I tried `firebase.auth().currentUser.getIdToken(true)` instead of `updateCurrentUser()` and it was exactly what I needed to update the token!

Thank you so much @rommelpe :+1:

[2020-01-17 17:33] #2529 closed

[2020-01-17 18:54] milky2028 opened #2552 "Authentication Broken When Called from Web Worker"
* Operating System version: Windows 10 1909, MacOS 13.1, Ubuntu 16.04
  * Browser version: Chrome 79
  * Firebase SDK version: 7.2.3
  * Firebase Product: auth, firestore

I'm getting a "permission denied" error when trying to get a document from a web worker when the document requires authentication. Auth is happening outside the worker, on the main thread. The request succeeds as normal when sec

[2020-01-17 19:14] #2552 closed

[2020-01-17 19:15] milky2028 commented on #2552
I think I'll actually just use [this doc](https://firebase.google.com/docs/auth/web/service-worker-sessions) to try to proxy all calls. If anyone out there looked at this, thanks for your help!

[2020-01-17 23:03] zv3 commented on #2535
I'm having a similar issue but with the [`transaction.getAll()`](https://googleapis.dev/nodejs/firestore/latest/Transaction.html#getAll) method, which isn't part of the client SDK but as mentioned by @ChromeQ, the client SDK seems to be used to initialize an admin app.

[code]

[2020-01-18 01:53] remyayad commented on #2526
I've been using the app for a few day and it seems as though the performance was impacted only on the first day. Might've been a network issue. Thanks to all for your support in solving this issue!

[2020-01-18 02:01] #2483 closed

[2020-01-18 02:31] dbarjs commented on #2390
I had this issue, it happens whenever I installed via yarn the firebase with the nuxt.js (via `yarn create nuxt-app <project-name>`).

package.json:
[code]
Terminal error:
[code]

# Solution
I fixed the problem by installing the individual services like:
[code]
I try to install all the @firebase services and the error didn't happen anymore.

[2020-01-18 17:35] AmitJoki commented on #462
Actually, I've a signInWithCustomToken enabled with LinkedIn OAuth and I've done
[code]

And I get `null` first and just a few seconds later, I get the user object. This is when I've already signed in. And this behavior is consistent. I get `null` and then after a few seconds, the user.

Same behavior with the authStateChanged as well. There's a delay which we cannot control.

If firebase.auth().c

[2020-01-18 17:51] AmitJoki commented on #462
Here's the demo.

https://webm.red/mkpV

[2020-01-19 21:26] avblink opened #2554 "Dosn't work with core-js@3"
Latest installation of nuxt uses core-js@3 where all references to es6 and es7 were consolidated into es.

Nuxt breaks after installing firebase npm package with errors like:
`core-js/modules/es6.array.find in ./.nuxt/client.js`

It is looking for es6 instead of es.

Downgrading core-js to version 2 is not an option for me.

Is there any other solution?

[2020-01-20 05:13] burtonator opened #2555 "IINTERNAL ASSERTION FAILED: AsyncQueue is already failed: FirebaseError: The current tab is not in the required state to perform this operation. It might be necessary to refresh the browser tab."
### [REQUIRED] Describe your environment

  * Operating System version: __ ubuntu
  * Browser version: _ electron 7.1.2
  * Firebase SDK version: __7.6.1
  * Firebase Product: __ firestore (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:

We're getting this exception constantly in the wild, but I can't actually duplicate it locally.

We have about 5k us

[2020-01-20 07:16] rommelpe commented on #2554
Thanks for reporting, @avblink. It might be related to https://github.com/firebase/firebase-js-sdk/issues/2390. I have not used nuxt before, so I could be wrong. You may try to install Firebase services individually as mentioned [here](https://github.com/firebase/firebase-js-sdk/issues/2390#issuecomment-575858020):

[2020-01-20 11:52] zeari commented on #1176
Hi, is this feature or BatchGet available at `firebase-js-sdk`?

[2020-01-20 12:53] rommelpe commented on #2555
Sorry to hear about your issues, @burtonator. I haven't encountered this error yet. Based from the error message, it's more likely related to (https://github.com/firebase/firebase-js-sdk/issues/1436) multi-tab synchronization support, and was addressed in v5.7.2.

 - Are you using `experimentalTabSynchronization`?
- Can you try running the app on multiple tabs to reproduce it (as mentioned in the

[2020-01-20 17:33] burtonator commented on #2555
Thanks @rommelpe ... appreciate your help as this might be a huge bug for us.

I'm not but I am running synchronizeTabs.

Electron doesn't really have 'tabs' but it does have windows.  I've tried to duplicate this and I can't ... I might try to disable synchronizeTabs.

What would be the downside of using enablePersistence () without synchronizeTabs?  I assume this means the second 'tab' or window

[2020-01-20 18:47] Marc-Tanne commented on #2364
are there any new updates on this. Our company is getting held up by this issue. we are using `"firebase": "7.6.1"` and the error is not suppressed in this version. we are calling get token like this: `messaging.getToken("SENDER ID", "FCM");`

[2020-01-20 22:10] SeanDez opened #2556 "14 UNAVAILABLE: failed to connect to all addresses"
### [REQUIRED] Describe your environment

  * Operating System version:  Linux 4.15 Ubuntu 18.04.3 LTS (Bionic Beaver)
  * Browser version: Google Chrome 79.0.3945.88 (Official Build) (64-bit)
  * Firebase SDK version: "firebase": "^7.5.0"
  * Firebase Product: core, admin, testing, firestore (auth, database, storage, etc)

### [REQUIRED] Describe the problem

A test db call fails instantly with t

[2020-01-21 02:01] #2438 closed

[2020-01-21 07:32] Suhail opened #2557 "HTTP REST API to generate custom token from id_token"
Hi there, I am trying to generate a custom token via an id_token.

Today, I have working code like this:

[code]

I'd like to cut the latency down of this request and I am hoping there's a closer region than us-central-1 by chance.

Questions:

1. Where are the HTTP APIs for this documented? I've looked everywhere via Google but couldn't find anything.
2. Is there a closer region I can use?

[2020-01-21 07:33] al002 commented on #2522
@mmermerkaya I understand your concern.

For now, we cannot catch any async errors on the application side, and I think it is ok. If we do not need to care about those errors, because other functions still work? should we silence this kind of error in the library?

[2020-01-21 10:55] SeanDez commented on #2556
`FirestoreConnection.test.ts` is there but you have to switch to branch StoreFrontToken. Here is a link to the repo/file: https://github.com/SeanDez/buyUsedShopifyServer/blob/StoreFrontToken/functions/src/classes/__tests__/FirestoreConnection.test.ts

[2020-01-21 15:33] milky2028 commented on #2552
If anyone ever finds this and has the same issue, what I actually ended up doing was still doing authentication on the main thread (since signInWithPopup requires access to Window), then passing that UserAuthentication object to the worker and calling [signInWithCredential](https://firebase.google.com/docs/reference/js/firebase.auth.Auth.html#signinwithcredential) inside the worker.

Is this the b

[2020-01-21 17:07] rommelpe commented on #2556
Thanks for reaching out, @SeanDez. I was able to reproduce the issue but I'm not sure if it's an intended behavior.

I tried running our [quickstart](https://github.com/firebase/quickstart-nodejs/tree/master/firestore-emulator/javascript-quickstart) guide, it successfully creates connection from the db and be able to save docs. Using Firebase CLI command: `firebase emulators:exec --only firestore

[2020-01-21 17:25] wilhuff commented on #1176
The best way to check for new features is to check our [release notes](https://firebase.google.com/support/release-notes/js), where we describe everything we've added/fixed.

As [described in the other repo](https://github.com/firebase/firebase-ios-sdk/issues/1877#issuecomment-424803367), we'd love to build this feature, but it requires an addition to the protocol to make it work, and we have othe

[2020-01-21 17:55] SeanDez commented on #2556
Thank you @rommelpe . I think I can explain the difference:

In the first test suite you are testing firebase security rules which is in firebase.rules in the project root.

In the 2nd test, you are testing the class at `functions/src/classes/FirestoreConnection.ts` using the testing file one level deeper in `__tests__` by the same prefix. These are not rules tests but database CRUD operations tes

[2020-01-21 18:16] #2541 closed

[2020-01-21 18:17] #2545 closed

[2020-01-21 18:22] tradingproject19 commented on #1926
error started popping up out of nowhere

[2020-01-21 18:29] bojeil-google commented on #2552
Auth state should be visible within a web / service worker. I tested out myself recently: https://github.com/FirebaseExtended/firebase-auth-service-worker-sessions/

User signs in from a browser. The `currentUser` is accessible from the service worker.

[2020-01-21 18:33] DeniCarvalho commented on #1190
Guys, one solutions is usage Firestore REST

[2020-01-21 20:39] avblink commented on #2554
Hi @rommelpe,

it is indeed related, however solutioins provided there did not work. :(

firebase is installed as individual services, just like you said:
[code]

[2020-01-21 20:49] thebrianchen commented on #2555
@burtonator

Without `synchronizeTabs`, only the first tab that is opened will have persistence, so subsequently opened tabs will fall back to memory persistence. In web browsers, multiple tabs share a single instance of IndexedDB, and the `synchronizeTabs` setting allows multiple Firestore instances to share access to IndexedDB.

[2020-01-21 20:49] hsubox76 commented on #2554
One thing to note in that workaround is the `@`.  Can you import from `@firebase/app`, etc.?  It's different from `firebase/app`.

[2020-01-21 20:59] avblink commented on #2554
Hi @hsubox76,

this is what I did. Didn't work.

[2020-01-21 21:08] hsubox76 commented on #2554
Are you npm/yarn installing firebase, or are you downloading it from the CDN (e.g. `<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase.js">`)?

If npm/yarn installing, can you `npm install` or `yarn add` just the packages you need as `@firebase/[package]`?  If from the script tag, can you just include the script tags for the packages you need?  Here's a list of the current package path

[2020-01-21 21:31] milky2028 commented on #2552
I thought this would be the case as well, but it wasn't working for me. I'm using a plain ol' web worker, not a service worker. This might be the difference, but I wouldn't think that this is the case since I know auth credentials are stored in IndexedDB, which a web worker also has access to.

Since most of the Firebase libraries are huge, I'm dynamically importing all of them. Since auth isn't u

[2020-01-21 21:35] bojeil-google commented on #2552
It has to be imported in the worker and initialized.

[2020-01-21 22:06] avblink commented on #2554
Here is what I've just tested:

- installed default nuxt install.
- yarn add @firebase/app @firebase/firestore
- created firebase.js file with the code below
- included firebase.js file on the index.vue page
- all works
- checked core-js version, it is @2.6.11 instead of @3.6.4.
- @firebase downgrades core-js to version 2
- upgrading to version 3 throws errors mentioned in the head of this thread.

[2020-01-21 22:17] mbleigh commented on #2557
Hi Suhail, you can deploy HTTP functions to any of the [available Cloud Functions locations](https://firebase.google.com/docs/functions/locations). If you're deploying using the Firebase CLI, you can do this like so:

[code]

[2020-01-21 22:37] thebrianchen commented on #1324
With #2436, you will no longer have to perform a dummy update if your document exists, since we no longer require that every document read must be written to. Adding `transaction.create()` is still something that's on our radar, but it's relatively low-priority because this functionality can be achieved using the existing API.

[2020-01-21 22:41] Suhail commented on #2557
Oh, interesting, so there's no us-west region? Bummer!

A us-west zone I suspect would help reduce login latency fwiw. That's really important for our application to the point where we'd need to replace the auth mechanism perhaps.

[2020-01-21 22:45] SeanDez commented on #2556
I've found that the initial error may have been caused because the server/emulator was not found by gRPC, I ran `firebase serve --only functions,firestore` to ensure the firestore service was also emulated locally. Terminal showed emulators running on different ports for both services.

Rerunning `jest --watch` now produces a slightly different error:

[code]

[2020-01-21 23:00] thebrianchen commented on #2547
You can enable debug logging here:
https://firebase.google.com/docs/reference/js/firebase.firestore.html#setloglevel

These logs will allow us to examine Firestore's behavior and see what's happening internally.

[2020-01-22 00:34] jhuleatt opened #2561 "RxFire: null handling in docData, objectVal, listVal"
When a query at a non-existent path is issued in rxFire's convenience functions `docData`, `objectVal`, and `listVal`, the returned value is different from what the plain JS SDK returns in `snap.data()` and `snap.val()`. `collectionData` works as expected

| method | expected output | actual output |
| --- | --- | --- |
| `docData` | `undefined`  | `{}` |
| `collectionData` | `[]`|`[]` |
| `object

[2020-01-22 00:35] jhuleatt commented on #2561
cc @jamesdaniels @davideast

[2020-01-22 15:18] seankwalker commented on #880
Hi @mmermerkaya , this is still an issue. I understand that importing `firebase/app` imports all the packages, incl. those which should not be imported in a non-browser environment (as you mentioned). However, it is required to import `"firebase/app"` in order to initialize the app, right?

[2020-01-22 17:50] shelcindra opened #2564 "Document RxFire's docData() function"
RxFire has a `docData()` function:

https://github.com/firebase/firebase-js-sdk/blob/0602d9172786d361c86fb502360d708421c190ef/packages/rxfire/firestore/document/index.ts#L33

but it isn't documented. Can we document it?

[2020-01-22 18:29] rommelpe commented on #2498
Sorry for not getting back to you sooner, @nica0012. I can't seem to replicate it or am just missing something. I always end up in the initial log;

![image](https://user-images.githubusercontent.com/56452310/72920939-44a79700-3d85-11ea-8ce9-f77dd07dae3b.png)

Are you still having this issue? You may share a working repro for us to check if the issue you encountered is intended or could be related

[2020-01-22 18:34] hsubox76 commented on #2554
I don't think this is a Firebase issue.  I followed these steps without Firebase being involved:
- `yarn create nuxt-app nuxt-test`
- `cd nuxt-test`
- `yarn dev`
- Page runs fine
- If I inspect `yarn.lock` or `node_modules/` I see core-js ~2.6 installed
- `yarn upgrade core-js@latest` (upgrade core js to 3)
- `cd nuxt-test`
- `yarn dev`
- I see errors like the one you reported.

The Nuxt default a

[2020-01-22 21:19] ryanmtaylor commented on #2543
The test is wrong as per the link I included at the end – https://github.com/googleapis/nodejs-firestore/blob/94ddc897400cafe5a1ee16f3ad0d285411bdd0b2/dev/test/typescript.ts#L158

As you can see the actual code in the test is actually verifying a `WriteResult`, although it says it's looking for a `DocumentReference` in the description of the test

[2020-01-22 21:55] thebrianchen commented on #2556
@SeanDez

You are correct that the initial error you were getting was because you did not point your tests to the firestore emulator, which you have to do either manually in your app, or setting `FIRESTORE_EMULATOR_HOST=localhost:8080` in your environment when running the tests.

If you enable logging in the the admin SDK with `firestore.setLogFunction()` and run your tests, you can see the underl

[2020-01-22 21:55] #2556 closed

[2020-01-22 22:03] thebrianchen commented on #2543
The test you linked to is verifying that all methods on `DocumentReference` have the correct typings. `create()`, `set()`, and other methods on `DocumentReference` have `WriteResult` as their return type. However, `CollectionReference.add()` has a `DocumentReference` return type, and its corresponding typescript test can be found [here](https://github.com/googleapis/nodejs-firestore/blob/94ddc8974

[2020-01-22 22:03] #2543 closed

[2020-01-23 06:19] carnesen commented on #880
I've since learned that `/// <reference lib="dom" />` is not type-safe either because the included definitions are not scoped to the module containing the reference; they are added to the global ambient definitions. I no longer recommend that as a solution.

[2020-01-23 07:01] mheavenor commented on #2284
I am also running into this issue:

Environment:
Incognito Chrome with no extensions
Firebase npm package 7.6.2
Sign in method: email and password

I am still able to sign in but I get the console warning.

[code]

[2020-01-23 13:06] rommelpe commented on #2103
Sorry for the late response, @MatthewPringle. I would like to check if you are still having issues here. If so, you may share a [working repro](https://stackoverflow.com/help/minimal-reproducible-example), and we are happy look into it.

[2020-01-23 13:07] rommelpe commented on #2103
Sorry for the late response, @MatthewPringle. I would like to check if you are still having issues here. If so, you may share a [working repro](https://stackoverflow.com/help/minimal-reproducible-example), and we are happy to look into it.

[2020-01-23 13:19] rommelpe commented on #2167
Sorry for the late response here, @jamesknelson. While I'm trying to replicate it, does the issue persist in the latest version ([7.7.0](https://firebase.google.com/support/release-notes/js#version_770_-_january_16_2019))?

[2020-01-23 13:26] MatthewPringle commented on #2103
Unfortunately I do not have a working repo at the moment.

The issue with Firebase JS and Cordova is that the instructions provided by Firebase for Cordova integration are no longer valid.

Some plugins have stopped working, some need replacing and some haven't been updated to support the latest mobile SDKs.

Browsertab should be replaced with safariviewcontroller

Firebase should also not check f

[2020-01-23 17:39] hsubox76 commented on #880
If I understand your question correctly, no, this is not the case.  Importing `firebase/app` does not import all packages, only the JS SDK core code.  Any packages you wish to use need to be imported in additional, separate import statements.  Importing `firebase`, however, does import all packages.

[2020-01-23 20:56] wvanderdeijl commented on #2124
I just tested this and it has improved somewhat since I filed this issue. In `auth().getRedirectResult()` we get a promise with a `AuthCredential` object. This contains `credentials.idToken` with the encoded JWT ID token from Azure. (When using Typescript you first have to cast the credentials property to `auth.OAuthCredential` to get to this property by the way).
It's fairly simple to decode that

[2020-01-24 04:50] suryacaprice commented on #2096
I am having a similar issue for a batch job which would run for over 5 - 6 hours and the token expires and there is currently no way to refresh it . This is really an oversight from the Firebase team to have an authentication system without proper refresh token system working. Compared to it Cognito and other auth systems are way more superior and provide more advanced use case scenarios .  If any

[2020-01-24 04:54] suryacaprice commented on #2557
I am having a similar issue . Is there any solution or documentation to it

[2020-01-24 11:56] rommelpe commented on #2103
Thanks for the inputs, @MatthewPringle. Let me reproduce it first on my end so I can relay this to the right person, but it'd be great if you can provide the working repro to speed up the investigation.

[2020-01-24 16:11] SeanDez opened #2569 "Firestore returns array with thousands of numbers"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 18.04
  * Browser version: Chrome 79.0.3945.88
  * Firebase SDK version:

    "firebase": "^7.5.0",
    "firebase-admin": "^8.8.0",
    "firebase-functions": "^3.3.0",

  * Firebase Product: Firestore (along with testing and tools for local emulation)

### [REQUIRED] Describe the problem

I'm using `firebase-tools` emul

[2020-01-24 16:34] wilhuff commented on #2569
You're comparing the `DocumentSnapshot` instance to the data you want. That isn't going to work. The key part of the output is here:

[code]

You really want to compare `addedDocument.data()`.

The reason you're getting so much output is that Jest is "helpfully" stringifying the `DocumentSnapshot` instance, but that has a reference back to the Firestore that created it, which in turn has a referen

[2020-01-24 16:34] #2569 closed

[2020-01-24 17:22] christian-miljkovic opened #2570 "[Firestore] TypeError: firebase.INTERNAL.registerComponent is not a function"
### Describe your environment

  * Operating System version: _____
  * Firebase SDK version: 7.12.0
  * Firebase Product: Firestore
  * Node.js version: 12.5.0
  * NPM version: 6.10.2

### Describe the problem

#### Steps to reproduce:

I am running npm start which is building my react-firebase application, which compiles fine but when I look at my app on localhost I receive the error [here](https

[2020-01-24 17:24] GuillaumeSerrat commented on #2399
@rommelpe Please provide more information regarding the released fix.

Looking at the [release notes](https://firebase.google.com/support/release-notes/js). nothing was released regarding this.

[2020-01-24 18:11] schmidt-sebastian commented on #2570
This seems to be an issue with the JS SDK. I transferred your issue.

[2020-01-24 18:34] shelcindra opened #2572 "Clean up RxFire's API documentation"
Firebase SDK version: rxfire

I'd like to clean up some of the rxfire docs.  Here are some things I would like to do:
*  Fix format error: Function parameters not displayed.
* `collectionData` function name displayed incorrectly.
* Clean up examples: some are hard to follow, some have extra imports.
* Update descriptions to clarify function usage.

[2020-01-24 18:44] hsubox76 commented on #2570
Can you tell me more about your project?  Is `react-firebase` a specific tool or template or do you just mean you're using React and Firebase?  Are you also using Firebase functions and/or `firebase-admin` in the same project?  What does your `package.json` look like, and how are you importing/requiring Firebase?

If possible, can you put together a minimal repro (the smallest amount of code that

[2020-01-24 21:35] christian-miljkovic commented on #2570
I was able to resolve the issue by installing dependencies using yarn instead of npm - then using node v10.16.2

[2020-01-25 00:45] ultraGentle opened #2574 "passwordless email sign-in link is hidden on repeat sendings"
### [REQUIRED] Describe your environment

  * Operating System version: Mac OS 10.15
  * Browser version: Chrome, latest
  * Firebase SDK version: Javascript 7.7.0
  * Firebase Product: auth

### [REQUIRED] Describe the problem

#### Steps to reproduce:

1. Send a passwordless "sign in via email link" to a Gmail address.

2. Sign out.

3. Sign in again via the same method to generate a second emai

[2020-01-25 02:02] #2524 closed

[2020-01-25 04:15] bcnzer commented on #2554
I had the same problem as the OP and explicitly downgraded to core-js 2.6.10. That got everything working but was always curious why it was a problem as older projects didn't have that issue.

The instructions in the nuxt js release notes worked! No more errors for me. https://nuxtjs.org/guide/release-notes#v2.6.0

As per the docs:
* Ran `yarn add -D core-js@3 @babel/runtime-corejs3`
* Added the b

[2020-01-25 06:07] bojeil-google commented on #2399
This is a server side fix. It is applicable to all versions of the client SDK.

[2020-01-25 06:26] bojeil-google commented on #2574
Hey @ultraGentle, since this is a Auth server related behavior, can you file an issue with [Firebase support](https://firebase.google.com/support) so this can be routed to the right owners? Thanks.

[2020-01-27 12:08] rommelpe commented on #2399
@laurentpayot For password login requests, it is **20 QPS per IP address**. Usually after some time, maybe a minute, the restriction will be lifted for that email. Also, you may reduce the frequency of attempts to avoid triggering the anti-abuse system.

If you have a valid use-case specific to increase this quota, you may contact [Firebase support](https://firebase.google.com/support) so they can

[2020-01-27 18:16] ultraGentle commented on #2574
Done, thanks for the suggestion.

[2020-01-27 19:14] #2564 closed

[2020-01-27 19:14] jamesdaniels commented on #2564
Thanks for the PR!

[2020-01-27 19:19] david-asher commented on #2532
I am seeing the exact same issue using a node.js client-side application. The firebase authentication cycle works great, and even signInWithCredential() works great if the app has been restarted, but after an hour the user is forced to sign in again. It would be easy to securely handle the refresh token either through firebase or the client keychain, so the proposed solution would be very valuable

[2020-01-28 00:35] schmidt-sebastian commented on #2570
Thanks for letting us know you are now unblocked. I will close this issue for now.

[2020-01-28 00:35] #2570 closed

[2020-01-28 00:49] ArslanBouzid opened #2577 "Firestore: Multiple orderBy not sorting result"
### [REQUIRED] Describe your environment

  * Firebase SDK version: 7.7.0

### [REQUIRED] Describe the problem

#### Steps to reproduce:
Using 2 successive orderBy followed by a startAt returns result sorted in the wrong direction. (asc instead of desc)
#### Relevant Code:

[code]

**Orders collection**:

[code]

- Composite indexes created:
[code]
<br/>

**RESULT** : result is not sorted (descend

[2020-01-28 11:52] sorinpav commented on #1926
I'm having this same error as well.
I am able to replicate it, it's the same as @bolekro is saying.
Load the page => Press "Clear Data" in the application tab in the Chrome DevTools => Do not reload, try to login with Google using `signInWithPopup()` or `createUserWithEmailAndPassword()`. Neither of them work.
Please let me know if any workaround is found. Thank you!

[2020-01-28 14:11] nothing628 commented on #1926
I'm use firebase v7.7.0

I'm follow @sorinpav 's step in android chrome and show this same error.

[2020-01-28 14:51] rommelpe commented on #2577
Thanks for reporting, @ArslanBouzid. I was able to get the same behavior.

![image](https://user-images.githubusercontent.com/56452310/73272820-f4fe1b00-421d-11ea-8ad0-b07f8461118c.png)

It seems that it's an intended behavior when having multiple `orderBy`s. It'll be sorted from the first declared order by, in your case, it's `orderId` then `co` will be ordered within.

As mentioned [here](https:

[2020-01-28 16:46] ArslanBouzid commented on #2577
The problem with switching orderBy is that I get no result... I've already created the composite index.
**filter** is used to "search" orderId (search text, not full-text searching since it's not supported).

So these 2 queries return [] :
[code]

But, if I remove orderBy('co', 'desc'), I got results:
[code]

[2020-01-28 17:27] wilhuff commented on #2577
This is working as intended. The second orderBy is for tie-breaking only.  The primary sort will always be by the first orderBy.

Values you pass to startAt must correspond to the fields in your orderBy. If you reverse your orderBy fields and pass the same filter it won't match anything because none of your `co` values start with "2020-01-YND".

If you want to apply the filter you're doing your fi

[2020-01-28 17:27] #2577 closed

[2020-01-28 17:49] ArslanBouzid commented on #2577
@wilhuff if I understood correctly:

- primary sort is done by the first orderBy
- startAt filters the first orderBy (sometimes both)

Which means that I cannot achieve what I intend to, filter orderId and have the result sorted by co , OR, have the collection sorted by co and filtered by orderId.

Getting all the data and doing the sort locally is not an option due to the volume of data.

[2020-01-28 18:30] wilhuff commented on #2577
That's right. startAt is choosing the first row in the index that you're using for your orderBys.

All Firestore queries must be satisfied by an index scan. This limitation exists to ensure that the work Firestore does to satisfy a query is proportional to the number of rows in the result set. Without this property we couldn't offer the managed service with simple pricing the way we do.

If this k

[2020-01-28 20:16] rommelpe commented on #2572
Thanks for the PR on the other request, @shelcindra. You can submit a PR for this one too, and we're excited to look into it.

[2020-01-28 20:27] rommelpe commented on #2574
Tracked internally (b/148360318)

[2020-01-28 20:33] ultraGentle commented on #2574
Is there a way to be notified if/when an issue *not* on Github is addressed?

I understand there are release notes, but it's easy to miss an update to one small feature like this that's nevertheless critical for my workflow.

Just checking, thanks.

[2020-01-28 21:07] rommelpe commented on #2574
I myself will keep you posted on this thread as soon as any information becomes available. However, I may not be able to provide with any specifics as to when it will be released. Thanks!

[2020-01-28 21:11] ultraGentle commented on #2574
Thank you!  I don't expect any timeline, and I appreciate your keeping me informed.

[2020-01-29 06:30] ChromeQ commented on #2535
Are there any updates from anybody working on this? Is it being looked into?

[2020-01-29 12:58] BorisDaich commented on #1926
the error happens if you do Clear Data and *Do not reload the page*
reload of the page - and the issue gone

[2020-01-29 13:01] sorinpav commented on #1926
@BorisDaich I think that by now everyone is aware of that. The actual question here is:
Can we do it in such a way that you wouldn't have to refresh for the error to be gone?
In my case, this has to work in conjunction with a PWA that I'm doing, in which case if you are offline and you refresh, you lose access to it entirely.

[2020-01-29 13:34] ricardodebeijer opened #2579 "When Firestore persistence is enabled, queries get sigificantly slower as cache size is increasing"
### Describe your environment
  * Operating System version: Android 8.1.0
  * Browser version: Ionic 3
  * Firebase SDK version: 6.6.2
  * Firebase Product: firestore

### Describe the problem
We have an app (Ionic 3) which retrieves data so it can be used offline. For this to work we call `enablePersistence`.

The problem we are seeing is that each time we retrieve a new set of data, the query to

[2020-01-29 15:16] rommelpe commented on #1631
Thanks for taking time filing this FR, @asliyilmaz. We have an existing internal FR (b/139985932) of it. Additionally, be able to test the storage rules through the emulator similar to Firestore. However, I may not be able to provide you with any specifics as to when it will be released.

You may keep an eye out on our [release notes](https://firebase.google.com/support/release-notes/js) for any u

[2020-01-29 16:56] schmidt-sebastian commented on #2579
@ricardodebeijer Thanks for your questions!

To be clear, we do have some ways to go to make Firestore on IndexedDB as snappy as we would like it to be.

There are some ways you can improve performance:
- Download less data for offline consumption
- Decrease the cache size (https://firebase.google.com/docs/reference/js/firebase.firestore.Settings.html#cachesizebytes)
- Split your data into smaller

[2020-01-29 16:56] #2579 closed

[2020-01-29 16:59] schmidt-sebastian commented on #2535
@ChromeQ / @Elyx0  / @zv3 I don't believe we have any short term plans to fix this issue. Unfortunately, this is an inherit issue in the way our APIs are designed and bundle in the testing SDK. That being said, I assigned this to @yuchenshi to see if he has more insight.

[2020-01-29 22:04] rommelpe commented on #2557
While setting HTTP functions in `us-west` isn't yet available, we'll treat this as a feature request and keep this open. I'll be reaching out internally to upvote the existing request as well. Thanks!

[2020-01-29 22:20] Suhail commented on #2557
Cool, feel free to change the title to something more useful.

[2020-01-30 08:06] LanderBeeuwsaert opened #2580 "Regression bug in the firebase console"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: chrome 79
  * Firebase SDK version: all
  * Firebase Product: database console

### [REQUIRED] Describe the problem

Hello,

I don't know about a specific github for the firebase console so I'm posting here.
Since a few months, when you have a path in your firebase RTDB tree structure that has s

[2020-01-30 15:02] puf commented on #2580
Hey @LanderBeeuwsaert ,

Since the issue is not specific to the JavaScript SDK, can you [file a bug report](https://firebase.google.com/support/contact/bugs-features/) with our support team?

Thanks!

[2020-01-30 15:02] #2580 closed

[2020-01-30 17:34] Sroose opened #2581 "IOS Background reopen: @firebase/firestore: Firestore (7.6.2): FIRESTORE (7.6.2) INTERNAL ASSERTION FAILED: AsyncQueue is already failed: transaction@[native code]"
### Describe your environment

  * Operating System version: IOS 13.3
  * Browser version: Mobile Safari UI/WKWebView 13.3
  * Firebase SDK version: 7.6.2
  * Firebase Product: database (firestore)

### Describe the problem

#### Steps to reproduce:

Ionic cordova app using Firestore. Works very well under normal situations.
When opening through notification and it's a cold app start, also no prob

[2020-01-30 17:37] Sroose commented on #2581
Note: this behaviour has been seen by others as well: https://stackoverflow.com/questions/57443547/ionic-4-ios-firestore-internal-assertion-failed-asyncqueue-is-already-failed-a

[2020-01-30 17:46] rommelpe commented on #2581
Hi @Sroose thanks for reporting this issue. While I'm trying to reproduce this on my end, it would be great if you can provide a [working repro](https://stackoverflow.com/help/minimal-reproducible-example) that we can run locally to speed up the investigation. Thanks!

[2020-01-30 18:20] schmidt-sebastian commented on #2581
@Sroose We have seen similar issues with our iOS SDK. Essentially, what can happen is that iOS locks the file system when an app is backgrounded. If the database is accessed when the file system is locked, the operation will fail.

We already retry transactions when they fail (https://github.com/firebase/firebase-js-sdk/blob/878f577fe40ae0909f7efa9d1537a0325543e7f0/packages/firestore/src/local/sim

[2020-01-30 19:52] elliotsabitov opened #2582 "Unable to register the default service worker due to redirect or 404"
### [REQUIRED] Describe your environment

  * Operating System version: MacOS 10.14.4
  * Browser version: Chrome 79.0.3945.130
  * Firebase SDK version: 6.6.2
  * Firebase Product: Cloud  Messaging

### [REQUIRED] Describe the problem

#### Steps to reproduce:

The issue is that firebase is unable to register service worker when the application is hosted  within a sub  directory. We have domain.c

[2020-01-30 23:31] hsubox76 commented on #2582
The code change seems reasonable, but I'm double-checking that this change wouldn't break anyone else who is depending on it working the other way (absolute paths).  In the meantime, I don't want you to be blocked, so are you able to work around this for now by creating and providing your own service worker to `firebase.messaging().useServiceWorker()` as described in a reply to the other PR you li

[2020-01-31 00:02] schmidt-sebastian commented on #2241
Hello :) We just published an experimental version of the SDK that minifies the code and reduces the code size by about 9% gzipped. We would love if we could get some mileage on it before we transition our default build to be minified. Instructions for how to use this build are in our release notes: https://firebase.google.com/support/release-notes/js

[2020-01-31 10:48] remorses commented on #2241
Minifying the library is not the solution, it is already done in the consumer webpack build.

As you already know from 2 years the problem is that firebase is not tree shakable, you should transition away from the class based api so that webpack can remove unused code

Instead you are doing the opposite making the code impossible to static analyze by webpack by minifying it

Please give us some ET

[2020-01-31 14:52] Pitouli commented on #2581
Hello,

I have the same issue.

My app has the following features: it's a PWA, using Framework7 and using Firebase for Auth and DB (Firestore).

When I pin it to my dashboard on iOS, if I open the app, then switch to another app, the switch back to it, Firestore crashes with the following error: `FIRESTORE (7.7.0) INTERNAL ASSERTION FAILED: AsyncQueue is already failed`. Then, the only solution is

[2020-01-31 17:10] schmidt-sebastian commented on #2241
The minification I eluded to above goes beyond the "white space removal" that all of our libraries already go through. The additional size reduction comes from property name minification (mangling), which is something that only we as library authors can safely do. The savings with this version are clearly just a starting point, and making Firebase library tree-shakeable remains a priority. Please

[2020-01-31 17:24] schmidt-sebastian commented on #2581
@Pitouli Thanks for the detailed response!

#1670 is an iOS bug that we cannot work around. #2232 should have been addressed and resolve issues for apps that are in the foreground.

I suspect that you are also seeing issues with a locked file system on iOS. If you have the original error message (the part after "AsyncQueue is already failed") that would help us narrow it down.

In general, I think

[2020-01-31 17:50] cmditch commented on #2555
We've also been seeing this error on and off for several months. We are **not** on electron, just your typical web app.

We are using `firebase.firestore().enablePersistence({ synchronizeTabs:true });`

I've only now just discovered `experimentalTabSynchronization`, thanks to this thread. We'll give that a try too.

The error pretty consistently happens when both a) you have multiple tabs of the s

[2020-01-31 18:06] schmidt-sebastian commented on #2555
@cmditch "experimentalTabSynchronization" and "synchronizeTabs" is equivalent.

It looks like there is indeed an issue with `maybeGarbageCollectMultiClientState`. We should be able to recover gracefully from that. I will fix this shortly and it should go out with the next release.

[2020-01-31 18:11] Sroose commented on #2581
FYI, we have added a piece of code that detects when the app will go to background and at that point unsubscribe from the Firestore objects, and resubscribe when coming back from background. So far this seems to be a working workaround for the issue.

Note that I do not consider this a solution but it might be helpful in further analyses and also be useful to others:
[code]

[2020-01-31 18:34] cmditch commented on #2555
Excellent, thanks!

[2020-01-31 19:04] rommelpe commented on #20
Hi y'all. I would like to check if you are still having issues or clarifications here. Just leave a comment and we are happy to look into it.

[2020-01-31 19:16] wesrice commented on #2284
I'm having the same issue. Disabling React Developer Tools plugin fixes the issue for me. I have no clue why.

[2020-01-31 21:14] toddwseattle commented on #2284
I'm having this issue when I attach vscode to chrome for debug.   I also get the following popup on login and then fb auth throws an exception:

[code]
Works fine on localhost or without vscode attach.

[2020-01-31 21:47] #2555 closed

[2020-01-31 23:05] Pitouli opened #2586 "Firestore Auth does not work in Cordova"
* Operating System version: iOS 13.3 (iPhone 7)
  * Firebase SDK version: 7.7.0
  * Firebase Product: firestore

I have packaged my PWA as a Cordova application (everything is "out of the box" with Framework7)

The Auth is working as planned ; login/password is working without any modification, idem for anonymous auth. My Google identification is not working, but I know why (https://firebase.googl

[2020-01-31 23:38] Pitouli commented on #2581
@schmidt-sebastian : a screnshot and a copy paste
![Capture d’écran 2020-02-01 à 00 38 23](https://user-images.githubusercontent.com/542778/73581896-2891ad00-448b-11ea-9f4f-34018b53b323.png)

`
[Error] Failed to load resource: La connexion réseau a été perdue. (channel, line 0)
[Error] Failed to load resource: La connexion réseau a été perdue. (channel, line 0)
[Error] Failed to load resource: L

[2020-02-01 10:41] membla opened #2588 "FR: Firebase Analytics support in Node"
### Describe your environment

  * Operating System version: macOS 10.14.6
  * Firebase SDK version: 7.8.0
  * Firebase Product: Analytics

### Describe the problem

Any plans to implement Analytics for Node processes? Use cases include the Electron main process (using browser based analytics in the renderer process is everything but straightforward), other Node-based desktop app platforms as well

[2020-02-01 17:32] baptisteArnaud opened #2589 "firestore.rules automatically applied on firebase.initializeTestApp?"
### Describe your environment

  * Operating System version:  Mac OS X 10.15.2
  * Firebase SDK version:  firebase: 7.6.1, @firebase/testing: 0.16.6
  * Firebase Product: emulator https://firebase.google.com/docs/firestore/security/test-rules-emulator

### Describe the problem

It seems that firestore rules are automatically loaded with the method `firebase.initializeTestApp`. We don't want this b

[2020-02-01 18:01] napindc commented on #1918
Very much needed!

[2020-02-01 19:33] GriffinJohnston commented on #2241
@schmidt-sebastian Thanks for the update! Is there a reason you don't simply build a new version of your libraries that allow individual function/class imports while deprecating (but maintaining) the current monolithic imports?

[2020-02-02 02:03] #2547 closed

[2020-02-02 02:03] #2498 closed

[2020-02-02 20:26] hheimbuerger commented on #2394
@rommelpe I have to second that the argument you just made there is pretty absurd.

I want to believe that you're in favor of web standards, but the looks of this are not good.

[2020-02-03 08:55] rommelpe commented on #2586
Thanks for reporting, @Pitouli. It might be related to https://github.com/firebase/firebase-js-sdk/issues/1190. Have you checked if you have any anti-virus installed like Kaspersky? It'd be always great to have a working repro to debug it further.

[2020-02-03 12:12] basvandenheuvel opened #2590 "FCM Messaging breaks in version 7.0.0 or after"
* Operating System version: Windows 10
  * Browser version: Chrome 79
  * Firebase SDK version: 7.0.0+
  * Firebase Product: Messaging

#### Problem
Currently we are using Firebase SDK 6.5.0. Whenever we update to version 7.0.0 or later (we tried multiple versions including 7.0.0 and 7.8.0) Messaging stops working.
It looks like the background messaging keeps working when the website does not have

[2020-02-03 13:03] rommelpe commented on #2590
Thanks for reporting the issue, @basvandenheuvel. I can't seem to replicate it.

- Were you able to reproduce it using [quickstart](https://github.com/firebase/quickstart-js/tree/master/messaging)?
- Have you noticed any significant logs from browser's DevTool?
- Could you share a [working repro](https://stackoverflow.com/help/minimal-reproducible-example) that we could run locally?

[2020-02-03 14:38] basvandenheuvel commented on #2590
Hi @rommelpe , thanks for your reply.

1. I just tired the quickstart, also with the quickstart i do not get messages when the website has focus... i do get the messages in the background.

2. Haven't seen any logs.

3. I do not have anything for now...

[2020-02-03 15:03] adammeyer opened #2591 "Firestore: Support for large offline collections"
* Operating System version: Mac
  * Browser version:  Chromium 73
  * Firebase SDK version: 7.8.0
  * Firebase Product: Firestore

### [REQUIRED] Describe the problem

When using offline persistence, the browser locks up if many records were modified since last load.

#### Steps to reproduce:
- Launch web app
- Enable offline persistence
- Add 3,500 (or more) documents to Firestore
- Close app
- D

[2020-02-03 15:41] rommelpe commented on #2590
Sorry for the confusion, @basvandenheuvel. It's an intended behavior. If the page is open and focused, you will not see a notification and as a result, you'll receive a callback in onMessage in the page.

If the page is in the background (i.e. not focused) the background message handler will be called and will show a notification.

See [here](https://firebase.google.com/docs/cloud-messaging/js/rec

[2020-02-03 15:48] alexiusp commented on #2465
@mmermerkaya @hsubox76 any news on this topic? having a catchable error would be really appreciated.

[2020-02-03 16:32] Pitouli commented on #2586
Hi @rommelpe
It works fine on the web on my computer. And it works fine when used with Safari on iOS (I have another issue, but most probably unrelated).
The Cordova issue I described happens when the app is package with Cordova, on iOS. And I do not have any antivirus on my iPhone.
I’ll try to create a small app to help reproduce the problem.
You confirm that normally I should be able to use the

[2020-02-03 17:25] schmidt-sebastian commented on #2591
@adammeyer Thanks for filing this issue! We are aware that there is room for improvement when it comes to our IndexedDB performance and are constantly looking at ways to continue to improve this situation.

Unfortunately, there are no short term fixes: Most of the perceived slowness is coming from the fact that loading data from IndexedDB is very slow and that our main query processing logic curre

[2020-02-03 17:44] shtengel opened #2592 "remoteConfig doesn't return values for conditions based on user properties"
* Operating System version:  macOS Version 10.15.1 (Build 19B88)
  * Browser version: 78.0.3904.87
  * Firebase SDK version: 7.8.0
  * Firebase Product: remote-config, analytics

### [REQUIRED] Describe the problem

i am trying to use remoteConfig().getValue('someRandomKey') and to get the value from my RemoteConfig based on User Property..
i'm setting the UserProperties through firebase.anaylitic

[2020-02-03 18:07] schmidt-sebastian commented on #2591
Follow up: My colleague pointed out that you may hit an additional code path that could slow you down. Every time a document is deleted remotely but still available locally, the SDK performs something that we call "limbo resolution". This is an explicit lookup that the SDK performs to bring cached data in sync with the server. In your case, after we processed 3500 items from the cached collection,

[2020-02-03 18:21] schmidt-sebastian commented on #2586
@Pitouli Can you share debug logs? You can enable them via `setLogLevel`: https://firebase.google.com/docs/reference/js/firebase.firestore#set-log-level. This should allow us to get a look at the sequence of events that causes the network failure.

In general, most of the Cordova related networking issues we have observed were caused by third-party plugins or ServiceWorkers. If your networking iss

[2020-02-03 18:44] adammeyer commented on #2591
Thank you @schmidt-sebastian!

One thing I have noticed is that after docs have been deleted or modified and the app reloaded, the `onSnapshot` listener fires an "added" event, then a "removed"/"modified" event for every doc.  This may be causing unnecessary queries/lookups.

[2020-02-03 19:07] var-const commented on #2456
Note: the issue was [fixed](https://github.com/invertase/react-native-firebase/issues/3063#issuecomment-581468347) in the ReactNative repo. Once the fix is released, the code from your original post in this thread should start working with Firestore ReactNative.

[2020-02-03 19:10] schmidt-sebastian commented on #2591
The "added" event is fired because the first snapshot is served from cache. Once we have computed the first snapshot and received the response from the server, we know that our state is inconsistent with the backend. To resolve this, we issue individual listen requests. As this finish one by one, we will update the snapshot that we raised originally. So over time you will see a "remove" event for

[2020-02-03 19:21] adammeyer commented on #2591
Got it, thanks.

I don't mind if the "get" after large modification or deletions take a long time.  But is there any way to get a status or count  so I can build some type of progress bar?  And for the process to not lock up the browser?  Could I use set a limit and do things in batches?  Thank you.

[2020-02-03 19:45] basvandenheuvel commented on #2590
@rommelpe

I think i introduced the confusion.

It is indeed the onMessage callback that is not triggered when the website has focus. The same problem occurs when i connect our environment with the quickstart...

The process that should trigger in background does work...

[2020-02-03 20:21] Pitouli commented on #2586
@schmidt-sebastian : https://gist.github.com/Pitouli/203e68dcc588876174b0630b1c3707a9

I try to create a small app

[2020-02-03 20:37] Pitouli commented on #2586
A project I created for debugging another issue (https://github.com/firebase/firebase-js-sdk/issues/2581) can be used to reproduce the bug.

The github : https://github.com/Pitouli/debug-ios-vuexfire
The app on the web: https://debug-ios-vuexfire.firebaseapp.com/

When you open it, you have a list of "dates". If you click on "add message", it publish a new "date" to the collection, which should ap

[2020-02-04 01:29] alikn commented on #2522
Performance sdk depends on the Installations. If Installations return an error, Performance will not be able to report Performance logs from that instance. Firebase sdks which do not depend on Installations should work fine.

[2020-02-04 03:58] schmidt-sebastian commented on #2586
@Pitouli Thank for for the repro. I will give this a spin tomorrow (Tuesday) Pacific time.

[2020-02-04 10:41] shtengel commented on #2592
ok it changed, im now getting the remote config based on userProperty but it took a few hours for it to update, also how do reset that value in order to get the condition-less values of remote config?

[2020-02-04 11:19] rommelpe commented on #2592
You may set your userProperty to `null`. Also, you may want to consider adding `minimumFetchIntervalMillis` to speed up your testing in development, as mentioned [here](https://firebase.google.com/docs/remote-config/use-config-web#throttling):

[2020-02-04 18:46] schmidt-sebastian commented on #2586
I am able to reproduce this using your app in the iOS Simulator.

[2020-02-04 19:40] hsubox76 commented on #2589
I think I should let the firestore/emulator folks weigh in on whether they think the behavior should change or not, but if you are blocked, I think for now you can at least use `loadFirestoreRules` to load a different rules file with no restrictions.  (Which it seems like you're aware of, but just in case.)

[2020-02-04 21:20] #2592 closed

[2020-02-04 22:12] LanderBeeuwsaert commented on #249
Just encountered this again, with latest libraries.
Maybe can be interesting:
When I disconnect my wifi, it works fine. When I do a disconnect in chrome devtools network tab, it gives the issue.

[2020-02-05 01:09] schmidt-sebastian commented on #2586
@Pitouli I looked at this more. What I actually see is a behavior that is similar to what users have described that are sitting behind corporate proxies. Some proxies only seem to forward responses once the connection is closed explicitly by the backend.

Due to the way WebChannel works (which is our network stack for the JavaScript-based client) this introduces a latency of 60s per request. This

[2020-02-05 03:14] nVitius commented on #2581
Is there a separate ticket for handling this issue on other platforms? I've had it pop up in production on Windows 10 using Chrome (Firestore 7.6.2).

[2020-02-05 12:57] DJ-Shady02 commented on #1674
@mikelehen Finally, I have an update!

I have bought myself a new computer. Used Firestore for a month without issues. I install Bullguard, bam! Same issue as before. Being assured the issue was created by Bullguard, I contacted their support. It appears their "Safe Surfing" (The function name is translated from my native language, so it may vary), is causing the issue. Disabling it will trade a w

[2020-02-05 14:51] JamesVanWaza opened #2597 "Update release dates"
Update the release dates from 2019 to 2020. See the screenshot attached. It's for the following link.

https://firebase.google.com/support/release-notes/js

<img width="939" alt="Screen Shot 2020-02-05 at 9 49 51 AM" src="https://user-images.githubusercontent.com/4000076/73852339-fe2e4f80-47fc-11ea-9315-29c9ead3b6d6.png">

<img width="1371" alt="Screen Shot 2020-02-05 at 9 53 11 AM" src="https://u

[2020-02-05 15:01] JamesVanWaza opened #2598 "Unable to Deploy on Firebase"
I am trying to run `firebase-deploy` but I keep getting the following error. See the screenshot attached.
<img width="1352" alt="Screen Shot 2020-02-05 at 9 59 08 AM" src="https://user-images.githubusercontent.com/4000076/73853147-66316580-47fe-11ea-8b4c-bdc8c5024518.png">

[2020-02-05 16:00] rommelpe commented on #2598
Thanks for reporting the issue, @jamesdaniels. Based from the error message, it looks like you're using an unsupported version of Node.js. Have you tried to upgrade it (v8 or v10)?

If it persists, can you share your `package.json` in functions directory?

[2020-02-05 16:01] baptisteArnaud commented on #2589
In fact, It is written in the documentation.
["The emulator will initially load the rules specified in the firestore.rules field of your firebase.json file. If the file does not exist and you don't use the loadFirestoreRules method as described below, the emulator treats all projects as having open rules."](https://firebase.google.com/docs/rules/unit-tests#before_you_run_the_emulator)

It works fi

[2020-02-05 16:16] rommelpe commented on #2597
That's a good one, @JamesVanWaza@! I'll reach out to our documentation team and file an internal request.

Again, thanks for bringing this up. Have a wonderful day!

[2020-02-05 16:23] wilhuff commented on #1674
@DJ-Shady02 Thanks for the report!

We're fairly certain that this problem isn't going away and are working on building logic into the SDK that will be able to automatically fall back on long polling.

[2020-02-05 16:36] JamesVanWaza commented on #2598
@rommelpe attached.

<img width="1307" alt="Screen Shot 2020-02-05 at 11 35 44 AM" src="https://user-images.githubusercontent.com/4000076/73861882-b7942180-480b-11ea-8d6d-dfc9c0f80afe.png">

[2020-02-05 16:39] tgangso commented on #1674
Great news, thank you.

[2020-02-05 19:18] rommelpe commented on #2598
Thanks, @JamesVanWaza. Is there any specific use case why you used `node:12` in your `package.json` instead of 8? I was able to reproduce the issue by upgrading it to 12 using [quickstart](https://github.com/firebase/functions-samples/blob/master/quickstarts/uppercase/functions/package.json).

[2020-02-05 19:52] JamesVanWaza commented on #2598
@rommelpe
Is there a way to have multiple node versions running at the same time. I used 12, because that was the most current one.

[2020-02-05 21:06] rommelpe commented on #2598
From what I observed in every functions (even in quickstart), it's only allowing one node version per functions, also mentioned [here](https://firebase.google.com/docs/functions/manage-functions#set_nodejs_version).

To get rid of the error, you may use either of the supported ones ([v8 or v10](https://firebase.google.com/docs/functions/manage-functions#set_nodejs_version)).

[2020-02-05 21:12] GoktuqCan commented on #2590
I'm facing the same problem after upgrading from `7.6.2` to `7.8.0`.
Background working but onMessage not receiving anything.

@basvandenheuvel did you find any solution?

@rommelpe i think this issue needs to be reopened.

[2020-02-05 21:29] basvandenheuvel commented on #2590
@GoktuqCan not yet....

It looks like for me any version of 7.x.x is broken.

I doubt it is my firebase environment since the changelog is straightforward and we followed it. However, why else would their quickstart onMessage not work if i connect it to our environment...

[2020-02-05 21:43] GoktuqCan commented on #2590
@basvandenheuvel try `npm i firebase@7.6.2` and of course change `importScripts` versions in
`firebase-messaging-sw.js`(if you have) service worker with same version. This version working for me.

[2020-02-05 22:21] cwilby commented on #1847
Our team is looking to rewrite away from Firebase due to this bug.

Injecting AsyncStorage into Firebase as suggested by @hsubox76 seems like it could work for React Native.  By default Firebase could use a default storage mechanism, then accept other implementations through a `setStorage` method.

It seems like Firebase would then need to create an abstraction internally to use provided storage m

[2020-02-05 22:26] cwilby commented on #1847
@jsayol made a `RNAsyncStorageAdapter` object, this could be the start of the abstraction I referenced, as it is currently a wrapper to patch for React Native.

https://gist.github.com/jsayol/31fb8f488c6ccc6d9ea9aceff995581d

[2020-02-05 22:37] cwilby commented on #1847
It looks like a push was fixed, it broke environments, a solution was posted, then the conversation was silenced.

https://github.com/firebase/firebase-js-sdk/pull/1879

[2020-02-05 22:48] cwilby commented on #1847
And then 4 months went by.

[2020-02-05 23:38] Pitouli commented on #2586
Thanks for your help!

My iPhone is a corporate one, but I do not think it has a special proxy. And for sure, my iOS Simulator has no corporate configuration, and it runs on a personal mac mini which is connected on a personal internet connexion (and I have not installed any firewall/antivirus), so I do not understand why there would be proxy issues.

Nevertheless, I tried to add the setting, and

[2020-02-06 00:45] cwilby commented on #1847
@hsubox76 I didn't know about that library, it looks more than suitable - thank you!

[2020-02-06 01:41] schmidt-sebastian commented on #2586
I meant to say that Cordova exhibits the same network latency that we have seen on some corporate networks. For this, Cordova does not seem to have to be behind a Proxy.

It looks like we need to add a special exception for Cordova to also omit some of our header values in the backend requests. You can see the code and the rationale for this: https://github.com/firebase/firebase-js-sdk/blob/dac175

[2020-02-06 02:56] Alynva opened #2599 "FR: Access to fireauth.authenum.Error"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 8.1
  * Browser version: Chrome v79
  * Firebase SDK version: v7.7.0
  * Firebase Product: auth, but it's probably similar to others

### [REQUIRED] Describe the problem

The docs [here](https://firebase.google.com/docs/reference/js/firebase.auth.Error) describes the `Error` and the `AuthError` objects from `firebase.a

[2020-02-06 05:21] agordeev opened #2600 "Firebase Analytics doesn't work for Web app"
### [REQUIRED] Describe your environment

  * Operating System version: macOS
  * Browser version: Firefox 72.0.2 (64-bit)
  * Firebase SDK version: 7.8.0
  * Firebase Product: analytics

### [REQUIRED] Describe the problem

I've added a web app in Firebase console to integrate Firebase Analytics:

<img width="962" alt="Screenshot 2020-02-06 at 08 20 37" src="https://user-images.githubusercontent.

[2020-02-06 07:45] basvandenheuvel commented on #2590
@GoktuqCan @rommelpe

Just tried again to make the quickstart work for me, no luck with eitehr 7.6.2 or 7.8.0.

I added the firebase config of my environment, i host the index.html and see a token being generated for me. I go to the firebase console page of messaging and send a test message.

Focus -> Nothing happens, i don't even see the console.log inside my onMessage
No focus -> i do get a wind

[2020-02-06 08:23] cwilby commented on #1847
@hsubox76 follow up, 8 hours later and we're up to speed with react-native-firebase!

[2020-02-06 08:25] cwilby commented on #1847
@hsubox76 Follow up, took about 8 hours to migrate to react-native-firebase, thanks again

[2020-02-06 08:32] GoktuqCan commented on #2590
@basvandenheuvel Are you just editing package.json or using the `npm i firebase@7.6.2` command?
If you just downgrading from package.json then package-lock.json may not be changed.

[2020-02-06 13:14] rommelpe commented on #2600
Sorry to hear about your issues, @agordeev. Looking at your config, it doesn't seem to be an issue. The initial data logged usually takes up to 24 hours to display and 3-4 hours delay for the succeeding data.

If the issue persists after 24 hours, given that you've properly [added Analytics SDK](https://firebase.google.com/docs/analytics/get-started?platform=web#add_the_sdk_to_your_app), you  may

[2020-02-06 14:14] rommelpe commented on #2590
Thanks for getting back and continuing on working the issue, @basvandenheuvel @GoktuqCan. I was able to reproduce it using [quickstart](https://github.com/firebase/quickstart-js/tree/master/messaging). It looks like the issue was introduced in v7.7.0.

@hsubox76 `onMessage` has stopped receiving responses from v7.7.0. Can you confirm if it's a bug on our SDK, intended behavior or might be related

[2020-02-06 16:01] #2598 closed

[2020-02-06 16:18] xnio94 commented on #1918
i encounter the same problem but in my case, i already download the data because i'm subscribing to a stream, the problem is that I'm not sure how to combine this with the Transaction API
in other words, i don't know how to make a transaction without redownloading the data because i'm already subscribing to it.
so the solution I'm considering is to store the data JSON-serialized so instead of deal

[2020-02-06 16:48] hsubox76 commented on #2598
Just in case, because of the question about multiple Node versions at the same time, the one specified is the one that Cloud Functions will use to run your functions code.  You don't need to necessarily have that same version running locally.

[2020-02-06 16:53] hsubox76 commented on #2589
Can you clarify what changes you think should be in the documentation?  I might be misunderstanding but the current text seems to explain this correctly.  Were you suggesting additional text with the exact steps to address this specific use case?

By the way, the reference docs are open source in this repo but the detailed documentation with guides, quickstarts, etc. is maintained internally, so f

[2020-02-06 16:54] hsubox76 commented on #2597
Sorry, I will fix this in the next release.

[2020-02-06 17:07] hsubox76 commented on #2590
There was a large refactor of the messaging codebase between 7.6.2 and 7.7.0.  One of the changes may have impacted this.  I'll try to dig into it.  PR for my reference: https://github.com/firebase/firebase-js-sdk/pull/2484

[2020-02-06 17:18] hsubox76 commented on #2600
First of all, are you seeing any errors in the console, or in the Network tab?

Second, In the documentation linked above for DebugView, the Web tab tells you to install the Google Analytics Debugger Chrome extension that will let you set debug mode and view information that is (or isn't) being sent from that page.  For a quicker and less user-friendly option, you can also look at your Chrome Dev

[2020-02-06 18:23] maletor opened #2601 "withConverter doesn't work when used with CollectionReference"
@thebrianchen, it seems types don't work correctly with CollectionReference.

[code]

The forEach callback takes a `QueryDocumentSnapshot` (not a DocumentSnapshot) and there's no way to get the T on that object. It's only on `DocumentSnapshot`.

Is this by design, can we fix this

[2020-02-06 18:59] thebrianchen commented on #2601
@maletor Thanks for writing in!

The `forEach` callback takes a `QueryDocumentSnapshot` because the documents are guaranteed to exist since they are coming from a `QuerySnapshot`. `QueryDocumentSnapshot` has [support](https://github.com/firebase/firebase-js-sdk/blob/01da30b0cea916f58caf47d8b48e7b4bbcd7188e/packages/firebase/index.d.ts#L8150) for generics, and you should be able to access `T`.

For

[2020-02-06 19:35] maletor commented on #2601
I would think so as well. But...

<img width="725" alt="Screen Shot 2020-02-06 at 11 34 50 AM" src="https://user-images.githubusercontent.com/138785/73971984-cb578a80-48d4-11ea-8c4a-b910e22fd0b1.png">

[2020-02-06 19:39] thebrianchen commented on #2601
Can you provide a minimal repro so I can see what's going on? It seems to work fine for me in a local test I wrote with that snippet I posted above.

[2020-02-06 19:44] maletor commented on #2601
@thebrianchen something like this:

https://gist.github.com/maletor/cdbe979b10c87a892f6cb9bb3db8f0f0

[2020-02-06 20:02] thebrianchen commented on #2601
@maletor Thanks for the repro! You are using the admin SDK, which is located at https://github.com/googleapis/nodejs-firestore/. I was able to reproduce this on the admin Node SDK and I'll make a bug fix for it soon.

[2020-02-06 20:04] maletor commented on #2601
@thebrianchen, doesn't the admin SDK simply use the firestore SDK? It's not doing anything different. It's the same type. Correct me if I'm wrong.

[2020-02-06 20:46] AoDev commented on #2581
We are affected as well and found this [issue in stackoverflow](https://stackoverflow.com/questions/59991587/ios-background-reopen-firestore-7-6-2-internal-assertion-failed-asyncqueue-i).

[2020-02-06 22:16] schmidt-sebastian commented on #2581
We had a discussion internally and found a potential strategy to mitigate these issue. This will require some thought and an implementation plan. Please do bear with us as we see this through.

As a workaround, I would recommend not using the SDK while the app is in the background. You may also have to call `disableNetwork()` to prevent network traffic from writing to IndexedDB.

[2020-02-06 23:38] thebrianchen commented on #2601
Marking as closed. The fix for the admin SDK should go out with the next release.

[2020-02-06 23:38] #2601 closed

[2020-02-06 23:48] david0178418 commented on #332
First, thanks for the hard work on this.

Is there a rough timescale that the revamp is expected?  Firebases auth and firestore make writing apps absurdly easy.  Unfortunately, these two together are massive and are often needed on the front end to show meaningful data.  A useful data point when choosing the tech stack will be whether or not a potential file size reduction is on the scale of weeks

[2020-02-07 00:30] hsubox76 commented on #332
Unfortunately I'm not able to give any specific timeline on this (I wish I could) but we are hopeful we finally are gathering the resources we need for this rewrite and hope to get it done this year.  Firestore in particular has already started on some efforts right now, such as a minified bundle [that is currently available to try out experimentally](https://firebase.google.com/support/release-no

[2020-02-07 04:55] agordeev commented on #2600
@rommelpe @hsubox76 thanks for suggestions.
1. It's been a week since I integrated analytics. No data since then.
2. I've been checking StreamView, it's also empty.
3. I'm sorry, but I don't really want to install any extension. I believe that is not required to get analytics data from the website.
4. Console prints a warning:
[code]
5. No POST requests made neither on Firefox nor Chrome.
6. My co

[2020-02-07 09:09] baptisteArnaud commented on #2589
Ok now that I'm thinking about it, it's quite clear. :)
Sorry about this!

[2020-02-07 13:17] b2m9 commented on #332
Thanks for the response @hsubox76, it's good to know there's movement.
We actually grew a bit weary and wondered whether Firebase for the web turned from an advantage to a disadvantage. Hope to see some progress in the coming months.

[2020-02-07 13:31] MarcelEdward opened #2605 "firebase-firestore.js snapshot listener not working"
I am trying to do:

streamSubAddPanel = userQuery.snapshots().listen((data)

In a flutter app, it works on android and ios but not on the webapp.
The log from chrome states a missing plugin ?

dom_renderer.dart:500 Overflow on channel: plugins.flutter.io/cloud_firestore.  Messages on this channel are being discarded in FIFO fashion.  The engine may not be running or you need to adjust the buffer s

[2020-02-07 15:24] rommelpe commented on #2605
Thanks for reporting, @MarcelEdward. I'm not an expert with Flutter, so it may take some time for me to replicate this. If you could provide a [minimal repro](https://stackoverflow.com/help/minimal-reproducible-example) that I can run locally and detailed steps, that would be a great help for us to speed up the investigation. Thanks!

[2020-02-07 15:50] david0178418 commented on #332
@hsubox76 Thanks for linking that.  The experimental build in 7.8.0 definitely looks promising!  I just dropped it in and ran a build.  It reduced my main bundle by almost 90k.  I'll of course have to carve out some time to actually run the app and do some testing, but I'll definitely be keeping tabs on it.

[2020-02-07 15:56] mmermerkaya commented on #2590
Please make sure that your service worker is actually updated. You can force this by clearing site data in Chrome. Go to DevTools -> Application tab -> "Clear storage" from the menu on the left -> Clear site data.

`onMessage` works in my test app on 7.8.1 after doing what I described.

[2020-02-07 16:01] MarcelEdward commented on #2605
Flutter web  uses firebasejs

https://firebase.google.com/docs/web/setup
https://flutter.dev/web

The example code below gets all the users from the database with specific value. And it listens to update when new ones are added. It works on android and ios, but not on the web. It than gives 'No implementation found for method Query#addSnapshotListener on channel plugins.flutter.io/cloud_firestore'

[2020-02-07 18:44] Pitouli commented on #2586
Thank you for the details!
Feel free to ask if you need a small app to reproduce the bug, or if you you want me to test a new version of firestore to confirm the correction.

[2020-02-07 19:43] schmidt-sebastian commented on #2586
@thebrianchen will be in contact should we need additional information.

[2020-02-07 20:27] skflowne opened #2606 "Error "CollectionReference.add() requires its first argument to be of type object" when used with withConverter"
### Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 79
  * Firebase SDK version: 7.8.1
  * Firebase Product: database

### Describe the problem
Using `add` on a `CollectionReference` built with `withConverter` throws an error when passing a custom class instance :
"[native Error Function CollectionReference.add() requires its first argument to be of

[2020-02-07 21:15] thebrianchen commented on #2606
@skflowne Thanks for reporting the bug! Currently working on a fix for this.

[2020-02-07 21:57] hsubox76 commented on #2597
This has been fixed: https://firebase.google.com/support/release-notes/js#version_781_-_february_6_2020

Thanks for letting us know!

[2020-02-07 21:57] #2597 closed

[2020-02-07 22:40] hsubox76 commented on #2605
Are you using [flutterfire](https://github.com/FirebaseExtended/flutterfire)? It looks like the error is in a Dart interface that calls into the JS library.  `addSnapshotListener` isn't in the JS codebase but there are some references to it in the Flutterfire repo.

It might be a good idea to open this issue in the Flutterfire repo.

[2020-02-08 00:07] hsubox76 commented on #2600
Do you get different results when you try this on localhost?

[2020-02-08 02:48] Onyoursix commented on #1423
Would love an update on this, this is sorely needed

[2020-02-08 04:38] agordeev commented on #2600
Same result if I try on localhost: Chrome works, but others don't.

[2020-02-08 05:25] membla commented on #2243
@Feiyang1 Do you have any links or leads on more information regarding this? As of now, we can't use Firebase Analytics in either the the main process (as Firebase node sdk doesn't support Analytics) or in the renderer, due to this. Great shame.

[2020-02-08 08:11] rahul-dutt-sharma commented on #2243
Nope
________________________________
From: Nikolaj Selvik <notifications@github.com>
Sent: Saturday, February 8, 2020 10:55:45 AM
To: firebase/firebase-js-sdk <firebase-js-sdk@noreply.github.com>
Cc: Sharma, Rahul <RahulDutt.Sharma@monotype.com>; Manual <manual@noreply.github.com>
Subject: Re: [firebase/firebase-js-sdk] Firebase Analytics (Web) does not work on Electron (#2243)

@Feiyang1<https:/

[2020-02-08 11:39] Emsu opened #2609 "Problem accepting Timestamp with `.set` and `.add` method"
* Operating System version: Mac 10.14.6
  * Browser version: 79.0
  * Firebase SDK version: 7.12.1
  * Firebase Product: Firestore

I followed the instructions here: https://cloud.google.com/firestore/docs/manage-data/add-data#data_types

When I added the data to a doc it said
```FirebaseError: Function DocumentReference.set() called with invalid data. Unsupported field value: a custom object (fou

[2020-02-08 15:17] Sroose opened #2610 "FirebasePlugin[native]: EXCEPTION: -[NSTaggedPointerString isEqualToNumber:]: unrecognized selector sent to instance 0x..."
### Describe your environment

  * Operating System version: IOS 13.3
  * Browser version: Mobile Safari UI/WKWebView 13.3
  * Firebase SDK version: 7.6.2
  * Firebase Product: database (firestore)

### Describe the problem

#### Steps to reproduce:
Ionic cordova app using Firebase. Using FirebaseX which is wrapper for firebase-js-sdk.

When opening app through notification the error is generated:

[2020-02-08 15:18] Sroose commented on #2581
Hi @schmidt-sebastian
Some extra information that might be useful: we now also disable/enable the network on sleep/resume. It does not seem to avoid all the assertion failures.

We see there is another error which seems to crash the app on Android and block part of the code on iOS. I've logged this separately as #2610 as I'm not sure if this is really related.

[2020-02-08 16:52] Sroose commented on #2581
Extra note on the disableNetwork() suggestion: after some debugging, it seems the enableNetwork() does not always work.

Often, it does not do anything.
[code]

Nor the success or error messages are printed in these situations.

[2020-02-08 23:16] ribrdb opened #2611 "FR: Explicit control over conversion of numbers to IntegerValue or DoubleValue"
* Firebase Product: Firestore

The firestore client stores numbers that are integers as Integer values.
Obviously this can be helpful sometimes. But if I have a column that contains both integers and doubles, then the data is a mess when I import it into bigquery.
It seems like it might also make things more complicated when using the admin api from other languages that then have to deal with both

[2020-02-09 15:46] deanc commented on #2241
@schmidt-sebastian When might the minified experimental build make it into the main release?

[2020-02-09 16:13] Sroose commented on #2610
Hi, an extra clue on this error:
when waking the phone normally, we see a GET happening towards Firestore as first action the app logs after waking:
[code]

However when waking the phone by tapping the notification, we get this error and the GET is not happening. I assume that this is also causing any subscriptions we do from there don't return any data.
[code]

I hope this can get fixed, but in t

[2020-02-10 16:12] rommelpe commented on #2609
Thanks for reporting, @Emsu. I was able to get the same error by changing this [line](https://github.com/firebase/quickstart-nodejs/blob/7f12e6dc0f6cec5c514e94d385726d032cff9c3e/firestore-emulator/javascript-quickstart/test/test.js#L59) to `admin.firestore.Timestamp.fromDate(new Date())`, as also mentioned in this [FR](https://github.com/firebase/firebase-admin-node/issues/292#issuecomment-4177660

[2020-02-10 16:18] wilhuff commented on #2610
Firestore does not call `NSTaggedPointerString` in its iOS implementation let alone in the JavaScript SDK. This must be a bug in one of your wrapping layers. Whether or not it's secondary damage stemming from #2581 is an open question, but that's something to work on with those other teams.

[2020-02-10 16:18] #2610 closed

[2020-02-10 18:26] abhishek0196 commented on #901
Hello I am facing the same issue, when the wifi I'm connected has no internet access I am finding a way through which I can handle this.
I am using firebase 7.8.1
Previously I triedwven with AngularFirebase but unable to handle this error.

[2020-02-10 18:32] yuchenshi commented on #2535
@schmidt-sebastian is right about the situation with @firebase/testing.

However, for your case we recommend just using the Node.js Admin SDK with the `FIRESTORE_EMULATOR_HOST` environment variable set, which will instruct the SDK to connect to the `host:port` specified by the env var. As an added benefit, you can also simplify the initialization logic. Note that `firebase emulators:exec` automati

[2020-02-10 19:05] rommelpe commented on #2353
Sorry for keeping you waiting, @hodeyp. You may review our updated [docs](https://firebase.google.com/docs/functions/unit-testing#testing_http_functions) to properly test your HTTP functions.

Should you have any other questions or issues, leave a comment and we're happy to help you out.

[2020-02-10 19:36] mkonikov commented on #1783
Any idea when to expect the next major release?

[2020-02-10 20:11] thebrianchen commented on #2586
@Pitouli  I am currently trying to reproduce the issue, and I am having trouble getting past the login screen. I've cloned your repo, and built the app with the command `npm run build-prod-cordova-ios`. From the `/cordova` directory, I am running `cordova run iOS`, which takes me to the app. However, I am stuck on the login screen and unable to proceed beyond it, as the login, sign-up, and google

[2020-02-10 22:21] var-const commented on #901
@abhishek0196 We would need more information to be able to help with the issue. Some questions:
* are you using an Angular service worker?
* do you happen to have Kaspersky installed?
* can you provide more details on how exactly the issue manifests? Does it happen sporadically or consistently?

Can you please clarify, does this mean that the Wi-Fi network you're using might be losing internet con

[2020-02-10 22:41] var-const commented on #2609
@Emsu Looking at the error message, it appears that you might be mixing Firestore Client SDK and Firestore Admin SDK together; more specifically, it looks like you might be passing the `Timestamp` type from the admin SDK (`admin.firestore.Timestamp`) into the client SDK. Note that despite the similar names, these are separate types, and more generally, types from the admin SDK won't work with the

[2020-02-10 22:42] #2606 closed

[2020-02-10 23:38] Emsu commented on #2609
Hi @var-const! I actually am trying to use the admin version through the node library on a GraphQL server. Is it not possible to pass a Timestamp in my node server of type `admin.firestore.Timestamp` to save in Firebase? Is it expecting a `Date` for saving in the node version but a `firestore.firestore.Timestamp` for the web version?

It looks like both versions return a Timestamp when fetching a

[2020-02-11 00:16] var-const commented on #1783
@mkonikov Historically, we’ve made breaking changes around May, but note that doesn’t mean we’ll do so this year or even that this change will necessarily be in the next breaking change.

[2020-02-11 02:02] saidurh commented on #1905
Hey @bojeil-google & team,

We've been experiencing the same issue that @hamedbaatour reported for months and I finally got a chance to dig deep enough to confirm there is in fact a bug and error that's not being handled correctly.

This is actually a fairly common scenario and not much of an edge-case, let me explain:

- Let's say there are 2 users who work together: Bob & Sally
- Bob signs up fo

[2020-02-11 09:05] abhishek0196 commented on #901
**are you using an Angular service worker?**
--> No, I am not using any additional service workers, if it comes default then, I'm not sure, as I haven't worked with angular service worker before.
**do you happen to have Kaspersky installed?**
--> No.
**can you provide more details on how exactly the issue manifests? Does it happen sporadically or consistently?**
--> This issue happens only when I'

[2020-02-11 10:02] rommelpe commented on #2590
Thanks, @mmermerkaya. I was able to get rid of the issue after updating `sw` to [latest version](https://firebase.google.com/support/release-notes/js). Were you able to try it out on your end @basvandenheuvel @GoktuqCan?

Closing this issue. Should you have any other questions/clarifications, leave a comment and we're happy to look into it.

[2020-02-11 10:27] laurentpayot commented on #983
@thebrianchen Would it be possible to update the build to be able to use a [minified bundle](https://firebase.google.com/support/release-notes/js#version_780_-_january_30_2019) just like with the standard Firestore?

[2020-02-11 16:36] ephpscripts opened #2617 "firebase 5.6.0 installation problem"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10
  * Browser version: Chrome 79
  * Firebase SDK version: 5.6.0

### [REQUIRED] Describe the problem

#### Steps to reproduce:

  c:\users\e-php\appdata\local\node-gyp\cache\12.15.0\include\node\openssl\e_os2.h(171): note: see previous definition of 'OPENSSL_
  EXPORT' (compiling source file ..\deps\grpc\third_party\

[2020-02-11 17:11] rommelpe commented on #2617
Thanks for the report, @ephpscripts. Can you share your npm & node version? Have you considered using the stable version? It'd be more helpful if you can provide as well as the detailed steps you've taken to encounter this issue.

[2020-02-11 17:34] ephpscripts commented on #2617
Node v12.15.0
npm v 6.13.7

[2020-02-11 18:25] Pitouli commented on #2586
@thebrianchen : I updated the app on the master branch to help you reproduce the bug I have on my "real" app.

Start by running the app as a web app: `npm run dev`

When the app opens in your browser, you should have a email/pwd form with a login and a sign-up buttons, and a "Google Connect" button below.
You can enter any email you want with any password you like and click "sign-up" to create (an

[2020-02-11 18:32] Pitouli commented on #2586
Currently, I only tested the cordova app on iOS.

When you run a Cordova app on iOS (whether it is on a real device or on the simulator), you can access the console by using Safari on the mac connected to the iPhone / running the simulator.

Open Safari, choose "Development" in the menu bar (after having enabled development mode in the preferences of Safari) and you should find your (virtual) devi

[2020-02-11 18:35] #2522 closed

[2020-02-11 18:49] Pitouli commented on #2586
Btw, I'm looking at my Firestore console and I observe that in one week there was 23k read of only 37 documents! 😢

Is it related to some tests you have run _(in this case everything is fine; it's made for that)_?
Or is it normal behavior with Firestore projects _(which means that the 50k free read/days of my real app will quickly not be enough...)_?
Or have I inserted an unwanted blackhole in my

[2020-02-11 19:33] rommelpe commented on #2617
Just wondering if you were able to try installing the latest version [v7.8.1 ](https://firebase.google.com/support/release-notes/js) `npm i firebase@latest`. Based from the error logs, it seems to be related in https://github.com/firebase/firebase-js-sdk/issues/843

[2020-02-11 21:07] var-const commented on #2609
Could you please share some code to illustrate the issue (especially if you could create a minimal repro case)? I'd be particularly interested in the `require`s that are used. The error message from the original post comes from the Web SDK, so I'm still suspecting that it somehow gets involved.

It should be possible (as long as it is being passed to an `admin.firestore.DocumentReference` object).

[2020-02-11 21:22] var-const commented on #2611
Thank you for describing your use case! Unfortunately, currently there is no way to force the JavaScript SDK to store a number as a double, but we will consider adding a way to do that.

In the meantime, one workaround could be to write a quick non-JavaScript app that does the conversion (i.e., reads the values from the column and writes them back as doubles); using Java Server SDK would probably

[2020-02-11 21:42] hsubox76 commented on #2600
Hm, I've tried creating a raw `index.html` file with the exact code you've put in your first snippet (with my project config) and serving it locally with `http-server` and visiting it with Chrome, Firefox, and Safari, and all of them result in hits I see in my Firebase Console Analytics Dashboard.  From the screenshot your app looks like a standard webapp.

Is there anything else you can think of

[2020-02-11 21:43] #2589 closed

[2020-02-11 21:57] hsubox76 commented on #2243
Hi, to clear up any confusion, Firebase Analytics is a wrapper around the [gtag.js library](https://developers.google.com/analytics/devguides/collection/gtagjs).  Any expansion of its capabilities depend on `gtag.js` adding those capabilities.  I don't know of any plans right now to support use of gtag.js in non-browser environments, but as it is a separate team, I don't want to speak for them.

B

[2020-02-11 21:59] hsubox76 commented on #2588
I notice you've left a comment in a similar issue: https://github.com/firebase/firebase-js-sdk/issues/2243

So I've tried to leave a clearer explanation of the root problem in that issue (which will stay open), and I'll close this with a link to it, so anyone searching can be directed to the same answer.

[2020-02-11 21:59] #2588 closed

[2020-02-11 22:10] LanderBeeuwsaert opened #2618 "Firebase service worker messaging error: firebase-messaging-sw.js"
See also this ticket:
https://github.com/firebase/firebase-js-sdk/issues/2527

I found the issue and a (temp) solution.
It is because firebase-messaging-sw.js was not present in my project and not deployed to the firebase hosting.
When calling cloud functions, seems somehow that this file is necessary?
My temporary solution has been to create and deploy an empty firebase-messaging-sw.js, which sol

[2020-02-11 22:16] rahul-dutt-sharma commented on #2243
Thanks for this information.

I will try contacting them
________________________________
From: Christina Holland <notifications@github.com>
Sent: Wednesday, February 12, 2020 3:27:04 AM
To: firebase/firebase-js-sdk <firebase-js-sdk@noreply.github.com>
Cc: Sharma, Rahul <RahulDutt.Sharma@monotype.com>; Manual <manual@noreply.github.com>
Subject: Re: [firebase/firebase-js-sdk] Firebase Analytics (W

[2020-02-11 22:42] the-jackalope opened #2619 "Unable to connect to Firestore emulator using testing app instance"
### Describe your environment

  * Operating System version:
  * Browser version: macOS Cataline 10.15.2
  * Firebase SDK version:
[code]
  * Firebase Product: database

### Describe the problem
I'm trying to run tests locally using the Firestore emulator, but am completely unable to connect. I consistently get the error message:
[code]

My understanding was that using the `initializeAdminApp` fea

[2020-02-12 00:10] marcoancona commented on #2243
What about Measurement Protocol?
If Firebase Analytics is based on the same underlying data of the classic Google Analytics, what prevents simply sending raw hit data?

[2020-02-12 00:22] var-const commented on #901
Thanks for providing additional details! A listener would not report an error when in offline mode; this is to make sure listeners behave similarly regardless of network availability. If you prefer to get an error in case network is unavailable, you can use `get` method instead of `onSnapshot` and specify `source: 'server'` (so that it would look like `collection.get(source: 'server')`).

[2020-02-12 02:03] #20 closed

[2020-02-12 03:22] abhishek0196 commented on #901
Thank you very much for the detailed explanation, I wil try with the get method, but my objective will not meet using the get method. I know you had already answered my question  at its best, but just to confirm, is there any field in the query snapshot object which can help determine the network unavailability, apart from turning on the offline access, as  my product  will be handling with some s

[2020-02-12 04:10] rahul-dutt-sharma commented on #2243
I would like to chime in, I used heap by making the file protocol a standard scheme, this allowed heap to treat electron file:/// based ui as a webpage. Without this heap would not create cookies and hence wont work

Firebase analytics had a simialr issue where it would not start even. By doing the above it makes the cookies and does some requests to load and start but never fully start

If the pr

[2020-02-12 04:11] agordeev commented on #2600
No, that's a standard static one page website based on Bootstrap.

[2020-02-12 04:15] membla commented on #2243
@marcoancona My understanding is that Firebase/App+Web GA properties uses v2 of the GPM, which is undocumented and thus potentially subject to changes or it simply never being made available for use as an open protocol. I think there is a definite lack of clarity surrounding the technical details of the Google/Firebase analytics offerings as of right now that should be adressed.

References:

http

[2020-02-12 04:26] membla commented on #2588
@hsubox76 Thanks for your answer. The issue you are referencing concerns the use of Firebase analytics in the Chromium browser renderer process of Electron, this issue is regarding the use of Firebase Analytics in node.js. I would say these issues are quite separate but will also comment on the answer you made there.

[2020-02-12 04:29] membla commented on #2243
Are the Firebase Analytics for C++, iOS, Android and Unity also just wrappers of the gtag.js library? I would have reckoned they used the v2 GPM protocol referenced in my above comment directly.

[2020-02-12 05:49] djsweet opened #2620 "Severe performance regression in `onSnapshot` listeners in Cloud Firestore"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10 Version 1909
  * Browser version: Google Chrome Version 80.0.3987.87 (Official Build) (64-bit)
  * Firebase SDK version: 7.8.1, since 7.3.0
  * Firebase Product: firestore (auth, database, storage, etc)

### [REQUIRED] Describe the problem

SDK 7.3.0 introduced a severe performance regression in the Firestore `onSna

[2020-02-12 12:23] coolcool1994 opened #2621 "[Feature request] Firestore is prohibitively expensive for messaging/chat app"
Firestore needs to update its pricing, and go easy on read ($0.06/100,000) and write ($0.18/100,000) and go harder on storage and egress costs, because read and write costs are ridiculous, prohibitively expensive which should prevent anyone who is building messaging/chat app with typing indicator, read receipt, and notifications.

One message send is 7 document reads and 4 document writes, with ty

[2020-02-12 12:46] rommelpe commented on #2619
Thanks for the report, @the-jackalope. Getting same behavior when using `initializeAdminApp`.

![image](https://user-images.githubusercontent.com/56452310/74334109-3ffa5f80-4dd4-11ea-81f5-83b519f41b5e.png)

Yes, based from [public docs](https://firebase.google.com/docs/firestore/security/test-rules-emulator#run_local_tests), it should be able to get admin-authorized privileges (read & write are al

[2020-02-12 13:53] mohamedaboelmagd opened #2622 "connect with Facebook doesn't return user with a few accounts, returns user without email field with other and works correctly with others"
### [REQUIRED] Describe your environment

  * Operating System version: Ubuntu 18.04
  * Browser version: Version 79.0.3945.130 (64bit)
  * Firebase SDK version: 7.1.0
  * Firebase Product: auth (auth, database, storage, etc)

### [REQUIRED] Describe the problem

#### Steps to reproduce:
Create a new Facebook account, and log in with Facebook the below link

https://feature-pathways--badgewell-mai

[2020-02-12 15:02] rommelpe commented on #2622
Thanks for the report, @mohamedaboelmagd. This is actually intended behavior. Whenever a user decides not to share their email, we don't get that information back from the provider. The users can edit how much information they wanted to share.

Also, you may check out these related posts [[1](https://stackoverflow.com/questions/37522582/empty-email-field-of-firebase-auth-user-using-facebook-login-

[2020-02-12 15:53] wu-hui commented on #2619
How did you setup port `5002` as Firestore emulator port? Can you show me your `firebase.json`?

There are couple things that might be contributing to the error:

* You setup both `database` and `firestore` in your tests, they are on the same port. But they are different things: `database` is the Firebase RTDB and `firestore` is Firestore..

* The call to `testFirestore.settings` is still problema

[2020-02-12 16:09] #2622 closed

[2020-02-12 16:33] rommelpe commented on #2619
Adding my [repro code](https://github.com/rommelpe/quickstart-nodejs/tree/master/firestore-emulator/typescript-quickstart) from quickstart. @the-jackalope feel free to provide yours as well.

[2020-02-12 16:45] samtstern commented on #2621
@coolcool1994 thank you for the feedback, it's very interesting to read.  We try to be very transparent with our pricing, we don't want anyone to get a bill that is surprising.  As you may have seen we actually used a chat app as an example for our most complete pricing example:
https://firebase.google.com/docs/firestore/billing-example

It sounds like you've made some architectural choices that i

[2020-02-12 16:45] #2621 closed

[2020-02-12 19:19] mrwnmonm opened #2623 "HEAD requests return 400"
This is our storage rules
[code]

GET works, but for some reason, HEAD doesn't.

[2020-02-12 19:26] wilhuff commented on #901
If you're interested in making transactional changes, your best bet is actually to use the transaction API. Transactions only work online; they will fail if you're offline.

If you do want to use a listener, they other thing you can do is add the `includeMetadataChanges: true` in `SnapshotListenOptions` you pass to `onSnapshot`. Then in the snapshots you get, only take action based on those snapsh

[2020-02-12 20:00] the-jackalope commented on #2619
Hi all, thanks for getting back to me.

@wu-hui :

1. Here is my `firebase.json`:
[code]

2. I'm positive that I'm not making a call to `database` anywhere in the codebase. We only use Firestore to hold data and don't touch RTDB in either production or tests. Perhaps not relevant, but we also only start the Firestore emulator from the CLI using the `--only` flag.

3. If I don't call `testFirestore

[2020-02-12 20:09] wu-hui commented on #2620
Thank you very much for reporting this and the very detailed reproduction! Really appreciate it!

It turns out from `7.2.3` to `7.3.0` we introduced a new feature that utilized an inefficient `Set` union operation, which led to the performance regression.

https://github.com/firebase/firebase-js-sdk/pull/2624 should fix this regression.

Again, thanks for reporting this!

[2020-02-12 20:16] GoktuqCan commented on #2590
@rommelpe sorry but problem still remains.

[2020-02-12 20:31] wu-hui commented on #2619
@rommelpe Thanks for your repro.

Comment out `testFirestore.settings({ experimentalForceLongPolling: true })` worked for me.

[2020-02-12 20:34] wu-hui commented on #2619
@the-jackalope

In the snippet you provided, there are `databaseName` and `databaseURL`. Those are RTDB configuration, not Firestore's.

Can you try removing those? Sorry I was not being very clear earlier.

[2020-02-12 20:56] the-jackalope commented on #2619
@wu-hui

Removing the `databaseName`, `databaseURL` has changed something: I no longer receive the `FirebaseError` that is logged from the `@firebase/testing` package. Unfortunately, I still get this error showing up as soon as I try to read/write from the emulator in the test suite:
[code]

Appreciate the help!

[2020-02-12 21:24] Feiyang1 commented on #880
@seankwalker A workaround is using scoped packages, e.g. `@firebase/app`, `@firebase/auth`.
The root of your problem is that `firebase` package aggregates all products, and we use a single typing file to describe them. We have plan to address this issue in the next major rewrite. For now, can you please try the workaround?